<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Управление пользователями</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" href="css/styles_header.css"/>
    <link rel="stylesheet" type="text/css" href="css/userscontrol.css"/>

</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<body>
<style>

</style>


<header style="position: fixed; width: 100vw; top: 0px; z-index: 3">
    <ul class="hr">
        <a href="home" ><img style="margin: 0.1%" src="images/logo_black.png" class="icon-logo"/> </a>
        <div method="post" class="dropdown" style="float: right">
            <input type="image" th:src="@{${image_user}}" alt="Avatar" class="avatar" style="border-radius: 360px; "/>
            <div class="dropdown-content" style="float: right; text-align: center; background-color: whitesmoke">
                <p id="role_vision"></p>
                <p><img th:src="@{${image_user}}" width="100" style="border-radius: 360px; margin-top:0; "/></p>
                <li style="font-weight: 400; font-size: 18px" th:text="${user_name}"></li>
                <p th:text="${user_mail}"></p>
                <div style=" display: block; border-bottom: 1px solid #e8eaed; margin-bottom: 5px; line-height: normal"></div>
                <button id="admin" onclick="window.location.href = '/adminpanel/userscontrol';">Администрирование</button>
                <form th:action="@{/logout}" method="post">
                    <button class="follow" type="submit">
                        Выход
                    </button>
                </form>
            </div>
        </div>
        <li style="float: right; color: #ffffff; font-size: 120%; margin: 0.3%; text-align: center"
            th:text="'Добро пожаловать, '  + ${user_name} + '!   '"/>
    </ul>       <!--Шапка html-->
</header>       <!--Шапка html-->
<div style="position: fixed; width: 100vw; top: 60px; z-index: 2; background-color: rgb(36, 97, 219);height: 50px; display:flex; align-items: flex-end; ">
    <a class="myLinkModal" href="#" style="">Добавить пользователя</a>
    <a class="myLinkModal2" href="#">Удалить пользователя</a>
</div>
<table id="myTable" style="margin-left: auto; margin-right: auto; margin-top: 100px; position: sticky; width: 80vw">
    <thead>
    <tr style="position: sticky; width: 100%; margin-top: 90px; top: 108px; z-index: 2">
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Пароль</th>
        <th>Права доступа</th>
        <th>Enabled</th>
        <th>Электронная почта</th>
        <th>Фото</th>
    </tr>
    </thead>
    <tbody style="margin-top: 100px">
    </tbody>
</table>    <!--Таблица изменений-->

<form id="myModal" action="#" th:action="@{/adminpanel/adduser}" th:object="${usercontrol}" method="get">
    <p>Добавление пользователя</p>
    <span id="myModal__close" class="close">ₓ</span>
    <p style="margin: 1%"> Имя: <textarea type="text" th:field="*{addusername}"></textarea></p>
    <p style="margin: 1%"> Пароль: <textarea type="text" th:field="*{adduserpassword}"></textarea></p>
    <p style="margin: 1%"> Права доступа: <textarea type="text" th:field="*{addrole}"></textarea></p>
    <p style="margin: 1%"> enabled: <textarea type="text" th:field="*{addenabled}"></textarea></p>
    <p style="margin: 1%"> Почта: <textarea type="text" th:field="*{addmail}"></textarea></p>
    <p style="margin: 1%"> Фото: <textarea type="text" th:field="*{addphoto}"></textarea></p>
    <p style="margin: 1%"><input type="submit" value="Добавить" /></p>
</form>
<div id="myOverlay"></div>

<form id="myModal2" action="#" th:action="@{/adminpanel/userdelete}" th:object="${usercontrol}" method="get">
    <p>Удаление пользователя</p>
    <span id="myModal2__close" class="close">ₓ</span>
    <p style="margin: 1%"> Введите имя удаляемого пользователя: <textarea type="text" th:field="*{deleteUser}"></textarea></p>
    <p style="margin: 1%"><input type="submit" value="Удалить" /></p>
</form>
<div id="myOverlay2"></div>


<script>
    $(document).ready(function() {
        $('a.myLinkModal').click( function(event){
            event.preventDefault();
            $('#myOverlay').fadeIn(297, function(){
                $('#myModal')
                    .css('display', 'block')
                    .animate({opacity: 1}, 198);
            });
        });

        $('#myModal__close, #myOverlay').click( function(){
            $('#myModal').animate({opacity: 0}, 198,
                function(){
                    $(this).css('display', 'none');
                    $('#myOverlay').fadeOut(297);
                });
        });
    });
</script>   <!--Добавление пользователя-->

<script>
    $(document).ready(function() {
        $('a.myLinkModal2').click( function(event){
            event.preventDefault();
            $('#myOverlay2').fadeIn(297, function(){
                $('#myModal2')
                    .css('display', 'block')
                    .animate({opacity: 1}, 198);
            });
        });

        $('#myModal2__close, #myOverlay2').click( function(){
            $('#myModal2').animate({opacity: 0}, 198,
                function(){
                    $(this).css('display', 'none');
                    $('#myOverlay2').fadeOut(297);
                });
        });
    });
</script>   <!--Удаление пользователя-->

<script th:inline="javascript">

    var id = [[${id}]];
    var username = [[${username}]];
    var role = [[${role}]];
    var enabled = [[${enabled}]];
    var mail = [[${mail}]];
    var photo = [[${photo}]];

    $.each( id, function( index ){
        $("#myTable > tbody").append(
            "<tr>" +
            "<td>" + id[index] + "</td>" +
            "<td>"+ username[index] + "</td>" +
            "<td>" + "*********" + "</td>" +
            "<td>"+ role[index] + "</td>" +
            "<td>"+ enabled[index] + "</td>" +
            "<td>"+ mail[index] + "</td>" +
            "<td>"+ "<img src='" + photo[index] + "' class='avatar' style='border-radius: 360px; min-width: 100px; min-height: 100px; margin-top:0; ' onerror=\"this.style.display='none'\"/>" + "</td>" +
            "</tr>" ); // Отображение фото по ссылкеы
    });
</script> <!--JS таблица-->
<script th:inline="javascript">
    var role_status = [[${user_role}]];

    if(role_status === "ROLE_ADMIN")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Админ";
        document.getElementById("admin").style.display = "inline";

    }
    else if (role_status === "ROLE_USER")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Пользователь"
        document.getElementById("admin").style.display = "none";
    }
</script>
</body>
</html>