<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Аналитика аварийных состояний оборудования</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" href="/css/styles_stanki.css"/>
    <link rel="stylesheet" type="text/css" href="/css/menu_buttons.css"/> <!-- Меню -->
    <link rel="stylesheet" type="text/css" href="/css/styles_header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userscontrol.css"/>
    <link rel="stylesheet" type="text/css" href="/css/styles_energy.css"/>
    <link rel="stylesheet" type="text/css" href="/css/alarm_styles.css"/>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>

    <script src="/js/lib/highcharts.js"></script>
    <script src="/js/lib/exporting.js"></script>
    <script src="/js/lib/export-data.js"></script>
    <script src="/js/lib/accessibility.js"></script>
    <script src="/js/lib/xrange.js"></script>
    <script src="/js/lib/jquery-3.6.0.min.js"></script>
    <script src="/js/lib/bootstrap-3.3.0.min.js"></script>
    <!--Календарь -->
    <script src="/js/lib/bootstrap-datepicker.min.js"></script>
    <script src="/js/lib/bootstrap-datepicker.ru.min.js"></script>

    <script src="/js/dark_theme.js"></script>

    <script src="/js/sutki/calendar_sutki.js"></script>

    <!--preloader style-->
    <style>
        .preloader {
            /*фиксированное позиционирование*/
            position: fixed;
            /* координаты положения */
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            /* фоновый цвет элемента */
            /*background: #e0e0e0;*/
            /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
            z-index: 1001;
        }

        .preloader__row {
            position: relative;
            top: 50%;
            left: 50%;
            width: 70px;
            height: 70px;
            margin-top: -35px;
            margin-left: -35px;
            text-align: center;
            animation: preloader-rotate 2s infinite linear;
        }

        .preloader__item {
            position: absolute;
            display: inline-block;
            top: 0;
            background-color: #337ab7;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            animation: preloader-bounce 2s infinite ease-in-out;
        }

        .preloader__item:last-child {
            top: auto;
            bottom: 0;
            animation-delay: -1s;
        }

        @keyframes preloader-rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes preloader-bounce {

            0%,
            100% {
                transform: scale(0);
            }

            50% {
                transform: scale(1);
            }
        }

        .loaded_hiding .preloader {
            transition: 0.3s opacity;
            opacity: 0;
        }

        .loaded .preloader {
            display: none;
        }
    </style>

</head>

<header>
    <div class="header-div">
        <a href="../../home" style="display: flex; align-items: flex-start;"><img src="../../images/logo_black.png"
                                                                                  class="icon-logo-admin icon-alarm"/></a>
        <h1>Аналитика аварийных состояний оборудования</h1>
        <div style="display: flex; flex-direction: row;">
            <div class="div_login_mail">
                <li th:text="${user_name}"></li>
                <p th:text="${user_mail}"></p>
            </div>
            <div method="post" class="dropdown">
                <input type="image" th:src="@{${image_user}}" alt="Avatar" class="avatar"/>
                <div class="dropdown-content">
                    <p id="role_vision"></p>
                    <p><img th:src="@{${image_user}}" width="100" style="border-radius: 360px; margin-top:0; "/></p>
                    <li th:text="${user_name}"></li>
                    <p th:text="${user_mail}"></p>
                    <div style=" display: block; border-bottom: 1px solid #e8eaed; margin-bottom: 5px; line-height: normal"></div>
                    <button id="admin" onclick="window.location.href = '/adminpanel/userscontrol';">Администрирование
                    </button>
                    <label class="switch">
                        <p>Светлая Темная</p>
                        <span class="slider round"><input type="checkbox" id='dark_button'/><span
                                class="slider_before round_before"></span></span>
                    </label>
                    <form th:action="@{/logout}" method="post">
                        <button class="follow" type="submit">
                            Выход
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="display: flex; justify-content: center; align-items: center;">
        <div style="width: 250px; float: left">
            <h2 class="choose_month">Выберите дату:</h2>
        </div>
        <form style="margin: 0 20px; display: flex; align-items: center;" action="#" th:action="@{/stanki/alarm/1}"
              th:object="${calendar_date}" method="post" id="form_update">

            <div class='input-group date' id='datepicker' style="width: 200px; float: left;  margin: 1.7%">
                <input type='text' class="form-control" th:field="*{content_date}"/>
                <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
            </div>

            <div class="form-actions" style="margin-left: 20px">
                <button type="submit" class="follow" id="button_obnovit"  style="float: left; margin: 1.5%;  font-size: 150%; text-align: center">
                    <span>Обновить</span>
                </button>
            </div>
        </form>

    </div>      <!--Календарь html-->
</header>
<!--Шапка html-->
<body>
<div class="preloader">
    <div class="preloader__row">
        <div class="preloader__item"></div>
        <div class="preloader__item"></div>
    </div>
</div>
<!-- Загрузка страницы и темная тема-->
<script>
    var dark_theme_state = 0; <!--    переменная состояния темы страницы-->

    if (localStorage['dark_theme_state'] != null) {
        dark_theme_state = parseInt(window.localStorage['dark_theme_state']); // Если она уже локально задана сохраняем
    }

    if (dark_theme_state == 0) {
        $('.preloader').attr("style", `background: #f2f6f8`);
    } // присвоение цвета загрузочного меню
    else if (dark_theme_state == 1) {
        $('.preloader').attr("style", `background: #161821`);
    } // в двух цветах

    window.onload = function () { // прелоудер
        document.body.classList.add('loaded_hiding');
        window.setTimeout(function () {
            document.body.classList.add('loaded');
            document.body.classList.remove('loaded_hiding');
        }, 500);

        dark_theme(); // Вызов функции
        // Смена цвета по кнопке
        $("#dark_button").on("click", function () {
            dark_theme_state++; // увеличиваем счетчик
            if (dark_theme_state > 1) // если он больше 1, меняем на ноль
            {
                dark_theme_state = 0;
            }
            window.localStorage['dark_theme_state'] = dark_theme_state; // сохраняем переменную в локальном хранилище
            // Условия для смены цвета после нажатия на кнопку
            dark_theme();
        });
    }
</script>

<script th:inline="javascript">
    var role_status = [[${user_role}]];

    if (role_status === "ROLE_ADMIN") {
        document.getElementById("role_vision").innerHTML = "Роль: Админ";
        document.getElementById("admin").style.display = "inline";

    } else if (role_status === "ROLE_USER") {
        document.getElementById("role_vision").innerHTML = "Роль: Пользователь"
        document.getElementById("admin").style.display = "none";
    }
</script>
<!--Скрипт отображения в header  кнопки администрирование-->

<!-- Скрипт вызова функции для выпадающего меню -->
<script src="/js/dropdown_menu.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left; min-height: 10px;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="../../images/error.png" class="stanok_img"
                         style="margin-left: auto; margin-right: auto; display: block"/>
                    <figcaption style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">Нет данных
                    </figcaption>
                    <h5 id="ip">0.0.0.0</h5>
                </div>
            </div>
            <div style="display: flex;">
                <div id="container_kol_operations" style="height: 400px; width: 100%; padding: 5px"></div><!--Количество ошибок html-->
                <p class="error-tittle">Количество аварий:</p>
            </div>
        </div>
    </div>
    <div class="alarm-div">
        <table class="table_general" id="table_alarm">
            <colgroup>
                <col style="width:5%; font-weight: bolder;"/>
                <col style="width:40%"/>
                <col style="width:20%"/>
                <col style="width:5%"/>
            </colgroup>
            <thead>
            <tr>
                <th>Номер ошибки</th>
                <th>Описание</th>
                <th>Имя программы</th>
                <th>Время</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>  <!--Общая загрузка и количество аварий html-->
<script th:inline="javascript">

    var colors = ['#e81e1d'];
    var AlarmNo = [[${AlarmNo}]];
    var AlarmContent = [[${AlarmContent}]];
    var programNo = [[${programNo}]];
    var time = [[${time}]];

    $('.error-tittle').text(`Количество аварий: ${AlarmNo.length}`); // Количество аварий перед графиком

    $.each(time, function (index) {
        time[index] = time[index].substring(10, 19);
    }); // Преобразование массива времени

    // console.log(AlarmNo)
    // console.log(AlarmContent)
    // console.log(programNo)
    // console.log(time)

    //Считаем количество уникальных значений
    var count = AlarmNo.reduce((acc, n) => (acc[n] = (acc[n] || 0) + 1, acc), {});
    // console.log(count);

    var numberAlarm = Object.keys(count);
    var countAlarm = Object.values(count);

    // console.log(numberAlarm);
    // console.log(countAlarm);

    Highcharts.chart('container_kol_operations', {
        chart: {
            type: 'bar'
        },
        colors: colors,
        title: {
            text: ''
        },
        xAxis: {
            labels: {
                style: {
                    fontSize: '18px',
                }
            },
            categories: numberAlarm,
            title: {
                text: 'Номера ошибок'
            },
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Количество',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            },
            allowDecimals: false,
        },
        tooltip: {
            valueSuffix: ' аварий'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Количество аварий',
            data: countAlarm
        }]
    });
</script>   <!--js количество аварий-->
<script th:inline="javascript">

    $.each(AlarmNo, function (index) {
        // if (index == 31 ) {
        //     return false;
        // }
        $("#table_alarm > tbody").append(
            "<tr>" +
            "<td>" + AlarmNo[index] + "</td>" +
            "<td>" + AlarmContent[index] + "</td>" +
            "<td>" + programNo[index] + "</td>" +
            "<td>" + time[index] + "</td>" +
            "</tr>");
    });
</script> <!--JS таблица-->

<script>
    var form_path = document.location.pathname;
    $('#form_update').attr('action', form_path);

    //Создаем объекты с атрибутами станков
    const Gamma2000 = {name:"Gamma 2000", src:"../../images/gamma2000.png", ip:"192.168.17.84"};
    const Ctx310_1 = {name:"CTX310 1", src:"../../images/dmg_ctx310.png", ip:"192.168.17.26"};
    const Ctx310_2 = {name:"CTX310 2", src:"../../images/dmg_ctx310.png", ip:"192.168.17.78"};
    const Ctx310_3 = {name:"CTX310 3", src:"../../images/dmg_ctx310.png", ip:"192.168.17.82"};
    const Ctx510_1 = {name:"CTX510 1", src:"../../images/dmg_ctx510.png", ip:"192.168.17.42"};
    const Ctx510_2 = {name:"CTX510 2", src:"../../images/dmg_ctx510.png", ip:"192.168.17.52"};
    const Ctx510_3 = {name:"CTX510 3", src:"../../images/dmg_ctx510.png", ip:"192.168.17.55"};
    const Ctx510_4 = {name:"CTX510 4", src:"../../images/dmg_ctx510.png", ip:"192.168.17.81"};
    const Ctx510_5 = {name:"CTX510 5", src:"../../images/dmg_ctx510.png", ip:"192.168.17.79"};
    const Ctx650 = {name:"CTX650", src:"../../images/dmg_ctx650.png", ip:"192.168.17.9"};
    const Dmc1035 = {name:"DMC1035", src:"../../images/dmg_dmc1035.png", ip:"192.168.17.51"};
    const Dmf260 = {name:"DMF260", src:"../../images/dmg_dmf260.png", ip:"192.168.17.85"};
    const Dmu50_1 = {name:"DMU50 1", src:"../../images/dmg_dmu50.png", ip:"192.168.17.69"};
    const Dmu50_2 = {name:"DMU50 2", src:"../../images/dmg_dmu50.png", ip:"192.168.17.70"};
    const Nlx3000 = {name:"NLX3000", src:"../../images/NLX3000.png", ip:"192.168.17.20"};
    const Ntx1000_2 = {name:"NTX1000 2", src:"../../images/ntx1000.png", ip:"192.168.17.41"};
    const Ntx1000_1 = {name:"NTX1000 1", src:"../../images/ntx1000.png", ip:"192.168.17.91"};


    var stanki = [ null, Gamma2000, Ctx310_1, Ctx310_2, Ctx310_3, Ctx510_1, Ctx510_2, Ctx510_3, Ctx510_4, Ctx510_5,
        Ctx650, Dmc1035, Dmf260, Dmu50_1, Dmu50_2, Nlx3000,Ntx1000_2, Ntx1000_1];

    //Парсим текущий открытый индекс станка
    form_path.lastIndexOf("/")
    const searchIndex= form_path.lastIndexOf("/")+1;
    const index = form_path.substr(searchIndex, form_path.length)

    //Выбираем с соотвествующим индексом нужный объект и заполняем его данными страницу
    $('figcaption').text(stanki[index].name).attr('title');
    $('h5#ip').text(stanki[index].ip).attr('title');
    $('img.stanok_img').attr('src', stanki[index].src);

</script> <!-- Скрипт присваивания пути в запрос -->
</body>
</html>