<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Анализ режимов работы навигаторов</title>
    <link rel="shortcut icon" type="image/ico"/>

    <link rel="stylesheet" type="text/css" href="../../css/styles_stanki.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/menu_buttons.css"/> <!-- Меню -->
    <link rel="stylesheet" type="text/css" href="../../css/styles_header.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/userscontrol.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/styles_energy.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/alarm_styles.css"/>

    <link href="../../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>

    <script src="../../js/highcharts.js"></script>
    <script src="../../js/exporting.js"></script>
    <script src="../../js/export-data.js"></script>
    <script src="../../js/accessibility.js"></script>
    <script src="../../js/xrange.js"></script>

    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/bootstrap-3.3.0.min.js"></script>

    <script>
        $(function () {
            $('#datepicker').datepicker({
                format: "yyyy-mm-dd",
                language: 'ru',
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button"
            });
            <!--$("#datepicker").datepicker("update", new Date());  Задаем текущее время-->


            $('#button_obnovit').on("click", function () {
                var datas = $('#datepicker').data().datepicker.viewDate.toISOString();

                date = new Date(datas); // some mock date
                ms = date.getTime() + 86400000;

                startTime = datas.slice(0, 10)
                timeEnd = new Date(ms).toISOString().slice(0, 10)


                massivArray = []

                do_6 = [];
                do_12 = [];
                do_18 = [];
                do_24 = [];

                url = "/api/complex/powerNavigator/product_uuid:" + product  + "_startTime:" + startTime + "_endTime:" + timeEnd + signal

                if( signal == '_signal:A1'){
                    $.get( url,
                        function( data ) {
                            massivArray = data

                            Perebor();
                        });
                }
                else {
                    $.get( url,
                        function( data ) {
                            massivArray = data

                            Perebor2();
                        });
                }
            });

            $('#GraphPower').on("click", function () {

                signal = '_signal:A1'
                $('#NameUl').html("Мощность ▼")
                var datas = $('#datepicker').data().datepicker.viewDate.toISOString();

                date = new Date(datas); // some mock date
                ms = date.getTime() + 86400000;

                startTime = datas.slice(0, 10)
                timeEnd = new Date(ms).toISOString().slice(0, 10)


                massivArray = []

                do_6 = [];
                do_12 = [];
                do_18 = [];
                do_24 = [];

                url = "/api/complex/powerNavigator/product_uuid:" + product  + "_startTime:" + startTime + "_endTime:" + timeEnd + signal

                    $.get( url,
                        function( data ) {
                            massivArray = data

                            Perebor();
                        });

            });

            $('#GraphKorek').on("click", function () {

                signal = '_signal:A2'
                $('#NameUl').html("Коррекция подачи ▼")

                var datas = $('#datepicker').data().datepicker.viewDate.toISOString();

                date = new Date(datas); // some mock date
                ms = date.getTime() + 86400000;

                startTime = datas.slice(0, 10)
                timeEnd = new Date(ms).toISOString().slice(0, 10)


                massivArray = []

                do_6 = [];
                do_12 = [];
                do_18 = [];
                do_24 = [];

                url = "/api/complex/powerNavigator/product_uuid:" + product  + "_startTime:" + startTime + "_endTime:" + timeEnd + signal

                $.get( url,
                    function( data ) {
                        massivArray = data

                        Perebor2();
                    });

            });
        });



    </script>   <!--Календарь js-->

    <!--Календарь -->
    <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
    <!--Календарь Русский язык-->
    <script type="text/javascript" src="/js/bootstrap-datepicker.ru.min.js"></script>

    <style>
        .preloader {
            /*фиксированное позиционирование*/
            position: fixed;
            /* координаты положения */
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            /* фоновый цвет элемента */
            /*background: #e0e0e0;*/
            /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
            z-index: 1001;
        }

        .preloader__row {
            position: relative;
            top: 50%;
            left: 50%;
            width: 70px;
            height: 70px;
            margin-top: -35px;
            margin-left: -35px;
            text-align: center;
            animation: preloader-rotate 2s infinite linear;
        }

        .preloader__item {
            position: absolute;
            display: inline-block;
            top: 0;
            background-color: #337ab7;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            animation: preloader-bounce 2s infinite ease-in-out;
        }

        .preloader__item:last-child {
            top: auto;
            bottom: 0;
            animation-delay: -1s;
        }

        @keyframes preloader-rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes preloader-bounce {

            0%,
            100% {
                transform: scale(0);
            }

            50% {
                transform: scale(1);
            }
        }

        .loaded_hiding .preloader {
            transition: 0.3s opacity;
            opacity: 0;
        }

        .loaded .preloader {
            display: none;
        }
    </style>

    <style>
        select {
            /* Reset Select */
            appearance: none;
            outline: 0;
            border: 0;
            box-shadow: none;
            /* Personalize */
            flex: 1;
            padding: 0 1em;
            color: #fff;
            background-color: #2c3e50;;
            background-image: none;
            cursor: pointer;
        }
        /* Remove IE arrow */
        select::-ms-expand {
            display: none;
        }
        /* Custom Select wrapper */
        .select {
            position: relative;
            display: flex;
            width: 20em;
            height: 3em;
            border-radius: .25em;
            overflow: hidden;
            margin-left: 20px;
        }
        /* Arrow */
        .select::after {
            content: '\25BC';
            position: absolute;
            top: 0;
            right: 0;
            padding: 1em;
            background-color: #34495e;
            transition: .25s all ease;
            pointer-events: none;
        }
        /* Transition */
        .select:hover::after {
            color: #f39c12;
        }

    </style>

    <script>
        Highcharts.setOptions({
            lang: {
                loading: 'Загрузка...',
                months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
                exportButtonTitle: "Экспорт",
                printButtonTitle: "Печать",
                rangeSelectorFrom: "С",
                rangeSelectorTo: "По",
                rangeSelectorZoom: "Период",
                downloadPNG: 'Скачать PNG',
                downloadJPEG: 'Скачать JPEG',
                downloadPDF: 'Скачать PDF',
                downloadSVG: 'Скачать SVG',
                printChart: 'Напечатать график',
                viewFullscreen: 'На весь экран'
            },
            plotOptions: {
                xrange: {
                    grouping: false
                }
            },
        });

        // Функция получение пользовательских данных
        function SetUserSetting() {
            $.post( "http://" + document.location.host + "/api/userInfo", function( data ) {

                $('.avatar').attr("src", data.imageUser); // картинка лого для папок на уровень ниже
                $('.dropdown-content img').attr("src", data.imageUser); // картинка лого для папок на уровень ниже
                $('.div_login_mail li').html(data.userName); // картинка лого для папок на уровень ниже
                $('.div_login_mail p').html(data.userMail); // картинка лого для папок на уровень ниже

                var role_status = data.userRole;

                if (role_status === "ROLE_ADMIN") {
                    document.getElementById("role_vision").innerHTML = "Роль: Админ";
                    document.getElementById("admin").style.display = "inline";

                } else if (role_status === "ROLE_USER") {
                    document.getElementById("role_vision").innerHTML = "Роль: Пользователь"
                    document.getElementById("admin").style.display = "none";
                }
            })
        }

        // Функция фильтрации графиков и присваивания нулей
        function ZeroTime(arrayTime) {
            let newArray = []

            for(let i=0; arrayTime.length > i; i++)
            {
                newArray.push(arrayTime[i])
                if (i == arrayTime.length - 1)
                {
                    break
                }
                if(arrayTime[i+1][0] - arrayTime[i][0]  > 60000) {
                    newArray.push(Array(arrayTime[i][0] + 1000, 0))
                    newArray.push(Array(arrayTime[i+1][0] - 1000, 0))
                }
            }
            console.log(newArray)
            return newArray
        }

        // Функция для рисования графиков. Аргументы: id графика, массив данных
        function highcharts(id, dataArray, NameGraph) {

            Highcharts.getJSON(
                'https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/usdeur.json',
                function (data) {

                    Highcharts.chart(id, {
                        chart: {
                            polar: true,
                            zoomType: 'x',
                            backgroundColor: 'none',
                        },
                        time: {
                            timezoneOffset: timezone
                        },
                        title: {
                            text: NameGraph,
                            style: {
                                color: '#83addd'
                            }
                        },
                        xAxis: {
                            type: 'datetime'
                        },
                        yAxis: {
                            title: {
                                text: 'Мощность, кВт'
                            }
                        },
                        plotOptions: {
                            area: {
                                fillColor: {
                                    linearGradient: {
                                        x1: 0,
                                        y1: 0
                                    },
                                    stops: [
                                        [0, Highcharts.getOptions().colors[0]],
                                        [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                    ]
                                },
                                marker: {
                                    radius: 2
                                },
                                lineWidth: 1,
                                states: {
                                    hover: {
                                        lineWidth: 1
                                    }
                                },
                                threshold: null
                            }
                        },
                        credits: {
                            enabled: false
                        },
                        legend: {
                            enabled: false
                        },
                        series: [{
                            name: 'Мощность, кВт',
                            data: dataArray
                        },
                        ]
                    });
                }
            );
        }

        function highcharts2(id, dataArray, NameGraph) {

            Highcharts.getJSON(
                'https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/usdeur.json',
                function (data) {

                    Highcharts.chart(id, {
                        chart: {
                            polar: true,
                            zoomType: 'x',
                            backgroundColor: 'none',
                        },
                        time: {
                            timezoneOffset: timezone
                        },
                        title: {
                            text: NameGraph,
                            style: {
                                color: '#83addd'
                            }
                        },
                        xAxis: {
                            type: 'datetime'
                        },
                        yAxis: {
                            title: {
                                text: 'Коррекция подачи, %'
                            }
                        },
                        plotOptions: {
                            area: {
                                fillColor: {
                                    linearGradient: {
                                        x1: 0,
                                        y1: 0
                                    },
                                    stops: [
                                        [0, Highcharts.getOptions().colors[0]],
                                        [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                    ]
                                },
                                marker: {
                                    radius: 2
                                },
                                lineWidth: 1,
                                states: {
                                    hover: {
                                        lineWidth: 1
                                    }
                                },
                                threshold: null
                            }
                        },
                        credits: {
                            enabled: false
                        },
                        legend: {
                            enabled: false
                        },
                        series: [{
                            name: 'Коррекция подачи, %',
                            data: dataArray
                        },
                        ]
                    });
                }
            );
        }

        // Функция перебора массива из запроса с разложением на 4 массива по времени
        function Perebor() {
            for (let i = 0; massivArray.length > i; i++) {

                if (new Date(startTime + ' 06:00:00').getTime() > (massivArray[i].time)) {
                    do_6.push(Array(massivArray[i].time, parseFloat(massivArray[i].value)));
                    console.log(massivArray[i].time, parseFloat(massivArray[i].value))
                    continue
                }
                if (new Date(startTime + ' 12:00:00').getTime() > (massivArray[i].time)) {
                    do_12.push(Array(massivArray[i].time, parseFloat(massivArray[i].value)));
                    continue
                }
                if (new Date(startTime + ' 18:00:00').getTime() > (massivArray[i].time)) {
                    do_18.push(Array(massivArray[i].time, parseFloat(massivArray[i].value)));
                    continue
                }
                if (new Date(startTime + ' 23:59:59').getTime() > (massivArray[i].time)) {
                    do_24.push(Array(massivArray[i].time, parseFloat(massivArray[i].value)));
                    continue
                }
            }

            // Добавление в начало и конец массивов, переменную начала и конца с нулевыми значением
            if(do_6.length > 0){
                do_6.unshift(Array(new Date(startTime + ' 00:00:00').getTime(),0))
                do_6.push(Array(new Date(startTime + ' 06:00:00').getTime(), 0))
            }

            if(do_12.length > 0) {
                do_12.unshift(Array(new Date(startTime + ' 06:00:00').getTime(), 0))
                do_12.push(Array(new Date(startTime + ' 12:00:00').getTime(), 0))
            }

            if(do_18.length > 0) {
                do_18.unshift(Array(new Date(startTime + ' 12:00:00').getTime(), 0))
                do_18.push(Array(new Date(startTime + ' 18:00:00').getTime(), 0))
            }

            if(do_24.length > 0) {
                do_24.unshift(Array(new Date(startTime + ' 18:00:00').getTime(), 0))
                do_24.push(Array(new Date(startTime + ' 23:59:59').getTime(), 0))
            }


            var arraysTime = [[do_6, 'container_do6','00:00 - 06:00'], [do_12, 'container_do12','06:00 - 12:00'], [do_18, 'container_do18','12:00 - 18:00'], [do_24, 'container_do24','18:00 - 23:59'],];

            $.map(arraysTime, function (data){
                data[0] = ZeroTime(data[0])
                highcharts(data[1], data[0], data[2])
            })

            setTimeout(document.body.classList.add('loaded'),1000);
            setTimeout(document.body.classList.remove('loaded_hiding'),1000);
        }

        // Функция перебора массива из запроса с разложением на 4 массива по времени
        function Perebor2() {
            for (let i = 0; massivArray.length > i; i++) {

                if (new Date(startTime + ' 06:00:00').getTime() > (massivArray[i].time)) {
                    do_6.push(Array(massivArray[i].time, parseFloat(massivArray[i].value)));
                    console.log(massivArray[i].time, parseFloat(massivArray[i].value))
                    continue
                }
                if (new Date(startTime + ' 12:00:00').getTime() > (massivArray[i].time)) {
                    do_12.push(Array(massivArray[i].time, parseFloat(massivArray[i].value)));
                    continue
                }
                if (new Date(startTime + ' 18:00:00').getTime() > (massivArray[i].time)) {
                    do_18.push(Array(massivArray[i].time, parseFloat(massivArray[i].value)));
                    continue
                }
                if (new Date(startTime + ' 23:59:59').getTime() > (massivArray[i].time)) {
                    do_24.push(Array(massivArray[i].time, parseFloat(massivArray[i].value)));
                    continue
                }
            }

            // Добавление в начало и конец массивов, переменную начала и конца с нулевыми значением
            if(do_6.length > 0){
                do_6.unshift(Array(new Date(startTime + ' 00:00:00').getTime(),0))
                do_6.push(Array(new Date(startTime + ' 06:00:00').getTime(), 0))
            }

            if(do_12.length > 0) {
                do_12.unshift(Array(new Date(startTime + ' 06:00:00').getTime(), 0))
                do_12.push(Array(new Date(startTime + ' 12:00:00').getTime(), 0))
            }

            if(do_18.length > 0) {
                do_18.unshift(Array(new Date(startTime + ' 12:00:00').getTime(), 0))
                do_18.push(Array(new Date(startTime + ' 18:00:00').getTime(), 0))
            }

            if(do_24.length > 0) {
                do_24.unshift(Array(new Date(startTime + ' 18:00:00').getTime(), 0))
                do_24.push(Array(new Date(startTime + ' 23:59:59').getTime(), 0))
            }


            var arraysTime = [[do_6, 'container_do6','00:00 - 06:00'], [do_12, 'container_do12','06:00 - 12:00'], [do_18, 'container_do18','12:00 - 18:00'], [do_24, 'container_do24','18:00 - 23:59'],];

            $.map(arraysTime, function (data){
                data[0] = ZeroTime(data[0])
                highcharts2(data[1], data[0], data[2])
            })

            setTimeout(document.body.classList.add('loaded'),1000);
            setTimeout(document.body.classList.remove('loaded_hiding'),1000);
        }
    </script>

</head>

<header>
    <div class="header-div">
        <a href="#" style="display: flex; align-items: flex-start;"><img src="../../images/logo_black.png" class="icon-logo-admin icon-alarm"/></a>
        <h1>Анализ режимов работы навигаторов</h1>
        <div style="display: flex; flex-direction: row;">
            <div class="div_login_mail">
                <li></li>
                <p></p>
            </div>
            <div method="post" class="dropdown">
                <input type="image" alt="Avatar" class="avatar"/>
                <div class="dropdown-content">
                    <p id="role_vision"></p>
                    <p><img width="100" style="border-radius: 360px; margin-top:0; "/></p>
                    <div class="div_login_mail">
                        <li></li>
                        <p></p>
                    </div>
                    <button id="admin" onclick="window.location.href = '/adminpanel/userscontrol';">Администрирование
                    </button>
                    <label class="switch">
                        <p>Светлая Темная</p>
                        <span class="slider round"><input type="checkbox" id='dark_button'/><span
                                class="slider_before round_before"></span></span>
                    </label>
                    <form action="/logout" method="post">
                        <button class="follow" type="submit">
                            Выход
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="display: flex; justify-content: center; align-items: center;">
        <div style="width: 250px; float: left">
            <h2 class="choose_month">Выберите дату:</h2>
        </div>
        <form style="margin: 0 20px; display: flex; align-items: center;" action="" method="post" id="form_update">

            <div class='input-group date' id='datepicker' style="width: 200px; float: left;  margin: 1.7%">
                <input type='text' class="form-control" value=""/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </form>
        <div class="form-actions">
            <button class="follow" id="button_obnovit" style="float: left; margin: 1.5%;  font-size: 150%; text-align: center">
                Обновить
            </button>
        </div>

        <div class="select">
            <select id="selectValue">
                <option id="GraphPower" value="_signal:A1">Мощность</option>
                <option id="GraphKorek" value="_signal:A2">Коррекция подачи</option>
            </select>
        </div>

    </div>      <!--Select -->

</header>
<!--Шапка html-->
<body>
<div class="preloader">
    <div class="preloader__row">
        <div class="preloader__item"></div>
        <div class="preloader__item"></div>
    </div>
</div>
<!-- Загрузка страницы и темная тема-->
<script>
    var Names = {'n1':['Навигатор #1', '4919A2A3-290F-419F-A45C-E0DC75F91DB3'], 'n2_1':['Навигатор #2 - голова 1', ''], 'n2_2':['Навигатор #2 - голова 2', 'DB62A4CC-EF9E-4D98-B7F8-7A278BBD5064'],'n3':['Навигатор #3', 'D6755ECA-B2CC-49FE-9E15-559141A159C7'],};
    var navigatorName
    var product

    var signal = "_signal:A1"

    if(localStorage['local_data '] != null) {
        local_data  = window.localStorage['local_data '];
        navigatorName = Names[local_data][0]
        product = Names[local_data][1]
    }

    const timezone = new Date().getTimezoneOffset()
    var time = new Date(new Date().toString().split('GMT')[0] + ' UTC').toISOString();
    var date = new Date(time); // some mock date
    var ms = date.getTime() + 86400000;

    var startTime = time.slice(0, 10)
    var timeEnd = new Date(ms).toISOString().slice(0, 10)

    $('.form-control').attr('value', startTime)

    var massivArray

    var do_6 = [];
    var do_12 = [];
    var do_18 = [];
    var do_24 = [];

    var url = "/api/complex/powerNavigator/product_uuid:" + product  + "_startTime:" + startTime + "_endTime:" + timeEnd + signal


    var dark_theme_state = 0; <!--    переменная состояния темы страницы-->

    if (localStorage['dark_theme_state'] != null) {
        dark_theme_state = parseInt(window.localStorage['dark_theme_state']); // Если она уже локально задана сохраняем
    }

    if (dark_theme_state == 0) {
        $('.preloader').attr("style", `background: #f2f6f8`);
    } // присвоение цвета загрузочного меню
    else if (dark_theme_state == 1) {
        $('.preloader').attr("style", `background: #161821`);
    } // в двух цветах

    window.onload = function () { // прелоудер
        document.body.classList.add('loaded_hiding');

        // Привязываем навигатору имя.
        $('#navigatorName').html(navigatorName)

        SetUserSetting()
        $.get( url,
            function( data ) {
                massivArray = data

                Perebor();
            });

        dark_theme(); // Вызов функции
        // Смена цвета по кнопке
        $("#dark_button").on("click", function () {
            dark_theme_state++; // увеличиваем счетчик
            if (dark_theme_state > 1) // если он больше 1, меняем на ноль
            {
                dark_theme_state = 0;
            }
            window.localStorage['dark_theme_state'] = dark_theme_state; // сохраняем переменную в локальном хранилище
            // Условия для смены цвета после нажатия на кнопку
            dark_theme();
        });
    }
</script>
<script src="/js/dark_theme.js"></script>
<!-- Скрипт вызова функции для выпадающего меню -->
<script src="/js/dropdown_menu.js"></script>


<!--Шапка станка-->
<div style="display: flex; justify-content: center">
        <div class="parent_image">
            <h2 id="navigatorName" style="margin: 0">Навигатор X</h2>
            <img src="../images/navigator.png" class="stanok_img" style="max-height: 300px;"/>
        </div>
</div>

<!--До 6 утра html-->
<div style="border: 1px solid #333; display: flex; justify-content: center; height: 400px; width: 80%; margin: 0 auto" id="container_do6"></div>
<!--До 12 дня html-->
<div style="border: 1px solid #333; display: flex; justify-content: center; height: 400px; width: 80%; margin: 0 auto" id="container_do12"></div>
<!--До 18 вечера html-->
<div style="border: 1px solid #333; display: flex; justify-content: center; height: 400px; width: 80%; margin: 0 auto" id="container_do18"></div>
<!--До 23 ночи html-->
<div style="border: 1px solid #333; display: flex; justify-content: center; height: 400px; width: 80%; margin: 0 auto" id="container_do24"></div>


</body>
</html>