<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблица времяни выполнения программ станка</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/tables.css" rel="stylesheet"/>
    <script src="/js/table-to-excel@v1.0.4.js"></script>
</head>
<body>

<style>

</style>

<div class="tableFixHead">
    <table class="tableProgram table-striped" style="" id="timeTable">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Имя программы</th>
            <th scope="col">Время начала</th>
            <th scope="col">Время окончания</th>
            <th scope="col">Время выполнения</th>
            <th scope="col">Время с учетом пауз</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<img class="excelIcon" id="button-excel" src="../images/excel_icon.png">

<script>
    // кнопка для экспорта в Excel
    let buttonExcel = document.querySelector("#button-excel");

    // Получение таблицы по id
    let timeTable = document.getElementById('timeTable')

    buttonExcel.addEventListener("click", e => {
        TableToExcel.convert(timeTable);
    });

    // объявление локальной переменной часов
    let local_time = null

    // Переменная для кратной записи
    let tableRow = null

    // индекс последней строки
    let lastRow = null

    // индекс последней ячейки
    let lastCell = null

    // переменная для краткой записи к телу таблицы
    let tbody = timeTable.querySelector('tbody')

    // Если она уже локально задана сохраняем
    if (localStorage['local_time'] != null) {
        local_time = window.localStorage['local_time'];
    }
    window.localStorage['local_time'] = local_time;

    // Преобразование строки в массив
     local_time = local_time.split(',')

    // Преобразование массива после получения локальной переменной
    let tableArray = [];
    for(let i=0; i<local_time.length; i+=5)
    {
        tableArray.push([])
        tableArray[i/5][0] = local_time[i]
        tableArray[i/5][1] = local_time[i+1]
        tableArray[i/5][2] = local_time[i+2]
        tableArray[i/5][3] = local_time[i+3]
        tableArray[i/5][4] = local_time[i+4]
    }

    if(tableArray !== null) {
        tableArray.forEach((elem, index) => {

            // добавляем новую строку
            tbody.appendChild(document.createElement('tr'));

            // Получаем все строки в теле
            tableRow = tbody.querySelectorAll('tr')

            // считываем длины строк и ячеек
            lastRow = tbody.rows.length -1
            lastCell = tableRow[lastRow].cells.length - 1

            for(let i=0; i<=4; i++)
            {
                // добавляем в последнюю строку новую ячейку
                tableRow[lastRow].appendChild(document.createElement('td'))

                // обновляем индекс последней ячейки
                lastCell = tableRow[lastRow].cells.length - 1

                // записываем в последюю ячейку первый элемент  массива
                tableRow[lastRow].querySelectorAll('td')[lastCell].textContent = elem[i]
            }

        })
    }
    // Пробегаемся по всем элементам массива



</script>
</body>
</html>