<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблица работы станков</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/tables.css" rel="stylesheet"/>
    <script src="/js/lib/table-to-excel@v1.0.4.js"></script>
</head>
<body>

<table class="table table-striped" id="timeTable">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Оборудование</th>
        <th scope="col">Работа</th>
        <th scope="col">Ожидание</th>
        <th scope="col">Выключен</th>
        <th scope="col">В аварии</th>
        <th scope="col">Под нагрузкой</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<img class="excelIcon" id="button-excel" src="../images/excel_icon.png">

<script>
    // кнопка для экспорта в Excel
    let buttonExcel = document.querySelector("#button-excel");

    // Получение таблицы по id
    let timeTable = document.getElementById('timeTable')

    buttonExcel.addEventListener("click", e => {
        TableToExcel.convert(timeTable);
    });

    // объявление локальной переменной часов
    let local_time = null

    // Переменная для кратной записи
    let tableRow = null

    // индекс последней строки
    let lastRow = null

    // индекс последней ячейки
    let lastCell = null

    // переменная для краткой записи к телу таблицы
    let tbody = timeTable.querySelector('tbody')

    // Если она уже локально задана сохраняем
    if (localStorage['local_time'] != null) {
        local_time = window.localStorage['local_time'];
    }
    window.localStorage['local_time'] = local_time;

    // Преобразование строки в массив
    local_time = local_time.split(',')

    // Пробегаемся по всем элементам массива
    local_time.forEach((elem, index) => {

        // новая строка создается в начале и каждый 6 раз
        if (index == 0 || index % 6 == 0) {
            // добавляем новую строку
            tbody.appendChild(document.createElement('tr'));

            // Получаем все строки в теле
            tableRow = tbody.querySelectorAll('tr')

            // считываем длины строк и ячеек
            lastRow = tbody.rows.length - 1
            lastCell = tableRow[lastRow].cells.length - 1
        }

        // добавляем в последнюю строку новую ячейку
        tableRow[lastRow].appendChild(document.createElement('td'))

        // обновляем индекс последней ячейки
        lastCell = tableRow[lastRow].cells.length - 1

        // записываем в последюю ячейку элемент массива
        tableRow[lastRow].querySelectorAll('td')[lastCell].textContent = elem

    })

</script>
</body>
</html>