<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Станки Мех.участок 2 площадка </title>
    <link rel="shortcut icon" type="image/ico"/>

    <link rel="stylesheet" type="text/css" href="/css/styles_stanki.css"/>
    <link rel="stylesheet" type="text/css" href="/css/report_day_style.css"/>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>

    <script src="/js/lib/highcharts.js"></script>
    <script src="/js/lib/exporting.js"></script>
    <script src="/js/lib/export-data.js"></script>
    <script src="/js/lib/accessibility.js"></script>
    <script src="/js/lib/xrange.js"></script>
    <script src="/js/reportBot.js"></script>
    <script src="/js/smena/calendar_smena.js"></script>

    <script src="/js/lib/jquery-3.6.0.min.js"></script>
    <script src="/js/lib/bootstrap-3.3.0.min.js"></script>

    <script src="/js/lib/bootstrap-datepicker.min.js"></script>
    <script src="/js/lib/bootstrap-datepicker.ru.min.js"></script>

    <script>

        document.addEventListener("DOMContentLoaded", function (event) {
            $('#datepicker').datepicker({
                format: "yyyy-mm-dd",
                language: 'ru',
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button"
            });

        });

        function selectedNewValue() {

            $('#datepicker').datepicker({
                format: "yyyy-mm-dd",
                language: 'ru',
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button"
            });

            let datas = $('#datepicker').data().datepicker.viewDate.toISOString();

            date = new Date(datas); // some mock date
            ms = date.getTime() + 86400000;

            startTime = datas.slice(0, 10)

            navigator1Request = [];

            buildNavigators(Names, startTime, mod, navigator1Request)
        }

    </script>

    <style>
        .highcharts-button-box {
            fill: #252734;
        }
    </style>

</head>
<body style="background: #252734; overflow: hidden">
<div style="display: flex; opacity: 2%;">
    <form style="margin: 0 20px; display: flex; align-items: center;" action="" method="post" id="form_update">
        <div class='input-group date' id='datepicker' style="width: 200px; float: left;  margin: 1.7%">
            <input type='text' class="form-control" value="" onchange="selectedNewValue()"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </form>
</div>

<h1 style="color: #83addd">Показатели навигаторов</h1>
<div style="display: flex; justify-content: center; flex-direction:column; width: 100vw; height: 90vh">
    <div style="display: flex; width: 100%; height: 30%;">
        <div style="border: 1px solid #333; width: 49%; margin: 0 auto"
             id="container1"></div>
        <div style="border: 1px solid #333; width: 49%; margin: 0 auto"
             id="container2"></div>
    </div>
    <div style="display: flex; width: 100%; height: 30%;">
        <div style="border: 1px solid #333; width: 49%; margin: 0 auto"
             id="container3"></div>
        <div style="border: 1px solid #333; width: 49%; margin: 0 auto"
             id="container4"></div>
    </div>
    <div style="display: flex; width: 100%; height: 30%;">
        <div style="border: 1px solid #333; width: 49%; margin: 0 auto"
             id="container5"></div>
        <div style="border: 1px solid #333; width: 49%; margin: 0 auto"
             id="container6"></div>
    </div>
</div>

<script>

    function ZeroTime(arrayTime) {
        let newArray = []

        for (let i = 0; arrayTime.length > i; i++) {
            newArray.push(arrayTime[i])
            if (i == arrayTime.length - 1) {
                break
            }
            if (arrayTime[i + 1][0] - arrayTime[i][0] > 60000) {
                newArray.push(Array(arrayTime[i][0] + 1000, 0))
                newArray.push(Array(arrayTime[i + 1][0] - 1000, 0))
            }
        }
        return newArray
    }

    // Функция для рисования графиков. Аргументы: id графика, массив данных
    function highcharts(id, NameGraph, params, dataArray, dataArray2 = null) {
        let series = []

        let maxHeight = 200

        if (dataArray2 == null) {
            series = [{
                name: params,
                data: dataArray,
                color: '#fffd1f'
            }]

            maxHeight = 16000

            dataArray.forEach((e, i) => {
                if (e[0] == undefined) dataArray.splice(i, 1)
            })



            let firstDate = startTime + ' 00:00'
            let lastDate = (startTime == new Date().toISOString().slice(0,10))? startTime + " " + new Date().toISOString().slice(11,16) : startTime + ' 23:59'


            firstDate = new Date(firstDate).getTime()
            lastDate =  (startTime == new Date().toISOString().slice(0,10))?  new Date(lastDate).getTime() + 10800000 : new Date(lastDate).getTime()

            if(dataArray.length !== 0){
                dataArray.unshift([dataArray[0][0] - 10000, 0])
                dataArray.unshift([firstDate + 1000, 0])
                dataArray.push([lastDate,0])
            }

        } else {
            series = [{
                name: params[0],
                data: dataArray,
                color: '#83addd'
            },
                {
                    name: params[1],
                    data: dataArray2,
                    color: '#f31e1e'
                }]

            dataArray.forEach((e, i) => {
                if (e[0] == undefined) dataArray.splice(i, 1)
            })

            dataArray2.forEach((e, i) => {
                if (e[0] == undefined) dataArray2.splice(i, 1)
            })
        }

        Highcharts.setOptions({
            lang: {
                loading: 'Загрузка...',
                months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
                exportButtonTitle: "Экспорт",
                printButtonTitle: "Печать",
                rangeSelectorFrom: "С",
                rangeSelectorTo: "По",
                rangeSelectorZoom: "Период",
                downloadPNG: 'Скачать PNG',
                downloadJPEG: 'Скачать JPEG',
                downloadPDF: 'Скачать PDF',
                downloadSVG: 'Скачать SVG',
                printChart: 'Напечатать график',
                viewFullscreen: 'На весь экран'
            },
            plotOptions: {
                xrange: {
                    grouping: false
                }
            },
        });
        Highcharts.chart(id, {
            chart: {
                polar: true,
                zoomType: 'x',
                backgroundColor: 'none',
            },
            time: {
                timezoneOffset: new Date().getTimezoneOffset()
            },
            title: {
                text: NameGraph,
                style: {
                    color: '#FFF'
                }
            },
            xAxis: {
                labels: {
                    style: {
                        fontSize: '18px',
                        color: '#FFF'
                    }
                },
                type: 'datetime'
            },
            yAxis: {
                min: 0,
                max: maxHeight,
                title: {
                    text: params,
                    style: {
                        color: '#FFF'
                    }
                },
                labels: {
                    style: {
                        color: '#FFF'
                    },
                }
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            credits: {
                enabled: false
            },
            legend: {
                itemStyle: {
                    color: '#FFF'
                }
            },
            series: series
        });

    }

    // Функция перебора массива из запроса с разложением на 4 массива по времени
    function Perebor(massivArray, date, names) {
        console.log('Перебор?')
        let allData = [];

        for (let i = 0; massivArray.length > i; i++) {
            let arrayI = []
            for (let j = 0; massivArray[i].length > j; j++) {
                arrayI.push(Array(massivArray[i][j].time, parseFloat(massivArray[i][j].value)));
            }
            allData.push(arrayI)
        }

        for (let i = 0; i < allData.length; i += 3) {
            // console.log('True', `container${(i - (Math.floor(i / 3)) + 1)}`)
            // console.log('True', `container${(i - (Math.floor(i / 3)) + 2)}`)
            highcharts(`container${(i - (Math.floor(i / 3)) + 1)}`, names[Math.floor(i / 3)][1] + " Мощность", 'Мощность, Вт', ZeroTime(allData[i]))
            highcharts(`container${(i - (Math.floor(i / 3)) + 2)}`, names[Math.floor(i / 3)][1] + " Коррекция подачи и температура", ['Коррекция подачи, %', 'Температура, ℃'], ZeroTime(allData[i + 1]), ZeroTime(allData[i + 2]))
        }
    }

    // fetch запрос объекта в форме объектов
    function fetchNavigators(Name, date, mod) {
        let timeEnd = new Date(new Date(date).getTime() + 86400000).toISOString().slice(0, 10)
        let url = `/api/complex/powerNavigator/product_uuid:${Name[2]}_startTime:${date}_endTime:${timeEnd}_signal:${mod}`

        return fetch(url, {
            method: 'GET'
        })
            .then(response => response.json())
            // Получение массива с полями
            .then((elem) => {
                    return elem
                }
            )
    }

    function buildNavigators(Name, date, mods, requestArray, Index = 0, Jindex = 0) {

        if (Index >= Name.length) {
            let readyPromise = Promise.all(requestArray)
            readyPromise.then(result => {
                Perebor(result, date, Name);
            })
            return 0
        }

        if (Jindex >= mods.length) {
            buildNavigators(Name, date, mods, requestArray, Index + 1, 0)
            return 0
        }

        let rIndex = Index
        let rJindex = Jindex

        console.log('rIndex = ', rIndex, 'rJndex = ', rJindex)

        setTimeout(() => {
            requestArray.push(fetchNavigators(Name[rIndex], date, mods[rJindex]))
            buildNavigators(Name, date, mods, requestArray, rIndex, Jindex + 1)
        }, 3000)
    }

    let Names = [
        ['navigator_1', 'Навигатор #1', '4919A2A3-290F-419F-A45C-E0DC75F91DB3'],
        ['navigator_2_2', 'Навигатор #2 - голова 2', 'DB62A4CC-EF9E-4D98-B7F8-7A278BBD5064'],
        ['navigator_3', 'Навигатор #3', 'D6755ECA-B2CC-49FE-9E15-559141A159C7'],
    ];

    let startTime = (new Date(new Date().toString().split('GMT')[0] + ' UTC').toISOString()).slice(0, 10);

    let mod = ['A1', 'A2', 'A3']

    // let navigator1Request = [0,0,0]

    let navigator1Request = [];

    buildNavigators(Names, startTime, mod, navigator1Request)

</script>
</body>
</html>