<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Роботы</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" href="../css/styles_stanki.css"/>
    <link rel="stylesheet" type="text/css" href="../css/report_day_style.css"/>
    <!--  <link rel="stylesheet" type="text/css" href="../css/menu_buttons.css"/> &lt;!&ndash; Меню &ndash;&gt;-->
    <!--  <link rel="stylesheet" type="text/css" href="../css/styles_header.css"/>-->

    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>

    <script src="../js/highcharts.js"></script>
    <script src="../js/exporting.js"></script>
    <script src="../js/export-data.js"></script>
    <script src="../js/accessibility.js"></script>
    <script src="../js/xrange.js"></script>

    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/bootstrap-3.3.0.min.js"></script>

</head>
<body>
<h1>Роботы</h1>
<div style="display: flex; justify-content: space-around; min-height: 80vh;">
    <div id="container_sum_zagruzka" style="min-height: 400px; width: 45%"></div>
    <table id='myTable' style="min-height: 400px; width: 45%">
        <thead>
        <tr>
            <th>Станки</th>
            <th>Работа</th>
            <th>Нагрузка</th>
            <th>Пауза</th>
            <th>Авария</th>
            <th>Выключен</th>
        </tr>
        </thead>
        <tbody>
        <tr class="hit">
            <td>Макс #1</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>Макс #2</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>М710</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>РТК12С</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>P250</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>КРОТ</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>ПРАНС</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        </tbody>
    </table>    <!--Таблица изменений-->
    <!--Общая загрузка html-->
</div>  <!--Общая загрузка и количество операций html-->
<script th:inline="javascript">

    var colors = ['#e81e1d','#000000', '#ffea32','#207210','#38e817'];

    var work_maks_1 = [[${work}]];
    var pause_maks_1 = [[${pass}]];
    var off_maks_1 = [[${fail}]];
    var avar_maks_1 = [[${avar}]];
    var nagruzka_maks_1 = [[${nagruzka}]];

    var work_maks_2 = [[${work_2}]];
    var pause_maks_2 = [[${pass_2}]];
    var off_maks_2 = [[${fail_2}]];
    var avar_maks_2 = [[${avar_2}]];
    var nagruzka_maks_2 = [[${nagruzka_2}]];

    var work_m710 = [[${work_3}]];
    var pause_m710 = [[${pass_3}]];
    var off_m710 = [[${fail_3}]];
    var avar_m710 = [[${avar_3}]];
    var nagruzka_m710 = [[${nagruzka_3}]];

    var work_rtc12c = [[${work_4}]];
    var pause_rtc12c = [[${pass_4}]];
    var off_rtc12c = [[${fail_4}]];
    var avar_rtc12c = [[${avar_4}]];
    var nagruzka_rtc12c = [[${nagruzka_4}]];

    var work_p250 = [[${work_5}]];
    var pause_p250 = [[${pass_5}]];
    var off_p250 = [[${fail_5}]];
    var avar_p250 = [[${avar_5}]];
    var nagruzka_p250 = [[${nagruzka_5}]];

    var work_krot = [[${work_krot}]];
    var pause_krot = [[${pass_krot}]];
    var off_krot = [[${fail_krot}]];
    var avar_krot = [[${avar_krot}]];
    var nagruzka_krot = [[${nagruzka_krot}]];

    var work_prans = [[${work_prans}]];
    var pause_prans = [[${pass_prans}]];
    var off_prans = [[${fail_prans}]];
    var avar_prans = [[${avar_prans}]];
    var nagruzka_prans = [[${nagruzka_prans}]];


    Highcharts.setOptions({
        lang: {
            loading: 'Загрузка...',
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
            exportButtonTitle: "Экспорт",
            printButtonTitle: "Печать",
            rangeSelectorFrom: "С",
            rangeSelectorTo: "По",
            rangeSelectorZoom: "Период",
            downloadPNG: 'Скачать PNG',
            downloadJPEG: 'Скачать JPEG',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            printChart: 'Напечатать график',
            viewFullscreen: 'На весь экран'
        },
        global: {
            timezoneOffset: new Date().getTimezoneOffset()
        }
    });

    Highcharts.chart('container_sum_zagruzka', {
        chart: {
            type: 'column'
        },
        colors:colors,
        title: {
            text: 'Общая загрузка оборудования'
        },
        xAxis: {
            labels: {
                style: {
                    fontSize: '18px',
                }
            },
            categories: ['МАКС #1', 'МАКС #2', 'М710', 'РТК12С', 'Р250', 'КРОТ', 'ПРАНС']
        },
        credits: {
            enabled: false
        },
        yAxis: {
            min: 0,
            title: {
                text: '%'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: {point.percentage:.1f}%<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            },
            series: {
                borderColor: 'gray'
            },
        },
        series: [{
            name: 'Авария',
            data: [avar_maks_1, avar_maks_2, avar_m710, avar_rtc12c, avar_p250, avar_krot, avar_prans]
        }, {
            name: 'Выключен',
            data: [off_maks_1, off_maks_2, off_m710, off_rtc12c, off_p250, off_krot, off_prans]
        }, {
            name: 'Ожидание',
            data: [pause_maks_1, pause_maks_2, pause_m710, pause_rtc12c, pause_p250, pause_krot, pause_prans]
        }, {
            name: 'Под нагрузкой',
            data: [nagruzka_maks_1, nagruzka_maks_2, nagruzka_m710, nagruzka_rtc12c, nagruzka_p250, nagruzka_krot, nagruzka_prans]
        }, {
            name: 'Работа',
            data: [work_maks_1, work_maks_2, work_m710, work_rtc12c, work_p250, work_krot, work_prans]
        }]
    });

</script>   <!--js Общая загрузка-->
<script th:inline="javascript">
    var maks_1_koef = (work_maks_1 + pause_maks_1 + off_maks_1 + avar_maks_1 + nagruzka_maks_1)/100;
    var maks_2_koef = (work_maks_2 + pause_maks_2 + off_maks_2 + avar_maks_2 + nagruzka_maks_2)/100;
    var m710_koef = (work_m710 + pause_m710 + off_m710 + avar_m710 + nagruzka_m710)/100;
    var rtc12c_koef = (work_rtc12c + pause_rtc12c + off_rtc12c + avar_rtc12c + nagruzka_rtc12c)/100;
    var p250_koef = (work_p250 + pause_p250 + off_p250 + avar_p250 + nagruzka_p250)/100;
    var krot_koef = (work_krot + pause_krot + off_krot + avar_krot + nagruzka_krot)/100;
    var prans_koef = (work_prans + pause_prans + off_prans + avar_prans + nagruzka_prans)/100;

    table = document.getElementById('myTable').rows; // Обращение к таблице по ID
    table[1].cells[1].innerHTML = Math.round(work_maks_1/maks_1_koef * 10) / 10 + "%";
    table[2].cells[1].innerHTML = Math.round(work_maks_2/maks_2_koef * 10) / 10 + "%";
    table[3].cells[1].innerHTML = Math.round(work_m710/m710_koef * 10) / 10 + "%";
    table[4].cells[1].innerHTML = Math.round(work_rtc12c/rtc12c_koef * 10) / 10 + "%";
    table[5].cells[1].innerHTML = Math.round(work_p250/p250_koef * 10) / 10 + "%";
    table[6].cells[1].innerHTML = Math.round(work_krot/krot_koef * 10) / 10 + "%";
    table[7].cells[1].innerHTML = Math.round(work_prans/prans_koef * 10) / 10 + "%";

    // Столбец Работа
    table[1].cells[2].innerHTML = Math.round(nagruzka_maks_1/maks_1_koef * 10) / 10 + "%";
    table[2].cells[2].innerHTML = Math.round(nagruzka_maks_2/maks_2_koef * 10) / 10 + "%";
    table[3].cells[2].innerHTML = Math.round(nagruzka_m710/m710_koef * 10) / 10 + "%";
    table[4].cells[2].innerHTML = Math.round(nagruzka_rtc12c/rtc12c_koef * 10) / 10 + "%";
    table[5].cells[2].innerHTML = Math.round(nagruzka_p250/p250_koef * 10) / 10 + "%";
    table[6].cells[2].innerHTML = Math.round(nagruzka_krot/krot_koef * 10) / 10 + "%";
    table[7].cells[2].innerHTML = Math.round(nagruzka_prans/prans_koef * 10) / 10 + "%";
    // Столбец Нагрузка

    table[1].cells[3].innerHTML = Math.round(pause_maks_1/maks_1_koef * 10) / 10 + "%";
    table[2].cells[3].innerHTML = Math.round(pause_maks_2/maks_2_koef * 10) / 10 + "%";
    table[3].cells[3].innerHTML = Math.round(pause_m710/m710_koef * 10) / 10 + "%";
    table[4].cells[3].innerHTML = Math.round(pause_rtc12c/rtc12c_koef * 10) / 10 + "%";
    table[5].cells[3].innerHTML = Math.round(pause_p250/p250_koef * 10) / 10 + "%";
    table[6].cells[3].innerHTML = Math.round(pause_krot/krot_koef * 10) / 10 + "%";
    table[7].cells[3].innerHTML = Math.round(pause_prans/prans_koef * 10) / 10 + "%";
    // Столбец пауза

    table[1].cells[4].innerHTML = Math.round(avar_maks_1/maks_1_koef * 10) / 10 + "%";
    table[2].cells[4].innerHTML = Math.round(avar_maks_2/maks_2_koef * 10) / 10 + "%";
    table[3].cells[4].innerHTML = Math.round(avar_m710/m710_koef * 10) / 10 + "%";
    table[4].cells[4].innerHTML = Math.round(avar_rtc12c/rtc12c_koef * 10) / 10 + "%";
    table[5].cells[4].innerHTML = Math.round(avar_p250/p250_koef * 10) / 10 + "%";
    table[6].cells[4].innerHTML = Math.round(avar_krot/krot_koef * 10) / 10 + "%";
    table[7].cells[4].innerHTML = Math.round(avar_prans/prans_koef * 10) / 10 + "%";
    // Столбец выключен

    table[1].cells[5].innerHTML = Math.round(off_maks_1/maks_1_koef * 10) / 10 + "%";
    table[2].cells[5].innerHTML = Math.round(off_maks_2/maks_2_koef * 10) / 10 + "%";
    table[3].cells[5].innerHTML = Math.round(off_m710/m710_koef * 10) / 10 + "%";
    table[4].cells[5].innerHTML = Math.round(off_rtc12c/rtc12c_koef * 10) / 10 + "%";
    table[5].cells[5].innerHTML = Math.round(off_p250/p250_koef * 10) / 10 + "%";
    table[6].cells[5].innerHTML = Math.round(off_krot/krot_koef * 10) / 10 + "%";
    table[7].cells[5].innerHTML = Math.round(off_prans/prans_koef * 10) / 10 + "%";
    //Столбец ручной режим

</script><!--Запись переменных в таблицу-->
</body>
</html>