<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Резка</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" href="../css/styles_stanki.css"/>
    <link rel="stylesheet" type="text/css" href="../css/report_day_style.css"/>
    <!--  <link rel="stylesheet" type="text/css" href="../css/menu_buttons.css"/> &lt;!&ndash; Меню &ndash;&gt;-->
    <!--  <link rel="stylesheet" type="text/css" href="../css/styles_header.css"/>-->

    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>

    <script src="../js/highcharts.js"></script>
    <script src="../js/exporting.js"></script>
    <script src="../js/export-data.js"></script>
    <script src="../js/accessibility.js"></script>
    <script src="../js/xrange.js"></script>

    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/bootstrap-3.3.0.min.js"></script>

</head>
<body>
<h1>Резка</h1>
<div style="display: flex; justify-content: space-around; min-height: 80vh;">
    <div id="container_sum_zagruzka" style="min-height: 400px; width: 45%"></div>
    <table id='myTable' style="min-height: 400px; width: 45%">
        <thead>
        <tr>
            <th>Станки</th>
            <th>Работа</th>
            <th>Пауза</th>
            <th>Выключен</th>
            <th>Авария</th>
            <th>Нагрузка</th>
        </tr>
        </thead>
        <tbody>
        <tr class="hit">
            <td>Навигатор #1</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>Навигатор #2-1</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>Навигатор #2-2</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>Навигатор #3</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>TruLaser</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>Комета #1</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>Комета #2</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>Комета #3</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        </tbody>
    </table>    <!--Таблица изменений-->
    <!--Общая загрузка html-->
</div>  <!--Общая загрузка и количество операций html-->
<script th:inline="javascript">
    var linear_rabota = [];
    var linear_pause = [];
    var linear_off = [];
    var linear_avar = [];
    var linear_nagruzka = [];

    var navigator_1_data = [[${navigator_1_data}]];
    var navigator_2_golova_1_data = [[${navigator_2_golova_1_data}]];
    var navigator_2_golova_2_data = [[${navigator_2_golova_2_data}]];
    var navigator_3_data = [[${navigator_3_data}]];
    var trulaser_data = [[${trulaser_data}]];
    var kometa_1_data = [[${kometa_1_data}]];
    var kometa_2_data = [[${kometa_2_data}]];
    var kometa_3_data = [[${kometa_3_data}]];




    // Массив с массивами
    const Diagram = [navigator_1_data, navigator_2_golova_1_data, navigator_2_golova_2_data,
        navigator_3_data, trulaser_data, kometa_1_data, kometa_2_data,  kometa_3_data]

    table = document.getElementById('myTable').rows; // Обращение к таблице по ID

    var koef = []

    // Функция парсинга элементов массива на диаграмму и таблицу
    $.map(Diagram, function (element, index) {
        // Если массив станка приходит пустым или нулевым, то записываем в диаграмму нули и следующий цикл
        if ((element === null) || (element == 0)) {
            linear_rabota.push(0);
            linear_pause.push(0);
            linear_off.push(0);
            linear_avar.push(0);
            linear_nagruzka.push(0);
            koef.push(0)
            return
        }

        else {
            // Иначе, объявляем массив круговой диаграммы из 6-го массива станка.
            var roundDiagram = element[6];

            // Если этот массив пустой или нулевой, то записываем в диаграмму нули и следующий цикл
            if ((roundDiagram == 0) || (roundDiagram === null)) {
                linear_rabota.push(0);
                linear_pause.push(0);
                linear_off.push(0);
                linear_avar.push(0);
                linear_nagruzka.push(0);
                koef.push(0)
                return
            }

            // Иначе, преобразовываем массив из строк в целые числа
            else {
                // Преобразование элементов круговой диаграммы из строк в числа
                $.each(roundDiagram, function (i) {
                    roundDiagram[i] = parseInt(roundDiagram[i]);
                });

                // Затем вычисляем работу без нагрузки для линейной диаграммы
                roundDiagram[0] = roundDiagram[0] - roundDiagram[4];

                linear_rabota.push(Array(1).fill(roundDiagram[0]));
                linear_pause.push(Array(1).fill(roundDiagram[1]));
                linear_off.push(Array(1).fill(roundDiagram[2]));
                linear_avar.push(Array(1).fill(roundDiagram[3]));
                linear_nagruzka.push(Array(1).fill(roundDiagram[4]));

                //Вычисление коэффициента конкретного станка
                koef.push((roundDiagram[0] + roundDiagram[1] + roundDiagram[2] + roundDiagram[3] + roundDiagram[4]) / 100);

                // Затем цикл, для заполнения таблицы. Index - станок, i - столбец
                $.each(roundDiagram, function (i) {
                    table[index + 1].cells[i + 1].innerHTML = Math.round(roundDiagram[i] / koef[index] * 10) / 10 + "%";
                }); // Конец цикла записи в таблицу

            } // Конец условия, если roundDiagram не пустой
        } // Конец условия, если Diagram[index] не пустой
    }); // Конец функции $.map(Diagram)

    // Формирование графиков для общих круговой и линейной диаграммы
    var colorsLine = ['#e81e1d','#000000', '#ffea32','#207210','#38e817'];
    Highcharts.chart('container_sum_zagruzka', {
        chart: {
            type: 'column'
        },
        colors:colorsLine,
        title: {
            text: 'Общая загрузка оборудования'
        },
        xAxis: {
            labels: {
                style: {
                    fontSize: '18px',
                }
            },
            categories: ['Навигатор #1', 'Навигатор #2 - голова 1', 'Навигатор #2 - голова 2', 'Навигатор #3', 'TruLaser', 'Комета #1', 'Комета #2',  'Комета #3']
        },
        credits: {
            enabled: false
        },
        yAxis: {
            min: 0,
            title: {
                text: '%'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: {point.percentage:.1f}%<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
        series: [{
            name: 'Авария',
            data: linear_avar
        }, {
            name: 'Выключен',
            data: linear_off
        }, {
            name: 'Ожидание',
            data: linear_pause
        }, {
            name: 'Под нагрузкой',
            data: linear_nagruzka
        }, {
            name: 'Работа',
            data: linear_rabota
        }, ]
    });

</script>   <!--js Общая загрузка и таблица-->

</body>
</html>