<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Станки Мех.участок 2 площадка </title>
  <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>

  <link rel="stylesheet" type="text/css" href="../css/styles_stanki.css"/>
  <link rel="stylesheet" type="text/css" href="../css/report_day_style.css"/>
<!--  <link rel="stylesheet" type="text/css" href="../css/menu_buttons.css"/> &lt;!&ndash; Меню &ndash;&gt;-->
<!--  <link rel="stylesheet" type="text/css" href="../css/styles_header.css"/>-->

  <link href="../css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>

  <script src="../js/highcharts.js"></script>
  <script src="../js/exporting.js"></script>
  <script src="../js/export-data.js"></script>
  <script src="../js/accessibility.js"></script>
  <script src="../js/xrange.js"></script>

  <script src="../js/jquery-3.6.0.min.js"></script>
  <script src="../js/bootstrap-3.3.0.min.js"></script>

</head>
<body>
<h1>Станки Мех.участок 2 площадка </h1>
<div style="display: flex; justify-content: space-around; min-height: 80vh;">
  <div id="container_sum_zagruzka" style="min-height: 400px; width: 45%"></div>
  <table id='myTable' style="min-height: 400px; width: 45%">
    <thead>
    <tr>
      <th>Станки</th>
      <th>Работа</th>
      <th>Пауза</th>
      <th>Выключен</th>
      <th>Авария</th>
      <th>Нагрузка</th>
      <th>Ручной</th>
    </tr>
    </thead>
    <tbody>
    <tr class="hit">
      <td> УФ5220 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> Прогресс </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> NTX1000 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> SK50 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> APEC </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> DMU50 #3 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> DMU50 #4 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> CTX310 #2 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> CTX510 #2 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> CTX510 #3 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> CTX310 #3 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> CTX510 #4 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> CTX510 #5 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> DMC1035 #2 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> DMU50 #5 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    </tbody>
  </table>    <!--Таблица изменений-->
  <!--Общая загрузка html-->
</div>  <!--Общая загрузка и количество операций html-->

<script th:inline="javascript">
  var linear_rabota = [];
  var linear_pause = [];
  var linear_off = [];
  var linear_avar = [];
  var linear_nagruzka = [];
  var linear_kalibrovka = [];

  var work_uf5220 = [[${work}]];
  var pass_uf5220 = [[${pass}]];
  var fail_uf5220 = [[${fail}]];

  var work_progress = [[${progress_work}]];
  var pass_progress = [[${progress_pass}]];
  var fail_progress = [[${progress_fail}]];

  var work_ntx1000 = [[${ntx1000_work}]];
  var pass_ntx1000 = [[${ntx1000_pass}]];
  var fail_ntx1000 = [[${ntx1000_fail}]];
  var avar_ntx1000 = [[${ntx1000_avar}]];
  var nagruzka_ntx1000 = [[${ntx1000_nagruzka}]];

  linear_rabota.push(work_uf5220, work_progress,work_ntx1000);
  linear_pause.push(pass_uf5220, pass_progress, pass_ntx1000);
  linear_off.push(fail_uf5220, fail_progress, fail_ntx1000);
  linear_avar.push(0, 0, avar_ntx1000);
  linear_nagruzka.push(0, 0, nagruzka_ntx1000);
  linear_kalibrovka.push(0, 0 ,0);

  var uf5220_koef = (work_uf5220 + pass_uf5220 + fail_uf5220)/100;
  var progress_koef = (work_progress + pass_progress + fail_progress)/100;
  var ntx1000_koef = (work_ntx1000 + nagruzka_ntx1000 + pass_ntx1000 + avar_ntx1000 + fail_ntx1000)/100;

  var sk50_data = [[${sk50_data}]];
  var apec_data = [[${apec_data}]];
  var dmu50_3_data = [[${dmg_dmu50_3_data}]];
  var dmu50_4_data = [[${dmg_dmu50_4_data}]];
  var ctx310_2_data = [[${dmg_ctx310_2_data}]];
  var ctx510_2_data = [[${dmg_ctx510_2_data}]];
  var ctx510_3_data = [[${dmg_ctx510_3_data}]];
  var ctx310_3_data = [[${dmg_ctx310_3_data}]];
  var ctx510_4_data = [[${dmg_ctx510_4_data}]];
  var ctx510_5_data = [[${dmg_ctx510_5_data}]];
  var dmc1035_2_data = [[${dmg_dmc1035_2_data}]];
  var dmu50_5_data = [[${dmg_dmu50_5_data}]];

  // Массив с массивами
  const Diagram = [sk50_data, apec_data, dmu50_3_data,
    dmu50_4_data, ctx310_2_data, ctx510_2_data, ctx510_3_data,  ctx310_3_data, ctx510_4_data, ctx510_5_data, dmc1035_2_data, dmu50_5_data]

  table = document.getElementById('myTable').rows; // Обращение к таблице по ID
  // older
  table[1].cells[1].innerHTML = Math.round(work_uf5220/uf5220_koef * 10) / 10 + "%";
  table[2].cells[1].innerHTML = Math.round(work_progress/progress_koef * 10) / 10 + "%";
  table[3].cells[1].innerHTML = Math.round(work_ntx1000/ntx1000_koef * 10) / 10 + "%";

  table[3].cells[2].innerHTML = Math.round(nagruzka_ntx1000/ntx1000_koef * 10) / 10 + "%";

  table[1].cells[3].innerHTML = Math.round(pass_uf5220/uf5220_koef * 10) / 10 + "%";
  table[2].cells[3].innerHTML = Math.round(pass_progress/progress_koef * 10) / 10 + "%";
  table[3].cells[3].innerHTML = Math.round(pass_ntx1000/ntx1000_koef * 10) / 10 + "%";

  table[3].cells[4].innerHTML = Math.round(avar_ntx1000/ntx1000_koef * 10) / 10 + "%";

  table[1].cells[5].innerHTML = Math.round(fail_uf5220/uf5220_koef * 10) / 10 + "%";
  table[2].cells[5].innerHTML = Math.round(fail_progress/progress_koef * 10) / 10 + "%";
  table[3].cells[5].innerHTML = Math.round(fail_ntx1000/ntx1000_koef * 10) / 10 + "%";

  var koef = []

  $.map(Diagram, function (element, index) {
    // Отказ от работы с пустым массивом
    if(element != 0 || element.length != 0) {
      var roundDiagram = element[6];

      if (roundDiagram != null) {
        // Преобразование элементов круговой диаграммы из строк в числа
        $.each(roundDiagram, function (i) {
          roundDiagram[i] = parseInt(roundDiagram[i]);
        });

        // Вычисление работы без нагрузки для линейной диаграммы
        roundDiagram[0] = roundDiagram[0] - roundDiagram[4];
      }


      // Заполнение переменных общей круговой и линейной диаграмм
      if (roundDiagram != 0) {

        if(index === 1 )
        {
          linear_rabota.push(Array(1).fill(roundDiagram[0]));
          linear_pause.push(Array(1).fill(roundDiagram[1]));
          linear_off.push(Array(1).fill(roundDiagram[2]));
          linear_avar.push(Array(1).fill(roundDiagram[3]));
          linear_kalibrovka.push(Array(1).fill(roundDiagram[4]));
          linear_nagruzka.push(0);
          koef.push((roundDiagram[0] + roundDiagram[1] + roundDiagram[2] + roundDiagram[3] + roundDiagram[4]) / 100);
        }
        else
        {
          linear_rabota.push(Array(1).fill(roundDiagram[0]));
          linear_pause.push(Array(1).fill(roundDiagram[1]));
          linear_off.push(Array(1).fill(roundDiagram[2]));
          linear_avar.push(Array(1).fill(roundDiagram[3]));
          linear_nagruzka.push(Array(1).fill(roundDiagram[4]));
          linear_kalibrovka.push(0);
          koef.push((roundDiagram[0] + roundDiagram[1] + roundDiagram[2] + roundDiagram[3] + roundDiagram[4]) / 100);}
      }
      else
      {
        linear_rabota.push(0);
        linear_pause.push(0);
        linear_off.push(0);
        linear_avar.push(0);
        linear_nagruzka.push(0);
        linear_kalibrovka.push(0);
        koef.push(0)
      }
    }
    else
    {
      linear_rabota.push(0);
      linear_pause.push(0);
      linear_off.push(0);
      linear_avar.push(0);
      linear_nagruzka.push(0);
      linear_kalibrovka.push(0);
      koef.push(0)
    }

    $.each(roundDiagram, function (i) {
      // Спец. условие для kim
      if(index === 1)
      {
        if(i === 4)
        {
          table[index + 4].cells[i + 2].innerHTML = Math.round(roundDiagram[i] / koef[index] * 10) / 10 + "%";
        }
        else{
          table[index + 4].cells[i + 1].innerHTML = Math.round(roundDiagram[i] / koef[index] * 10) / 10 + "%";
        }

      }
      else{
        table[index + 4].cells[i + 1].innerHTML = Math.round(roundDiagram[i] / koef[index] * 10) / 10 + "%";
      }

    });
  });

  // Формирование графиков для общих круговой и линейной диаграммы
  var colorsLine = ['#e81e1d','#000000', '#ffea32','#5c7ed0','#207210','#38e817'];
  Highcharts.chart('container_sum_zagruzka', {
    chart: {
      type: 'column'
    },
    colors:colorsLine,
    title: {
      text: 'Общая загрузка оборудования'
    },
    xAxis: {
      labels: {
        style: {
          fontSize: '18px',
        }
      },
      categories: ['УФ5220', 'Прогресс', 'NTX1000', 'SK50', 'APEC', 'DMU50 #3', 'DMU50 #4', 'CTX310 #2', 'CTX510 #2', 'CTX510 #3', 'CTX310 #3', 'CTX510 #4', 'CTX510 #5', 'DMC1035 #2', 'DMU50 #5']
    },
    credits: {
      enabled: false
    },
    yAxis: {
      min: 0,
      title: {
        text: '%'
      }
    },
    tooltip: {
      pointFormat: '<span style="color:{series.color}">{series.name}</span>: {point.percentage:.1f}%<br/>',
      shared: true
    },
    plotOptions: {
      column: {
        stacking: 'percent'
      }
    },
    series: [{
      name: 'Авария',
      data: linear_avar
    }, {
      name: 'Выключен',
      data: linear_off
    }, {
      name: 'Ожидание',
      data: linear_pause
    }, {
      name: 'Калибровка',
      data: linear_kalibrovka
    },{
      name: 'Под нагрузкой',
      data: linear_nagruzka
    }, {
      name: 'Работа',
      data: linear_rabota
    }, ]
  });

</script>   <!--js Общая загрузка и таблица-->
</body>
</html>