<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Спец. комплексы</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" href="../css/styles_stanki.css"/>
    <link rel="stylesheet" type="text/css" href="../css/report_day_style.css"/>
    <!--  <link rel="stylesheet" type="text/css" href="../css/menu_buttons.css"/> &lt;!&ndash; Меню &ndash;&gt;-->
    <!--  <link rel="stylesheet" type="text/css" href="../css/styles_header.css"/>-->

    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>

    <script src="../js/highcharts.js"></script>
    <script src="../js/exporting.js"></script>
    <script src="../js/export-data.js"></script>
    <script src="../js/accessibility.js"></script>
    <script src="../js/xrange.js"></script>

    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/bootstrap-3.3.0.min.js"></script>

</head>
<body>
<h1>Спец. комплексы</h1>
<div style="display: flex; justify-content: space-around; min-height: 50vh;">
    <div id="container_sum_zagruzka" style="width: 45%"></div>
    <table id='myTable' style="width: 45%">
            <thead>
            <tr>
                <th>Станки</th>
                <th>Работа</th>
                <th>Нагрузка</th>
                <th>Пауза</th>
                <th>Авария</th>
                <th>Выключен</th>
            </tr>
            </thead>
            <tbody>
            <tr class="hit">
                <td>Пресс ЧПУ для ступиц</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
            </tr>
            <tr class="hit">
                <td>ЭПП</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
            </tr>
            <tr class="hit">
                <td>СТП13М</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
            </tr>
            </tbody>
        </table>    <!--Таблица изменений-->
</div>  <!--Общая загрузка и количество операций html-->

<div style="display: flex; justify-content: space-around; min-height: 40vh;">
    <div style="width: 45%;" id="container_press_davlenie"></div>
    <div style="width: 45%;" id="container_epp_tok"></div>
</div>  <!--Общие Ток и давление-->

<script th:inline="javascript">

    var colors = ['#e81e1d','#000000', '#ffea32','#207210','#38e817'];

    var press_work = [[${work_press}]];
    var press_pass = [[${pass_press}]];
    var press_fail = [[${fail_press}]];
    var press_nagruzka = [[${nagruzka_press}]];
    var press_avar = [[${avar_press}]];

    var epp_work = [[${work_epp}]];
    var epp_pass = [[${pass_epp}]];
    var epp_fail = [[${fail_epp}]];
    var epp_nagruzka = [[${nagruzka_epp}]];
    var epp_avar = [[${avar_epp}]];

    var stp13m_work = [[${work_stp13m}]];
    var stp13m_pass = [[${pass_stp13m}]];
    var stp13m_fail = [[${fail_stp13m}]];

    Highcharts.setOptions({
        lang: {
            loading: 'Загрузка...',
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
            exportButtonTitle: "Экспорт",
            printButtonTitle: "Печать",
            rangeSelectorFrom: "С",
            rangeSelectorTo: "По",
            rangeSelectorZoom: "Период",
            downloadPNG: 'Скачать PNG',
            downloadJPEG: 'Скачать JPEG',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            printChart: 'Напечатать график',
            viewFullscreen: 'На весь экран'
        },
        global: {
            timezoneOffset: new Date().getTimezoneOffset()
        }
    });

    Highcharts.chart('container_sum_zagruzka', {
        chart: {
            type: 'bar'
        },
        colors:colors,
        title: {
            text: 'Общая загрузка оборудования'
        },
        xAxis: {
            categories: ['Пресс ЧПУ', 'ЭПП', 'СТП13М']
        },
        credits: {
            enabled: false
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: {point.percentage:.1f}%<br/>',
            shared: true
        },
        yAxis: {
            min: 0,
            title: {
                text: '%'
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'percent'
            },
            series: {
                borderColor: 'gray'
            },
        },
        series: [{
            name: 'Авария',
            data: [press_avar, epp_avar, 0]
        }, {
            name: 'Выключен',
            data: [press_fail, epp_fail, stp13m_fail]
        }, {
            name: 'Ожидание',
            data: [press_pass, epp_pass, stp13m_pass]
        }, {
            name: 'Под нагрузкой',
            data: [press_nagruzka, epp_nagruzka, 0]
        }, {
            name: 'Работа',
            data: [press_work, epp_work, stp13m_work]
        }]
    });

</script>   <!--js Общая загрузка-->
<script th:inline="javascript">

    var data_davlenie = JSON.parse([[${davlenie}]]);
    var data_zad_davlenie = JSON.parse([[${zad_davlenie}]]);
    // var test = data_davlenie.replaceAll('\'',  '');
    // console.log(test);

    Highcharts.setOptions({
        lang: {
            loading: 'Загрузка...',
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
            exportButtonTitle: "Экспорт",
            printButtonTitle: "Печать",
            rangeSelectorFrom: "С",
            rangeSelectorTo: "По",
            rangeSelectorZoom: "Период",
            downloadPNG: 'Скачать PNG',
            downloadJPEG: 'Скачать JPEG',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            printChart: 'Напечатать график',
            viewFullscreen: 'На весь экран'
        }
    });

    Highcharts.getJSON(
        'https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/usdeur.json',
        function (data) {

            Highcharts.chart('container_press_davlenie', {
                chart: {
                    zoomType: 'x'
                },
                time: {
                    timezoneOffset: 0
                },
                title: {
                    text: 'Хронология запрессовок Пресса ЧПУ'
                },
                xAxis: {
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: 'Давление, тонн'
                    }
                },
                legend: {
                    reversed: true
                },
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: {
                                x1: 0,
                                y1: 0,
                                x2: 0,
                                y2: 1
                            },
                            stops: [
                                [0, Highcharts.getOptions().colors[0]],
                                [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                            ]
                        },
                        marker: {
                            radius: 2
                        },
                        lineWidth: 1,
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        },
                        threshold: null
                    }
                },
                credits: {
                    enabled: false
                },

                series: [{
                    type: 'area',
                    name: 'Давление запрессовки, т',
                    data: data_davlenie
                },{

                    name: 'Заданное давление, т',
                    data: data_zad_davlenie
                }
                ]
            });
        }
    );

</script>   <!--Пресс js Давление-->
<script th:inline="javascript">

    var data_tok = JSON.parse([[${epp_tok}]]);
    var data_temperatura = JSON.parse([[${epp_temperatura}]]);


    Highcharts.setOptions({
        lang: {
            loading: 'Загрузка...',
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
            exportButtonTitle: "Экспорт",
            printButtonTitle: "Печать",
            rangeSelectorFrom: "С",
            rangeSelectorTo: "По",
            rangeSelectorZoom: "Период",
            downloadPNG: 'Скачать PNG',
            downloadJPEG: 'Скачать JPEG',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            printChart: 'Напечатать график',
            viewFullscreen: 'На весь экран'
        }
    });

    Highcharts.getJSON(
        'https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/usdeur.json',
        function (data) {

            Highcharts.chart('container_epp_tok', {
                chart: {
                    zoomType: 'x'
                },
                time: {
                    timezoneOffset: 0
                },
                title: {
                    text: 'Хронология технологического процесса ЭПП'
                },
                xAxis: {
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: 'Амплитуда'
                    }
                },
                legend: {
                    reversed: true
                },
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: {
                                x1: 0,
                                y1: 0,
                                x2: 0,
                                y2: 1
                            },
                            stops: [
                                [0, Highcharts.getOptions().colors[0]],
                                [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                            ]
                        },
                        marker: {
                            radius: 2
                        },
                        lineWidth: 1,
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        },
                        threshold: null
                    }
                },
                credits: {
                    enabled: false
                },

                series: [{
                    type: 'area',
                    name: 'Ток, А',
                    data: data_tok
                },
                    {
                        name: 'Температура, С',
                        data: data_temperatura
                    }
                ]
            });
        }
    );

</script>   <!--ЭПП js Ток и Температура-->
<script th:inline="javascript">
    var press_koef = (press_work + press_nagruzka + press_pass + press_avar + press_fail)/100;
    var epp_koef = (epp_work + epp_nagruzka + epp_pass + epp_avar + epp_fail)/100;
    var stp13m_koef = (stp13m_work + stp13m_pass + stp13m_fail)/100;

    table = document.getElementById('myTable').rows; // Обращение к таблице по ID
    table[1].cells[1].innerHTML = Math.round(press_work/press_koef * 10) / 10 + "%";
    table[2].cells[1].innerHTML = Math.round(epp_work/epp_koef * 10) / 10 + "%";
    table[3].cells[1].innerHTML = Math.round(stp13m_work/stp13m_koef * 10) / 10 + "%";
    // Столбец Работа

    table[1].cells[2].innerHTML = Math.round(press_nagruzka/press_koef * 10) / 10 + "%";
    table[2].cells[2].innerHTML = Math.round(epp_nagruzka/epp_koef * 10) / 10 + "%";
    // Столбец Нагрузка

    table[1].cells[3].innerHTML = Math.round(press_pass/press_koef  * 10) / 10 + "%";
    table[2].cells[3].innerHTML = Math.round(epp_pass/epp_koef * 10) / 10 + "%";
    table[3].cells[3].innerHTML = Math.round(stp13m_pass/stp13m_koef * 10) / 10 + "%";
    // Столбец пауза

    table[1].cells[4].innerHTML = Math.round(press_avar/press_koef * 10) / 10 + "%";
    table[2].cells[4].innerHTML = Math.round(epp_avar/epp_koef * 10) / 10 + "%";
    //Столбец ручной режим

    table[1].cells[5].innerHTML = Math.round(press_fail/press_koef * 10) / 10 + "%";
    table[2].cells[5].innerHTML = Math.round(epp_fail/epp_koef * 10) / 10 + "%";
    table[3].cells[5].innerHTML = Math.round(stp13m_fail/stp13m_koef * 10) / 10 + "%";
    // Столбец выключен



</script><!--Запись переменных в таблицу-->
</body>
</html>