<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Спец. комплексы</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" href="../css/styles_stanki.css"/>
    <link rel="stylesheet" type="text/css" href="../css/report_day_style.css"/>
    <!--  <link rel="stylesheet" type="text/css" href="../css/menu_buttons.css"/> &lt;!&ndash; Меню &ndash;&gt;-->
    <!--  <link rel="stylesheet" type="text/css" href="../css/styles_header.css"/>-->

    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>

    <script src="../js/lib/highcharts.js"></script>
    <script src="../js/lib/exporting.js"></script>
    <script src="../js/lib/export-data.js"></script>
    <script src="../js/lib/accessibility.js"></script>
    <script src="../js/lib/xrange.js"></script>

    <script src="../js/lib/jquery-3.6.0.min.js"></script>
    <script src="../js/lib/bootstrap-3.3.0.min.js"></script>

</head>
<body>
<h1>Спец. комплексы</h1>
<div style="display: flex; justify-content: space-around; min-height: 50vh;">
    <div id="container_sum_zagruzka" style="width: 45%"></div>
    <table id='myTable' style="width: 45%">
            <thead>
            <tr>
                <th>Станки</th>
                <th>Работа</th>
                <th>Пауза</th>
                <th>Выключен</th>
                <th>Авария</th>
                <th>Нагрузка</th>
            </tr>
            </thead>
            <tbody>
            <tr class="hit">
                <td>Пресс ЧПУ для ступиц</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
            </tr>
            <tr class="hit">
                <td>ЭПП</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
            </tr>
            <tr class="hit">
                <td>СТП13М</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
            </tr>
            </tbody>
        </table>    <!--Таблица изменений-->
</div>  <!--Общая загрузка и количество операций html-->

<div style="display: flex; justify-content: space-around; min-height: 40vh;">
    <div style="width: 45%;" id="container_press_davlenie"></div>
    <div style="width: 45%;" id="container_epp_tok"></div>
</div>  <!--Общие Ток и давление-->


<!--<script th:inline="javascript">-->


<!--    var data_davlenie = JSON.parse([[${davlenie}]]);-->
<!--    var data_zad_davlenie = JSON.parse([[${zad_davlenie}]]);-->
<!--    // var test = data_davlenie.replaceAll('\'',  '');-->
<!--    // console.log(test);-->

<!--    Highcharts.setOptions({-->
<!--        lang: {-->
<!--            loading: 'Загрузка...',-->
<!--            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],-->
<!--            weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],-->
<!--            shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],-->
<!--            exportButtonTitle: "Экспорт",-->
<!--            printButtonTitle: "Печать",-->
<!--            rangeSelectorFrom: "С",-->
<!--            rangeSelectorTo: "По",-->
<!--            rangeSelectorZoom: "Период",-->
<!--            downloadPNG: 'Скачать PNG',-->
<!--            downloadJPEG: 'Скачать JPEG',-->
<!--            downloadPDF: 'Скачать PDF',-->
<!--            downloadSVG: 'Скачать SVG',-->
<!--            printChart: 'Напечатать график',-->
<!--            viewFullscreen: 'На весь экран'-->
<!--        }-->
<!--    });-->

<!--    Highcharts.getJSON(-->
<!--        'https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/usdeur.json',-->
<!--        function (data) {-->

<!--            Highcharts.chart('container_press_davlenie', {-->
<!--                chart: {-->
<!--                    zoomType: 'x'-->
<!--                },-->
<!--                time: {-->
<!--                    timezoneOffset: 0-->
<!--                },-->
<!--                title: {-->
<!--                    text: 'Хронология запрессовок Пресса ЧПУ'-->
<!--                },-->
<!--                xAxis: {-->
<!--                    type: 'datetime'-->
<!--                },-->
<!--                yAxis: {-->
<!--                    title: {-->
<!--                        text: 'Давление, тонн'-->
<!--                    }-->
<!--                },-->
<!--                legend: {-->
<!--                    reversed: true-->
<!--                },-->
<!--                plotOptions: {-->
<!--                    area: {-->
<!--                        fillColor: {-->
<!--                            linearGradient: {-->
<!--                                x1: 0,-->
<!--                                y1: 0,-->
<!--                                x2: 0,-->
<!--                                y2: 1-->
<!--                            },-->
<!--                            stops: [-->
<!--                                [0, Highcharts.getOptions().colors[0]],-->
<!--                                [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]-->
<!--                            ]-->
<!--                        },-->
<!--                        marker: {-->
<!--                            radius: 2-->
<!--                        },-->
<!--                        lineWidth: 1,-->
<!--                        states: {-->
<!--                            hover: {-->
<!--                                lineWidth: 1-->
<!--                            }-->
<!--                        },-->
<!--                        threshold: null-->
<!--                    }-->
<!--                },-->
<!--                credits: {-->
<!--                    enabled: false-->
<!--                },-->

<!--                series: [{-->
<!--                    type: 'area',-->
<!--                    name: 'Давление запрессовки, т',-->
<!--                    data: data_davlenie-->
<!--                },{-->

<!--                    name: 'Заданное давление, т',-->
<!--                    data: data_zad_davlenie-->
<!--                }-->
<!--                ]-->
<!--            });-->
<!--        }-->
<!--    );-->

<!--</script>   &lt;!&ndash;Пресс js Давление&ndash;&gt;-->
<!--<script th:inline="javascript">-->

<!--    var data_tok = JSON.parse([[${epp_tok}]]);-->
<!--    var data_temperatura = JSON.parse([[${epp_temperatura}]]);-->


<!--    Highcharts.setOptions({-->
<!--        lang: {-->
<!--            loading: 'Загрузка...',-->
<!--            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],-->
<!--            weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],-->
<!--            shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],-->
<!--            exportButtonTitle: "Экспорт",-->
<!--            printButtonTitle: "Печать",-->
<!--            rangeSelectorFrom: "С",-->
<!--            rangeSelectorTo: "По",-->
<!--            rangeSelectorZoom: "Период",-->
<!--            downloadPNG: 'Скачать PNG',-->
<!--            downloadJPEG: 'Скачать JPEG',-->
<!--            downloadPDF: 'Скачать PDF',-->
<!--            downloadSVG: 'Скачать SVG',-->
<!--            printChart: 'Напечатать график',-->
<!--            viewFullscreen: 'На весь экран'-->
<!--        }-->
<!--    });-->

<!--    Highcharts.getJSON(-->
<!--        'https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/usdeur.json',-->
<!--        function (data) {-->

<!--            Highcharts.chart('container_epp_tok', {-->
<!--                chart: {-->
<!--                    zoomType: 'x'-->
<!--                },-->
<!--                time: {-->
<!--                    timezoneOffset: 0-->
<!--                },-->
<!--                title: {-->
<!--                    text: 'Хронология технологического процесса ЭПП'-->
<!--                },-->
<!--                xAxis: {-->
<!--                    type: 'datetime'-->
<!--                },-->
<!--                yAxis: {-->
<!--                    title: {-->
<!--                        text: 'Амплитуда'-->
<!--                    }-->
<!--                },-->
<!--                legend: {-->
<!--                    reversed: true-->
<!--                },-->
<!--                plotOptions: {-->
<!--                    area: {-->
<!--                        fillColor: {-->
<!--                            linearGradient: {-->
<!--                                x1: 0,-->
<!--                                y1: 0,-->
<!--                                x2: 0,-->
<!--                                y2: 1-->
<!--                            },-->
<!--                            stops: [-->
<!--                                [0, Highcharts.getOptions().colors[0]],-->
<!--                                [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]-->
<!--                            ]-->
<!--                        },-->
<!--                        marker: {-->
<!--                            radius: 2-->
<!--                        },-->
<!--                        lineWidth: 1,-->
<!--                        states: {-->
<!--                            hover: {-->
<!--                                lineWidth: 1-->
<!--                            }-->
<!--                        },-->
<!--                        threshold: null-->
<!--                    }-->
<!--                },-->
<!--                credits: {-->
<!--                    enabled: false-->
<!--                },-->

<!--                series: [{-->
<!--                    type: 'area',-->
<!--                    name: 'Ток, А',-->
<!--                    data: data_tok-->
<!--                },-->
<!--                    {-->
<!--                        name: 'Температура, С',-->
<!--                        data: data_temperatura-->
<!--                    }-->
<!--                ]-->
<!--            });-->
<!--        }-->
<!--    );-->

<!--</script>   &lt;!&ndash;ЭПП js Ток и Температура&ndash;&gt;-->

<script th:inline="javascript">
    var linear_rabota = [];
    var linear_pause = [];
    var linear_off = [];
    var linear_avar = [];
    var linear_nagruzka = [];

    var press_data = [[${press_data}]];
    var epp_data = [[${epp_data}]];
    var stp13m_data = [[${stp13m_data}]];

    // Массив с массивами
    const Diagram = [press_data, epp_data,  stp13m_data]

    table = document.getElementById('myTable').rows; // Обращение к таблице по ID

    var koef = []

    // Функция парсинга элементов массива на диаграмму и таблицу
    $.map(Diagram, function (element, index) {
        // Если массив станка приходит пустым или нулевым, то записываем в диаграмму нули и следующий цикл
        if ((element === null) || (element == 0)) {
            linear_rabota.push(0);
            linear_pause.push(0);
            linear_off.push(0);
            linear_avar.push(0);
            linear_nagruzka.push(0);
            koef.push(0)
            return
        }

        else {
            // Иначе, объявляем массив круговой диаграммы из 6-го массива станка.
            var roundDiagram = element[6];

            // Если этот массив пустой или нулевой, то записываем в диаграмму нули и следующий цикл
            if ((roundDiagram == 0) || (roundDiagram === null)) {
                linear_rabota.push(0);
                linear_pause.push(0);
                linear_off.push(0);
                linear_avar.push(0);
                linear_nagruzka.push(0);
                koef.push(0)
                return
            }

            // Иначе, преобразовываем массив из строк в целые числа
            else {
                // Преобразование элементов круговой диаграммы из строк в числа
                $.each(roundDiagram, function (i) {
                    roundDiagram[i] = parseInt(roundDiagram[i]);
                });

                // Затем вычисляем работу без нагрузки для линейной диаграммы
                roundDiagram[0] = roundDiagram[0] - roundDiagram[4];

                linear_rabota.push(Array(1).fill(roundDiagram[0]));
                linear_pause.push(Array(1).fill(roundDiagram[1]));
                linear_off.push(Array(1).fill(roundDiagram[2]));
                linear_avar.push(Array(1).fill(roundDiagram[3]));
                linear_nagruzka.push(Array(1).fill(roundDiagram[4]));

                //Вычисление коэффициента конкретного станка
                koef.push((roundDiagram[0] + roundDiagram[1] + roundDiagram[2] + roundDiagram[3] + roundDiagram[4]) / 100);

                // Затем цикл, для заполнения таблицы. Index - станок, i - столбец
                $.each(roundDiagram, function (i) {
                    table[index + 1].cells[i + 1].innerHTML = Math.round(roundDiagram[i] / koef[index] * 10) / 10 + "%";
                }); // Конец цикла записи в таблицу

            } // Конец условия, если roundDiagram не пустой
        } // Конец условия, если Diagram[index] не пустой
    // Конец функции $.map(Diagram)
    });

    // Формирование графиков для общих круговой и линейной диаграммы
    var colorsLine = ['#e81e1d','#000000', '#ffea32','#207210','#38e817'];
    Highcharts.chart('container_sum_zagruzka', {
        chart: {
            type: 'column'
        },
        colors:colorsLine,
        title: {
            text: 'Общая загрузка оборудования'
        },
        xAxis: {
            labels: {
                style: {
                    fontSize: '18px',
                }
            },
            categories: ['Пресс ЧПУ', 'ЭПП', 'СТП13М']
        },
        credits: {
            enabled: false
        },
        yAxis: {
            min: 0,
            title: {
                text: '%'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: {point.percentage:.1f}%<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
        series: [{
            name: 'Авария',
            data: linear_avar
        }, {
            name: 'Выключен',
            data: linear_off
        }, {
            name: 'Ожидание',
            data: linear_pause
        }, {
            name: 'Под нагрузкой',
            data: linear_nagruzka
        }, {
            name: 'Работа',
            data: linear_rabota
        }, ]
    });

</script>   <!--js Общая загрузка и таблица-->
<script>


    function HighchartsPressEpp(container, lata, seriesName1, seriesName2, tittle, yTittle){
        console.log('Что по данным', lata)

                Highcharts.chart(container, {
                    chart: {
                        zoomType: 'x'
                    },
                    time: {
                        timezoneOffset: new Date().getTimezoneOffset()
                    },
                    title: {
                        text: tittle
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: yTittle
                        }
                    },
                    legend: {
                        reversed: true
                    },
                    plotOptions: {
                        area: {
                            fillColor: {
                                linearGradient: {
                                    x1: 0,
                                    y1: 0,
                                    x2: 0,
                                    y2: 1
                                },
                                stops: [
                                    [0, Highcharts.getOptions().colors[0]],
                                    [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                ]
                            },
                            marker: {
                                radius: 2
                            },
                            lineWidth: 1,
                            states: {
                                hover: {
                                    lineWidth: 1
                                }
                            },
                            threshold: null
                        }
                    },
                    credits: {
                        enabled: false
                    },

                    series: [{
                        type: 'area',
                        name: seriesName1,
                        data: lata[0]
                    },
                        {
                            name: seriesName2,
                            data: lata[1]
                        }
                    ]
                });
    }

    function dayNow() {
        let calendarDate = new Date().toLocaleString()
        return `${calendarDate.slice(6, 10)}-${calendarDate.slice(3, 5)}-${calendarDate.slice(0, 2)}`
    }

    function fetchRequestPressEpp(signal,date=dayNow()) {

        let serverDomain = window.location.hostname
        let serverPort = window.location.port

        let url = `http://${serverDomain}:${serverPort}/api/signal/idSignal:${signal}_date:${date}`

        return fetch(url, {method: 'GET'})
            .then((response) => response.json())
            .then((data) => {
                return data
            })
    }

    let eppNames = [7545716, 7545711]
    let epp = Promise.all(eppNames.map((item) => {
        return fetchRequestPressEpp(item)
    }));

    epp.then((e,i)=>{
        let container = 'container_epp_tok'

        let s1 = 'Ток, А'
        let s2 = 'Температура, С'
        let te = 'Хронология технологического процесса ЭПП'
        let tittleY = 'Амплитуда'


        let temp = e[1].map(k=>{
            return k.split(',').map(f=>{
                return parseInt(f, 10);
            })
        })

        temp.forEach(e=>{
            e[0] *= 1000
        })

        let davl = e[0].map(k=>{
            return k.split(',').map(f=>{
                return parseInt(f, 10);
            })
        })

        davl.forEach(e=>{
            e[0] *= 1000
        })

        HighchartsPressEpp(container, [temp, davl], s1, s2, te, tittleY)
    })

    // Задержка.
    setTimeout(()=>{
        let pressNames = [2899049, 2899041]
        let press = Promise.all(pressNames.map((item) => {
            return fetchRequestPressEpp(item)
        }));
        press.then((e,i)=>{
            let container = 'container_press_davlenie'

            let s1 = 'Давление запрессовки, т'
            let s2 = 'Заданное давление, т'
            let te = 'Хронология запрессовок Пресса ЧПУ'
            let tittleY = 'Давление, тонн'


            let zad = e[0].map(k=>{
                return k.split(',').map(f=>{
                    return parseInt(f, 10);
                })
            })

            zad.forEach(e=>{
                e[0] *= 1000
            })

            let davl = e[1].map(k=>{
                return k.split(',').map(f=>{
                    return parseInt(f, 10);
                })
            })

            davl.forEach(e=>{
                e[0] *= 1000
            })

            HighchartsPressEpp(container, [davl, zad], s1, s2, te, tittleY)
        })
    }, 500)




</script>
</body>
</html>


