<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Остальное</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" href="../css/styles_stanki.css"/>
    <link rel="stylesheet" type="text/css" href="../css/report_day_style.css"/>
    <!--  <link rel="stylesheet" type="text/css" href="../css/menu_buttons.css"/> &lt;!&ndash; Меню &ndash;&gt;-->
    <!--  <link rel="stylesheet" type="text/css" href="../css/styles_header.css"/>-->

    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>

    <script src="../js/highcharts.js"></script>
    <script src="../js/exporting.js"></script>
    <script src="../js/export-data.js"></script>
    <script src="../js/accessibility.js"></script>
    <script src="../js/xrange.js"></script>

    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/bootstrap-3.3.0.min.js"></script>

</head>
<body>
<h1>ОТК, Склады, Литейка, Гибка</h1>
<div style="display: flex; justify-content: space-around; min-height: 80vh;">
    <div id="container_sum_zagruzka" style="min-height: 400px; width: 45%"></div>
    <table id='myTable' style="min-height: 400px; width: 45%">
        <thead>
        <tr>
            <th>Станки</th>
            <th>Работа</th>
            <th>Пауза</th>
            <th>Выключен</th>
            <th>Авария</th>
            <th>Нагрузка</th>
            <th>Ручной режим</th>
        </tr>
        </thead>
        <tbody>
        <tr class="hit">
            <td>CRYSTA-Apex</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>Склад Мех. цеха</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>Печь Индукционная</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>FACCIN 4</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>FACCIN 10</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        </tbody>
    </table>    <!--Таблица изменений-->
    <!--Общая загрузка html-->
</div>  <!--Общая загрузка и количество операций html-->

<script th:inline="javascript">
    var linear_rabota = [];
    var linear_pause = [];
    var linear_off = [];
    var linear_avar = [];
    var linear_nagruzka = [];
    var linear_kalibrovka = [];

    var kim_data = [[${kim_data}]];
    var sclad_meh_data = [[${sclad_meh_data}]];
    var pech_nerg_data = [[${pech_nerg_data}]];
    var faccin_1_data = [[${faccin_1_data}]];
    var faccin_2_data = [[${faccin_2_data}]];


    // Массив с массивами
    const Diagram = [kim_data, sclad_meh_data,  pech_nerg_data, faccin_1_data, faccin_2_data]

    table = document.getElementById('myTable').rows; // Обращение к таблице по ID

    var koef = []

    $.map(Diagram, function (element, index) {
        // Отказ от работы с пустым массивом
        if(element != 0 || element.length != 0) {
            var roundDiagram = element[6];

            if (roundDiagram != null) {
                // Преобразование элементов круговой диаграммы из строк в числа
                $.each(roundDiagram, function (i) {
                    roundDiagram[i] = parseInt(roundDiagram[i]);
                });

                // Вычисление работы без нагрузки для линейной диаграммы
                roundDiagram[0] = roundDiagram[0] - roundDiagram[4];
            }


            // Заполнение переменных общей круговой и линейной диаграмм
            if (roundDiagram != 0) {

                if(index === 0 )
                {
                    linear_rabota.push(Array(1).fill(roundDiagram[0]));
                    linear_pause.push(Array(1).fill(roundDiagram[1]));
                    linear_off.push(Array(1).fill(roundDiagram[2]));
                    linear_avar.push(Array(1).fill(roundDiagram[3]));
                    linear_kalibrovka.push(Array(1).fill(roundDiagram[4]));
                    linear_nagruzka.push(0);
                    koef.push((roundDiagram[0] + roundDiagram[1] + roundDiagram[2] + roundDiagram[3] + roundDiagram[4]) / 100);
                }
                else
                {
                    linear_rabota.push(Array(1).fill(roundDiagram[0]));
                    linear_pause.push(Array(1).fill(roundDiagram[1]));
                    linear_off.push(Array(1).fill(roundDiagram[2]));
                    linear_avar.push(Array(1).fill(roundDiagram[3]));
                    linear_nagruzka.push(Array(1).fill(roundDiagram[4]));
                    linear_kalibrovka.push(0);
                    koef.push((roundDiagram[0] + roundDiagram[1] + roundDiagram[2] + roundDiagram[3] + roundDiagram[4]) / 100);}
                }
            else
            {
                linear_rabota.push(0);
                linear_pause.push(0);
                linear_off.push(0);
                linear_avar.push(0);
                linear_nagruzka.push(0);
                linear_kalibrovka.push(0);
                koef.push(0)
            }
        }
        else
        {
            linear_rabota.push(0);
            linear_pause.push(0);
            linear_off.push(0);
            linear_avar.push(0);
            linear_nagruzka.push(0);
            linear_kalibrovka.push(0);
            koef.push(0)
        }

        $.each(roundDiagram, function (i) {
            // Спец. условие для kim
            if(index === 0)
            {
                if(i === 4)
                {
                    table[index + 1].cells[i + 2].innerHTML = Math.round(roundDiagram[i] / koef[index] * 10) / 10 + "%";
                }
                else{
                    table[index + 1].cells[i + 1].innerHTML = Math.round(roundDiagram[i] / koef[index] * 10) / 10 + "%";
                }

            }
            else{
                table[index + 1].cells[i + 1].innerHTML = Math.round(roundDiagram[i] / koef[index] * 10) / 10 + "%";
            }

        });
    });

    // Формирование графиков для общих круговой и линейной диаграммы
    var colorsLine = ['#e81e1d','#000000', '#ffea32','#5c7ed0','#207210','#38e817'];
    Highcharts.chart('container_sum_zagruzka', {
        chart: {
            type: 'column'
        },
        colors:colorsLine,
        title: {
            text: 'Общая загрузка оборудования'
        },
        xAxis: {
            labels: {
                style: {
                    fontSize: '18px',
                }
            },
            categories: ['CRYSTA-Apex', 'Склад Мех. цеха', 'Печь Индукционная', 'FACCIN 4', 'FACCIN 10']
        },
        credits: {
            enabled: false
        },
        yAxis: {
            min: 0,
            title: {
                text: '%'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: {point.percentage:.1f}%<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
        series: [{
            name: 'Авария',
            data: linear_avar
        }, {
            name: 'Выключен',
            data: linear_off
        }, {
            name: 'Ожидание',
            data: linear_pause
        }, {
            name: 'Ручной режим',
            data: linear_kalibrovka
        },{
            name: 'Под нагрузкой',
            data: linear_nagruzka
        }, {
            name: 'Работа',
            data: linear_rabota
        }, ]
    });

</script>   <!--js Общая загрузка и таблица-->
</body>
</html>