<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Резка</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" href="../css/styles_stanki.css"/>
    <link rel="stylesheet" type="text/css" href="../css/report_day_style.css"/>
    <!--  <link rel="stylesheet" type="text/css" href="../css/menu_buttons.css"/> &lt;!&ndash; Меню &ndash;&gt;-->
    <!--  <link rel="stylesheet" type="text/css" href="../css/styles_header.css"/>-->

    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>

    <script src="../js/highcharts.js"></script>
    <script src="../js/exporting.js"></script>
    <script src="../js/export-data.js"></script>
    <script src="../js/accessibility.js"></script>
    <script src="../js/xrange.js"></script>

    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/bootstrap-3.3.0.min.js"></script>

</head>
<body>
<h1>Резка</h1>
<div style="display: flex; justify-content: space-around; min-height: 80vh;">
    <div id="container_sum_zagruzka" style="min-height: 400px; width: 45%"></div>
    <table id='myTable' style="min-height: 400px; width: 45%">
        <thead>
        <tr>
            <th>Станки</th>
            <th>Работа</th>
            <th>Нагрузка</th>
            <th>Пауза</th>
            <th>Авария</th>
            <th>Выключен</th>
        </tr>
        </thead>
        <tbody>
        <tr class="hit">
            <td>Навигатор #1</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>Навигатор #2-1</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>Навигатор #2-2</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>Навигатор #3</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>TruLaser</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>Комета #1</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>Комета #2</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>Комета #3</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr class="hit">
            <td>AR55</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        </tbody>
    </table>    <!--Таблица изменений-->
    <!--Общая загрузка html-->
</div>  <!--Общая загрузка и количество операций html-->
<script th:inline="javascript">

    var colors = ['#e81e1d','#000000', '#ffea32','#207210','#38e817'];

    var navigator_1_work_sum = [[${work}]];
    var navigator_1_pass_sum = [[${pass}]];
    var navigator_1_fail_sum = [[${fail}]];
    var navigator_1_avar_sum = [[${avar}]];
    var navigator_1_nagruzka_sum = [[${nagruzka}]];

    var work_2_golova_1_sum = [[${work_2_golova_1}]];
    var pass_2_golova_1_sum = [[${pass_2_golova_1}]];
    var fail_2_golova_1_sum = [[${fail_2_golova_1}]];
    var avar_2_golova_1_sum = [[${avar_2_golova_1}]];
    var nagruzka_2_golova_1_sum = [[${nagruzka_2_golova_1}]];

    var work_2_golova_2_sum = [[${work_2_golova_2}]];
    var pass_2_golova_2_sum = [[${pass_2_golova_2}]];
    var fail_2_golova_2_sum = [[${fail_2_golova_2}]];
    var avar_2_golova_2_sum = [[${avar_2_golova_2}]];
    var nagruzka_2_golova_2_sum = [[${nagruzka_2_golova_2}]];

    var navigator_3_work_sum = [[${work_3}]];
    var navigator_3_pass_sum = [[${pass_3}]];
    var navigator_3_fail_sum = [[${fail_3}]];
    var navigator_3_avar_sum = [[${avar_3}]];
    var navigator_3_nagruzka_sum = [[${nagruzka_3}]];

    var trulaser_work_sum = [[${work_trulaser}]];
    var trulaser_pass_sum = [[${pass_trulaser}]];
    var trulaser_fail_sum = [[${fail_trulaser}]];

    var kometa_1_work_sum = [[${work_kometa_1}]];
    var kometa_1_pass_sum = [[${pass_kometa_1}]];
    var kometa_1_fail_sum = [[${fail_kometa_1}]];

    var kometa_2_work_sum = [[${work_kometa_2}]];
    var kometa_2_pass_sum = [[${pass_kometa_2}]];
    var kometa_2_fail_sum = [[${fail_kometa_2}]];

    var kometa_3_work_sum = [[${work_kometa_3}]];
    var kometa_3_pass_sum = [[${pass_kometa_3}]];
    var kometa_3_fail_sum = [[${fail_kometa_3}]];

    var ar55_work_sum = [[${work_ar55}]];
    var ar55_pass_sum = [[${pass_ar55}]];
    var ar55_fail_sum = [[${fail_ar55}]];
    var ar55_nagruzka_sum = [[${nagruzka_ar55}]];
    var ar55_avar_sum = [[${avar_ar55}]];

    Highcharts.setOptions({
        lang: {
            loading: 'Загрузка...',
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
            exportButtonTitle: "Экспорт",
            printButtonTitle: "Печать",
            rangeSelectorFrom: "С",
            rangeSelectorTo: "По",
            rangeSelectorZoom: "Период",
            downloadPNG: 'Скачать PNG',
            downloadJPEG: 'Скачать JPEG',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            printChart: 'Напечатать график',
            viewFullscreen: 'На весь экран'
        },
        global: {
            timezoneOffset: new Date().getTimezoneOffset()
        }
    });

    Highcharts.chart('container_sum_zagruzka', {
        chart: {
            type: 'column'
        },
        colors:colors,
        title: {
            text: 'Общая загрузка оборудования'
        },
        xAxis: {
            labels: {
                style: {
                    fontSize: '18px',
                }
            },
            categories: ['Навигатор #1', 'Навигатор #2 - голова 1', 'Навигатор #2 - голова 2', 'Навигатор #3', 'TruLaser', 'Комета #1', 'Комета #2', 'Комета #3', 'AR55']
        },
        credits: {
            enabled: false
        },
        yAxis: {
            min: 0,
            title: {
                text: '%'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: {point.percentage:.1f}%<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            },
            series: {
                borderColor: 'gray'
            },
        },
        series: [{
            name: 'Авария',
            data: [navigator_1_avar_sum, avar_2_golova_1_sum, avar_2_golova_2_sum, navigator_3_avar_sum, 0, 0, 0, 0, ar55_avar_sum]
        }, {
            name: 'Выключен',
            data: [navigator_1_fail_sum, fail_2_golova_1_sum, fail_2_golova_2_sum, navigator_3_fail_sum, trulaser_fail_sum, kometa_1_fail_sum, kometa_2_fail_sum, kometa_3_fail_sum, ar55_fail_sum]
        }, {
            name: 'Ожидание',
            data: [navigator_1_pass_sum, pass_2_golova_1_sum, pass_2_golova_2_sum, navigator_3_pass_sum, trulaser_pass_sum, kometa_1_pass_sum, kometa_2_pass_sum, kometa_3_pass_sum, ar55_pass_sum]
        }, {
            name: 'Под нагрузкой',
            data: [navigator_1_nagruzka_sum, nagruzka_2_golova_1_sum, nagruzka_2_golova_2_sum, navigator_3_nagruzka_sum, 0, 0, 0, 0, ar55_nagruzka_sum]
        }, {
            name: 'Работа',
            data: [navigator_1_work_sum, work_2_golova_1_sum, work_2_golova_2_sum, navigator_3_work_sum, trulaser_work_sum, kometa_1_work_sum, kometa_2_work_sum, kometa_3_work_sum, ar55_work_sum]
        }, ]
    });

</script>   <!--js Общая загрузка-->
<script th:inline="javascript">
    var navigator_1_koef = (navigator_1_work_sum + navigator_1_pass_sum + navigator_1_fail_sum + navigator_1_avar_sum + navigator_1_nagruzka_sum)/100;
    var golova_1_koef = (work_2_golova_1_sum + pass_2_golova_1_sum + fail_2_golova_1_sum + avar_2_golova_1_sum + nagruzka_2_golova_1_sum)/100;
    var golova_2_koef = (work_2_golova_2_sum + pass_2_golova_2_sum + fail_2_golova_2_sum + avar_2_golova_2_sum + nagruzka_2_golova_2_sum)/100;
    var navigator_3_koef = (navigator_3_work_sum + navigator_3_pass_sum + navigator_3_fail_sum + navigator_3_avar_sum + navigator_3_nagruzka_sum)/100;
    var trulaser_koef = (trulaser_work_sum + trulaser_pass_sum + trulaser_fail_sum)/100;
    var kometa_1_koef = (kometa_1_work_sum + kometa_1_pass_sum + kometa_1_fail_sum)/100;
    var kometa_2_koef = (kometa_2_work_sum + kometa_2_pass_sum + kometa_2_fail_sum)/100;
    var kometa_3_koef = (kometa_3_work_sum + kometa_3_pass_sum + kometa_3_fail_sum)/100;
    var ar55_koef = (ar55_work_sum + ar55_pass_sum + ar55_fail_sum + ar55_avar_sum + ar55_nagruzka_sum)/100;

    table = document.getElementById('myTable').rows; // Обращение к таблице по ID
    table[1].cells[1].innerHTML = Math.round(navigator_1_work_sum/navigator_1_koef * 10) / 10 + "%";
    table[2].cells[1].innerHTML = Math.round(work_2_golova_1_sum/golova_1_koef * 10) / 10 + "%";
    table[3].cells[1].innerHTML = Math.round(work_2_golova_2_sum/golova_2_koef * 10) / 10 + "%";
    table[4].cells[1].innerHTML = Math.round(navigator_3_work_sum/navigator_3_koef * 10) / 10 + "%";
    table[5].cells[1].innerHTML = Math.round(trulaser_work_sum/trulaser_koef * 10) / 10 + "%";
    table[6].cells[1].innerHTML = Math.round(kometa_1_work_sum/kometa_1_koef * 10) / 10 + "%";
    table[7].cells[1].innerHTML = Math.round(kometa_2_work_sum/kometa_2_koef * 10) / 10 + "%";
    table[8].cells[1].innerHTML = Math.round(kometa_3_work_sum/kometa_3_koef * 10) / 10 + "%";
    table[9].cells[1].innerHTML = Math.round(ar55_work_sum/ar55_koef * 10) / 10 + "%";
    // Столбец Работа

    table[1].cells[2].innerHTML = Math.round(navigator_1_nagruzka_sum/navigator_1_koef * 10) / 10 + "%";
    table[2].cells[2].innerHTML = Math.round(nagruzka_2_golova_1_sum/golova_1_koef * 10) / 10 + "%";
    table[3].cells[2].innerHTML = Math.round(nagruzka_2_golova_2_sum/golova_2_koef * 10) / 10 + "%";
    table[4].cells[2].innerHTML = Math.round(navigator_3_nagruzka_sum/navigator_3_koef * 10) / 10 + "%";
    table[5].cells[2].innerHTML = Math.round(ar55_nagruzka_sum/ar55_koef * 10) / 10 + "%";
    // Столбец Нагрузка

    table[1].cells[3].innerHTML = Math.round(navigator_1_pass_sum/navigator_1_koef * 10) / 10 + "%";
    table[2].cells[3].innerHTML = Math.round(pass_2_golova_1_sum/golova_1_koef * 10) / 10 + "%";
    table[3].cells[3].innerHTML = Math.round(pass_2_golova_2_sum/golova_2_koef * 10) / 10 + "%";
    table[4].cells[3].innerHTML = Math.round(navigator_3_pass_sum/navigator_3_koef * 10) / 10 + "%";
    table[5].cells[3].innerHTML = Math.round(trulaser_pass_sum/trulaser_koef * 10) / 10 + "%";
    table[6].cells[3].innerHTML = Math.round(kometa_1_pass_sum/kometa_1_koef * 10) / 10 + "%";
    table[7].cells[3].innerHTML = Math.round(kometa_2_pass_sum/kometa_2_koef * 10) / 10 + "%";
    table[8].cells[3].innerHTML = Math.round(kometa_3_pass_sum/kometa_3_koef * 10) / 10 + "%";
    table[9].cells[3].innerHTML = Math.round(ar55_pass_sum/ar55_koef * 10) / 10 + "%";
    // Столбец пауза

    table[1].cells[4].innerHTML = Math.round(navigator_1_avar_sum/navigator_1_koef * 10) / 10 + "%";
    table[2].cells[4].innerHTML = Math.round(avar_2_golova_1_sum/golova_1_koef * 10) / 10 + "%";
    table[3].cells[4].innerHTML = Math.round(avar_2_golova_2_sum/golova_2_koef * 10) / 10 + "%";
    table[4].cells[4].innerHTML = Math.round(navigator_3_avar_sum/navigator_3_koef * 10) / 10 + "%";
    table[5].cells[4].innerHTML = Math.round(ar55_avar_sum/ar55_koef * 10) / 10 + "%";
    // Столбец выключен

    table[1].cells[5].innerHTML = Math.round(navigator_1_fail_sum/navigator_1_koef * 10) / 10 + "%";
    table[2].cells[5].innerHTML = Math.round(fail_2_golova_1_sum/golova_1_koef * 10) / 10 + "%";
    table[3].cells[5].innerHTML = Math.round(fail_2_golova_2_sum/golova_2_koef * 10) / 10 + "%";
    table[4].cells[5].innerHTML = Math.round(navigator_3_fail_sum/navigator_3_koef * 10) / 10 + "%";
    table[5].cells[5].innerHTML = Math.round(trulaser_fail_sum/trulaser_koef * 10) / 10 + "%";
    table[6].cells[5].innerHTML = Math.round(kometa_1_fail_sum/kometa_1_koef * 10) / 10 + "%";
    table[7].cells[5].innerHTML = Math.round(kometa_2_fail_sum/kometa_2_koef * 10) / 10 + "%";
    table[8].cells[5].innerHTML = Math.round(kometa_3_fail_sum/kometa_3_koef * 10) / 10 + "%";
    table[9].cells[5].innerHTML = Math.round(ar55_fail_sum/ar55_koef * 10) / 10 + "%";
    //Столбец ручной режим

</script><!--Запись переменных в таблицy-->
</body>
</html>