<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Станки Мех.площадка II</title>
  <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>

  <link rel="stylesheet" type="text/css" href="../css/styles_stanki.css"/>
  <link rel="stylesheet" type="text/css" href="../css/report_day_style.css"/>
<!--  <link rel="stylesheet" type="text/css" href="../css/menu_buttons.css"/> &lt;!&ndash; Меню &ndash;&gt;-->
<!--  <link rel="stylesheet" type="text/css" href="../css/styles_header.css"/>-->

  <link href="../css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>

  <script src="../js/highcharts.js"></script>
  <script src="../js/exporting.js"></script>
  <script src="../js/export-data.js"></script>
  <script src="../js/accessibility.js"></script>
  <script src="../js/xrange.js"></script>

  <script src="../js/jquery-3.6.0.min.js"></script>
  <script src="../js/bootstrap-3.3.0.min.js"></script>

</head>
<body>
<h1>Станки Мех.площадка II</h1>
<div style="display: flex; justify-content: space-around; min-height: 80vh;">
  <div id="container_sum_zagruzka" style="min-height: 400px; width: 45%"></div>
  <table id='myTable' style="min-height: 400px; width: 45%">
    <thead>
    <tr>
      <th>Станки</th>
      <th>Работа</th>
      <th>Нагрузка</th>
      <th>Пауза</th>
      <th>Авария</th>
      <th>Выключен</th>
      <th>Ручной</th>
    </tr>
    </thead>
    <tbody>
    <tr class="hit">
      <td> УФ5220 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> Прогресс </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> NTX1000 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> SK50 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> APEC </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> DMU50 #3 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> DMU50 #4 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> CTX310 #2 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> CTX510 #2 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> CTX510 #3 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
    <tr class="hit">
      <td> CTX310 #3 </td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
      <td>0%</td>
    </tr>
<!--    <tr class="hit">-->
<!--      <td> CTX510 #4 </td>-->
<!--      <td>0%</td>-->
<!--      <td>0%</td>-->
<!--      <td>0%</td>-->
<!--      <td>0%</td>-->
<!--      <td>0%</td>-->
<!--      <td>0%</td>-->
<!--    </tr>-->
    </tbody>
  </table>    <!--Таблица изменений-->
  <!--Общая загрузка html-->
</div>  <!--Общая загрузка и количество операций html-->
<script th:inline="javascript">

  var colors = ['#38e817', '#207210', '#ffea32', '#e81e1d', '#000000', '#5c7ed0'];

  var work_uf5220 = [[${work}]];
  var work_progress = [[${progress_work}]];
  var work_ntx1000 = [[${ntx1000_work}]];
  var work_sk50 = [[${sk50_work}]];
  var work_apec = [[${apec_work}]];
  var work_dmu50_3 = [[${work_dmg_dmu50_3}]];
  var work_dmu50_4 = [[${work_dmg_dmu50_4}]];
  var work_ctx310_2 = [[${work_dmg_ctx310_2}]];
  var work_ctx510_2 = [[${work_dmg_ctx510_2}]];
  var work_ctx510_3 = [[${work_dmg_ctx510_3}]]
  var work_ctx310_3 = [[${work_dmg_ctx310_3}]];
  var work_ctx510_4 = [[${work_dmg_ctx510_4}]]

  var pause_uf5220 = [[${pass}]];
  var pause_progress = [[${progress_pass}]];
  var pause_ntx1000 = [[${ntx1000_pass}]];
  var pause_sk50 = [[${sk50_pass}]];
  var pause_apec = [[${apec_pass}]];
  var pause_dmu50_3 = [[${pass_dmg_dmu50_3}]];
  var pause_dmu50_4 = [[${pass_dmg_dmu50_4}]];
  var pause_ctx310_2 = [[${pass_dmg_ctx310_2}]];
  var pause_ctx510_2 = [[${pass_dmg_ctx510_2}]];
  var pause_ctx510_3 = [[${pass_dmg_ctx510_3}]];
  var pause_ctx310_3 = [[${pass_dmg_ctx310_3}]];
  var pause_ctx510_4 = [[${pass_dmg_ctx510_4}]];

  var off_uf5220 = [[${fail}]];
  var off_progress = [[${progress_fail}]];
  var off_ntx1000 = [[${ntx1000_fail}]];
  var off_sk50 = [[${sk50_fail}]];
  var off_apec = [[${apec_fail}]];
  var off_dmu50_3 = [[${fail_dmg_dmu50_3}]];
  var off_dmu50_4 = [[${fail_dmg_dmu50_4}]];
  var off_ctx310_2 = [[${fail_dmg_ctx310_2}]];
  var off_ctx510_2 = [[${fail_dmg_ctx510_2}]];
  var off_ctx510_3 = [[${fail_dmg_ctx510_3}]];
  var off_ctx310_3 = [[${fail_dmg_ctx310_3}]];
  var off_ctx510_4 = [[${fail_dmg_ctx510_4}]];

  var avar_ntx1000 = [[${ntx1000_avar}]];
  var avar_sk50 = [[${sk50_avar}]];
  var avar_apec = [[${apec_avar}]];
  var avar_dmu50_3 = [[${avar_dmg_dmu50_3}]];
  var avar_dmu50_4 = [[${avar_dmg_dmu50_4}]];
  var avar_ctx310_2 = [[${avar_dmg_ctx310_2}]];
  var avar_ctx510_2 = [[${avar_dmg_ctx510_2}]];
  var avar_ctx510_3 = [[${avar_dmg_ctx510_3}]];
  var avar_ctx310_3 = [[${avar_dmg_ctx310_3}]];
  var avar_ctx510_4 = [[${avar_dmg_ctx510_4}]];

  var nagruzka_ntx1000 = [[${ntx1000_nagruzka}]];
  var nagruzka_sk50 = [[${sk50_nagruzka}]];
  var nagruzka_dmu50_3 = [[${nagruzka_dmg_dmu50_3}]];
  var nagruzka_dmu50_4 = [[${nagruzka_dmg_dmu50_4}]];
  var nagruzka_ctx310_2 = [[${nagruzka_dmg_ctx310_2}]];
  var nagruzka_ctx510_2 = [[${nagruzka_dmg_ctx510_2}]];
  var nagruzka_ctx510_3 = [[${nagruzka_dmg_ctx510_3}]];
  var nagruzka_ctx310_3 = [[${nagruzka_dmg_ctx310_3}]];
  var nagruzka_ctx510_4 = [[${nagruzka_dmg_ctx510_4}]];


  var ruchnoi_apec = [[${apec_ruchnoi}]];

  Highcharts.setOptions({
    lang: {
      loading: 'Загрузка...',
      months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
      weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
      shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
      exportButtonTitle: "Экспорт",
      printButtonTitle: "Печать",
      rangeSelectorFrom: "С",
      rangeSelectorTo: "По",
      rangeSelectorZoom: "Период",
      downloadPNG: 'Скачать PNG',
      downloadJPEG: 'Скачать JPEG',
      downloadPDF: 'Скачать PDF',
      downloadSVG: 'Скачать SVG',
      printChart: 'Напечатать график',
      viewFullscreen: 'На весь экран'
    },
    global: {
      timezoneOffset: new Date().getTimezoneOffset()
    }
  });

  Highcharts.chart('container_sum_zagruzka', {
    chart: {
      type: 'column'
    },
    colors: colors,
    title: {
      text: 'Общая загрузка оборудования'
    },
    xAxis: {
      labels: {
        style: {
          fontSize: '18px',
        }
      },
      categories: ['УФ5220', 'Прогресс', 'NTX1000', 'SK50', 'APEC', 'DMU50 #3', 'DMU50 #4', 'CTX310 #2', 'CTX510 #2', 'CTX510 #3', 'CTX310 #3'] // 'CTX510 #4'
    },
    credits: {
      enabled: false
    },
    yAxis: {
      min: 0,
      title: {
        text: '%'
      }
    },
    tooltip: {
      pointFormat: '<span style="color:{series.color}">{series.name}</span>: {point.percentage:.1f}%<br/>',
      shared: true
    },
    plotOptions: {
      column: {
        stacking: 'percent'
      }
    },
    series: [{
      name: 'Работа',
      data: [work_uf5220, work_progress, work_ntx1000, work_sk50, work_apec, work_dmu50_3, work_dmu50_4, work_ctx310_2, work_ctx510_2, work_ctx510_3, work_ctx310_3] //, work_ctx510_4
    }, {
      name: 'Под нагрузкой',
      data: [0, 0, nagruzka_ntx1000,nagruzka_sk50, 0, nagruzka_dmu50_3, nagruzka_dmu50_4, nagruzka_ctx310_2, nagruzka_ctx510_2, nagruzka_ctx510_3, nagruzka_ctx310_3] // , nagruzka_ctx510_4
    }, {
      name: 'Ожидание',
      data: [pause_uf5220, pause_progress, pause_ntx1000, pause_sk50, pause_apec, pause_dmu50_3, pause_dmu50_4, pause_ctx310_2, pause_ctx510_2, pause_ctx510_3, pause_ctx310_3] // , pause_ctx510_4
    }, {
      name: 'Авария',
      data: [0, 0, avar_ntx1000, avar_sk50, avar_apec, avar_dmu50_3, avar_dmu50_4, avar_ctx310_2, avar_ctx510_2, avar_ctx510_3, avar_ctx310_3] // , avar_ctx510_4
    }, {
      name: 'Выключен',
      data: [off_uf5220, off_progress, off_ntx1000, off_sk50, off_apec, off_dmu50_3, off_dmu50_4, off_ctx310_2, off_ctx510_2, off_ctx510_3, off_ctx310_3] //, off_ctx510_4
    }, {
      name: 'Ручной',
      data: [0, 0, 0, 0, ruchnoi_apec, 0, 0, 0, 0, 0, 0] // ,0
    }]
  });



</script>   <!--js Общая загрузка-->
<script th:inline="javascript">
  var uf5220_koef = (work_uf5220 + pause_uf5220 + off_uf5220)/100;
  var progress_koef = (work_progress + pause_progress + off_progress)/100;
  var ntx1000_koef = (work_ntx1000 + nagruzka_ntx1000 + pause_ntx1000 + avar_ntx1000 + off_ntx1000)/100;
  var sk50_koef = (work_sk50 + nagruzka_sk50 + pause_sk50 + avar_sk50 + off_sk50)/100;
  var apec_koef = (work_apec + pause_apec + avar_apec + off_apec + ruchnoi_apec + off_dmu50_3)/100;
  var dmu50_3_koef = (work_dmu50_3 + nagruzka_dmu50_3 + pause_dmu50_3 + off_dmu50_3 + avar_dmu50_3)/100;
  var dmu50_4_koef = (work_dmu50_4 + nagruzka_dmu50_4 + pause_dmu50_4 + off_dmu50_4 + avar_dmu50_4)/100;
  var ctx310_2_koef = (work_ctx310_2 + nagruzka_ctx310_2 + pause_ctx310_2 + avar_ctx310_2 + off_ctx310_2)/100;
  var ctx510_2_koef = (work_ctx510_2 + nagruzka_ctx510_2 + pause_ctx510_2 + avar_ctx510_2 + off_ctx510_2)/100;
  var ctx510_3_koef = (work_ctx510_3 + nagruzka_ctx510_3 + pause_ctx510_3 + avar_ctx510_3 + off_ctx510_3)/100;
  var ctx310_3_koef = (work_ctx310_3 + nagruzka_ctx310_3 + pause_ctx310_3 + avar_ctx310_3 + off_ctx310_3)/100;
  // var ctx510_4_koef = (work_ctx510_4 + nagruzka_ctx510_4 + pause_ctx510_4 + avar_ctx510_4 + off_ctx510_4)/100;

  table = document.getElementById('myTable').rows; // Обращение к таблице по ID
  table[1].cells[1].innerHTML = Math.round(work_uf5220/uf5220_koef * 10) / 10 + "%";
  table[2].cells[1].innerHTML = Math.round(work_progress/progress_koef * 10) / 10 + "%";
  table[3].cells[1].innerHTML = Math.round(work_ntx1000/ntx1000_koef * 10) / 10 + "%";
  table[4].cells[1].innerHTML = Math.round(work_sk50/sk50_koef * 10) / 10 + "%";
  table[5].cells[1].innerHTML = Math.round(work_apec/apec_koef * 10) / 10 + "%";
  table[6].cells[1].innerHTML = Math.round(work_dmu50_3/dmu50_3_koef * 10) / 10 + "%";
  table[7].cells[1].innerHTML = Math.round(work_dmu50_4/dmu50_4_koef * 10) / 10 + "%";
  table[8].cells[1].innerHTML = Math.round(work_ctx310_2/ctx310_2_koef * 10) / 10 + "%";
  table[9].cells[1].innerHTML = Math.round(work_ctx510_2/ctx510_2_koef * 10) / 10 + "%";
  table[10].cells[1].innerHTML = Math.round(work_ctx510_3/ctx510_3_koef * 10) / 10 + "%";
  table[11].cells[1].innerHTML = Math.round(work_ctx310_3/ctx310_3_koef * 10) / 10 + "%";
  // table[12].cells[1].innerHTML = Math.round(work_ctx510_4/ctx510_4_koef * 10) / 10 + "%";
  // Столбец Работа
  table[3].cells[2].innerHTML = Math.round(nagruzka_ntx1000/ntx1000_koef * 10) / 10 + "%";
  table[4].cells[2].innerHTML = Math.round(nagruzka_sk50/sk50_koef * 10) / 10 + "%";
  table[6].cells[2].innerHTML = Math.round(nagruzka_dmu50_3/dmu50_3_koef * 10) / 10 + "%";
  table[7].cells[2].innerHTML = Math.round(nagruzka_dmu50_4/dmu50_4_koef * 10) / 10 + "%";
  table[8].cells[2].innerHTML = Math.round(nagruzka_ctx310_2/ctx310_2_koef * 10) / 10 + "%";
  table[9].cells[2].innerHTML = Math.round(nagruzka_ctx510_2/ctx510_2_koef * 10) / 10 + "%";
  table[10].cells[2].innerHTML = Math.round(nagruzka_ctx510_3/ctx510_3_koef * 10) / 10 + "%";
  table[11].cells[2].innerHTML = Math.round(nagruzka_ctx310_3/ctx310_3_koef * 10) / 10 + "%";
  // table[12].cells[2].innerHTML = Math.round(nagruzka_ctx510_4/ctx510_4_koef * 10) / 10 + "%";
  // Столбец Нагрузка

  table[1].cells[3].innerHTML = Math.round(pause_uf5220/uf5220_koef * 10) / 10 + "%";
  table[2].cells[3].innerHTML = Math.round(pause_progress/progress_koef * 10) / 10 + "%";
  table[3].cells[3].innerHTML = Math.round(pause_ntx1000/ntx1000_koef * 10) / 10 + "%";
  table[4].cells[3].innerHTML = Math.round(pause_sk50/sk50_koef * 10) / 10 + "%";
  table[5].cells[3].innerHTML = Math.round(pause_apec/apec_koef * 10) / 10 + "%";
  table[6].cells[3].innerHTML = Math.round(pause_dmu50_3/dmu50_3_koef * 10) / 10 + "%";
  table[7].cells[3].innerHTML = Math.round(pause_dmu50_4/dmu50_4_koef * 10) / 10 + "%";
  table[8].cells[3].innerHTML = Math.round(pause_ctx310_2/ctx310_2_koef * 10) / 10 + "%";
  table[9].cells[3].innerHTML = Math.round(pause_ctx510_2/ctx510_2_koef * 10) / 10 + "%";
  table[10].cells[3].innerHTML = Math.round(pause_ctx510_3/ctx510_3_koef * 10) / 10 + "%";
  table[11].cells[3].innerHTML = Math.round(pause_ctx310_3/ctx310_3_koef * 10) / 10 + "%";
  // table[12].cells[3].innerHTML = Math.round(pause_ctx510_4/ctx510_4_koef * 10) / 10 + "%";
  // Столбец пауза

  table[3].cells[4].innerHTML = Math.round(avar_ntx1000/ntx1000_koef * 10) / 10 + "%";
  table[4].cells[4].innerHTML = Math.round(avar_sk50/sk50_koef * 10) / 10 + "%";
  table[5].cells[4].innerHTML = Math.round(avar_apec/apec_koef * 10) / 10 + "%";
  table[6].cells[4].innerHTML = Math.round(avar_dmu50_3/dmu50_3_koef * 10) / 10 + "%";
  table[7].cells[4].innerHTML = Math.round(avar_dmu50_4/dmu50_4_koef * 10) / 10 + "%";
  table[8].cells[4].innerHTML = Math.round(avar_ctx310_2/ctx310_2_koef * 10) / 10 + "%";
  table[9].cells[4].innerHTML = Math.round(avar_ctx510_2/ctx510_2_koef * 10) / 10 + "%";
  table[10].cells[4].innerHTML = Math.round(avar_ctx510_3/ctx510_3_koef * 10) / 10 + "%";
  table[11].cells[4].innerHTML = Math.round(avar_ctx310_3/ctx310_3_koef * 10) / 10 + "%";
  // table[12].cells[4].innerHTML = Math.round(avar_ctx510_4/ctx510_4_koef * 10) / 10 + "%";
  // Столбец выключен

  table[1].cells[5].innerHTML = Math.round(off_uf5220/uf5220_koef * 10) / 10 + "%";
  table[2].cells[5].innerHTML = Math.round(off_progress/progress_koef * 10) / 10 + "%";
  table[3].cells[5].innerHTML = Math.round(off_ntx1000/ntx1000_koef * 10) / 10 + "%";
  table[4].cells[5].innerHTML = Math.round(off_sk50/sk50_koef * 10) / 10 + "%";
  table[5].cells[5].innerHTML = Math.round(off_apec/apec_koef * 10) / 10 + "%";
  table[6].cells[5].innerHTML = Math.round(off_dmu50_3/dmu50_3_koef * 10) / 10 + "%";
  table[7].cells[5].innerHTML = Math.round(off_dmu50_4/dmu50_4_koef * 10) / 10 + "%";
  table[8].cells[5].innerHTML = Math.round(off_ctx310_2/ctx310_2_koef * 10) / 10 + "%";
  table[9].cells[5].innerHTML = Math.round(off_ctx510_2/ctx510_2_koef * 10) / 10 + "%";
  table[10].cells[5].innerHTML = Math.round(off_ctx510_3/ctx510_3_koef * 10) / 10 + "%";
  table[11].cells[5].innerHTML = Math.round(off_ctx310_3/ctx310_3_koef * 10) / 10 + "%";
  // table[12].cells[5].innerHTML = Math.round(off_ctx510_4/ctx510_4_koef * 10) / 10 + "%";

  table[5].cells[6].innerHTML = Math.round(ruchnoi_apec/apec_koef * 10) / 10 + "%";
  //Столбец ручной режим

</script><!--Запись переменных в таблицу-->
</body>
</html>