.alertConfirm {
    position: fixed;
    top: 30vh;
    left: 0px;
    right: 0px;
    z-index: 100;
    margin: 0 auto;
    width: 465px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
    transition: 0.5s;
    opacity: 0;
    visibility:hidden;
}

.alertConfirmTittle{
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.alertDarkSpace {
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background: #0c0e18;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0%;
    transition: 0.5s;
    visibility:hidden;
}

.alertConfirmVisible{
    visibility: visible;
    opacity: 100%;
}

.alertDarkSpaceVisible {
    visibility: visible;
    opacity: 65%;
}

.alertConfirmMessage{
    margin: 0 auto;
    color: #e7e7e7;
    text-align: center;
    font-size: 1.2em;
    padding: 8px;
}

.alertConfirmButtonWrapper{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.alertConfirmOk{
    background: rgba(26, 34, 99, 0.5);
    color: white;
    border: none;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    border-radius: 7px;
    width: 105px;
    padding: 8px 20px;
    text-align: center;
    user-select: none;
    margin: 20px 0;
    opacity: 95%;
    transition: 0.5s;
}

.alertConfirmButtonHover:hover {
    transition: 0.5s;
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
    transition: .5s;
}
