.menuButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0 0 4px 0;
    margin-top: 0px;
    padding-left: 0;
    margin-top: 0px;
}

.menuNoSelect {
    color: #f2f6f8 !important;
    text-shadow: none;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}

.menuNoSelect:hover {
    color: #1aaae5 !important;
    transition: 0.5s;
}

.menuSelect {
    color: #e51a83 !important;
    text-shadow: 0 0 5px #e51a83,
    0 0 25px #e51a83;
    font-size: 30px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calenarMonth {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.choose_month {
    color: #83addd !important;
    margin: 0 !important;
    font-size: 30px;
}

.stanok_img {
}

.comlexInfo {
    font-size: 150%;
    text-align: center;
    color: #83addd;
    font-weight: bold;
}

.vrsHighChart {
    width: 80%;
    height: 400px;
    margin-left: 30px;
    float: left;
}

.highcharts-background {
    fill: #252734;
}

.menuButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0 0 4px 0;
    margin-top: 0px;
    padding-left: 0;
    margin-top: 0px;
}

.menuNoSelect {
    color: #f2f6f8 !important;
    text-shadow: none;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}

.menuNoSelect:hover {
    color: #1aaae5 !important;
    transition: 0.5s;
}


.calenarMonth {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.choose_month {
    color: #83addd !important;
    margin: 0 !important;
    font-size: 30px;
}

.parent_image {
    min-height: 550px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-left: 15px;
}

.parent_image a {
    margin: 15px 30px;
}

.parent_image a > div {
    /* margin: 65px auto; */
    display: flex;
    justify-content: center;
}

.stanok_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.comlexInfo {
    font-size: 150%;
    text-align: center;
    color: #83addd;
    font-weight: bold;
}

.vrsHighSchart {
    width: 1425px;
    height: 400px;
    margin-left: 30px;
    float: left;
}

.highcharts-background {
    fill: #252734;
}

.tableEnergy {
    width: 80%;
    margin-left: 30px;
    float: left;
    border-collapse: collapse;
    line-height: 1.1;
    /* border: none; */
}

.tableEnergy {
    width: 80%;
    margin-left: 30px;
    float: left;
    /* text-shadow: 1px 2px 3px white, 0 0 2em black, 0 0 0.1em white; */
    color: black;
    background: radial-gradient(farthest-corner at 50% 50%, white, #808488);
}

.tableEnergy > thead > tr {
    outline: 1px solid #f2f6f8 !important;
    border-color: #f2f6f8 !important;
}

.tableEnergy > thead > tr > th {
    background-color: #223362 !important;
    outline: 1px solid #f2f6f8 !important
}

.tableEnergy > tbody > tr {
    outline: 1px solid #f2f6f8 !important;
    border-color: #f2f6f8 !important;
}

.tableEnergy > tbody > td {
    outline: 1px solid #f2f6f8 !important;
    border-color: #f2f6f8 !important;
}

.tableEnergy {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    width: 80%;
    border-color: white;
}

.tableEnergy th,
.tableEnergy td {

    vertical-align: center;
    font-size: 14px;
    border: none !important;
    outline: 1px solid white !important;
    text-shadow: none !important;
    text-align: center;

    /*width: 50px;*/
}

.tableEnergy th {
    background-color: #0C213B;
    color: #fff;
    text-shadow: none !important;
}

.tableEnergy th:nth-of-type(0),
.tableEnergy td:nth-of-type(n) {
    text-align: center;
}

.tableEnergy > thead > tr > th:nth-of-type(1) {
    background-color: #0C213B !important;
    width: 60px !important;
    padding: 9px !important;
}


.tableEnergy > tbody > tr > td:nth-of-type(1) {
    background-color: #223362 !important;
    color: white;
    font-weight: bold;
    width: 60px !important;
    padding: 9px !important;
}


.tableEnergy > tbody > tr > td:nth-of-type(n+2) {
    /*background-color: blue!important;*/
    width: 50px;
    padding: 5px !important;
}

.tableEnergy > thead > tr > th:nth-of-type(n+2) {
    /*background-color: blue!important;*/
    width: 50px;
    padding: 5px !important;
}

.tableEnergy > tbody > tr > td:nth-of-type(1) {
    background-color: #0C213B !important;
    color: white;
    font-weight: bold;
    width: 60px !important;
    padding: 9px !important;
}


.tableEnergy > thead > tr > th:nth-last-child(1) {
    background-color: #0c66c1 !important;
    color: white;
    font-weight: bold;
    width: 60px !important;
    padding: 9px !important;
}

.parentIcons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.icon_mesto {
    /* float: left; */
    width: 60px;
    height: 60px;
    background: url(../images/iconMesto.png) no-repeat;
    background-size: auto;
    /* margin: 10px 5px 0 5px; */
    cursor: pointer;
}

.icon_mesto:hover {
    /*-webkit-box-shadow: inset 0px 0px 12px 12px #f2f6f8;*/
    box-shadow: #252734 0px 0px 12px 12px inset;
}

.icon_mesto:hover > div {
    position: relative;
    top: 5px;
}

.label {
    margin-top: 65px;
    color: #b3b8be;
}

.icon_personal {
    /* float: right; */
    background: url(../images/iconPersonal.png) no-repeat;
    background-size: auto;
    width: 60px;
    height: 60px;
    /* margin: 10px 5px 0 25px; */
    cursor: pointer;
}

.icon_personal:hover {
    /*-webkit-box-shadow: inset 0px 0px 12px 12px #f2f6f8;*/
    box-shadow: #252734 0px 0px 12px 12px inset;
}

.icon_personal:hover > div {
    position: relative;
    top: 5px;
}

.vrsInfoAlign {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icon_error {
    float: left;
    background: url(../images/error.png) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    margin: 10px 25px 0 25px;
    cursor: pointer;
}

.icon_error:hover {
    /*-webkit-box-shadow: inset 0px 0px 12px 12px #f2f6f8;*/
    box-shadow: #252734 0px 0px 12px 12px inset;
}

.icon_error:hover > div {
    position: relative;
    top: 5px;
}

.icon_program {
    /* float: left; */
    background: url(../images/programTime.png) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    /* margin: 10px 25px 0 35px; */
    cursor: pointer;
}

.icon_program:hover {
    /*-webkit-box-shadow: inset 0px 0px 12px 12px #f2f6f8;*/
    box-shadow: #252734 0px 0px 12px 12px inset;
}

.icon_program:hover > div {
    position: relative;
    top: 5px;
}

.icon_laser {
    /* float: left; */
    background: url(../images/iconPower.png) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    /* margin: 30px 25px 0 25px; */
    cursor: pointer;
}

.icon_laser:hover {
    /*-webkit-box-shadow: inset 0px 0px 12px 12px #f2f6f8;*/
    box-shadow: #252734 0px 0px 12px 12px inset;
}

.icon_laser:hover > div {
    position: relative;
    top: 5px;
}

.icon_service {
    float: left;
    background: url(../images/iconService.png) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    margin: 30px 25px 0 25px;
    cursor: pointer;
}

.icon_service:hover {
    /*-webkit-box-shadow: inset 0px 0px 12px 12px #f2f6f8;*/
    box-shadow: #252734 0px 0px 12px 12px inset;
}

.icon_service:hover > div {
    position: relative;
    top: 5px;
}

.icon_report {
    float: left;
    background: url(../images/reports.png) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    margin: 30px 25px 0 25px;
    cursor: pointer;
}

.icon_report:hover {
    /*-webkit-box-shadow: inset 0px 0px 12px 12px #f2f6f8;*/
    box-shadow: #252734 0px 0px 12px 12px inset;
}

.icon_report:hover > div {
    position: relative;
    top: 5px;
}

.iconJob {
    float: left;
    background: url(../images/iconJob.svg) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    margin: 30px 25px 0 25px;
    cursor: pointer;
}

.iconJob:hover {
    /*-webkit-box-shadow: inset 0px 0px 12px 12px #f2f6f8;*/
    box-shadow: #252734 0px 0px 12px 12px inset;
}

.iconJob:hover > div {
    position: relative;
    top: 5px;
}

.blockImage {
    width: 250px;
    height: 250px;
    display: flex;
}

.energyGraphTable {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
}

.tablePrintEnergy {
    display: none;
}

.calendarEnergyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.printEnergy {
    height: 60px;
    margin: 5px;
    cursor: pointer;
    opacity: 40%;
    transition: 1s;
}

.printEnergy:hover {
    opacity: 100%;
}