
#menu_ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top: 0px; /*делаем отступ сверху*/
    background: rgb(36, 97, 219); /*добавляем фон всему меню*/
    height: 50px; /*задаем высоту*/
    text-shadow: 2px 0 2px black;
}

#menu_a, #menu_a1, #menu_a2, #menu_a3, #menu_a4, #menu_a5, #menu_a6, #menu_a7, #menu_a8 {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background: rgb(58, 111, 219); /*добавляем фон к пункту меню*/
    color: #fff; /*меняем цвет ссылок*/
    padding: 0px 15px; /*добавляем отступ*/
    font-family: MONTSERRAT; /*меняем шрифт*/
    font-size: 250%;
    line-height: 50px; /*ровняем меню по вертикали*/
    display: block;
    border-right: 1px solid #F36262; /*добавляем бордюр справа*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;

}
/*Общее свойство для кнопок при наведении*/
#menu_ul > li >a:hover{
    color: rgb(200, 200, 200);
}

#menu_a:hover {
    font-family: MONTSERRAT;
    background: #D43737; /*добавляем эффект при наведении*/


}

#menu_a1:hover {
    font-family: MONTSERRAT;
    background: #D43737; /*добавляем эффект при наведении*/
}

#menu_a2:hover {
    font-family: MONTSERRAT;
    background: #D43737; /*добавляем эффект при наведении*/
}

#menu_a3:hover {
    font-family: MONTSERRAT;
    background: #D43737; /*добавляем эффект при наведении*/
}

#menu_a4:hover {
    font-family: MONTSERRAT;
    background: #D43737; /*добавляем эффект при наведении*/
}

#menu_a5:hover {
    font-family: MONTSERRAT;
    background: #D43737; /*добавляем эффект при наведении*/
}

#menu_a6:hover {
    font-family: MONTSERRAT;
    background: #D43737; /*добавляем эффект при наведении*/
}

#menu_a7:hover {
    font-family: MONTSERRAT;
    background: #D43737; /*добавляем эффект при наведении*/
}

#menu_a8:hover {
    font-family: MONTSERRAT;
    background: #D43737; /*добавляем эффект при наведении*/
}

#menu_li, #menu_li1, #menu_li2, #menu_li3, #menu_li4, #menu_li5, #menu_li6, #menu_li7, #menu_li8 {
    float: left; /*Размещаем список горизонтально для реализации меню*/
}

.btn_change {
    position: relative;
    display: inline-block;
    padding: 15px;
    border: 3px solid #6793d6;
    color: #333;
    background: #ffffff;
    font-size: 30px;
    font-family: arial;
    background-image: linear-gradient(#6793d6, #6793d6);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
    text-shadow: 1px 0 1px black;
    font-weight: bolder;
}

.btn_change:hover {
    background-size: 100% 100%;
    color: rgb(220 220 220) !important;
}
