
th {
    text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black, 3px 3px 6px black;
}

#myTable > tbody > {
    background: yellow !important;
    color: black
}

#myTable > tbody td:nth-of-type(n) {
    text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black, 3px 3px 6px black;
}

#myTable > tbody td:nth-of-type(1) {
    text-shadow: none;
}

#myTable > tbody td:nth-of-type(2) {
    color: white;
    background-color: #38e817;
    text-shadow: black;
}


#myTable > tbody td:nth-of-type(3) {
    color: white;
    background-color: #ffea32;
}


#myTable > tbody td:nth-of-type(4) {
    color: white;
    background-color: #000000;
    text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black, 3px 3px 6px black;
}


#myTable > tbody td:nth-of-type(5) {
    color: white;
    background-color: #e81e1d;
}


#myTable > tbody td:nth-of-type(6) {
    color: white;
    background-color: #207210;
}


#myTable > tbody td:nth-of-type(7) {
    color: white;
    background-color: #5c7ed0;
}

table {
    margin: 1em 0;
    border-collapse: separate;
    border-spacing: 0;
    border: 0.1em solid #ffffff;
    border-color: #7aade3;
    border-width: 1px;
    /*width: 80vw;*/
}

th,
td {
    padding: 0.25em 0.5em 0.25em 1em;
    vertical-align: center;
    text-align: left;
    text-indent: -0.5em;
    font-size: 22px;
    border: 1px solid grey;
    /*border-color: #7aade3;*/
    /*border-width: 1px;*/
}

th {
    background-color: #4e86be;
    color: #fff;
    border-color: #7aade3;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

th:nth-of-type(n),
td:nth-of-type(n) {
    font-style: italic;
    text-align: center;
}

td:nth-of-type(7) {
    text-align: center;
}

h1 {
    /*align-items: center;*/
    text-align: center;
    font-size: 60px;
    font-family: arial;
    font-weight: bolder;
}

body {

}

