.pageTitle {
    margin: 0 auto;
    text-align: center;
    color: #83addd;
}

.serviceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serviceContainer > h1 {
    color: #83addd;
    position: absolute;
    top: 40px;
}

.serviceImg {
    max-height: 260px;
    width: auto;
    max-width: 100%;
}

.oneLineGraph {
    height: 200px;
    overflow: hidden;
    width: 95%;
}


.tableService {
    border-spacing: 0;
    border-collapse: collapse;
    width: 95%;
    color: white;
    margin: 2%;
}

.tableService > tbody > tr {
    padding: 4px;
    line-height: 1.42857143;
    vertical-align: center;
    text-align: left;
    border-bottom: 1px solid #979595;

    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}



.tableService > thead  {
    border-bottom: 1px solid #979595;
    text-align: left;
}

.tableService > thead > tr > th  {
    margin: 10px;
    padding: 5px 5px 5px 0px;
    color: white;
}

.tableService > thead > tr > th:nth-child(odd)  {
    text-align: center;
}




.tableService > thead > tr >th:nth-of-type(-n+3) {
    background: #2c5275;
    width: 10%;
}

.tableService  > tbody > tr >td:nth-of-type(-n+3) {
    text-align: center
}


.tableService > thead > tr >th:nth-of-type(4) {
    background: #2c5275;
    text-align: center;
}

.tableService > tbody > tr >td:nth-of-type(4) {
    max-width:85%;
    padding-right: 15px;
}

.buttonTehno {
    margin: 15px auto;
    display: block;
    font-size: 150%;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    background: #71a2cc;
    color: white;
}
