.pageTitle {
    margin: 0 auto;
    text-align: center;
    color: #83addd;
}

.serviceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serviceContainer > h1 {
    color: #83addd;
}

.serviceImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.oneLineGraph {
    height: 200px;
    overflow: hidden;
    width: 95%;
}


.tableService {
    border-spacing: 0;
    border-collapse: collapse;
    width: 95%;
    color: white;
    margin: 2%;
}

.tableService > tbody > tr {
    padding: 4px;
    line-height: 1.42857143;
    vertical-align: center;
    text-align: left;
    border-bottom: 1px solid #979595;

    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


.tableService > thead {
    border-bottom: 1px solid #979595;
    text-align: left;
}

.tableService > thead > tr > th {
    margin: 10px;
    padding: 5px 5px 5px 0px;
    color: white;
}

.tableService > thead > tr > th:nth-child(odd) {
    text-align: center;
}


.tableService > thead > tr > th:nth-of-type(-n+3) {
    background: #2c5275;
    width: 10%;
}

.tableService > tbody > tr > td:nth-of-type(-n+3) {
    text-align: center
}


.tableService > thead > tr > th:nth-of-type(4) {
    background: #2c5275;
    text-align: center;
}

.tableService > tbody > tr > td:nth-of-type(4) {
    max-width: 85%;
    padding-right: 15px;
}

.buttonTehno {
    margin: 15px auto;
    display: block;
    font-size: 150%;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    background: #71a2cc;
    color: white;
    cursor: pointer;
}

.buttonTehno:hover {
    box-shadow: 0px 0px 5px 0px #14b2e9, inset 0px 0px 0px 0px #14b2f3;
}

.formService {
    width: 50vw;
    max-height: 65vh;
    padding: 18px 9px;
    border-radius: 15px;
    background: #404458;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* display: none; */
    /* opacity: 0; */
    z-index: 1;
    text-align: center;
    -webkit-box-sizing: border-box;
    z-index: 3;
}

#formClose {
    height: 30px;
    padding: 10px;
    position: absolute;
    top: -10px;
    right: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    color: #fff;
    transition: 0.2s;
}

#formClose:hover {
    font-size: 65px;
    top: -12px;
    right: 3px;
}

.formFill {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-size: 14px;
    font-family: sans-serif;
}

.formServiceName {
    color: #83addd;
    font-size: 34px;
    font-weight: 700;
    height: 5%;
}

.divWorksPass {
    width: 100%;
    height: 50%;
}

.divWorksPass h3 {
    color: #83addd;
    margin: 6px auto;
    font-size: 28px;
    height: 10%;
}

.divWorksPass textarea {
    width: 88%;
    height: 70%;
    resize: none;
    color: #f7f7f7;
    letter-spacing: .01em;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    border-color: #354752;
    background: #2e3346;
    border-radius: 3px;
    margin-top: 5px;
    padding: 5px;
}

textarea#story:focus {
    outline: none !important;
    border-color: #5b6064;
    box-shadow: 0 0 4px #6a7a8d;
}

.divWorksPass textarea::placeholder {
    letter-spacing: .01em;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    color: #828292;

}

.divPeriod {
    height: 13%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.divPeriod h3 {
    color: #83addd;
    font-size: 28px;
    margin: 0px auto;
}

#listPeriods {
    border: 2px solid #eeeeee;
    height: 65%;
    width: 30%;
    padding: 0%;
    font-size: 1.7em;
    color: #fff;
    letter-spacing: .01em;
    font-style: normal;
    font-weight: 300;
    border-color: #2e3346;
    border-radius: 10px;
    min-width: 155px;
    min-height: 40px;
    cursor: pointer;
    background: #2e3346;
    transition: 0.2s;
}

#listPeriods:hover {
    box-shadow: 0 0 6px #6a7a8d;
}


#submit {
    color: #ffffff;
    background: #108af3;
    font-size: 180%;
    font-weight: 600;
    letter-spacing: 0.025em;
    border: none;
    border-radius: 15px;
    height: 10%;
    width: 34%;
    transition: all 0.2s ease;
    cursor: pointer;
    margin-top: 1%;
    min-width: 180px;
}

#submit:hover {
    box-shadow: 0px 0px 5px 0px #63a7d7, inset 0px 0px 0px 0px #ffffff;
}

#overlay_add {
    z-index: 2;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}


.tableReport {
    border-spacing: 0;
    border-collapse: collapse;
    width: 95%;
    color: white;
    margin: 2%;
}

.tableReport > tbody > tr {
    padding: 4px;
    line-height: 1.42857143;
    vertical-align: center;
    text-align: left;
    border-bottom: 1px solid #979595;

    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.tableReport > tbody > tr > td {
    text-align: center;
    max-width: 85%;
    border: solid 1px;
    font-size: 20px
}


.tableReport > thead {
    border-bottom: 1px solid #979595;
    text-align: left;
}

.tableReport > thead > tr > th {
    margin: 10px;
    padding: 5px 5px 5px 0px;
    color: white;
    text-align: center;
    background: #2c5275;
    border: solid 1px;
}

.excelIcon {
    float: right;
    height: 10vh;
    margin: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 40%;
    transition: 1s;
}

.excelIcon:hover {
    filter: brightness(90%);
    opacity: 100%;
}



