.skudHigcharts{
    width: 90%;
    margin: auto;
    min-height: 300px;
}

.wrapperSkud{
    width: 100%;
    position: relative;
}

.lunchTime {
    min-height: 300px;
    background: #1aaae5;
    opacity: 50%;
    width: 5%;
    /* height: 98%; */
    position: absolute;
    left: 57%;
    top: 0.8%;
    z-index: 1;
}