body {
    overflow-x: hidden;
}

.menu-stanki {
    position: relative;
    width: 200px;
}

.buttons-otchet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-top: 25px;
}

.inputCalendarDay {
    width: 200px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #83addd;
    border-radius: 4px;
    background-color: #252734;
    color: white;
    cursor: pointer;
}

.lineComplex {
    display: flex;
    width: 80%;
    flex-direction: column;
    float: left;
    margin-left: 30px;
}

.lineSukiHighChart {
    width: 100%;
    height: 400px;
}

.lineProgramHighChart {
    width: 100%;
    height: 160px;
}

.lineSwitchShort {
    height: 270px;
}

.roundSukiHighChart {
    width: 20%;
    height: 400px;
    margin-left: 30px;
    float: left;
}

.highChartsLineRound {
    display: flex;
    width: 80%;
}

.highChartsLineSmena {
    display: flex;
    width: 100%;
}

.complexAllInfo {
    display: flex;
    border-bottom: 1px solid #333;
    overflow: hidden;
    margin: 1% 0;
    width: 98vw;
}

.totalRound {
    width: 49%;
}

.countOperations {
    width: 50%;
}

.highcharts-button-box {
    fill: #252734;
}

.highcharts-button-box:hover {
    fill: #6b7199;
}

.twoDayDiv {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.oneDay {
    display: flex;
    justify-content: space-between;
}

.timeInfoSmena {
    text-align: center;
    color: wheat;
}

.switchBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switchBlock > p {
    color: #83addd;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 1.0s;
    transition: 1.0s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 1.0s;
    transition: 1.0s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(86px);
    -ms-transform: translateX(86px);
    transform: translateX(86px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toppings-list {
    list-style: none;
    padding: 0px;
    margin: auto;
    flex-direction: column;
    background-color: #ffffff;
    width: 500px;
    color: black;
    right: 0;
    top: 50px;
    max-height: 0;
    transition: max-height 0.2s ease-in;
    overflow-x: hidden;
    padding-bottom: 0;

}

.toppings-list-visible {
    max-height: 360px;
    transition: max-height 0.5s ease-in;
}

.toppings-list li {
    margin: 0px 0px 0px 0px;
    background-color: #34669f;
    user-select: none;
    height: fit-content;
    padding: 0 5px;
    border-bottom: 2px solid #29486a;
    width: 100%;
    position: relative;
    list-style: none;
    overflow: hidden;
    color: white;
}

.toppings-list li:last-child {
    border-bottom: none;
}

.listComplex {
    display: block;
    z-index: 1;
    margin-left: 0px;
    margin-top: 8px;
    font-size: 25px;
    cursor: pointer;
    /* transition: 0.3s; */
    color: white;
    position: relative;
    right: 33px;
}

.listComplex:hover { /* color: #1aaae5; */
}

.listComplex > span {
    text-align: center;
    font-weight: 600;
    user-select: none;
    margin: 5px;
    width: max-content;
    transition: 0.5s;
    color: #83addd;
    text-shadow: none;
    white-space: normal;
    pointer-events: none;
    position: absolute;
    top: -21px;
}

.selectDevice:hover .listComplex > span {
    color: #1aaae5;
}

.selectDevice > span {
    padding: 10px 30px 10px 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
}

.listComplex label {
    cursor: pointer;
    padding-right: 85%;
    padding-left: 15%;
    position: relative;
    right: 5px;
}

.listComplex li:hover {
    background: #25589b;
    color: #e51a83 !important;
    text-shadow: 0 0 5px #e51a83, 0 0 25px #e51a83;
    transition: 0.2s;
}

.individualLi:hover {
    background: #1f5293 !important;
}

.left-section > input {
    height: 17px;
    width: 17px;
    position: absolute;
    top: 3px;
}

.spanList {
    position: absolute;
    left: 40px;
    pointer-events: none;
    white-space: nowrap;
    text-shadow: none;
    padding-bottom: 66px;
}

.spanListCategory {
    font-weight: 600;
    text-shadow: 0 0 5px #d51f6b, 0 0 25px #b32f2f;
}

.selectDevice {
    font-size: 25px;
    margin-left: 15px;
    cursor: pointer;
    display: flex;
    white-space: nowrap;
    align-items: center;
    text-shadow: none;
    color: #83addd !important;
    transition: 0.5s;
}

.selectDevice:hover {
    color: #1aaae5 !important;
    transition: 0.5s;
}

.tableResource {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    color: white;
    margin: 2% 2% 0 2%;
    /* word-break: break-word; */
    border-color: white;
    border: 2px solid #888a8d;
    transition: 0.3s;
}

.tableResource > tbody {
    display: block;
    width: 100%;
    max-height: 181px;
    overflow-x: hidden;
    transition: max-height 0.15s ease-out;
    transition: max-height 0.2s ease-in;
}

.tableResource > tbody > tr {
    padding: 4px;
    line-height: 1.42857143;
    text-align: center;
    border-bottom: 1px solid #979595;
    font-family: sans-serif;
    background: #252734;
}


.tableResource > thead {
    border-bottom: 1px solid #979595;
    background: #2c5275;
    display: block;
}

.tableResource > thead > tr > th, .tableResource > tbody > tr > td {
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableResource tr {
    display: flex;
    width: 100%;
}

.tableResource > thead > tr > th:last-child {
}

.tableResource > tbody > tr > td:last-child {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    text-align: center;
    transition: 0.3s;
}

.tableResource > tbody > tr > td:last-child:hover {
    cursor: pointer;
    background: #2c5275;
}

.addButton {
    display: flex;
    width: 60%;
    justify-content: center;
    border: 2px solid #888a8d;
    border-radius: 5px;
    margin: 3px 2%;
    padding: 0px 0;
    background: #2c5275;
    transition: 0.3s;
    cursor: pointer;
}

.addButton > span {
    color: #2bff2b;
    font-size: 2.1em;
}

.addButton:hover {
    background: #376a99;
}

.hiddenTableBody {
    max-height: 0 !important;
    transition: max-height 0.5s ease-in;
}

.hiddenTable {
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}

.hiddenAddButton {
    max-height: 0 !important;
    transition: max-height 0.5s ease-in;
    visibility: hidden;
    opacity: 0;
}

.usersMenuResource {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 30%;
    transition: max-height 0.5s ease-out;
    transition: 0.3s;
    position: absolute;
    top: 128px;
    left: 70%;
    z-index: 3;
}

.divFormTable {
    display: flex;
    position: relative;
    width: 85%;
}

.formAddUser {
    position: absolute;
    background-color: #2c5275;
    width: 135px;
    height: 205px;
    border-radius: 15px;
    padding: 23px;
    display: flex;
    flex-direction: column;
    left: -188px;
    top: 12px;
    transition: 0.3s;
    z-index: 3;
}

.formAddUser > label {
    font-size: 18px;
    margin: 5px 0px;
    color: white;

}

.formAddUser > input {
    width: 90%;
    margin: 0 auto;
    color: white;
    background: #114360;
}

.formAddUser > button {
    margin-top: 10%;
}

.formAddUserHide {
    opacity: 0;
    visibility: hidden;
}

.formAddUser > button {
    color: white;
    background: #1e74bd;
    font-size: 110%;
    padding: 0 10%;
    letter-spacing: 0.025em;
    border: 1px solid #22475c;
    border-radius: 15px;
    min-height: 35px;
    cursor: pointer;
    margin: 15px auto;
}

.formAddUser > button:hover {
    box-shadow: 0px 0px 5px 0px #507e8f, inset 0px 0px 0px 0px #8a9da5 !important;
}

.hideMessage {
    opacity: 0;
    visibility: hidden;
}

.redMessage {
    color: #ff1616;
    font-weight: bold;
}

.greenMessage {
    color: #13e013;
    font-weight: bold;
}

.usersMenuResourceButton {
    color: #ffffff;
    background: #2574a3;
    font-size: 82%;
    font-weight: 600;
    letter-spacing: 0.025em;
    border: none;
    border-radius: 11px;
    min-height: 35px;
    width: 190px;
    transition: all 0.2s ease;
    cursor: pointer;
    padding: 6px;
    position: relative;
}

.usersMenuResourceButton:hover {
    box-shadow: 0px 0px 5px 0px #507e8f, inset 0px 0px 0px 0px #8a9da5;
    transition: 0.3s;
}


.usersMenuResourceButton > span {
    position: absolute;
    right: 0px;
    top: 15px;
    transition: 0.5s;
}

.usersMenuResourceButtonSpanRotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


.containerStanokList {
    list-style: none;
    display: block;
    margin: auto;
    flex-direction: column;
    background-color: #34669f !important;
    border-radius: 16px;
    right: 0;
    padding: 10px;
    position: absolute;
    top: 40px;
    border: currentColor;
    min-height: 0px;
    transition: 0.5s;
}

.containerStanokListHidden {
    padding: 0;
}

.hideIndividualAll {
    visibility: hidden;
    position: absolute;
}



