li {
    list-style-type: none; /* Убираем маркеры */
}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    background-color: rgb(36, 97, 219);

}

.icon-logo:hover {
    background: #D43737;
    border-radius: 10px 33px 33px;
    transform: scale(1.01);
    transition: 1s;
}

ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
}


th {
    padding: 10px;
    border: 1px solid #A9E2CC;
    text-align: center;
}

td {
    font-size: 1em;
    padding: 5px 7px;
    border: 1px solid #A9E2CC;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px; /* Уголки */
    margin: 8%;
    background-color: #ffffff;
    opacity: 0;
    /*transition: 1s;*/


}

.dropdown-content a {
    color: black;
    padding: 40px 20px;
    display: block;
}

.dropdown-content img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.dropdown-content:hover {
    background-color: #f1f1f1;
}

.avatar:focus ~.dropdown-content,
.avatar:active  .dropdown-content,
.dropdown-content:hover
{
    top: 50px;
    right: 10px;
    background-color: white;
    opacity: 1;
    /*transition-delay: 1s;*/
    display: block;
    z-index: 5;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 3%;
    transition: 1s;
}

.avatar:hover {
    transform: scale(1.05)
}

/*Кнопка выход профиля*/
.follow {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    background: #4f759b;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.025em;
    border: none;
    border-radius: 15px;
    min-height: 35px;
    width: 115px;
    margin-bottom: 25px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.follow:hover {
    width: 130px;
    background: #4f759be0;
}


.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 25px;
    cursor: pointer;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.switch input {display:none;}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(204, 204, 204);
    -webkit-box-shadow: 0px 0px 3px 1px rgb(204, 204, 204);
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 60px;
    left: 0px;
    bottom: 0px;
    background-color: #fff;
    -webkit-transition: .4s;
}

input:checked + .slider {
    background-color: black;
    -webkit-box-shadow: 0px 0px 2px 1px #2d2c2c;
}
input:focus + .slider {
    box-shadow: 0 0 1px black;
}
input:checked + .slider:before {
    background-color: #231f2a;
    -webkit-transform: translateX(63px);
    -ms-transform: translateX(63px);
    transform: translateX(63px);
}
.slider.round, .slider.round:before {
    border-radius: 34px;
}

