li {
    list-style-type: none; /* Убираем маркеры */
}

.icon-logo {
    margin: 4%;
}

.icon-logo:hover {
    background: #D43737;
    border-radius: 10px 33px 33px;
    transform: scale(1.01);
    transition: 1s;
}

th {
    padding: 10px;
    border: 1px solid #A9E2CC;
    text-align: center;
}

td {
    font-size: 1em;
    padding: 5px 7px;
    border: 1px solid #A9E2CC;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 0.5vw;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px; /* Уголки */
    margin: 8%;
    opacity: 0;
    float: right;
    text-align: center;
    background-color: whitesmoke

}

.dropdown-content a {
    color: black;
    padding: 40px 20px;
    display: block;
}

.dropdown-content img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 360px;
    margin: 10px 0 0 0!important;
}

.dropdown-content li {
    font-weight: 400;
    font-size: 18px;
    margin: 10px 0 0 0!important;
}

.dropdown-content > p {
    margin: 10px 0 0 0!important;
}

.dropdown-content > div {
    margin: 10px 0 0 0!important;
}

#role_vision {
    margin: 10px 0 0 0!important;
}

.avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 10%;
    margin-right: 15px;
    transition: 1s;
    border-radius: 360px;
}

.avatar:hover {
    transform: scale(1.05)
}

/*Кнопка выход профиля*/
.follow {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    background: #4f759b;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.025em;
    border: none;
    border-radius: 15px;
    min-height: 35px;
    width: 115px;
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 10px 0 0 0!important;
}

.follow:hover {
    width: 130px;
    background: #4f759be0;
}

#admin{
    display: none;
    background: #ff3b3b;
    width: 135px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.025em;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    border: none;
    min-height: 35px;
    margin-bottom: 25px;
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 10px 0 0 0!important;

}

#admin:hover {
    background: #ff3b3b;
    width: 145px;
    font-size: 12px;
    text-align: revert;
}


.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 25px;
    cursor: pointer;
    margin: 10px 0 0 0!important;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.switch input {display:none;}

.switch p {
    z-index: 2;
    font-weight: bold;
    position: relative;
    font-size: 1.1rem;
    word-spacing: 1.8rem;
    top: 20%
}



.neo-line {
    display: block;
    margin: 0 auto;
    height: 2px;
    background: #e0f7fe;
    width: 95%;
    box-shadow: 0px 0px 5px 3px #4A9BB5, inset 0px 0px 0px 0px #4a9bb2!important;
}

.div_login_mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 5%;
}

.div_login_mail > p{
    color: #b3b8be;
    font-size: 12px;
}

.div_login_mail li {
    font-weight: 400;
    font-size: 18px;
}

/*Специальный css для контуров в mozilla*/
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0!important;
    outline-color: transparent!important;
    outline-width: 0!important;
    outline-style: none!important;
    box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}
