li {
    list-style-type: none; /* Убираем маркеры */
}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    background-color: rgb(36, 97, 219);

}

.hr img {
    transition: 1s;
    margin-top: 20px;
}

.icon-logo:hover {
    background: #D43737;
    border-radius: 10px 33px 33px;
    transform: scale(1.01);
}

ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
}


th {
    padding: 10px;
    border: 1px solid #A9E2CC;
    text-align: center;
}

td {
    font-size: 1em;
    padding: 5px 7px;
    border: 1px solid #A9E2CC;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-family: "Open Sans", sans-serif;
    right: 0;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px; /* Уголки */
    margin: 8%;
    background-color: #ffffff;
    opacity: 0;
    /*transition: 1s;*/


}

.dropdown-content a {
    color: black;
    padding: 40px 20px;
    display: block;
}

.dropdown-content img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.dropdown-content:hover {
    background-color: #f1f1f1;
}

.avatar:focus ~.dropdown-content,
.avatar:active  .dropdown-content,
.dropdown-content:hover
{
    top: 50px;
    right: 10px;
    background-color: white;
    opacity: 1;
    /*transition-delay: 1s;*/
    display: block;
    z-index: 5;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 3%;
    transition: 1s;
}

.avatar:hover {
    transform: scale(1.05)
}

/*Кнопка выход профиля*/
.follow {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    background: #4f759b;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.025em;
    border: none;
    border-radius: 15px;
    min-height: 35px;
    width: 115px;
    margin-bottom: 25px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.follow:hover {
    width: 130px;
    background: #4f759be0;
    font-size: 17px;
}
.menu-color {
    background: #D43737!important;
}

#admin{
    display: none;
    background: #ff3b3b;
    width: 145px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.025em;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    border: none;
    min-height: 35px;
    margin-bottom: 25px;
    transition: all 0.2s ease;
    cursor: pointer;

}

#admin:hover {
    background: #ff3b3b;
    width: 160px;
    font-size: 13px;
}

#role_vision {
    font-size: 19px;
}