
/* Таблица с текущими параметрами */
body {
    margin: 0;
    background: #F4F1F8;

}
table {
    border-collapse: collapse;
    line-height: 1.1;
    background:  radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
    color: #0C213B;

}
caption {

    font-weight: bold;
    text-align: center;
}

.first {
    padding: 5px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.img {
    width: 18%;
    max-width: 300px;
    min-height: 500px;
    }

.parent_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    /*max-height: 400px;*/
}

.stanok_img{
    max-height: 400px;
    width: auto;
    max-width: 100%;
}


/*Кнопки и персонал*/
.icon_mesto{

     width: 60px;
     height: 60px;
     background: url(https://icons.iconarchive.com/icons/icons-land/vista-map-markers/64/Map-Marker-Marker-Outside-Chartreuse-icon.png) no-repeat;
     background-size: 60px 60px;
     margin-top: 10px;
     margin-left: 30px;
 }
.icon_mesto:hover {
    -webkit-box-shadow: inset 0px 0px 12px 12px rgba(255, 255, 255, .9);
}

.icon_mesto:hover > div {
    color: #000000;
    margin-top: 70px;
}


.icon_personal{
    background: url(https://icons.iconarchive.com/icons/icons-land/vista-people/72/Office-Customer-Male-Light-icon.png) no-repeat;
    background-size: 60px 60px;
    margin-top: 10px;
    margin-left: 30px;
}
.icon_personal:hover {
    -webkit-box-shadow: inset 0px 0px 12px 10px rgba(255, 255, 255, .9);
}

.icon_personal:hover > div {
    color: #000000;
    margin-top: 70px;
}

.label_mesto{
    color: #756e6e;
    margin-top: 65px;
    margin-left: 8px;
}

.label_personal{
    color: #756e6e;
    margin-top: 65px;
    margin-left: -5px;
}

.choose_month {
    margin: 0!important;
}







