
/* Таблица с текущими параметрами */
body {
    margin: 0;
    background: #F4F1F8;

}
table {
    border-collapse: collapse;
    line-height: 1.1;
    background:  radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
    color: #0C213B;

}
caption {

    font-weight: bold;
    text-align: center;
}

.first {
    padding: 5px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.parent_image{
    width: 250px;
    height: 250px;
}

.stanok_img {
    width: 100%;
    height: 100%;
}


