
body {
    margin: 0;
}

#table_energy {
    margin: 10px auto;
    min-width: 70%;
    border-color: white;


}

#table_energy th,
#table_energy td {

    vertical-align: center;
    font-size: 14px;
    border: none!important;
    outline: 1px solid white!important;
    text-shadow: none!important;
    text-align: center;

    /*width: 50px;*/
}

#table_energy th {
    background-color: #0C213B;
    color: #fff;
    text-shadow: none!important;
}

#table_energy th:nth-of-type(0),
#table_energy td:nth-of-type(n) {
    text-align: center;
}

#table_energy > thead > tr > th:nth-of-type(1) {
    background-color: #223362!important;
    width: 60px!important;
    padding: 9px!important;
}


#table_energy > tbody > tr > td:nth-of-type(1) {
    background-color: #223362 !important;
    color: white;
    font-weight: bold;
    width: 60px!important;
    padding: 9px!important;
}


#table_energy > tbody > tr > td:nth-of-type(n+2) {
    /*background-color: blue!important;*/
    width: 50px;
    padding: 5px!important;
}

#table_energy > thead > tr > th:nth-of-type(n+2) {
    /*background-color: blue!important;*/
    width: 50px;
    padding: 5px!important;
}