#timeTable {
    width: 100%;
    margin: 0 auto;
}

#timeTable th,
#timeTable td {
    text-align: center;
}

#timeTable tr>td:nth-of-type(4),
#timeTable tr>td:nth-of-type(5),
#timeTable tr>td:nth-of-type(1)
{
    border: 1px solid #dee2e6;
}

#timeTable tr>td:nth-of-type(2),
#timeTable tr>td:nth-of-type(3),
#timeTable tr>td:nth-of-type(1)
{
    border-bottom: 1px solid #dee2e6;
}

.tableFixHead          { overflow: auto; height: 100vh;}
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
#timeTable  { border-collapse: collapse; width: 100%; }
#timeTable th, #timeTable td { padding: 8px 16px; }
#timeTable th     { background:#eee; }

#timeTable {
    width: 100%;
    margin: 0 auto;
}

#timeTable th, td {
    text-align: center;
}


#timeTable th:nth-child(n)
{
    border: 1px solid #dee2e6;
}

#timeTable tr>td:nth-of-type(n)
{
    border: 1px solid #dee2e6;
}

#programTimeTable {
    width: 100%;
    margin: 0 auto;
}

#programTimeTable th, td {
    text-align: center;
}


#programTimeTable th:nth-child(n)
{
    border: 1px solid #dee2e6;
}

#programTimeTable tr>td:nth-of-type(n)
{
    border: 1px solid #dee2e6;
}

.excelIcon {
    float: right;
    height: 10vh;
    margin: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 40%;
    transition: 1s;
}

.excelIcon:hover {
    filter: brightness(90%);
    opacity: 100%;
}