
body {
    margin: 0;
}

#table_users {
    /*margin: 0 0;*/
    /*border-collapse: separate;*/
    /*border-spacing: 0;*/
    /*border-color: #0C213B;*/
    /*border-width: 2px;*/
    margin: 70px 0;
    width: 90vw;
    border: 1px solid white;
    border-color: white;
}

th,
td {
    padding: 0.25em 0.5em 0.25em 1em!important;
    vertical-align: center;
    text-align: left;
    text-indent: -0.5em;
    font-size: 20px;
    border: none!important;
    outline: 1px solid white!important;
    /*border-width: 1px;*/
    text-shadow: none!important;
}

tr{
    outline: 1px solid white;
}

th {
    /*border: 1px solid white;*/
    vertical-align: center;
    background-color: #0C213B;
    color: #fff;
    /*border-color: #ffffff;*/
    /*outline: 1px solid white;*/
    padding: 5px;
    text-shadow: none!important;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

th:nth-of-type(n),
td:nth-of-type(n) {
    /*font-style: italic;*/
    text-align: center;
}

td:nth-of-type(7) {
    text-align: center;
}



#form_add {
    width: 400px; max-height: 600px;
    margin: 0 auto;
    padding: 18px 9px;
    border-radius: 4px;
    background: #fafafa;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
}
#form_add #form_add__close {
    width: 21px; height: 21px;
    position: absolute;
    top: 1px; right: 11px;
    cursor: pointer;
    display: block;
    font-size: 29px;
}
#overlay_add {
    z-index: 37;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    width: 100%; height: 100%;
    top: 0; left: 0;
    cursor :pointer;
    display :none;
}

#form_delete {
    width: 400px; height: 300px;
    margin: 0 auto;
    padding: 18px 9px;
    border-radius: 4px;
    background: #fafafa;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
}
#form_delete #form_delete__close {
    width: 21px; height: 21px;
    position: absolute;
    top: 1px; right: 11px;
    cursor: pointer;
    display: block;
    font-size: 29px;
}
#overlay_delete {
    z-index: 37;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    width: 100%; height: 100%;
    top: 0; left: 0;
    cursor :pointer;
    display :none;
}

.link_add{
    text-decoration: none!important;
}

.link_add:hover{

}

.link_delete{
    text-decoration: none!important;
}

.link_delete:hover{

}

td > img {
    vertical-align: middle;
    object-fit: cover;
    margin: 3%;
    transition: 1s;
    border-radius: 360px;
    width: 100px;
    height: 100px;
    margin-top:0;
}

.add_user_form > input, .add_user_form > div > input {
    border: 2px solid #eeeeee;
    height: 46px;
    min-width: 252px;
    margin: 10px 0 0 0;
    padding: 1%;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333333;
    letter-spacing: .01em;
    font-style: normal;
    font-weight: 300;
    font-family: source-sans-pro;
    cursor: pointer;
}

.add_user_form > select, .add_user_form > label > input, .delete_user_form > input{
    cursor: pointer;
}

.add_user_form > h3 {
    font-style: normal;
    font-family: 'Economica', 'Arial', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.add_user_form > p {
    font-family: 'Economica', 'Arial', sans-serif;
}

#list_roles {
    border: 2px solid #eeeeee;
    height: 46px;
    margin: 10px 0 0 0;
    padding: 1%;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333333;
    letter-spacing: .01em;
    font-style: normal;
    font-weight: 300;
    font-family: source-sans-pro;
}

#list_roles > option{
    border: 2px solid #eeeeee;
    height: 46px;
    margin: 10px 0 0 0;
    padding: 1%;
    font-size: 1em;
    line-height: 1.5em;
    color: #333333;
    letter-spacing: .01em;
    font-style: normal;
    font-weight: 300;
    font-family: source-sans-pro;
}

#submit {
    display: block;
    border-radius: 15%;
    width: 25%;
    height: 60px;
    margin: 30px auto 0;
    background: #376ce8;
    text-align: center;
    transition: background, color, .5s ease;
    border: 0;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #ffffff;
    letter-spacing: .01em;
    font-style: normal;
    font-weight: 300;
    font-family: source-sans-pro;
}
#submit:hover {
    background: #648dec;
    color: #3b3333;
}

.span_style {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333333;
    letter-spacing: .01em;
    font-style: normal;
    font-weight: 300;
    font-family: source-sans-pro;
}

.delete_user_form > input {
    border: 2px solid #eeeeee;
    height: 46px;
    width: 90%;
    margin: 10px 0 0 0;
    padding: 1%;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333333;
    letter-spacing: .01em;
    font-style: normal;
    font-weight: 300;
    font-family: source-sans-pro;
}

.delete_user_form > h3 {
    font-style: normal;
    font-family: 'Economica', 'Arial', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0px;
}

#sumbit_del{
    display: block;
    border-radius: 15%;
    width: 25%;
    height: 60px;
    margin: 30px auto 0;
    background: #ea4358;
    text-align: center;
    transition: background, color, .5s ease;
    border: 0;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #ffffff;
    letter-spacing: .01em;
    font-style: normal;
    font-weight: 300;
    font-family: source-sans-pro;
}

#sumbit_del:hover{
    color: #000000;
    background: #b73142;
}


.password-control {
    position: absolute;
    top: 30px;
    right: 90px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/view.svg) 0 0 no-repeat;
}
.password-control.view {
    background: url(../images/no-view.svg) 0 0 no-repeat;
}

.header-div {
    background-color: #f2f6f8;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

.icon-logo-admin:hover {
    background: #D43737;
    border-radius: 10px 33px 33px;
    transform: scale(1.01);
    transition: 1s;
}