.formUsersControl {
    background-color: #2c5275;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    width: 495px;
    max-height: 600px;
    padding: 18px 9px;
    border-radius: 4px;
    position: fixed;
    top: -115px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
}

.formUsersControl > label {
    font-size: 25px;
    margin: 5px 5px 5px 22px;
    color: white;
}

.formUsersControl > input {
    width: 90%;
    margin: 0 auto;
    color: white;
    background: #114360;
    height: 35px;
    font-size: 25px;
}

.formUsersControl select {
    width: 90%;
    margin: 0 auto;
    color: white;
    background: #114360;
    border-width: 2px;
    border-style: inset;
    height: 35px;
    font-size: 25px;
}

.formUsersControl select > option {
    width: 90%;
    margin: 0 auto;
    color: white;
    background: #114360;
    height: 21px;
}

.formUsersControl > button {
    margin-top: 10%;
}

.formHideUsersControl {
    position: absolute!important;
    opacity: 0;
    visibility: hidden;
    top: 0;
}

.formUsersControl > button {
    color: white;
    background: #1e74bd;
    font-size: 110%;
    padding: 0 10%;
    letter-spacing: 0.025em;
    border: 1px solid #22475c;
    border-radius: 15px;
    min-height: 44px;
    cursor: pointer;
    margin: 0px auto;
}

.formUsersControl > button:hover {
    box-shadow: 0px 0px 5px 0px #507e8f, inset 0px 0px 0px 0px #8a9da5 !important;
}

.formUsersControl input:hover,
.formUsersControl select:hover {
    cursor: text;
}

.formUsersControl select:hover {
    cursor: pointer;
}

.smenaTimeScud {
    display: flex;
    justify-content: center;
}

.smenaTimeScud label {
    color: white;
    display: inline-block;
    width: 100%;
}

.smenaTimeScud label:hover {
    box-shadow: 0px 0px 5px 0px #507e8f, inset 0px 0px 0px 0px #8a9da5 !important;
    cursor: pointer;
}

.tableUsersControl {
    border-spacing: 0;
    border-collapse: collapse;
    width: 70%;
    color: white;
    border-color: white;
    border: 2px solid #888a8d;
    transition: 0.3s;
    margin: 0 auto;
}

.tableUsersControl > tbody {
    display: block;
    width: 100%;
    max-height: 65vh;
    overflow-x: hidden;
    transition: max-height 0.15s ease-out;
    transition: max-height 0.2s ease-in;
}

.tableUsersControl > tbody > tr {
    padding: 4px;
    line-height: 215%;
    text-align: center;
    border-bottom: 1px solid #979595;
    font-family: sans-serif;
    background: #252734;
}


.tableUsersControl > thead {
    border-bottom: 1px solid #979595;
    background: #2c5275;
    display: block;
    height: 45px;
}

.tableUsersControl > thead > tr > th, .tableUsersControl > tbody > tr > td {
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableUsersControl > tbody > tr > td {
    margin-right: 5px;
}

.tableUsersControl tr {
    display: flex;
    width: 100%;
    height: 100%;
}

.tableUsersControl > thead > tr > th:nth-child(4) {
    margin-right: 2.6%;
}

.tableUsersControl > tbody > tr > td:nth-child(4) {
    margin-right: 2%;
}


.tableUsersControl > thead > tr > th:nth-child(7),
.tableUsersControl > thead > tr > th:nth-child(8),
.tableUsersControl > tbody > tr > td:nth-child(7),
.tableUsersControl > tbody > tr > td:nth-child(8) {
    width: 10%;
}


.tableUsersControl > thead > tr > th:nth-child(8) {
    margin-right: 2.5%;
}

.tableUsersControl > tbody > tr > td:nth-child(8) {
    margin-right: 1%;
}

.tableUsersControl > tbody > tr > td:last-child {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    text-align: center;
    transition: 0.3s;
}

.tableUsersControl > tbody > tr > td:nth-child(7):hover {
    cursor: pointer;
}

.tableUsersControl > tbody > tr > td:last-child:hover {
    cursor: pointer;
}

.tableBorderChange {
    border: 0.1px solid;
    border-color: #bc761c;
}

.tableBorderAdd {
    border: 0.1px solid;
    border-color: #536a4d;
}

.tdChange {
    background: no-repeat center/53% url(../images/iconPen.svg);
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.tdDelete {
    background: no-repeat center/65% url(../images/iconDelete.svg);
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.tdChange:hover {
    filter: brightness(150%) contrast(120%);
}

.tdDelete:hover {
    filter: brightness(150%) contrast(120%);
}

.addButtonUsersControl {
    margin: 5px auto;
    width: 30%;
    user-select: none;
}

.errorMessage {
    text-align: center;
    margin: 5px;
}

.typeSmenaWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellowQuestion {
    color: #ffeb00;
    margin-right: -17px;
    padding: 10px 10px 10px 0px;
    font-weight: bolder;
    user-select: none;
    cursor: help;
    position: relative;
}

.infoBlockUsersControl {
    position: absolute;
    visibility: hidden;
}

.adminPhotoMessage{
    text-align: center;
}



.adminInput[type=text]::placeholder, .adminInput[type=password]::placeholder,
.adminInput[type=email]::placeholder{
    color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
}

.darkSpace {
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: #0c0e18;
    position: fixed;
    top: 0;
    opacity: 70%;
    cursor: pointer;
}

p.formAdminName {
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin: 5px auto;
}

.passwordDiv{
    position: relative;
    width: 92%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.passwordDiv > .passwordEye{
    top:8px;
}

.passwordInput {
    width: 100%;
    margin: 0 auto;
    color: white;
    background: #114360;
    height: 35px;
    font-size: 25px;
}

.passwordEye{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 3px;
    cursor: pointer;
    filter: invert(100%) saturate(90%) brightness(100%) contrast(100%);
}

.eye{
    background: url(../images/view.svg) 0 0 no-repeat;

}

.noEye {
    background: url(../images/no-view.svg) 0 0 no-repeat;
}