<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Отчет по сменам</title>
    <link rel="shortcut icon" type="image/ico"/>

    <link rel="stylesheet" type="text/css" href="/css/styles_stanki.css"/>
    <link rel="stylesheet" type="text/css" href="/css/menu_buttons.css"/> <!-- Меню -->
    <link rel="stylesheet" type="text/css" href="/css/styles_header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userscontrol.css"/>
    <link rel="stylesheet" type="text/css" href="/css/styles_energy.css"/>
    <link rel="stylesheet" type="text/css" href="/css/alarm_styles.css"/>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>

    <script src="/js/highcharts.js"></script>
    <script src="/js/exporting.js"></script>
    <script src="/js/export-data.js"></script>
    <script src="/js/accessibility.js"></script>
    <script src="/js/xrange.js"></script>

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap-3.3.0.min.js"></script>

    <script src="/js/smena/smena.js"></script>
    <script src="/js/mesto.js"></script>
    <script src="/js/dark_theme.js"></script>

    <!--Календарь -->
    <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker.ru.min.js"></script>
    <script src="/js/smena/calendar_smena.js"></script>
    <script>

        // Функция получение пользовательских данных
        function SetUserSetting() {
            $.post("/api/userInfo", function( data ) {

                $('.avatar').attr("src", data.imageUser); // картинка лого для папок на уровень ниже
                $('.dropdown-content img').attr("src", data.imageUser); // картинка лого для папок на уровень ниже
                $('.div_login_mail li').html(data.userName); // картинка лого для папок на уровень ниже
                $('.div_login_mail p').html(data.userMail); // картинка лого для папок на уровень ниже

                var role_status = data.userRole;

                if (role_status === "ROLE_ADMIN") {
                    document.getElementById("role_vision").innerHTML = "Роль: Админ";
                    document.getElementById("admin").style.display = "inline";

                } else if (role_status === "ROLE_USER") {
                    document.getElementById("role_vision").innerHTML = "Роль: Пользователь"
                    document.getElementById("admin").style.display = "none";
                }
            })
        }


        $(function () {
            $('#datepicker').datepicker({
                format: "yyyy-mm-dd",
                language: 'ru',
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button"
            });
            <!--$("#datepicker").datepicker("update", new Date());  Задаем текущее время-->


            $('#button_obnovit').on("click", function () {

                $('#button_obnovit').attr('disabled', 'true')
                setTimeout(ActiveButton,1500)
                $('.follow').addClass('load')

                var datas = $('#datepicker').data().datepicker.viewDate.toISOString();

                linear_rabota = [];
                linear_pause = [];
                linear_off = [];
                linear_avar = [];
                linear_nagruzka = [];

                kol_op = [];
                kol_long_operations = [];

                linear_rabota_2 = [];
                linear_pause_2 = [];
                linear_off_2 = [];
                linear_avar_2 = [];
                linear_nagruzka_2 = [];

                kol_op_2 = [];
                kol_long_operations_2 = [];


                date = new Date(datas); // some mock date
                ms = date.getTime() - 86400000;

                startTime = datas.slice(0, 10)
                pastTime = new Date(ms).toISOString().slice(0, 10)

                clone = JSON.parse(JSON.stringify(objectStankov))
                allStanki = Names.length

                Diagram = []
                GetAllData(Names, clone)
            });
        });

    </script>   <!--Календарь js-->

    <!--preloader style-->
    <style>
        .preloader {
            /*фиксированное позиционирование*/
            position: fixed;
            /* координаты положения */
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            /* фоновый цвет элемента */
            /*background: #e0e0e0;*/
            /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
            z-index: 1001;
        }

        .preloader__row {
            position: relative;
            top: 50%;
            left: 50%;
            width: 70px;
            height: 70px;
            margin-top: -35px;
            margin-left: -35px;
            text-align: center;
            animation: preloader-rotate 2s infinite linear;
        }

        .preloader__item {
            position: absolute;
            display: inline-block;
            top: 0;
            background-color: #337ab7;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            animation: preloader-bounce 2s infinite ease-in-out;
        }

        .preloader__item:last-child {
            top: auto;
            bottom: 0;
            animation-delay: -1s;
        }

        @keyframes preloader-rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes preloader-bounce {

            0%,
            100% {
                transform: scale(0);
            }

            50% {
                transform: scale(1);
            }
        }

        .loaded_hiding .preloader {
            transition: 0.3s opacity;
            opacity: 0;
        }

        .loaded .preloader {
            display: none;
        }
    </style>

</head>

<header>
    <div style="display: flex; width: 100vw; justify-content: space-between; flex-wrap: nowrap; width: 100%;">
        <a href="../../home" style="display: flex; align-items: flex-start;" ><img src="../../images/logo_black.png" class="icon-logo icon-alarm"/></a>
        <ul id="menu_ul">
            <li id="menu_li"><a id="menu_a" href="../displayStanki">Мех.уч.2 пл.</a></li>
            <li id="menu_li1"><a id="menu_a1" href="../kim">ОТК</a></li>
            <li id="menu_li2"><a id="menu_a2" href="../navigators" class="menu-color">Резка</a><div class="neo-line"></div></li>
            <li id="menu_li3"><a id="menu_a3" href="../stanki_meh">Мех.уч.1 пл.</a></li>
            <li id="menu_li4"><a id="menu_a4" href="../robots">Роботы</a></li>
            <li id="menu_li5"><a id="menu_a5" href="../spec_complexes">Спец. комплексы</a></li>
            <li id="menu_li6"><a id="menu_a6" href="../sclads">Склады</a></li>
            <li id="menu_li7"><a id="menu_a7" href="../liteyka">Литьё</a></li>
            <li id="menu_li8"><a id="menu_a8" href="../gibka">Гибка</a></li>
        </ul>
        <div style="display: flex; flex-direction: row;">
            <div class="div_login_mail">
                <li></li>
                <p></p>
            </div>
            <div method="post" class="dropdown">
                <input type="image" alt="Avatar" class="avatar"/>
                <div class="dropdown-content">
                    <p id="role_vision"></p>
                    <p><img width="100" style="border-radius: 360px; margin-top:0; "/></p>
                    <div class="div_login_mail">
                        <li></li>
                        <p></p>
                    </div>
                    <button id="admin" onclick="window.location.href = '/adminpanel/userscontrol';">Администрирование
                    </button>
                    <label class="switch">
                        <p>Светлая Темная</p>
                        <span class="slider round"><input type="checkbox" id='dark_button'/><span
                                class="slider_before round_before"></span></span>
                    </label>
                    <form action="/logout" method="post">
                        <button class="follow" type="submit">
                            Выход
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="display:flex; justify-content: center;">
        <form>
            <button  formaction="../navigators" class="button_color">Суточный отчет</button>
            <button formaction="../navigators_month" class="button_color">Месячный отчет</button>
            <button formaction="smena_rezka" class="button_color button_color_active">Отчет по сменам<div class="neo-line"></div></button>
        </form>
    </div>  <!-- Меню -->

    <div class="container" style="display: flex; justify-content: center; align-items: center;">
        <div style="width: 250px; float: left">
            <h2 class="choose_month">Выберите дату:</h2>
        </div>
        <form style="margin: 0 20px; display: flex; align-items: center;" action="" method="post" id="form_update">

            <div class='input-group date' id='datepicker' style="width: 200px; float: left;  margin: 1.7%">
                <input type='text' class="form-control" value=""/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </form>
        <div class="form-actions">
            <button class="follow" id="button_obnovit"  style="float: left; margin: 1.5%;  font-size: 150%; text-align: center">
                <span>Обновить</span>
            </button>
        </div>
    </div>      <!--Календарь html-->

</header>       <!--Шапка html-->

<body>
<div class="preloader">
    <div class="preloader__row">
        <div class="preloader__item"></div>
        <div class="preloader__item"></div>
    </div>
</div>
<!-- Загрузка страницы и темная тема-->
<script>
    SetUserSetting()
    var dark_theme_state = 0; <!--    переменная состояния темы страницы-->

    if(localStorage['dark_theme_state'] != null) {
        dark_theme_state = parseInt(window.localStorage['dark_theme_state']); // Если она уже локально задана сохраняем
    }

    if (dark_theme_state == 0) {$('.preloader').attr("style", `background: #f2f6f8`);} // присвоение цвета загрузочного меню
    else if (dark_theme_state == 1) {$('.preloader').attr("style", `background: #161821`);} // в двух цветах

    window.onload = function () { // прелоудер
        document.body.classList.add('loaded_hiding');
        window.setTimeout(function () {
            document.body.classList.add('loaded');
            document.body.classList.remove('loaded_hiding');
        }, 500);

        dark_theme(); // Вызов функции
        // Смена цвета по кнопке
        $("#dark_button").on("click", function() {
            dark_theme_state++; // увеличиваем счетчик
            if(dark_theme_state > 1) // если он больше 1, меняем на ноль
            {
                dark_theme_state = 0;
            }
            window.localStorage['dark_theme_state'] = dark_theme_state; // сохраняем переменную в локальном хранилище
            // Условия для смены цвета после нажатия на кнопку
            dark_theme();
        });
    }
</script>

<div style="display: flex; justify-content: space-between;">
    <div id="container_sum_zagruzka" style="height: 400px; width: 800px"></div>
    <div id="container_kol_operations" style="height: 400px; width: 50%"></div>
</div>  <!--Общая загрузка  html-->
<div style="display: flex; justify-content: space-between;">
    <div id="container_sum_zagruzka_2" style="height: 400px; width: 800px"></div>
    <div id="container_kol_operations_2" style="height: 400px; width: 50%"></div>
</div>  <!--Общая загрузка  html-->


<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left; margin-bottom: 50px"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="../images/navigator.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">Навигатор #1</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="navigator_1(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(1320, screen.availHeight)+',width='+Math.min(1200, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_navigator_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                        <a style="text-decoration: none; float: left" class="icon_power" href="stanki/navigatorPower" onclick="navigator_1_power(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(1320, screen.availHeight)+',width='+Math.min(1200, screen.availWidth)); return false;"><div class='label_power'>Излучение</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work1" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container1" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->

            <div id="container_work2" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container2" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--Навигатор_1 html-->
</div> <!--Навигатор_1 html-->

<div style="overflow: hidden;">
    <div style="width: 100%;   margin: 2%;">
        <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
            <div class="parent_image">
                <img src="../images/navigator.png" class="stanok_img"/>
                <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">Навигатор #2</figcaption>
                <div style="margin-bottom: 20px">
                    <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="navigator_2(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(1320, screen.availHeight)+',width='+Math.min(1200, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                    <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_navigator_2" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                </div>
            </div>
        </div>
        <div style="margin-left: 40%;"><h2 style="color:#83addd!important;">Голова 1</h2></div>
        <div id="container_work3" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
        <div id="container3" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->

        <div id="container_work4" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
        <div id="container4" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
    </div>
</div>  <!--Навигатор_2_голова_1 html-->

<div style="overflow: hidden;">
    <div style="width: 100%;   margin: 2%;">
        <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
            <div class="parent_image">
            </div>
        </div>
        <div style="margin-left: 40%;"><h2 style="color:#83addd!important;">Голова 2</h2></div>
        <div id="container_work5" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
        <div id="container5" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->

        <div id="container_work6" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
        <div id="container6" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
    </div>
</div>  <!--Навигатор_2_голова_2 html-->

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="../images/navigator.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">Навигатор #3</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="navigator_3(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(1320, screen.availHeight)+',width='+Math.min(1200, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_navigator_3" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work7" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container7" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->

            <div id="container_work8" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container8" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--Навигатор_3 html-->
</div> <!--Навигатор_3 html-->

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="../images/trulaser.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">TruLaser</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="trulaser(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(1320, screen.availHeight)+',width='+Math.min(1200, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_trulaser" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work9" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container9" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->

            <div id="container_work10" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container10" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--trulaser html-->
</div> <!--trulaser html-->

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="../images/kometa.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">Комета #1</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="kometa_1(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(895, screen.availHeight)+',width='+Math.min(1020, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_kometa_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work11" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container11" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->

            <div id="container_work12" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container12" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--kometa 1 html-->
</div> <!--kometa 1 html-->

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="../images/kometa.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">Комета #2</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="kometa_2(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(1320, screen.availHeight)+',width='+Math.min(1200, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_kometa_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work13" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container13" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->

            <div id="container_work14" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container14" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--kometa 1 html-->
</div> <!--kometa 2 html-->

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="../images/kometa.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">Комета #3</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="kometa_3(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(1320, screen.availHeight)+',width='+Math.min(1200, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_kometa_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work15" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container15" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->

            <div id="container_work16" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container16" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--kometa 1 html-->
</div> <!--kometa 3 html-->

<!--Скрипт объявления переменных и запуска основного скрипта-->
<script>
    // Переменная с именами станков для общих диаграмм
    let generalDiagramNames = ['Навигатор #1', 'Навигатор #2 - голова 1', 'Навигатор #2 - голова 2', 'Навигатор #3', 'Trulaser', 'Комета #1', 'Комета #2', 'Комета #3']

    var linear_rabota = [];
    var linear_pause = [];
    var linear_off = [];
    var linear_avar = [];
    var linear_nagruzka = [];

    var kol_op = [];
    var kol_long_operations = [];

    var linear_rabota_2 = [];
    var linear_pause_2 = [];
    var linear_off_2 = [];
    var linear_avar_2 = [];
    var linear_nagruzka_2 = [];

    var kol_op_2 = [];
    var kol_long_operations_2 = [];

    // Переменные настройка текущей и предыдущей даты
    var time = new Date(new Date().toString().split('GMT')[0] + ' UTC').toISOString();
    var date = new Date(time); // some mock date
    var ms = date.getTime() - 86400000;
    // Текущая и предыдущая даты. Глобальные переменные, видные из функций
    var startTime = time.slice(0, 10)
    var pastTime = new Date(ms).toISOString().slice(0, 10)
    $('.form-control').attr('value', startTime)


    // Функция назначения объектам свойств
    function objectStatus() {return {'today':[], 'yesterday': [], 'ready': [], 'complete':[]}}
    // Назанечение объекту полей.
    const objectStankov = {
        'navigator_1': objectStatus(),
        'navigator_2_golova_1': objectStatus(),
        'navigator_2_golova_2': objectStatus(),
        'navigator_3': objectStatus(),
        'trulaser': objectStatus(),
        'kometa_1': objectStatus(),
        'kometa_2': objectStatus(),
        'kometa_3': objectStatus(),
    }

    // Клон объекта станков, чтобы не изменять оригинальный объект
    var clone = JSON.parse(JSON.stringify(objectStankov))

    // Имена берутся из ключей названий
    var Names = Object.keys(clone)

    // Переменная хранящая количество станков, работает в функции checkerAllReady()
    var allStanki = Names.length

    // Переменная в которую запишутся данные всех смен.
    var Diagram = []

    // Функция получения и отправки данных из запросов в clone и вызовом функции рисования графиков.
    GetAllData(Names, clone)
</script>

<!-- Скрипт вызова функции для выпадающего меню -->
<script src="/js/dropdown_menu.js"></script>

</body>
</html>