<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" href="css/styles_home.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles_header.css"/>
    <script>
        window.onload = function () {
            document.body.classList.add('loaded_hiding');
            window.setTimeout(function () {
                document.body.classList.add('loaded');
                document.body.classList.remove('loaded_hiding');
            }, 500);
        }
    </script>
</head>
<body>
<header>
    <ul class="hr">
        <a href="home" ><img style="margin: 0.1%" src="images/logo_black.png"/> </a>
        <div method="post" class="dropdown" style="float: right">

            <input type="image" th:src="@{${image_user}}" alt="Avatar" class="avatar" style="border-radius: 360px; "/>
            <div class="dropdown-content" style="float: right; text-align: center">
                <p><img th:src="@{${image_user}}" width="100" style="border-radius: 360px; "/></p>
                <li style="font-weight: 600; font-size: 150%" th:text="${user_name}"></li>
                <p th:text="${user_mail}"></p>
                <form th:action="@{/logout}" method="post">
                    <button class="follow" type="submit">
                        Выход
                    </button>
                </form>
            </div>
        </div>
        <li style="float: right; color: #ffffff; font-size: 120%; margin: 0.3%; text-align: center"
            th:text="'Добро пожаловать, '  + ${user_name} + '!   '"/>
    </ul>       <!--Шапка html-->
</header>       <!--Шапка html-->

<div class="preloader">
    <div class="preloader__row">
        <div class="preloader__item"></div>
        <div class="preloader__item"></div>
    </div>
</div>

<!--Кнопки меню-->
<div class="main-container">
    <a href="displayStanki" class="container" style="text-decoration: none">
        <div class="icon-container">
            <p>Суточные и месячные отчеты работы оборудования</p>
            <div class="stanki"></div>
        </div>
        <h2>Станки</h2>
    </a>
    <a href="sklad" class="container" style="text-decoration: none">
        <div class="icon-container">
            <p>Учет комплектующих склада Мех. цеха II площадки</p>
            <div class="envelope"></div>
        </div>
        <h2>Склад</h2>
    </a>
    <a href="winnum" class="container" style="text-decoration: none">
        <div class="icon-container">
            <p>Интегрированная платформа мониторинга оборудования</p>
            <div class="winnum"></div>
        </div>
        <h2>Winnum</h2>
    </a>
    <a href="owencloud" class="container" style="text-decoration: none">
        <div class="icon-container">
            <p>Облачная платформа мониторинга оборудования</p>
            <div class="owencloud"></div>
        </div>
        <h2>Owencloud</h2>
    </a>
    <a href="intra" class="container" style="text-decoration: none">
        <div class="icon-container">
            <p>SCADA система Intrahouse для диспетчеризации</p>
            <div class="intra"></div>
        </div>
        <h2>Умный дом</h2>
    </a>
    <a href="netcube" class="container" style="text-decoration: none">
        <div class="icon-container">
            <p>Платформа мониторинга оборудования</p>
            <div class="netcube"></div>
        </div>
        <h2>Netcube</h2>
    </a>
    <a href="wialon" class="container" style="text-decoration: none">
        <div class="icon-container">
            <p>Облачная платформа мониторинга производимых ППЦ</p>
            <div class="wialon"></div>
        </div>
        <h2>Wialon</h2>
    </a>
    <a href="/menubar/teamcenter" class="container" style="text-decoration: none">
        <div class="icon-container">
            <p>Платформа для работы с конструкторской документацией</p>
            <div class="teamcenter"></div>
        </div>
        <h2>Teamcenter</h2>
    </a>
</div>
</body>
</html>
