<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" href="css/styles_home.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles_header.css"/>
    <link rel="stylesheet" type="text/css" href="css/menu_buttons.css"/> <!-- Меню -->

    <script>
        window.onload = function () {
            document.body.classList.add('loaded_hiding');
            window.setTimeout(function () {
                document.body.classList.add('loaded');
                document.body.classList.remove('loaded_hiding');
            }, 500);
        }
    </script>
</head>

<header>
    <div style="display: flex; width: 100vw; justify-content: space-between; flex-wrap: nowrap; width: 100%;">
        <a href="home" style="display: flex; align-items: flex-start;" ><img src="images/logo_black.png" class="icon-logo"/></a>
        <div style="display: flex; flex-direction: row;">
            <div class="div_login_mail">
                <li th:text="${user_name}"></li>
                <p th:text="${user_mail}"></p>
            </div>
            <div method="post" class="dropdown">
                <input type="image" th:src="@{${image_user}}" alt="Avatar" class="avatar"/>
                <div class="dropdown-content">
                    <p id="role_vision"></p>
                    <p><img th:src="@{${image_user}}" width="100" style="border-radius: 360px; margin-top:0; "/></p>
                    <li th:text="${user_name}"></li>
                    <p th:text="${user_mail}"></p>
                    <div style=" display: block; border-bottom: 1px solid #e8eaed; margin-bottom: 5px; line-height: normal"></div>
                    <button id="admin" onclick="window.location.href = '/adminpanel/userscontrol';">Администрирование</button>
                    <label class="switch">
                        <p>Светлая Темная</p>
                        <span class="slider round"><input type="checkbox" id='dark_button'/><span class="slider_before round_before"></span></span>
                    </label>
                    <form th:action="@{/logout}" method="post">
                        <button class="follow" type="submit">
                            Выход
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>       <!--Шапка html-->

<body>

<div class="preloader">
    <div class="preloader__row">
        <div class="preloader__item"></div>
        <div class="preloader__item"></div>
    </div>
</div>

<!--Кнопки меню-->
<div class="main-container-home">
    <a href="displayStanki" class="container-home" style="text-decoration: none">
        <div class="icon-container">
            <p>Суточные и месячные отчеты работы оборудования</p>
            <div class="stanki"></div>
        </div>
        <h2>Станки</h2>
    </a>
    <a href="energy_source" class="container-home" style="text-decoration: none">
        <div class="icon-container">
            <p>Показатели расхода газа, воды, электроэнергии</p>
            <div class="energy"></div>
        </div>
        <h2>Энергоресурсы</h2>
    </a>
    <a href="sklad" class="container-home" style="text-decoration: none">
        <div class="icon-container">
            <p>Учет комплектующих склада Мех. цеха II площадки</p>
            <div class="envelope"></div>
        </div>
        <h2>Склад</h2>
    </a>
    <a href="winnum" class="container-home" style="text-decoration: none">
        <div class="icon-container">
            <p>Интегрированная платформа мониторинга оборудования</p>
            <div class="winnum"></div>
        </div>
        <h2>Winnum</h2>
    </a>
    <a href="owencloud" class="container-home" style="text-decoration: none">
        <div class="icon-container">
            <p>Облачная платформа мониторинга оборудования</p>
            <div class="owencloud"></div>
        </div>
        <h2>Owencloud</h2>
    </a>
    <a href="intra" class="container-home" style="text-decoration: none">
        <div class="icon-container">
            <p>SCADA система Intrahouse для диспетчеризации</p>
            <div class="intra"></div>
        </div>
        <h2>Умный дом</h2>
    </a>
    <a href="netcube" class="container-home" style="text-decoration: none">
        <div class="icon-container">
            <p>Платформа мониторинга оборудования</p>
            <div class="netcube"></div>
        </div>
        <h2>Netcube</h2>
    </a>
    <a href="wialon" class="container-home" style="text-decoration: none">
        <div class="icon-container">
            <p>Облачная платформа мониторинга производимых ППЦ</p>
            <div class="wialon"></div>
        </div>
        <h2>Wialon</h2>
    </a>
    <a href="/menubar/teamcenter" class="container-home" style="text-decoration: none">
        <div class="icon-container">
            <p>Платформа для работы с конструкторской документацией</p>
            <div class="teamcenter"></div>
        </div>
        <h2>Teamcenter</h2>
    </a>
</div>
<script th:inline="javascript">
    var role_status = [[${user_role}]];

    if(role_status === "ROLE_ADMIN")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Админ";
        document.getElementById("admin").style.display = "inline";

    }
    else if (role_status === "ROLE_USER")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Пользователь"
        document.getElementById("admin").style.display = "none";
    }


</script>

<script th:inline="javascript">
    var role_status = [[${user_role}]];

    if(role_status === "ROLE_ADMIN")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Админ";
        document.getElementById("admin").style.display = "inline";

    }
    else if (role_status === "ROLE_USER")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Пользователь";
        document.getElementById("admin").style.display = "none";
    }
</script>
<!--Скрипт отображения в header  кнопки администрирование-->

<script src="/js/dark_theme.js"></script>
<script>

    var dark_theme_state = 0; <!--    переменная состояния темы страницы-->

    //Если значение ключа не пустое присваеваем переменным последнее сохраненное значение
    if(localStorage['dark_theme_state'] != null) {
        dark_theme_state = parseInt(window.localStorage['dark_theme_state']);
    }
    // Условия для смены цвета вне нажатия на кнопку


    dark_theme(); // Вызов функции
    // Смена цвета по кнопке
    $("#dark_button").on("click", function() {
        dark_theme_state++; // увеличиваем счетчик
        if(dark_theme_state > 1) // если он больше 1, меняем на ноль
        {
            dark_theme_state = 0;
        }
        window.localStorage['dark_theme_state'] = dark_theme_state; // сохраняем переменную в локальном хранилище

        // Условия для смены цвета после нажатия на кнопку
        dark_theme();
    });
</script>
<!--Скрипт темной темы-->

<script src="/js/dropdown_menu.js"></script>
<script>
    click_avatar();
</script> <!-- Скрипт вызова функции для выпадающего меню -->
</body>
</html>
