<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sespel IoT</title>

    <link href="/fonts/fontGoogleApi.css" rel="stylesheet">

    <link href=/css/login.css type="text/css" rel=stylesheet>
    <link href=/css/index.css type="text/css" rel=stylesheet>
    <link href=/css/profile.css type="text/css" rel=stylesheet>
    <link href=/css/home.css type="text/css" rel=stylesheet>
    <link href=/css/header.css type="text/css" rel=stylesheet>
    <link href=/css/energy.css type="text/css" rel=stylesheet>
    <link href=/css/calendarMonth.css type="text/css" rel=stylesheet>

    <script src="/js/lib/react.development.js"></script>
    <script src="/js/lib/react-dom.development.js"></script>
    <script src="/js/lib/react-router-dom.min_v5.js"></script>
    <script src="/js/lib/babel.min.js"></script>

    <script src="/js/lib/highcharts.js"></script>


    <script type="text/babel" src="/js/components/login.jsx"></script>
    <script type="text/babel" src="/js/components/home.jsx"></script>
    <script type="text/babel" src="/js/components/header.jsx"></script>
    <script type="text/babel" src="/js/components/dropdown.jsx"></script>
    <script type="text/babel" src="/js/components/menubar.jsx"></script>
    <script type="text/babel" src="/js/components/energyWater.jsx"></script>
    <script type="text/babel" src="/js/components/energyGas.jsx"></script>
    <script type="text/babel" src="/js/components/energyElectro.jsx"></script>

</head>

<body>
<div id="main-app">
</div>
</body>

<script type="text/babel" src="/js/index.js"></script>

</html>