<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sespel IoT</title>

    <link href="/fonts/fontGoogleApi.css" rel="stylesheet">

    <link href=/css/login.css type="text/css" rel=stylesheet>
    <link href=/css/index.css type="text/css" rel=stylesheet>
    <link href=/css/profile.css type="text/css" rel=stylesheet>
    <link href=/css/home.css type="text/css" rel=stylesheet>
    <link href=/css/header.css type="text/css" rel=stylesheet>
    <link href=/css/energy.css type="text/css" rel=stylesheet>
    <link href=/css/calendarMonth.css type="text/css" rel=stylesheet>
    <link href=/css/stanki.css type="text/css" rel=stylesheet>
    <link href=/css/beacon.css type="text/css" rel=stylesheet>
    <link href=/css/service.css type="text/css" rel=stylesheet>

    <script src="/js/lib/react.development.js"></script>
    <script src="/js/lib/react-dom.development.js"></script>
    <script src="/js/lib/react-router-dom.min_v5.js"></script>
    <script src="/js/lib/babel.min.js"></script>

    <script src="/js/lib/highcharts.js"></script>
    <script src="/js/lib/xrange.js"></script>
    <script src="/js/lib/exporting.js"></script>
    <script src="/js/lib/export-data.js"></script>

    <script src="/js/highchartsReport.js"></script>
    <script src="/js/solutions.js"></script>
    <script src="/js/fetchRequests.js"></script>

    <script type="text/babel" src="/js/components/login.jsx"></script>
    <script type="text/babel" src="/js/components/home.jsx"></script>
    <script type="text/babel" src="/js/components/header.jsx"></script>
    <script type="text/babel" src="/js/components/dropdown.jsx"></script>
    <script type="text/babel" src="/js/components/menubar.jsx"></script>
    <script type="text/babel" src="/js/components/energyWater.jsx"></script>
    <script type="text/babel" src="/js/components/energyGas.jsx"></script>
    <script type="text/babel" src="/js/components/energyElectro.jsx"></script>
    <script type="text/babel" src="/js/components/beacon.jsx"></script>
    <script type="text/babel" src="/js/components/otk.jsx"></script>
    <script type="text/babel" src="/js/components/otkMonth.jsx"></script>
    <script type="text/babel" src="/js/components/otkSmena.jsx"></script>
    <script type="text/babel" src="/js/components/liteyka.jsx"></script>
    <script type="text/babel" src="/js/components/liteykaMonth.jsx"></script>
    <script type="text/babel" src="/js/components/liteykaSmena.jsx"></script>
    <script type="text/babel" src="/js/components/menuStanki.jsx"></script>
    <script type="text/babel" src="/js/components/calendarInput.jsx"></script>
    <script type="text/babel" src="/js/components/gibka.jsx"></script>
    <script type="text/babel" src="/js/components/gibkaMonth.jsx"></script>
    <script type="text/babel" src="/js/components/gibkaSmena.jsx"></script>
    <script type="text/babel" src="/js/components/sclads.jsx"></script>
    <script type="text/babel" src="/js/components/scladsMonth.jsx"></script>
    <script type="text/babel" src="/js/components/scladsSmena.jsx"></script>
    <script type="text/babel" src="/js/components/specComplexes.jsx"></script>
    <script type="text/babel" src="/js/components/specComplexesMonth.jsx"></script>
    <script type="text/babel" src="/js/components/specComplexesSmena.jsx"></script>
    <script type="text/babel" src="/js/components/robots.jsx"></script>
    <script type="text/babel" src="/js/components/robotsMonth.jsx"></script>
    <script type="text/babel" src="/js/components/robotsSmena.jsx"></script>
    <script type="text/babel" src="/js/components/meh1.jsx"></script>
    <script type="text/babel" src="/js/components/meh1Month.jsx"></script>
    <script type="text/babel" src="/js/components/meh1Smena.jsx"></script>
    <script type="text/babel" src="/js/components/rezka.jsx"></script>
    <script type="text/babel" src="/js/components/rezkaMonth.jsx"></script>
    <script type="text/babel" src="/js/components/rezkaSmena.jsx"></script>
    <script type="text/babel" src="/js/components/meh2.jsx"></script>
    <script type="text/babel" src="/js/components/meh2Month.jsx"></script>
    <script type="text/babel" src="/js/components/meh2Smena.jsx"></script>
    <script type="text/babel" src="/js/components/service.jsx"></script>
    <script type="text/babel" src="/js/components/complexButtonsInfo.jsx"></script>

</head>

<body class="bodyStyle">
<div id="main-app">
    <div class="loader"></div>
</div>
</body>


<script type="text/babel" src="/js/index.js"></script>

</html>