<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sespel IoT</title>

    <link href="/fonts/fontGoogleApi.css" rel="stylesheet">

    <link href=/css/login.css type="text/css" rel=stylesheet>
    <link href=/css/index.css type="text/css" rel=stylesheet>
    <link href=/css/profile.css type="text/css" rel=stylesheet>
    <link href=/css/home.css type="text/css" rel=stylesheet>
    <link href=/css/header.css type="text/css" rel=stylesheet>
    <link href=/css/energy.css type="text/css" rel=stylesheet>
    <link href=/css/calendarMonth.css type="text/css" rel=stylesheet>
    <link href=/css/stanki.css type="text/css" rel=stylesheet>
    <link href=/css/beacon.css type="text/css" rel=stylesheet>
    <link href=/css/service.css type="text/css" rel=stylesheet>
    <link href=/css/scud.css type="text/css" rel=stylesheet>
    <link href=/css/usersControl.css type="text/css" rel=stylesheet>
    <link href=/css/scudMonth.css type="text/css" rel=stylesheet>
    <link href=/css/network.css type="text/css" rel=stylesheet>

    <script src="/js/lib/react.development-v18.js"></script>
    <script src="/js/lib/react-dom.development-v18.js"></script>
    <script src="/js/lib/react-router-dom.min_v5.js"></script>
    <script src="/js/lib/babel.min.js"></script>

    <script src="/js/lib/highcharts.js"></script>
    <script src="/js/lib/xrange.js"></script>
    <script src="/js/lib/exporting.js"></script>
    <script src="/js/lib/export-data.js"></script>
    <script src="/js/lib/table-to-excel@v1.0.4.js"></script>

    <script src="/js/highchartsReport.js"></script>
    <script src="/js/solutions.js"></script>
    <script src="/js/fetchRequests.js"></script>
    <script src="/js/buildConvert.js"></script>
    <script src="/js/solutionScud.js"></script>

    <script type="text/babel" src="/js/components/login.jsx"></script>
    <script type="text/babel" src="/js/components/home.jsx"></script>
    <script type="text/babel" src="/js/components/header.jsx"></script>
    <script type="text/babel" src="/js/components/dropdown.jsx"></script>
    <script type="text/babel" src="/js/components/energyWater.jsx"></script>
    <script type="text/babel" src="/js/components/energyGas.jsx"></script>
    <script type="text/babel" src="/js/components/energyElectro.jsx"></script>
    <script type="text/babel" src="/js/components/printEnergy.jsx"></script>
    <script type="text/babel" src="/js/components/beacon.jsx"></script>
    <script type="text/babel" src="/js/components/menuStanki.jsx"></script>
    <script type="text/babel" src="/js/components/calendarInput.jsx"></script>
    <script type="text/babel" src="/js/components/individualPage.jsx"></script>
    <script type="text/babel" src="/js/components/individualPageMonth.jsx"></script>
    <script type="text/babel" src="/js/components/individualPageSmena.jsx"></script>
    <script type="text/babel" src="/js/components/listDevices.jsx"></script>
    <script type="text/babel" src="/js/components/service.jsx"></script>
    <script type="text/babel" src="/js/components/report.jsx"></script>
    <script type="text/babel" src="/js/components/currentParams.jsx"></script>
    <script type="text/babel" src="/js/components/complexButtonsInfo.jsx"></script>
    <script type="text/babel" src="/js/components/scud.jsx"></script>
    <script type="text/babel" src="/js/components/scudMonth.jsx"></script>
    <script type="text/babel" src="/js/components/userControl.jsx"></script>
    <script type="text/babel" src="/js/components/network.jsx"></script>

</head>

<body class="bodyStyle">
<div id="main-app">
    <div class="loaderWrapper">
        <div class="loaderText">IoT Sespel</div>
        <div class="loader"></div>
    </div>
</div>
</body>


<script type="text/babel" src="/js/index.js"></script>

</html>