<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>ОТК</title>
  <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>

  <link rel="stylesheet" type="text/css" href="/css/styles_stanki.css"/>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>
  <link rel="stylesheet" type="text/css" href="/css/menu_buttons.css"/> <!-- Меню -->
  <link rel="stylesheet" type="text/css" href="css/styles_header.css"/>

  <style>
    .btn_change {
      position: relative;
      display: inline-block;
      padding: 15px 70px;
      border: 3px solid #6793d6;
      color: #6793d6;
      background: #ffffff;
      font-size: 30px;
      font-family: arial;
      background-image: linear-gradient(#6793d6, #6793d6);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: background-size .5s, color .5s;
    }

    .btn_change:hover {
      background-size: 100% 100%;
      color: #ffffff;
    }
  </style> <!--Кнопки выбора отчета-->
  <style>

    .icon_mesto_kim{

      width: 60px;
      height: 60px;
      background: url(https://icons.iconarchive.com/icons/icons-land/vista-map-markers/64/Map-Marker-Marker-Outside-Chartreuse-icon.png) no-repeat;
      background-size: 60px 60px;
      margin-top: 10px;
      margin-left: 30px;
    }
    .icon_mesto_kim:hover {
      -webkit-box-shadow: inset 0px 0px 12px 12px rgba(255, 255, 255, .9);
    }
    .icon_personal_kim{
      background: url(https://icons.iconarchive.com/icons/icons-land/vista-people/72/Office-Customer-Male-Light-icon.png) no-repeat;
      background-size: 60px 60px;
      margin-top: 10px;
      margin-left: 30px;
    }
    .icon_personal_kim:hover {
      -webkit-box-shadow: inset 0px 0px 12px 10px rgba(255, 255, 255, .9);
    }

    .label_mesto_kim{
      color: #756e6e;
      margin-top: 65px;
      margin-left: 8px;
    }
    .label_personal_kim{
      color: #756e6e;
      margin-top: 65px;
      margin-left: -5px;
    }

  </style> <!--Кнопки Персонал и Местоположение-->
  <style>
    .preloader {
      /*фиксированное позиционирование*/
      position: fixed;
      /* координаты положения */
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      /* фоновый цвет элемента */
      background: #e0e0e0;
      /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
      z-index: 1001;
    }

    .preloader__row {
      position: relative;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-left: -35px;
      text-align: center;
      animation: preloader-rotate 2s infinite linear;
    }

    .preloader__item {
      position: absolute;
      display: inline-block;
      top: 0;
      background-color: #337ab7;
      border-radius: 100%;
      width: 35px;
      height: 35px;
      animation: preloader-bounce 2s infinite ease-in-out;
    }

    .preloader__item:last-child {
      top: auto;
      bottom: 0;
      animation-delay: -1s;
    }

    @keyframes preloader-rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes preloader-bounce {

      0%,
      100% {
        transform: scale(0);
      }

      50% {
        transform: scale(1);
      }
    }

    .loaded_hiding .preloader {
      transition: 0.3s opacity;
      opacity: 0;
    }

    .loaded .preloader {
      display: none;
    }
  </style>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script src="https://code.highcharts.com/modules/xrange.js"></script>

  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/bootstrap-3.3.0.min.js"></script>

  <script>
    $(function () {
      $('#datepicker').datepicker({
        format: "dd/mm/yyyy",
        language: 'ru',
        autoclose: true,
        todayHighlight: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        autoclose: true,
        changeMonth: true,
        changeYear: true,
        orientation: "button"
      });
      <!--$("#datepicker").datepicker("update", new Date());  Задаем текущее время-->


      $('#button_obnovit').on("click", function () {
        var datas = $('#datepicker').data().datepicker.viewDate;
        var day = datas.getDate();
        var mes = datas.getMonth() + 1;
        var year = datas.getFullYear();

        name_data = year + "-" + mes + "-" + day;
        <!--console.log(name_data);-->
      });


    });

  </script>   <!--Календарь js-->

  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>


  <!-- Загрузка страницы -->
  <script>
    window.onload = function () {
      document.body.classList.add('loaded_hiding');
      window.setTimeout(function () {
        document.body.classList.add('loaded');
        document.body.classList.remove('loaded_hiding');
      }, 500);
    }
  </script>

</head>

<header>
  <ul class="hr">
    <a href="home" ><img style="margin: 0.1%" src="images/logo_black.png"/> </a>
    <div method="post" class="dropdown" style="float: right">

      <input type="image" th:src="@{${image_user}}" alt="Avatar" class="avatar" style="border-radius: 360px; "/>
      <div class="dropdown-content" style="float: right; text-align: center">
        <p><img th:src="@{${image_user}}" width="100" style="border-radius: 360px; "/></p>
        <li style="font-weight: 600; font-size: 150%" th:text="${user_name}"></li>
        <p th:text="${user_mail}"></p>
        <form th:action="@{/logout}" method="post">
          <button class="follow" type="submit">
            Выход
          </button>
        </form>
      </div>
    </div>
    <li style="float: right; color: #ffffff; font-size: 120%; margin: 0.3%; text-align: center"
        th:text="'Добро пожаловать, '  + ${user_name} + '!   '"/>
  </ul>       <!--Шапка html-->
</header>       <!--Шапка html-->

<div>
  <ul id="menu_ul">
    <li id="menu_li"><a id="menu_a" href="displayStanki">Мех.уч.II пл.</a></li>
    <li id="menu_li1"><a id="menu_a1" href="kim">ОТК</a></li>
    <li id="menu_li2"><a id="menu_a2" href="navigators">Резка</a></li>
    <li id="menu_li3"><a id="menu_a3" href="stanki_meh">Мех.уч.I пл.</a></li>
    <li id="menu_li4"><a id="menu_a4" href="robots">Роботы</a></li>
    <li id="menu_li5"><a id="menu_a5" href="spec_complexes">Спец. комплексы</a></li>
    <li id="menu_li6"><a id="menu_a6" href="sclads">Склады</a></li>
    <li id="menu_li7"><a id="menu_a7" href="liteyka">Литьё</a></li>
  </ul>
</div>  <!-- Меню -->

<!-- Загрузка страницы -->
<div class="preloader">
  <div class="preloader__row">
    <div class="preloader__item"></div>
    <div class="preloader__item"></div>
  </div>
</div>

<body>
      <!--Шапка html-->

      <div style="clear: both">
        <form>
          <button formaction="kim" class="btn_change" style="width:40%">Суточный отчет</button>
          <button formaction="kim_month" class="btn_change" style="width:40%">Месячный отчет</button>
        </form>
      </div>  <!--Кнопки суточный и месячный отчеты html-->


      <div class="container">
        <div style="width: 220px; float: left">
          <h2>Выберите дату:</h2>
        </div>

        <form  action="#" th:action="@{/kim}" th:object="${calendar_date}" method="post" >

          <div class='input-group date' id='datepicker' style="width: 200px; float: left;  margin: 1.7%">
            <input type='text' class="form-control" th:field="*{content_date}"/>
            <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
          </div>

          <div class="form-actions" >
            <button type="submit"
                    class="follow"
                    id="button_obnovit" style="float: left; margin: 1.5%;  font-size: 150%; text-align: center">Обновить
            </button>
          </div>
        </form>

      </div>      <!--Календарь html-->

      <script >
        $(function () {
          $('#datepicker').datepicker({
            format: "dd/mm/yyyy",
            language: 'ru',
            autoclose: true,
            todayHighlight: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            orientation: "button"
          });
          <!--$("#datepicker").datepicker("update", new Date());  Задаем текущее время-->



          $('#button_obnovit').on("click", function() {
            var datas = $('#datepicker').data().datepicker.viewDate;
            var day = datas.getDate();
            var mes = datas.getMonth()+1;
            var year = datas.getFullYear();

            name_data = year+"-" +mes+"-" +day;
            <!--console.log(name_data);-->
          });


        });

      </script>   <!--Календарь js-->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ru.min.js"></script>


<div style="border: 1px solid #333;">
  <div style="overflow: hidden;">
    <div style="width: 100%;   margin: 2%;">
      <div id="img" style="float: left; min-height: 100px; width: 15%"> <!--Вставляем изображение станка 1-->
        <div>
          <img src="images/crystal_apex.jpg" width="100%"/>
          <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">CRYSTA-Apex S9168</figcaption>
          <div>
            <a style="text-decoration: none; float: left" class="icon_mesto_kim" href="mesto/mesto_kim" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto_kim'>Место</div></a>
            <a style="text-decoration: none; float: left" class="icon_personal_kim" href="personal/personal_kim" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal_kim'>Персонал</div></a>
          </div>
        </div>
      </div>
      <div id="container_work" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
      <div id="container" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
    </div>
  </div>  <!--КИМ html-->
</div> <!--КИМ html-->

<script th:inline="javascript">

  const timezone = new Date().getTimezoneOffset()

  Highcharts.setOptions({
    lang: {
      loading: 'Загрузка...',
      months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
      weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
      shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
      exportButtonTitle: "Экспорт",
      printButtonTitle: "Печать",
      rangeSelectorFrom: "С",
      rangeSelectorTo: "По",
      rangeSelectorZoom: "Период",
      downloadPNG: 'Скачать PNG',
      downloadJPEG: 'Скачать JPEG',
      downloadPDF: 'Скачать PDF',
      downloadSVG: 'Скачать SVG',
      printChart: 'Напечатать график',
      viewFullscreen: 'На весь экран'
    },
    global: {
      timezoneOffset: timezone
    }
  });

  var colors = ['#38e817', '#ffea32', '#000000', '#e81e1d', '#5c7ed0'];

  Highcharts.chart('container_work', {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      borderColor: 'gray',
      type: 'xrange'
    },
    title: {
      text: 'Работа оборудования'
    },
    colors:colors,


    xAxis: {
      type: 'datetime'
    },
    yAxis: {
      title: {
        text: ''
      },
      categories: ['Работа', 'Ожидание', 'Выключен', 'В аварии', 'Калибровка'],
      reversed: true
    },
    credits: {
      enabled: false
    },

    series: [
      {
      name: 'Работа',
      borderColor: 'gray',
      pointWidth: 30,
      tooltip: {
        pointFormat: '<b>Программа: {point.programname}</b>'
      },

      data:   [
        {x:  (new Date([[${array_rabota0}]])).getTime(), x2: (new Date([[${array_rabota1}]])).getTime(), y: 0, programname: [[${array_programname0}]]},
        {x:  (new Date([[${array_rabota2}]])).getTime(), x2: (new Date([[${array_rabota3}]])).getTime(), y: 0, programname: [[${array_programname1}]]},
        {x:  (new Date([[${array_rabota4}]])).getTime(), x2: (new Date([[${array_rabota5}]])).getTime(), y: 0, programname: [[${array_programname2}]]},
        {x:  (new Date([[${array_rabota6}]])).getTime(), x2: (new Date([[${array_rabota7}]])).getTime(), y: 0, programname: [[${array_programname3}]]},
        {x:  (new Date([[${array_rabota8}]])).getTime(), x2: (new Date([[${array_rabota9}]])).getTime(), y: 0, programname: [[${array_programname4}]]},
        {x:  (new Date([[${array_rabota10}]])).getTime(), x2: (new Date([[${array_rabota11}]])).getTime(), y: 0, programname: [[${array_programname5}]]},
        {x:  (new Date([[${array_rabota12}]])).getTime(), x2: (new Date([[${array_rabota13}]])).getTime(), y: 0, programname: [[${array_programname6}]]},
        {x:  (new Date([[${array_rabota14}]])).getTime(), x2: (new Date([[${array_rabota15}]])).getTime(), y: 0, programname: [[${array_programname7}]]},
        {x:  (new Date([[${array_rabota16}]])).getTime(), x2: (new Date([[${array_rabota17}]])).getTime(), y: 0, programname: [[${array_programname8}]]},
        {x:  (new Date([[${array_rabota18}]])).getTime(), x2: (new Date([[${array_rabota19}]])).getTime(), y: 0, programname: [[${array_programname9}]]},
        {x:  (new Date([[${array_rabota20}]])).getTime(), x2: (new Date([[${array_rabota21}]])).getTime(), y: 0, programname: [[${array_programname10}]]},
        {x:  (new Date([[${array_rabota22}]])).getTime(), x2: (new Date([[${array_rabota23}]])).getTime(), y: 0, programname: [[${array_programname11}]]},
        {x:  (new Date([[${array_rabota24}]])).getTime(), x2: (new Date([[${array_rabota25}]])).getTime(), y: 0, programname: [[${array_programname12}]]},
        {x:  (new Date([[${array_rabota26}]])).getTime(), x2: (new Date([[${array_rabota27}]])).getTime(), y: 0, programname: [[${array_programname13}]]},
        {x:  (new Date([[${array_rabota28}]])).getTime(), x2: (new Date([[${array_rabota29}]])).getTime(), y: 0, programname: [[${array_programname14}]]},
        {x:  (new Date([[${array_rabota30}]])).getTime(), x2: (new Date([[${array_rabota31}]])).getTime(), y: 0, programname: [[${array_programname15}]]},
        {x:  (new Date([[${array_rabota32}]])).getTime(), x2: (new Date([[${array_rabota33}]])).getTime(), y: 0, programname: [[${array_programname16}]]},
        {x:  (new Date([[${array_rabota34}]])).getTime(), x2: (new Date([[${array_rabota35}]])).getTime(), y: 0, programname: [[${array_programname17}]]},
        {x:  (new Date([[${array_rabota36}]])).getTime(), x2: (new Date([[${array_rabota37}]])).getTime(), y: 0, programname: [[${array_programname18}]]},
        {x:  (new Date([[${array_rabota38}]])).getTime(), x2: (new Date([[${array_rabota39}]])).getTime(), y: 0, programname: [[${array_programname19}]]},
        {x:  (new Date([[${array_rabota40}]])).getTime(), x2: (new Date([[${array_rabota41}]])).getTime(), y: 0, programname: [[${array_programname20}]]},
        {x:  (new Date([[${array_rabota42}]])).getTime(), x2: (new Date([[${array_rabota43}]])).getTime(), y: 0, programname: [[${array_programname21}]]},
        {x:  (new Date([[${array_rabota44}]])).getTime(), x2: (new Date([[${array_rabota45}]])).getTime(), y: 0, programname: [[${array_programname22}]]},
        {x:  (new Date([[${array_rabota46}]])).getTime(), x2: (new Date([[${array_rabota47}]])).getTime(), y: 0, programname: [[${array_programname23}]]},
        {x:  (new Date([[${array_rabota48}]])).getTime(), x2: (new Date([[${array_rabota49}]])).getTime(), y: 0, programname: [[${array_programname24}]]},
        {x:  (new Date([[${array_rabota50}]])).getTime(), x2: (new Date([[${array_rabota51}]])).getTime(), y: 0, programname: [[${array_programname25}]]},
        {x:  (new Date([[${array_rabota52}]])).getTime(), x2: (new Date([[${array_rabota53}]])).getTime(), y: 0, programname: [[${array_programname26}]]},
        {x:  (new Date([[${array_rabota54}]])).getTime(), x2: (new Date([[${array_rabota55}]])).getTime(), y: 0, programname: [[${array_programname27}]]},
        {x:  (new Date([[${array_rabota56}]])).getTime(), x2: (new Date([[${array_rabota57}]])).getTime(), y: 0, programname: [[${array_programname28}]]},
        {x:  (new Date([[${array_rabota58}]])).getTime(), x2: (new Date([[${array_rabota59}]])).getTime(), y: 0, programname: [[${array_programname29}]]},
        {x:  (new Date([[${array_rabota60}]])).getTime(), x2: (new Date([[${array_rabota61}]])).getTime(), y: 0, programname: [[${array_programname30}]]},
        {x:  (new Date([[${array_rabota62}]])).getTime(), x2: (new Date([[${array_rabota63}]])).getTime(), y: 0, programname: [[${array_programname31}]]},
        {x:  (new Date([[${array_rabota64}]])).getTime(), x2: (new Date([[${array_rabota65}]])).getTime(), y: 0, programname: [[${array_programname32}]]},
        {x:  (new Date([[${array_rabota66}]])).getTime(), x2: (new Date([[${array_rabota67}]])).getTime(), y: 0, programname: [[${array_programname33}]]},
        {x:  (new Date([[${array_rabota68}]])).getTime(), x2: (new Date([[${array_rabota69}]])).getTime(), y: 0, programname: [[${array_programname34}]]},
        {x:  (new Date([[${array_rabota70}]])).getTime(), x2: (new Date([[${array_rabota71}]])).getTime(), y: 0, programname: [[${array_programname35}]]},
        {x:  (new Date([[${array_rabota72}]])).getTime(), x2: (new Date([[${array_rabota73}]])).getTime(), y: 0, programname: [[${array_programname36}]]},
        {x:  (new Date([[${array_rabota74}]])).getTime(), x2: (new Date([[${array_rabota75}]])).getTime(), y: 0, programname: [[${array_programname37}]]},
        {x:  (new Date([[${array_rabota76}]])).getTime(), x2: (new Date([[${array_rabota77}]])).getTime(), y: 0, programname: [[${array_programname38}]]},
        {x:  (new Date([[${array_rabota78}]])).getTime(), x2: (new Date([[${array_rabota79}]])).getTime(), y: 0, programname: [[${array_programname39}]]},
        {x:  (new Date([[${array_rabota80}]])).getTime(), x2: (new Date([[${array_rabota81}]])).getTime(), y: 0, programname: [[${array_programname40}]]},
        {x:  (new Date([[${array_rabota82}]])).getTime(), x2: (new Date([[${array_rabota83}]])).getTime(), y: 0, programname: [[${array_programname41}]]},
        {x:  (new Date([[${array_rabota84}]])).getTime(), x2: (new Date([[${array_rabota85}]])).getTime(), y: 0, programname: [[${array_programname42}]]},
        {x:  (new Date([[${array_rabota86}]])).getTime(), x2: (new Date([[${array_rabota87}]])).getTime(), y: 0, programname: [[${array_programname43}]]},
        {x:  (new Date([[${array_rabota88}]])).getTime(), x2: (new Date([[${array_rabota89}]])).getTime(), y: 0, programname: [[${array_programname44}]]},
        {x:  (new Date([[${array_rabota90}]])).getTime(), x2: (new Date([[${array_rabota91}]])).getTime(), y: 0, programname: [[${array_programname45}]]},
        {x:  (new Date([[${array_rabota92}]])).getTime(), x2: (new Date([[${array_rabota93}]])).getTime(), y: 0, programname: [[${array_programname46}]]},
        {x:  (new Date([[${array_rabota94}]])).getTime(), x2: (new Date([[${array_rabota95}]])).getTime(), y: 0, programname: [[${array_programname47}]]},
        {x:  (new Date([[${array_rabota96}]])).getTime(), x2: (new Date([[${array_rabota97}]])).getTime(), y: 0, programname: [[${array_programname48}]]},


      ],

    },
      {
        name: 'Ожидание',
        pointWidth: 30,
        borderColor: 'gray',
        tooltip: {
          pointFormat: ''
        },
        data:   [
          {x:  (new Date([[${array_pause0}]])).getTime(), x2: (new Date([[${array_pause1}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause2}]])).getTime(), x2: (new Date([[${array_pause3}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause4}]])).getTime(), x2: (new Date([[${array_pause5}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause6}]])).getTime(), x2: (new Date([[${array_pause7}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause8}]])).getTime(), x2: (new Date([[${array_pause9}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause10}]])).getTime(), x2: (new Date([[${array_pause11}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause12}]])).getTime(), x2: (new Date([[${array_pause13}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause14}]])).getTime(), x2: (new Date([[${array_pause15}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause16}]])).getTime(), x2: (new Date([[${array_pause17}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause18}]])).getTime(), x2: (new Date([[${array_pause19}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause20}]])).getTime(), x2: (new Date([[${array_pause21}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause22}]])).getTime(), x2: (new Date([[${array_pause23}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause24}]])).getTime(), x2: (new Date([[${array_pause25}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause26}]])).getTime(), x2: (new Date([[${array_pause27}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause28}]])).getTime(), x2: (new Date([[${array_pause29}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause30}]])).getTime(), x2: (new Date([[${array_pause31}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause32}]])).getTime(), x2: (new Date([[${array_pause33}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause34}]])).getTime(), x2: (new Date([[${array_pause35}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause36}]])).getTime(), x2: (new Date([[${array_pause37}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause38}]])).getTime(), x2: (new Date([[${array_pause39}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause40}]])).getTime(), x2: (new Date([[${array_pause41}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause42}]])).getTime(), x2: (new Date([[${array_pause43}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause44}]])).getTime(), x2: (new Date([[${array_pause45}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause46}]])).getTime(), x2: (new Date([[${array_pause47}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause48}]])).getTime(), x2: (new Date([[${array_pause49}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause50}]])).getTime(), x2: (new Date([[${array_pause51}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause52}]])).getTime(), x2: (new Date([[${array_pause53}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause54}]])).getTime(), x2: (new Date([[${array_pause55}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause56}]])).getTime(), x2: (new Date([[${array_pause57}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause58}]])).getTime(), x2: (new Date([[${array_pause59}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause60}]])).getTime(), x2: (new Date([[${array_pause61}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause62}]])).getTime(), x2: (new Date([[${array_pause63}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause64}]])).getTime(), x2: (new Date([[${array_pause65}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause66}]])).getTime(), x2: (new Date([[${array_pause67}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause68}]])).getTime(), x2: (new Date([[${array_pause69}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause70}]])).getTime(), x2: (new Date([[${array_pause71}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause72}]])).getTime(), x2: (new Date([[${array_pause73}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause74}]])).getTime(), x2: (new Date([[${array_pause75}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause76}]])).getTime(), x2: (new Date([[${array_pause77}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause78}]])).getTime(), x2: (new Date([[${array_pause79}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause80}]])).getTime(), x2: (new Date([[${array_pause81}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause82}]])).getTime(), x2: (new Date([[${array_pause83}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause84}]])).getTime(), x2: (new Date([[${array_pause85}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause86}]])).getTime(), x2: (new Date([[${array_pause87}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause88}]])).getTime(), x2: (new Date([[${array_pause89}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause90}]])).getTime(), x2: (new Date([[${array_pause91}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause92}]])).getTime(), x2: (new Date([[${array_pause93}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause94}]])).getTime(), x2: (new Date([[${array_pause95}]])).getTime(), y: 1,},
          {x:  (new Date([[${array_pause96}]])).getTime(), x2: (new Date([[${array_pause97}]])).getTime(), y: 1,},
        ],
        dataLabels: {
          enabled: true
        }
      },
      {
        name: 'Выключен',

        pointWidth: 20,
        data:   [{x:  (new Date([[${array_off0}]])).getTime(), x2: (new Date([[${array_off1}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off2}]])).getTime(), x2: (new Date([[${array_off3}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off4}]])).getTime(), x2: (new Date([[${array_off5}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off6}]])).getTime(), x2: (new Date([[${array_off7}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off8}]])).getTime(), x2: (new Date([[${array_off9}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off10}]])).getTime(), x2: (new Date([[${array_off11}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off12}]])).getTime(), x2: (new Date([[${array_off13}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off14}]])).getTime(), x2: (new Date([[${array_off15}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off16}]])).getTime(), x2: (new Date([[${array_off17}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off18}]])).getTime(), x2: (new Date([[${array_off19}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off20}]])).getTime(), x2: (new Date([[${array_off21}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off22}]])).getTime(), x2: (new Date([[${array_off23}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off24}]])).getTime(), x2: (new Date([[${array_off25}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off26}]])).getTime(), x2: (new Date([[${array_off27}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off28}]])).getTime(), x2: (new Date([[${array_off29}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off30}]])).getTime(), x2: (new Date([[${array_off31}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off32}]])).getTime(), x2: (new Date([[${array_off33}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off34}]])).getTime(), x2: (new Date([[${array_off35}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off36}]])).getTime(), x2: (new Date([[${array_off37}]])).getTime(), y: 2,},
          {x:  (new Date([[${array_off38}]])).getTime(), x2: (new Date([[${array_off39}]])).getTime(), y: 2,},
        ],
        dataLabels: {
          enabled: true,
        }
      },
      {
        name: 'В аварии',
        pointWidth: 20,
        data: [
          {x:  (new Date([[${array_avar0}]])).getTime(), x2: (new Date([[${array_avar1}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar2}]])).getTime(), x2: (new Date([[${array_avar3}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar4}]])).getTime(), x2: (new Date([[${array_avar5}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar6}]])).getTime(), x2: (new Date([[${array_avar7}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar8}]])).getTime(), x2: (new Date([[${array_avar9}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar10}]])).getTime(), x2: (new Date([[${array_avar11}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar12}]])).getTime(), x2: (new Date([[${array_avar13}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar14}]])).getTime(), x2: (new Date([[${array_avar15}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar16}]])).getTime(), x2: (new Date([[${array_avar17}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar18}]])).getTime(), x2: (new Date([[${array_avar19}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar20}]])).getTime(), x2: (new Date([[${array_avar21}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar22}]])).getTime(), x2: (new Date([[${array_avar23}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar24}]])).getTime(), x2: (new Date([[${array_avar25}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar26}]])).getTime(), x2: (new Date([[${array_avar27}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar28}]])).getTime(), x2: (new Date([[${array_avar29}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar30}]])).getTime(), x2: (new Date([[${array_avar31}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar32}]])).getTime(), x2: (new Date([[${array_avar33}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar34}]])).getTime(), x2: (new Date([[${array_avar35}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar36}]])).getTime(), x2: (new Date([[${array_avar37}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar38}]])).getTime(), x2: (new Date([[${array_avar39}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar40}]])).getTime(), x2: (new Date([[${array_avar41}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar42}]])).getTime(), x2: (new Date([[${array_avar43}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar44}]])).getTime(), x2: (new Date([[${array_avar45}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar46}]])).getTime(), x2: (new Date([[${array_avar47}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar48}]])).getTime(), x2: (new Date([[${array_avar49}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar50}]])).getTime(), x2: (new Date([[${array_avar51}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar52}]])).getTime(), x2: (new Date([[${array_avar53}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar54}]])).getTime(), x2: (new Date([[${array_avar55}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar56}]])).getTime(), x2: (new Date([[${array_avar57}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar58}]])).getTime(), x2: (new Date([[${array_avar59}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar60}]])).getTime(), x2: (new Date([[${array_avar61}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar62}]])).getTime(), x2: (new Date([[${array_avar63}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar64}]])).getTime(), x2: (new Date([[${array_avar65}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar66}]])).getTime(), x2: (new Date([[${array_avar67}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar68}]])).getTime(), x2: (new Date([[${array_avar69}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar70}]])).getTime(), x2: (new Date([[${array_avar71}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar72}]])).getTime(), x2: (new Date([[${array_avar73}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar74}]])).getTime(), x2: (new Date([[${array_avar75}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar76}]])).getTime(), x2: (new Date([[${array_avar77}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar78}]])).getTime(), x2: (new Date([[${array_avar79}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar80}]])).getTime(), x2: (new Date([[${array_avar81}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar82}]])).getTime(), x2: (new Date([[${array_avar83}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar84}]])).getTime(), x2: (new Date([[${array_avar85}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar86}]])).getTime(), x2: (new Date([[${array_avar87}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar88}]])).getTime(), x2: (new Date([[${array_avar89}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar90}]])).getTime(), x2: (new Date([[${array_avar91}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar92}]])).getTime(), x2: (new Date([[${array_avar93}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar94}]])).getTime(), x2: (new Date([[${array_avar95}]])).getTime(), y: 3,},
          {x:  (new Date([[${array_avar96}]])).getTime(), x2: (new Date([[${array_avar97}]])).getTime(), y: 3,},
        ],
        dataLabels: {
          enabled: true
        }
      },
      {
        name: 'Калибровка',
        pointWidth: 20,
        data: [
          {x:  (new Date([[${array_kalibrovka0}]])).getTime(), x2: (new Date([[${array_kalibrovka1}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka2}]])).getTime(), x2: (new Date([[${array_kalibrovka3}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka4}]])).getTime(), x2: (new Date([[${array_kalibrovka5}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka20}]])).getTime(), x2: (new Date([[${array_kalibrovka21}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka22}]])).getTime(), x2: (new Date([[${array_kalibrovka23}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka24}]])).getTime(), x2: (new Date([[${array_kalibrovka25}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka26}]])).getTime(), x2: (new Date([[${array_kalibrovka27}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka28}]])).getTime(), x2: (new Date([[${array_kalibrovka29}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka30}]])).getTime(), x2: (new Date([[${array_kalibrovka31}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka32}]])).getTime(), x2: (new Date([[${array_kalibrovka33}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka34}]])).getTime(), x2: (new Date([[${array_kalibrovka35}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka36}]])).getTime(), x2: (new Date([[${array_kalibrovka37}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka38}]])).getTime(), x2: (new Date([[${array_kalibrovka39}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka40}]])).getTime(), x2: (new Date([[${array_kalibrovka41}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka42}]])).getTime(), x2: (new Date([[${array_kalibrovka43}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka44}]])).getTime(), x2: (new Date([[${array_kalibrovka45}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka46}]])).getTime(), x2: (new Date([[${array_kalibrovka47}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka48}]])).getTime(), x2: (new Date([[${array_kalibrovka49}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka50}]])).getTime(), x2: (new Date([[${array_kalibrovka51}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka52}]])).getTime(), x2: (new Date([[${array_kalibrovka53}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka54}]])).getTime(), x2: (new Date([[${array_kalibrovka55}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka56}]])).getTime(), x2: (new Date([[${array_kalibrovka57}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka58}]])).getTime(), x2: (new Date([[${array_kalibrovka59}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka60}]])).getTime(), x2: (new Date([[${array_kalibrovka61}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka62}]])).getTime(), x2: (new Date([[${array_kalibrovka63}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka64}]])).getTime(), x2: (new Date([[${array_kalibrovka65}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka66}]])).getTime(), x2: (new Date([[${array_kalibrovka67}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka68}]])).getTime(), x2: (new Date([[${array_kalibrovka69}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka70}]])).getTime(), x2: (new Date([[${array_kalibrovka71}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka72}]])).getTime(), x2: (new Date([[${array_kalibrovka73}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka74}]])).getTime(), x2: (new Date([[${array_kalibrovka75}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka76}]])).getTime(), x2: (new Date([[${array_kalibrovka77}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka78}]])).getTime(), x2: (new Date([[${array_kalibrovka79}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka80}]])).getTime(), x2: (new Date([[${array_kalibrovka81}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka82}]])).getTime(), x2: (new Date([[${array_kalibrovka83}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka84}]])).getTime(), x2: (new Date([[${array_kalibrovka85}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka86}]])).getTime(), x2: (new Date([[${array_kalibrovka87}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka88}]])).getTime(), x2: (new Date([[${array_kalibrovka89}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka90}]])).getTime(), x2: (new Date([[${array_kalibrovka91}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka92}]])).getTime(), x2: (new Date([[${array_kalibrovka93}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka94}]])).getTime(), x2: (new Date([[${array_kalibrovka95}]])).getTime(), y: 4,},
          {x:  (new Date([[${array_kalibrovka96}]])).getTime(), x2: (new Date([[${array_kalibrovka97}]])).getTime(), y: 4,},
        ],
        dataLabels: {
          enabled: true
        }
      }
      ]


  });

</script>   <!--КИМ js линейная диагрмма работы оборудования-->

<script th:inline="javascript">
  var colors = ['#38e817', '#ffea32', '#000000', '#e81e1d', '#5c7ed0'];
  Highcharts.chart('container', {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },

    title: {
      text: 'Загрузка оборудования'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },

    accessibility: {
      point: {
        valueSuffix: '%'
      }
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: false
        },
        showInLegend: true
      }
    },
    colors:colors,
    credits: {
      enabled: false
    },
    series : [ {
      type : 'pie',
      name : 'Показатель',
      data : [ [ 'По программе', [[${work}]] ], [ 'Включен', [[${pass}]] ], [ 'Выключен', [[${fail}]] ],  [ 'В аварии', [[${avar}]]],  [ 'Калибровка', [[${kalibrovka}]]],   ]
    }]
  });
</script>   <!--КИМ js круговая диагрмма загрузки оборудования-->


<script th:inline="javascript">

  $('.icon_personal_kim').hover(
          function(){
            $('.label_personal_kim').css('color','#000000');
            $('.label_personal_kim').css('margin-top','70px');
          },
          function(){
            $('.label_personal_kim').css('color','#756e6e');
            $('.label_personal_kim').css('margin-top','65px');
          }
  );
  $('.icon_mesto_kim').hover(
          function(){
            $('.label_mesto_kim').css('color','#000000');
            $('.label_mesto_kim').css('margin-top','70px');
          },
          function(){
            $('.label_mesto_kim').css('color','#756e6e');
            $('.label_mesto_kim').css('margin-top','65px');
          }
  );

</script> <!--Кнопки Персонал и Место-->

</body>
</html>