<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Литьё</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" href="css/styles_stanki.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles_header.css"/>
    <link rel="stylesheet" type="text/css" href="css/menu_buttons.css"/>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css" />

    <script src="js/highcharts.js"></script>
    <script src="js/exporting.js"></script>
    <script src="js/export-data.js"></script>
    <script src="js/accessibility.js"></script>
    <script src="js/xrange.js"></script>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap-3.3.0.min.js"></script>

    <!--Календарь -->
    <script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
    <!--Календарь Русский язык-->
    <script type="text/javascript" src="js/bootstrap-datepicker.ru.min.js"></script>

    <style>
        .preloader {
            /*фиксированное позиционирование*/
            position: fixed;
            /* координаты положения */
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            /* фоновый цвет элемента */
            background: #e0e0e0;
            /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
            z-index: 1001;
        }

        .preloader__row {
            position: relative;
            top: 50%;
            left: 50%;
            width: 70px;
            height: 70px;
            margin-top: -35px;
            margin-left: -35px;
            text-align: center;
            animation: preloader-rotate 2s infinite linear;
        }

        .preloader__item {
            position: absolute;
            display: inline-block;
            top: 0;
            background-color: #337ab7;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            animation: preloader-bounce 2s infinite ease-in-out;
        }

        .preloader__item:last-child {
            top: auto;
            bottom: 0;
            animation-delay: -1s;
        }

        @keyframes preloader-rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes preloader-bounce {

            0%,
            100% {
                transform: scale(0);
            }

            50% {
                transform: scale(1);
            }
        }

        .loaded_hiding .preloader {
            transition: 0.3s opacity;
            opacity: 0;
        }

        .loaded .preloader {
            display: none;
        }
    </style>
    <script >
        $(function () {
            $('#datepicker').datepicker({
                format: "yyyy-mm",
                language: 'ru',
                viewMode: "months",
                minViewMode: "months",
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button"
            });
            <!--$("#datepicker").datepicker("update", new Date());  Задаем текущее время-->



            $('#button_obnovit').on("click", function() {
                var datas = $('#datepicker').data().datepicker.viewDate;

                var mes = datas.getMonth()+1;
                var year = datas.getFullYear();

                name_data = mes+"-" + year;
                <!--console.log(name_data);-->
            });


        });

    </script>   <!--Календарь js-->
    <script>
        window.onload = function () {
            document.body.classList.add('loaded_hiding');
            window.setTimeout(function () {
                document.body.classList.add('loaded');
                document.body.classList.remove('loaded_hiding');
            }, 500);
        }
    </script>



</head>

<header>
    <div style="display: flex; width: 100vw; justify-content: space-between; flex-wrap: nowrap; width: 100%;">
        <a href="home" style="display: flex; align-items: flex-start;" ><img src="images/logo_black.png" class="icon-logo"/></a>
        <ul id="menu_ul">
            <li id="menu_li"><a id="menu_a" href="displayStankiMonth">Мех.уч.2 пл.</a></li>
            <li id="menu_li1"><a id="menu_a1" href="kim_month">ОТК</a></li>
            <li id="menu_li2"><a id="menu_a2" href="navigators_month">Резка</a></li>
            <li id="menu_li3"><a id="menu_a3" href="stanki_meh_month">Мех.уч.1 пл.</a></li>
            <li id="menu_li4"><a id="menu_a4" href="robots_month">Роботы</a></li>
            <li id="menu_li5"><a id="menu_a5" href="spec_complexes_month">Спец. комплексы</a></li>
            <li id="menu_li6"><a id="menu_a6" href="sclads_month">Склады</a></li>
            <li id="menu_li7"><a id="menu_a7" href="liteyka_month" class="menu-color">Литьё</a><div class="neo-line"></div></li>
            <li id="menu_li8"><a id="menu_a8" href="gibka_month">Гибка</a></li>
        </ul>
        <div style="display: flex; flex-direction: row;">
            <div class="div_login_mail">
                <li th:text="${user_name}"></li>
                <p th:text="${user_mail}"></p>
            </div>
            <div method="post" class="dropdown">
                <input type="image" th:src="@{${image_user}}" alt="Avatar" class="avatar"/>
                <div class="dropdown-content">
                    <p id="role_vision"></p>
                    <p><img th:src="@{${image_user}}" width="100" style="border-radius: 360px; margin-top:0; "/></p>
                    <li th:text="${user_name}"></li>
                    <p th:text="${user_mail}"></p>
                    <div style=" display: block; border-bottom: 1px solid #e8eaed; margin-bottom: 5px; line-height: normal"></div>
                    <button id="admin" onclick="window.location.href = '/adminpanel/userscontrol';">Администрирование</button>
                    <label class="switch">
                        <p>Светлая Темная</p>
                        <span class="slider round"><input type="checkbox" id='dark_button'/><span class="slider_before round_before"></span></span>
                    </label>
                    <form th:action="@{/logout}" method="post">
                        <button class="follow" type="submit">
                            Выход
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="display:flex; justify-content: center;">
        <form>
            <button  formaction="liteyka" class="button_color">Суточный отчет</button>
            <button formaction="liteyka_month" class="button_color button_color_active">Месячный отчет<div class="neo-line"></div></button>
        </form>
    </div>  <!-- Меню -->
</header>       <!--Шапка html-->

<!-- Загрузка страницы -->
<div class="preloader">
    <div class="preloader__row">
        <div class="preloader__item"></div>
        <div class="preloader__item"></div>
    </div>
</div>
<body>

<div class="container">
    <div style="width: 250px; float: left">
        <h2>Выберите месяц:</h2>
    </div>
    <form  action="#" th:action="@{/liteyka_month}" th:object="${calendar_month}" method="post" >
        <div class='input-group date' id='datepicker' style="width: 200px; float: left;  margin: 1.7%">
            <input type='text' class="form-control" th:field="*{content_month}"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <div class="form-actions" >
            <button type="submit"
                    class="follow"
                    id="button_obnovit" style="float: left; margin: 1.5%;  font-size: 150%; text-align: center">Обновить
            </button>
        </div>
    </form>
</div>      <!--Календарь html-->

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/pech.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">Печь Индукционная</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="pech_nerg(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(660, screen.availHeight)+',width='+Math.min(1920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_pech_nerg" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="container_days1" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
        <div id="container" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
    </div>  <!--Печь ИНдукционная html-->
</div> <!--Печь ИНдукционная html-->
<script th:inline="javascript">
    var pech_nerg_rabota_day = [[${pech_nerg_rabota_day}]];
    var pech_nerg_pause_day = [[${pech_nerg_pause_day}]];
    var pech_nerg_off_day = [[${pech_nerg_off_day}]];
    var pech_nerg_avar_day = [[${pech_nerg_avar_day}]];
    var pech_nerg_nagruzka_day = [[${pech_nerg_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы pech_nerg-->
<script th:inline="javascript">
    var pech_nerg_work = [[${pech_nerg_work}]];
    var pech_nerg_pass = [[${pech_nerg_pass}]];
    var pech_nerg_fail = [[${pech_nerg_fail}]];
    var pech_nerg_avar = [[${pech_nerg_avar}]];
    var  pech_nerg_nagruzka = [[${pech_nerg_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы pech_nerg-->
<script src="/js/month/liteyka/data_pech_nerg_month.js"></script>

<script th:inline="javascript">
    var role_status = [[${user_role}]];

    if(role_status === "ROLE_ADMIN")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Админ";
        document.getElementById("admin").style.display = "inline";

    }
    else if (role_status === "ROLE_USER")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Пользователь"
        document.getElementById("admin").style.display = "none";
    }
</script>
<!--Скрипт отображения в header  кнопки администрирование-->

<script>
    var mar_top = localStorage.getItem('mar_top');
    var mar_left = localStorage.getItem('mar_left');
    var bground = localStorage.getItem('bground');
    var place_img = localStorage.getItem('place_img');
    var size  = localStorage.getItem('size');
    var bwidth = localStorage.getItem('bwidth');
</script>
<script src="/js/mesto.js"></script>
<!--Скрипт с вызовом функций для изменения места-->

<script src="/js/dark_theme.js"></script>
<script>

    var dark_theme_state = 0; <!--    переменная состояния темы страницы-->

    //Если значение ключа не пустое присваеваем переменным последнее сохраненное значение
    if(localStorage['dark_theme_state'] != null) {
        dark_theme_state = parseInt(window.localStorage['dark_theme_state']);
    }
    // Условия для смены цвета вне нажатия на кнопку


    dark_theme(); // Вызов функции
    // Смена цвета по кнопке
    $("#dark_button").on("click", function() {
        dark_theme_state++; // увеличиваем счетчик
        if(dark_theme_state > 1) // если он больше 1, меняем на ноль
        {
            dark_theme_state = 0;
        }
        window.localStorage['dark_theme_state'] = dark_theme_state; // сохраняем переменную в локальном хранилище

        // Условия для смены цвета после нажатия на кнопку
        dark_theme();
    });
</script>
<!--Скрипт темной темы-->

<script src="/js/dropdown_menu.js"></script>
<script>
    click_avatar();
</script> <!-- Скрипт вызова функции для выпадающего меню -->
</body>
</html>