<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Резка</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" href="css/styles_stanki.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles_header.css"/>
    <link rel="stylesheet" type="text/css" href="css/menu_buttons.css"/> <!-- Меню -->

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>

    <script src="js/highcharts.js"></script>
    <script src="js/exporting.js"></script>
    <script src="js/export-data.js"></script>
    <script src="js/accessibility.js"></script>
    <script src="js/xrange.js"></script>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap-3.3.0.min.js"></script>

    <script>
        $(function () {
            $('#datepicker').datepicker({
                format: "dd/mm/yyyy",
                language: 'ru',
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button"
            });
            <!--$("#datepicker").datepicker("update", new Date());  Задаем текущее время-->


            $('#button_obnovit').on("click", function () {
                var datas = $('#datepicker').data().datepicker.viewDate;
                var day = datas.getDate();
                var mes = datas.getMonth() + 1;
                var year = datas.getFullYear();

                name_data = year + "-" + mes + "-" + day;
                <!--console.log(name_data);-->
            });


        });

    </script>   <!--Календарь js-->

    <!--Календарь -->
    <script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
    <!--Календарь Русский язык-->
    <script type="text/javascript" src="js/bootstrap-datepicker.ru.min.js"></script>

    <style>
        .preloader {
            /*фиксированное позиционирование*/
            position: fixed;
            /* координаты положения */
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            /* фоновый цвет элемента */
            /*background: #e0e0e0;*/
            /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
            z-index: 1001;
        }

        .preloader__row {
            position: relative;
            top: 50%;
            left: 50%;
            width: 70px;
            height: 70px;
            margin-top: -35px;
            margin-left: -35px;
            text-align: center;
            animation: preloader-rotate 2s infinite linear;
        }

        .preloader__item {
            position: absolute;
            display: inline-block;
            top: 0;
            background-color: #337ab7;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            animation: preloader-bounce 2s infinite ease-in-out;
        }

        .preloader__item:last-child {
            top: auto;
            bottom: 0;
            animation-delay: -1s;
        }

        @keyframes preloader-rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes preloader-bounce {

            0%,
            100% {
                transform: scale(0);
            }

            50% {
                transform: scale(1);
            }
        }

        .loaded_hiding .preloader {
            transition: 0.3s opacity;
            opacity: 0;
        }

        .loaded .preloader {
            display: none;
        }
    </style>
    <!-- Загрузка страницы -->
    <script>
        window.onload = function () {
            document.body.classList.add('loaded_hiding');
            window.setTimeout(function () {
                document.body.classList.add('loaded');
                document.body.classList.remove('loaded_hiding');
            }, 500);
        }
    </script>



</head>

<header>
    <div style="display: flex; width: 100vw; justify-content: space-between; flex-wrap: nowrap; width: 100%;">
        <a href="home" style="display: flex; align-items: flex-start;" ><img src="images/logo_black.png" class="icon-logo"/></a>
        <ul id="menu_ul">
            <li id="menu_li"><a id="menu_a" href="displayStanki">Мех.уч.2 пл.</a></li>
            <li id="menu_li1"><a id="menu_a1" href="kim">ОТК</a></li>
            <li id="menu_li2"><a id="menu_a2" href="navigators" class="menu-color">Резка</a><div class="neo-line"></div></li>
            <li id="menu_li3"><a id="menu_a3" href="stanki_meh">Мех.уч.1 пл.</a></li>
            <li id="menu_li4"><a id="menu_a4" href="robots">Роботы</a></li>
            <li id="menu_li5"><a id="menu_a5" href="spec_complexes">Спец. комплексы</a></li>
            <li id="menu_li6"><a id="menu_a6" href="sclads">Склады</a></li>
            <li id="menu_li7"><a id="menu_a7" href="liteyka">Литьё</a></li>
            <li id="menu_li8"><a id="menu_a8" href="gibka">Гибка</a></li>
        </ul>
        <div style="display: flex; flex-direction: row;">
            <div class="div_login_mail">
                <li th:text="${user_name}"></li>
                <p th:text="${user_mail}"></p>
            </div>
            <div method="post" class="dropdown">
                <input type="image" th:src="@{${image_user}}" alt="Avatar" class="avatar"/>
                <div class="dropdown-content">
                    <p id="role_vision"></p>
                    <p><img th:src="@{${image_user}}" width="100" style="border-radius: 360px; margin-top:0; "/></p>
                    <li th:text="${user_name}"></li>
                    <p th:text="${user_mail}"></p>
                    <div style=" display: block; border-bottom: 1px solid #e8eaed; margin-bottom: 5px; line-height: normal"></div>
                    <button id="admin" onclick="window.location.href = '/adminpanel/userscontrol';">Администрирование</button>
                    <label class="switch">
                        <p>Светлая Темная</p>
                        <span class="slider round"><input type="checkbox" id='dark_button'/><span class="slider_before round_before"></span></span>
                    </label>
                    <form th:action="@{/logout}" method="post">
                        <button class="follow" type="submit">
                            Выход
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="display:flex; justify-content: center;">
        <form>
            <button  formaction="navigators" class="button_color button_color_active">Суточный отчет<div class="neo-line"></div></button>
            <button formaction="navigators_month" class="button_color">Месячный отчет</button>
        </form>
    </div>  <!-- Меню -->
</header>       <!--Шапка html-->
<!-- Загрузка страницы -->
<div class="preloader">
    <div class="preloader__row">
        <div class="preloader__item"></div>
        <div class="preloader__item"></div>
    </div>
</div>
<!-- Загрузка страницы и темная тема-->
<script>
    var dark_theme_state = 0; <!--    переменная состояния темы страницы-->

    if(localStorage['dark_theme_state'] != null) {
        dark_theme_state = parseInt(window.localStorage['dark_theme_state']); // Если она уже локально задана сохраняем
    }

    if (dark_theme_state == 0) {$('.preloader').attr("style", `background: #f2f6f8`);} // присвоение цвета загрузочного меню
    else if (dark_theme_state == 1) {$('.preloader').attr("style", `background: #161821`);} // в двух цветах

    window.onload = function () { // прелоудер
        document.body.classList.add('loaded_hiding');
        window.setTimeout(function () {
            document.body.classList.add('loaded');
            document.body.classList.remove('loaded_hiding');
        }, 500);

        dark_theme(); // Вызов функции
        // Смена цвета по кнопке
        $("#dark_button").on("click", function() {
            dark_theme_state++; // увеличиваем счетчик
            if(dark_theme_state > 1) // если он больше 1, меняем на ноль
            {
                dark_theme_state = 0;
            }
            window.localStorage['dark_theme_state'] = dark_theme_state; // сохраняем переменную в локальном хранилище
            // Условия для смены цвета после нажатия на кнопку
            dark_theme();
        });
    }
</script>
<script src="/js/dark_theme.js"></script>

<body>
<!--Шапка html-->

<div class="container">
    <div style="width: 220px; float: left">
        <h2>Выберите дату:</h2>
    </div>

    <form  action="#" th:action="@{/navigators}" th:object="${calendar_date}" method="post" >

        <div class='input-group date' id='datepicker' style="width: 200px; float: left;  margin: 1.7%">
            <input type='text' class="form-control" th:field="*{content_date}"/>
            <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
        </div>

        <div class="form-actions" >
            <button type="submit"
                    class="follow"
                    id="button_obnovit" style="float: left; margin: 1.5%;  font-size: 150%; text-align: center">Обновить
            </button>
        </div>
    </form>

</div>      <!--Календарь html-->

<script >
    $(function () {
        $('#datepicker').datepicker({
            format: "dd/mm/yyyy",
            language: 'ru',
            autoclose: true,
            todayHighlight: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            orientation: "button"
        });
        <!--$("#datepicker").datepicker("update", new Date());  Задаем текущее время-->



        $('#button_obnovit').on("click", function() {
            var datas = $('#datepicker').data().datepicker.viewDate;
            var day = datas.getDate();
            var mes = datas.getMonth()+1;
            var year = datas.getFullYear();

            name_data = year+"-" +mes+"-" +day;
            <!--console.log(name_data);-->
        });


    });

</script>   <!--Календарь js-->

<div style="display: flex">
    <figure class="highcharts-figure">
        <div id="container_sum_zagruzka" style="height: 400px; width: 800px"></div>
    </figure>   <!--Общая загрузка html-->
</div>  <!--Общая загрузка  html-->
<script th:inline="javascript">

    var colors = ['#e81e1d', '#000000','#ffea32', '#207210', '#38e817'];

    var navigator_1_work_sum = [[${work}]];
    var navigator_1_pass_sum = [[${pass}]];
    var navigator_1_fail_sum = [[${fail}]];
    var navigator_1_avar_sum = [[${avar}]];
    var navigator_1_nagruzka_sum = [[${nagruzka}]];

    var work_2_golova_1_sum = [[${work_2_golova_1}]];
    var pass_2_golova_1_sum = [[${pass_2_golova_1}]];
    var fail_2_golova_1_sum = [[${fail_2_golova_1}]];
    var avar_2_golova_1_sum = [[${avar_2_golova_1}]];
    var nagruzka_2_golova_1_sum = [[${nagruzka_2_golova_1}]];

    var work_2_golova_2_sum = [[${work_2_golova_2}]];
    var pass_2_golova_2_sum = [[${pass_2_golova_2}]];
    var fail_2_golova_2_sum = [[${fail_2_golova_2}]];
    var avar_2_golova_2_sum = [[${avar_2_golova_2}]];
    var nagruzka_2_golova_2_sum = [[${nagruzka_2_golova_2}]];

    var navigator_3_work_sum = [[${work_3}]];
    var navigator_3_pass_sum = [[${pass_3}]];
    var navigator_3_fail_sum = [[${fail_3}]];
    var navigator_3_avar_sum = [[${avar_3}]];
    var navigator_3_nagruzka_sum = [[${nagruzka_3}]];

    var trulaser_work_sum = [[${work_trulaser}]];
    var trulaser_pass_sum = [[${pass_trulaser}]];
    var trulaser_fail_sum = [[${fail_trulaser}]];

    var kometa_1_work_sum = [[${work_kometa_1}]];
    var kometa_1_pass_sum = [[${pass_kometa_1}]];
    var kometa_1_fail_sum = [[${fail_kometa_1}]];
    var kometa_1_avar_sum = [[${avar_kometa_1}]];
    var kometa_1_nagruzka_sum = [[${nagruzka_kometa_1}]];

    var kometa_2_work_sum = [[${work_kometa_2}]];
    var kometa_2_pass_sum = [[${pass_kometa_2}]];
    var kometa_2_fail_sum = [[${fail_kometa_2}]];
    var kometa_2_avar_sum = [[${avar_kometa_2}]];
    var kometa_2_nagruzka_sum = [[${nagruzka_kometa_2}]];

    var kometa_3_work_sum = [[${work_kometa_3}]];
    var kometa_3_pass_sum = [[${pass_kometa_3}]];
    var kometa_3_fail_sum = [[${fail_kometa_3}]];
    var kometa_3_avar_sum = [[${avar_kometa_3}]];
    var kometa_3_nagruzka_sum = [[${nagruzka_kometa_3}]];

    var ar55_work_sum = [[${work_ar55}]];
    var ar55_pass_sum = [[${pass_ar55}]];
    var ar55_fail_sum = [[${fail_ar55}]];
    var ar55_nagruzka_sum = [[${nagruzka_ar55}]];
    var ar55_avar_sum = [[${avar_ar55}]];

    const timezone = new Date().getTimezoneOffset()

    Highcharts.setOptions({
        lang: {
            loading: 'Загрузка...',
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
            exportButtonTitle: "Экспорт",
            printButtonTitle: "Печать",
            rangeSelectorFrom: "С",
            rangeSelectorTo: "По",
            rangeSelectorZoom: "Период",
            downloadPNG: 'Скачать PNG',
            downloadJPEG: 'Скачать JPEG',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            printChart: 'Напечатать график',
            viewFullscreen: 'На весь экран'
        },
        plotOptions: {
            xrange: {
                grouping: false
            }
        },
        global: {
            timezoneOffset: timezone
        }
    });

    Highcharts.chart('container_sum_zagruzka', {
        chart: {
            type: 'column'
        },
        colors:colors,
        title: {
            text: 'Общая загрузка оборудования'
        },
        xAxis: {
            labels: {
                style: {
                    fontSize: '18px',
                }
            },
            categories: ['Навигатор #1', 'Навигатор #2 - голова 1', 'Навигатор #2 - голова 2', 'Навигатор #3', 'TruLaser', 'Комета #1', 'Комета #2', 'Комета #3', 'AR55']
        },
        credits: {
            enabled: false
        },
        yAxis: {
            min: 0,
            title: {
                text: '%'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: {point.percentage:.1f}%<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
        series: [{
            name: 'Авария',
            data: [navigator_1_avar_sum, avar_2_golova_1_sum, avar_2_golova_2_sum, navigator_3_avar_sum, 0, kometa_1_avar_sum, kometa_2_avar_sum, kometa_3_avar_sum, ar55_avar_sum]
        }, {
            name: 'Выключен',
            data: [navigator_1_fail_sum, fail_2_golova_1_sum, fail_2_golova_2_sum, navigator_3_fail_sum, trulaser_fail_sum, kometa_1_fail_sum, kometa_2_fail_sum, kometa_3_fail_sum, ar55_fail_sum]
        }, {
            name: 'Ожидание',
            data: [navigator_1_pass_sum, pass_2_golova_1_sum, pass_2_golova_2_sum, navigator_3_pass_sum, trulaser_pass_sum, kometa_1_pass_sum, kometa_2_pass_sum, kometa_3_pass_sum, ar55_pass_sum]
        }, {
            name: 'Под нагрузкой',
            data: [navigator_1_nagruzka_sum, nagruzka_2_golova_1_sum, nagruzka_2_golova_2_sum, navigator_3_nagruzka_sum, 0, kometa_1_nagruzka_sum, kometa_2_nagruzka_sum, kometa_3_nagruzka_sum, ar55_nagruzka_sum]
        }, {
            name: 'Работа',
            data: [navigator_1_work_sum, work_2_golova_1_sum, work_2_golova_2_sum, navigator_3_work_sum, trulaser_work_sum, kometa_1_work_sum, kometa_2_work_sum, kometa_3_work_sum, ar55_work_sum]
        }]
    });

</script>   <!--js Общая загрузка-->

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left; margin-bottom: 50px"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/navigator.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">Навигатор #1</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="navigator_1(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(1320, screen.availHeight)+',width='+Math.min(1200, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_navigator_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--Навигатор_1 html-->
</div> <!--Навигатор_1 html-->
<script th:inline="javascript">
    var array_rabota = [[${array_rabota}]];
    var array_pause = [[${array_pause}]];
    var array_off = [[${array_off}]];
    var array_avar = [[${array_avar}]];
    var array_nagruzka = [[${array_nagruzka}]];

</script>   <!--Навигатор_1 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var navigator_1_work = [[${work}]];
    var navigator_1_pass = [[${pass}]];
    var navigator_1_fail = [[${fail}]];
    var navigator_1_avar = [[${avar}]];
    var navigator_1_nagruzka = [[${nagruzka}]];

</script>   <!--Навигатор_1 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/navigators/navigator_1.js"></script>

<div style="overflow: hidden;">
    <div style="width: 100%;   margin: 2%;">
        <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
            <div class="parent_image">
                <img src="images/navigator.png" class="stanok_img"/>
                <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">Навигатор #2</figcaption>
                <div style="margin-bottom: 20px">
                    <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="navigator_2(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(1320, screen.availHeight)+',width='+Math.min(1200, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                    <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_navigator_2" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                </div>
            </div>
        </div>
        <div id="container_work_2" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
        <div id="container_2" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
    </div>
</div>  <!--Навигатор_2_голова_1 html-->
<script th:inline="javascript">
    var array_rabota_2_golova_1 = [[${array_rabota_2_golova_1}]];
    var array_pause_2_golova_1 = [[${array_pause_2_golova_1}]];
    var array_off_2_golova_1 = [[${array_off_2_golova_1}]];
    var array_avar_2_golova_1 = [[${array_avar_2_golova_1}]];
    var array_nagruzka_2_golova_1 = [[${array_nagruzka_2_golova_1}]];


</script>   <!--Навигатор_2_голова_1 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var work_2_golova_1 = [[${work_2_golova_1}]];
    var pass_2_golova_1 = [[${pass_2_golova_1}]];
    var fail_2_golova_1 = [[${fail_2_golova_1}]];
    var avar_2_golova_1 = [[${avar_2_golova_1}]];
    var nagruzka_2_golova_1 = [[${nagruzka_2_golova_1}]];

</script>   <!--Навигатор_2_голова_1 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/navigators/navigator_2_golova_1.js"></script>

<div style="overflow: hidden;">
    <div style="width: 100%;   margin: 2%;">
        <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
            <div class="parent_image">
            </div>
        </div>
        <div id="container_work_3" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
        <div id="container_3" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
    </div>
</div>  <!--Навигатор_2_голова_2 html-->
<script th:inline="javascript">

    var array_rabota_2_golova_2 = [[${array_rabota_2_golova_2}]];
    var array_pause_2_golova_2 = [[${array_pause_2_golova_2}]];
    var array_off_2_golova_2 = [[${array_off_2_golova_2}]];
    var array_avar_2_golova_2 = [[${array_avar_2_golova_2}]];
    var array_nagruzka_2_golova_2 = [[${array_nagruzka_2_golova_2}]];

</script>   <!--Навигатор_2_голова_2 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">

    var work_2_golova_2 = [[${work_2_golova_2}]];
    var pass_2_golova_2 = [[${pass_2_golova_2}]];
    var fail_2_golova_2 = [[${fail_2_golova_2}]];
    var avar_2_golova_2 = [[${avar_2_golova_2}]];
    var nagruzka_2_golova_2 = [[${nagruzka_2_golova_2}]];

</script>   <!--Навигатор_2_голова_2 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/navigators/navigator_2_golova_2.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/navigator.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">Навигатор #3</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="navigator_3(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(1320, screen.availHeight)+',width='+Math.min(1200, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_navigator_3" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work_4" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container_4" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--Навигатор_3 html-->
</div> <!--Навигатор_3 html-->
<script th:inline="javascript">

    var array_rabota_3 = [[${array_rabota_3}]];
    var array_pause_3 =[[${array_pause_3}]];
    var array_off_3 = [[${array_off_3}]];
    var array_avar_3 = [[${array_avar_3}]];
    var array_nagruzka_3 =[[${array_nagruzka_3}]];
</script>   <!--Навигатор_3 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var navigator_3_work = [[${work_3}]];
    var navigator_3_pass = [[${pass_3}]];
    var navigator_3_fail = [[${fail_3}]];
    var navigator_3_avar = [[${avar_3}]];
    var navigator_3_nagruzka = [[${nagruzka_3}]];

</script>   <!--Навигатор_3 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/navigators/navigator_3.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/trulaser.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">TruLaser</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="trulaser(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(1320, screen.availHeight)+',width='+Math.min(1200, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_trulaser" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work_5" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container_5" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--trulaser html-->
</div> <!--trulaser html-->
<script th:inline="javascript">
    var trulaser_array_rabota = [[${trulaser_array_rabota}]];
    var trulaser_array_pause = [[${trulaser_array_pause}]];
    var trulaser_array_off = [[${trulaser_array_off}]];
    var trulaser_array_programname = [[${trulaser_array_programname}]];
</script>   <!--trulaser js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var trulaser_work = [[${work_trulaser}]];
    var trulaser_pass = [[${pass_trulaser}]];
    var trulaser_fail = [[${fail_trulaser}]];
    var trulaser_nagruzka = [[${nagruzka_trulaser}]];
    var trulaser_avar = [[${avar_trulaser}]];
</script>   <!--trulaser js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/navigators/data_trulaser.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/kometa.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">Комета #1</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="kometa_1(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(895, screen.availHeight)+',width='+Math.min(1020, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_kometa_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work_6" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container_6" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--kometa 1 html-->
</div> <!--kometa 1 html-->
<script th:inline="javascript">
    var kometa_1_array_rabota = [[${kometa_1_array_rabota}]];
    var kometa_1_array_pause = [[${kometa_1_array_pause}]];
    var kometa_1_array_off = [[${kometa_1_array_off}]];

</script>   <!--kometa js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var kometa_1_work = [[${work_kometa_1}]];
    var kometa_1_pass = [[${pass_kometa_1}]];
    var kometa_1_fail = [[${fail_kometa_1}]];

</script>   <!--kometa js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/navigators/data_kometa_1.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/kometa.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">Комета #2</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="kometa_2(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(1320, screen.availHeight)+',width='+Math.min(1200, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_kometa_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work_7" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container_7" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--kometa 1 html-->
</div> <!--kometa 2 html-->
<script th:inline="javascript">
    var kometa_2_array_rabota = [[${kometa_2_array_rabota}]];
    var kometa_2_array_pause = [[${kometa_2_array_pause}]];
    var kometa_2_array_off = [[${kometa_2_array_off}]];

</script>   <!--kometa js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var kometa_2_work = [[${work_kometa_2}]];
    var kometa_2_pass = [[${pass_kometa_2}]];
    var kometa_2_fail = [[${fail_kometa_2}]];

</script>   <!--kometa js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/navigators/data_kometa_2.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/kometa.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">Комета #3</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="kometa_3(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(1320, screen.availHeight)+',width='+Math.min(1200, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_kometa_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work_8" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container_8" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--kometa 1 html-->
</div> <!--kometa 3 html-->
<script th:inline="javascript">
    var kometa_3_array_rabota = [[${kometa_3_array_rabota}]];
    var kometa_3_array_pause = [[${kometa_3_array_pause}]];
    var kometa_3_array_off = [[${kometa_3_array_off}]];

</script>   <!--kometa js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var kometa_3_work = [[${work_kometa_3}]];
    var kometa_3_pass = [[${pass_kometa_3}]];
    var kometa_3_fail = [[${fail_kometa_3}]];

</script>   <!--kometa js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/navigators/data_kometa_3.js"></script>


<div style="border: 1px solid #333;">   <!--AR55 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/ar55.png" class="stanok_img"/>
                    <figcaption style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">AR55</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="ar55(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(680, screen.availHeight)+',width='+Math.min(1510, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_kometa_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work_9" style="float: left; height: 400px; width: 55%"></div><!--Вставляем линейную гистограмму работы-->
            <div id="container_9" style="float: left; height: 400px; width: 25%"></div><!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>
</div> <!--AR55 html-->
<script th:inline="javascript">
    var ar55_array_rabota = [[${ar55_array_rabota}]];
    var ar55_array_pause = [[${ar55_array_pause}]];
    var ar55_array_off = [[${ar55_array_off}]];
    var ar55_array_programname = [[${ar55_array_programname}]];
    var ar55_array_nagruzka = [[${ar55_array_nagruzka}]];
    var ar55_array_avar = [[${ar55_array_avar}]];
</script>   <!--AR55 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var ar55_work = [[${work_ar55}]];
    var ar55_pass = [[${pass_ar55}]];
    var ar55_fail = [[${fail_ar55}]];
    var ar55_nagruzka = [[${nagruzka_ar55}]];
    var ar55_avar = [[${avar_ar55}]];
</script>   <!--AR55 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/navigators/data_ar55.js"></script>


<script th:inline="javascript">
    var role_status = [[${user_role}]];

    if(role_status === "ROLE_ADMIN")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Админ";
        document.getElementById("admin").style.display = "inline";

    }
    else if (role_status === "ROLE_USER")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Пользователь"
        document.getElementById("admin").style.display = "none";
    }
</script>
<!--Скрипт отображения в header  кнопки администрирование-->

<script>
    var mar_top = localStorage.getItem('mar_top');
    var mar_left = localStorage.getItem('mar_left');
    var bground = localStorage.getItem('bground');
    var place_img = localStorage.getItem('place_img');
    var size  = localStorage.getItem('size');
    var bwidth = localStorage.getItem('bwidth');
</script>
<script src="/js/mesto.js"></script>
<!--Скрипт с вызовом функций для изменения места-->

<script src="/js/dropdown_menu.js"></script>
<script>
    click_avatar();
</script> <!-- Скрипт вызова функции для выпадающего менюк -->
</body>

</html>