<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Роботы</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" href="css/styles_header.css"/>
    <link rel="stylesheet" type="text/css" href="css/menu_buttons.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles_stanki.css"/>
    <!-- Optional theme -->

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css" />

    <script src="js/highcharts.js"></script>
    <script src="js/exporting.js"></script>
    <script src="js/export-data.js"></script>
    <script src="js/accessibility.js"></script>
    <script src="js/xrange.js"></script>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap-3.3.0.min.js"></script>

    <!--Календарь -->
    <script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
    <!--Календарь Русский язык-->
    <script type="text/javascript" src="js/bootstrap-datepicker.ru.min.js"></script>


    <style>
        .preloader {
            /*фиксированное позиционирование*/
            position: fixed;
            /* координаты положения */
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            /* фоновый цвет элемента */
            background: #e0e0e0;
            /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
            z-index: 1001;
        }

        .preloader__row {
            position: relative;
            top: 50%;
            left: 50%;
            width: 70px;
            height: 70px;
            margin-top: -35px;
            margin-left: -35px;
            text-align: center;
            animation: preloader-rotate 2s infinite linear;
        }

        .preloader__item {
            position: absolute;
            display: inline-block;
            top: 0;
            background-color: #337ab7;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            animation: preloader-bounce 2s infinite ease-in-out;
        }

        .preloader__item:last-child {
            top: auto;
            bottom: 0;
            animation-delay: -1s;
        }

        @keyframes preloader-rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes preloader-bounce {

            0%,
            100% {
                transform: scale(0);
            }

            50% {
                transform: scale(1);
            }
        }

        .loaded_hiding .preloader {
            transition: 0.3s opacity;
            opacity: 0;
        }

        .loaded .preloader {
            display: none;
        }
    </style>
    <script >
        $(function () {
            $('#datepicker').datepicker({
                format: "yyyy-mm",
                language: 'ru',
                viewMode: "months",
                minViewMode: "months",
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button"
            });
            <!--$("#datepicker").datepicker("update", new Date());  Задаем текущее время-->



            $('#button_obnovit').on("click", function() {
                var datas = $('#datepicker').data().datepicker.viewDate;

                var mes = datas.getMonth()+1;
                var year = datas.getFullYear();

                name_data = mes+"-" + year;
                <!--console.log(name_data);-->
            });


        });

    </script>   <!--Календарь js-->
    <script>
        window.onload = function () {
            document.body.classList.add('loaded_hiding');
            window.setTimeout(function () {
                document.body.classList.add('loaded');
                document.body.classList.remove('loaded_hiding');
            }, 500);
        }
    </script>


</head>

<header>
    <div style="display: flex; width: 100vw; justify-content: space-between; flex-wrap: nowrap; width: 100%;">
        <a href="home" style="display: flex; align-items: flex-start;" ><img src="images/logo_black.png" class="icon-logo"/></a>
        <ul id="menu_ul">
            <li id="menu_li"><a id="menu_a" href="displayStanki">Мех.уч.2 пл.</a></li>
            <li id="menu_li1"><a id="menu_a1" href="kim">ОТК</a></li>
            <li id="menu_li2"><a id="menu_a2" href="navigators">Резка</a></li>
            <li id="menu_li3"><a id="menu_a3" href="stanki_meh">Мех.уч.1 пл.</a></li>
            <li id="menu_li4"><a id="menu_a4" href="robots" class="menu-color">Роботы</a><div class="neo-line"></div></li>
            <li id="menu_li5"><a id="menu_a5" href="spec_complexes">Спец. комплексы</a></li>
            <li id="menu_li6"><a id="menu_a6" href="sclads">Склады</a></li>
            <li id="menu_li7"><a id="menu_a7" href="liteyka">Литьё</a></li>
            <li id="menu_li8"><a id="menu_a8" href="gibka">Гибка</a></li>
        </ul>
        <div style="display: flex; flex-direction: row;">
            <div class="div_login_mail">
                <li th:text="${user_name}"></li>
                <p th:text="${user_mail}"></p>
            </div>
            <div method="post" class="dropdown">
                <input type="image" th:src="@{${image_user}}" alt="Avatar" class="avatar"/>
                <div class="dropdown-content">
                    <p id="role_vision"></p>
                    <p><img th:src="@{${image_user}}" width="100" style="border-radius: 360px; margin-top:0; "/></p>
                    <li th:text="${user_name}"></li>
                    <p th:text="${user_mail}"></p>
                    <div style=" display: block; border-bottom: 1px solid #e8eaed; margin-bottom: 5px; line-height: normal"></div>
                    <button id="admin" onclick="window.location.href = '/adminpanel/userscontrol';">Администрирование</button>
                    <label class="switch">
                        <p>Светлая Темная</p>
                        <span class="slider round"><input type="checkbox" id='dark_button'/><span class="slider_before round_before"></span></span>
                    </label>
                    <form th:action="@{/logout}" method="post">
                        <button class="follow" type="submit">
                            Выход
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="display:flex; justify-content: center;">
        <form>
            <button  formaction="robots" class="button_color">Суточный отчет</button>
            <button formaction="robots_month" class="button_color button_color_active">Месячный отчет<div class="neo-line"></div></button>
        </form>
    </div>  <!-- Меню -->
</header>       <!--Шапка html-->

<div class="preloader">
    <div class="preloader__row">
        <div class="preloader__item"></div>
        <div class="preloader__item"></div>
    </div>
</div> <!-- Загрузка страницы -->
<body>
<div class="container">
    <div style="width: 250px; float: left">
        <h2>Выберите месяц:</h2>
    </div>


    <form  action="#" th:action="@{/robots_month}" th:object="${calendar_month}" method="post" >

        <div class='input-group date' id='datepicker' style="width: 200px; float: left;  margin: 1.7%">
            <input type='text' class="form-control" th:field="*{content_month}"/>
            <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
        </div>

        <div class="form-actions" >
            <button type="submit"
                    class="follow"
                    id="button_obnovit" style="float: left; margin: 1.5%;  font-size: 150%; text-align: center">Обновить
            </button>
        </div>
    </form>




</div>      <!--Календарь html-->

<div style="display: flex; justify-content: space-between">

    <div id="container_sum_zagruzka" style="height: 400px; width: 50%"></div>

    <div id="container_sum_zagruzka_krug" style="height: 400px; width: 50%"></div>
</div>  <!--Общая загрузка  html-->
<script th:inline="javascript">

    var colors = ['#e81e1d', '#000000','#ffea32', '#207210', '#38e817'];

    var work_maks_1 = [[${maks_1_work}]];
    var pause_maks_1 = [[${maks_1_pass}]];
    var off_maks_1 = [[${maks_1_fail}]];
    var avar_maks_1 = [[${maks_1_avar}]];
    var nagruzka_maks_1 = [[${maks_1_nagruzka}]];

    var work_maks_2 = [[${maks_2_work}]];
    var pause_maks_2 = [[${maks_2_pass}]];
    var off_maks_2 = [[${maks_2_fail}]];
    var avar_maks_2 = [[${maks_2_avar}]];
    var nagruzka_maks_2 = [[${maks_2_nagruzka}]];

    var work_m710 = [[${m710_work}]];
    var pause_m710 = [[${m710_pass}]];
    var off_m710 = [[${m710_fail}]];
    var avar_m710 = [[${m710_avar}]];
    var nagruzka_m710 = [[${m710_nagruzka}]];

    var work_rtc12c = [[${rtk12c_work}]];
    var pause_rtc12c = [[${rtk12c_pass}]];
    var off_rtc12c = [[${rtk12c_fail}]];
    var avar_rtc12c = [[${rtk12c_avar}]];
    var nagruzka_rtc12c = [[${rtk12c_nagruzka}]];

    var work_p250 = [[${p250_work}]];
    var pause_p250 = [[${p250_pass}]];
    var off_p250 = [[${p250_fail}]];
    var avar_p250 = [[${p250_avar}]];
    var nagruzka_p250 = [[${p250_nagruzka}]];

    var work_krot = [[${krot_work}]];
    var pause_krot = [[${krot_pass}]];
    var off_krot = [[${krot_fail}]];
    var avar_krot = [[${krot_avar}]];
    var nagruzka_krot = [[${krot_nagruzka}]];

    var work_prans = [[${prans_work}]];
    var pause_prans = [[${prans_pass}]];
    var off_prans = [[${prans_fail}]];
    var avar_prans = [[${prans_avar}]];
    var nagruzka_prans = [[${prans_nagruzka}]];


    const timezone = new Date().getTimezoneOffset()

    Highcharts.setOptions({
        lang: {
            loading: 'Загрузка...',
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
            exportButtonTitle: "Экспорт",
            printButtonTitle: "Печать",
            rangeSelectorFrom: "С",
            rangeSelectorTo: "По",
            rangeSelectorZoom: "Период",
            downloadPNG: 'Скачать PNG',
            downloadJPEG: 'Скачать JPEG',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            printChart: 'Напечатать график',
            viewFullscreen: 'На весь экран'
        },
        plotOptions: {
            xrange: {
                grouping: false
            }
        },
        global: {
            timezoneOffset: timezone
        }
    });

    Highcharts.chart('container_sum_zagruzka', {
        chart: {
            type: 'column'
        },
        colors:colors,
        title: {
            text: 'Общая загрузка оборудования'
        },
        xAxis: {
            labels: {
                style: {
                    fontSize: '18px',
                }
            },
            categories: ['МАКС #1', 'МАКС #2', 'М710', 'РТК12С', 'Р250', 'КРОТ', 'ПРАНС']
        },
        credits: {
            enabled: false
        },
        yAxis: {
            min: 0,
            title: {
                text: '%'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: {point.percentage:.1f}%<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
        series: [{
            name: 'Авария',
            data: [avar_maks_1, avar_maks_2, avar_m710, avar_rtc12c, avar_p250, avar_krot, avar_prans]
        }, {
            name: 'Выключен',
            data: [off_maks_1, off_maks_2, off_m710, off_rtc12c, off_p250, off_krot, off_prans]
        }, {
            name: 'Ожидание',
            data: [pause_maks_1, pause_maks_2, pause_m710, pause_rtc12c, pause_p250, pause_krot, pause_prans]
        }, {
            name: 'Под нагрузкой',
            data: [nagruzka_maks_1, nagruzka_maks_2, nagruzka_m710, nagruzka_rtc12c, nagruzka_p250, nagruzka_krot, nagruzka_prans]
        }, {
            name: 'Работа',
            data: [work_maks_1, work_maks_2, work_m710, work_rtc12c, work_p250, work_krot, work_prans]
        } ]
    });

</script>   <!--js Общая загрузка-->
<script th:inline="javascript">
    var colors = ['#38e817', '#ffea32', '#000000', '#e81e1d','#207210'];
    var sum_rabota = [[${maks_1_work}]] + [[${maks_2_work}]] + [[${m710_work}]] + [[${rtk12c_work}]] + [[${p250_work}]] + [[${krot_work}]] + [[${prans_work}]]
    var sum_pause = [[${maks_1_pass}]] + [[${maks_2_pass}]] + [[${m710_pass}]] + [[${rtk12c_pass}]] + [[${p250_pass}]] + [[${krot_pass}]] + [[${prans_pass}]]
    var sum_off = [[${maks_1_fail}]] + [[${maks_2_fail}]] + [[${m710_fail}]] + [[${rtk12c_fail}]] + [[${p250_fail}]] + [[${krot_fail}]] + [[${prans_fail}]]
    var sum_avar = [[${maks_1_avar}]] + [[${maks_2_avar}]] + [[${m710_avar}]] + [[${rtk12c_avar}]] + [[${p250_avar}]] + [[${krot_avar}]] + [[${prans_avar}]]
    var sum_nagruzka = [[${maks_1_nagruzka}]] + [[${maks_2_nagruzka}]] + [[${m710_nagruzka}]] + [[${rtk12c_nagruzka}]] + [[${p250_nagruzka}]] + [[${krot_nagruzka}]] + [[${prans_nagruzka}]]

    Highcharts.chart('container_sum_zagruzka_krug', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },

        title: {
            text: 'Суммарная загрузка оборудования'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        colors:colors,
        credits: {
            enabled: false
        },
        series : [ {
            type : 'pie',
            name : 'Показатель',
            data : [ [ 'По программе', sum_rabota ], [ 'Включен', sum_pause ],
                [ 'Выключен', sum_off ],  [ 'В аварии', sum_avar],  [ 'Под нагрузкой', sum_nagruzka]   ]
        }]
    });
</script>   <!--Общая js круговая диагрмма загрузки оборудования-->

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/robot.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">МАКС #1</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="maks_1(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(910, screen.availHeight)+',width='+Math.min(1010, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_maks_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days1" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!-- html-->

</div> <!--Макс 1 html-->
<script th:inline="javascript">
    var maks_1_rabota_day = [[${maks_1_rabota_day}]];
    var maks_1_pause_day = [[${maks_1_pause_day}]];
    var maks_1_off_day = [[${maks_1_off_day}]];
    var maks_1_avar_day = [[${maks_1_avar_day}]];
    var maks_1_nagruzka_day = [[${maks_1_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы Макс 1-->
<script th:inline="javascript">
    var maks_1_work = [[${maks_1_work}]];
    var maks_1_pass = [[${maks_1_pass}]];
    var maks_1_fail = [[${maks_1_fail}]];
    var maks_1_avar = [[${maks_1_avar}]];
    var  maks_1_nagruzka = [[${maks_1_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы Макс 1-->
<script src="/js/month/robots/data_maks_1_month.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/robot.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">МАКС #2</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="maks_2(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(910, screen.availHeight)+',width='+Math.min(1010, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_maks_2" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days2" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container2" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!-- html-->

</div> <!-- Макс 2 html-->
<script th:inline="javascript">
    var maks_2_rabota_day = [[${maks_2_rabota_day}]];
    var maks_2_pause_day = [[${maks_2_pause_day}]];
    var maks_2_off_day = [[${maks_2_off_day}]];
    var maks_2_avar_day = [[${maks_2_avar_day}]];
    var maks_2_nagruzka_day = [[${maks_2_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы Макс 2-->
<script th:inline="javascript">
    var maks_2_work = [[${maks_2_work}]];
    var maks_2_pass = [[${maks_2_pass}]];
    var maks_2_fail = [[${maks_2_fail}]];
    var maks_2_avar = [[${maks_2_avar}]];
    var  maks_2_nagruzka = [[${maks_2_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы Макс 2-->
<script src="/js/month/robots/data_maks_2_month.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/robot.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">М710</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="m710(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(1320, screen.availHeight)+',width='+Math.min(1200, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_m710" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days3" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container3" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!-- html-->

</div> <!--М710 html-->
<script th:inline="javascript">
    var m710_rabota_day = [[${m710_rabota_day}]];
    var m710_pause_day = [[${m710_pause_day}]];
    var m710_off_day = [[${m710_off_day}]];
    var m710_avar_day = [[${m710_avar_day}]];
    var m710_nagruzka_day = [[${m710_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы М710-->
<script th:inline="javascript">
    var m710_work = [[${m710_work}]];
    var m710_pass = [[${m710_pass}]];
    var m710_fail = [[${m710_fail}]];
    var m710_avar = [[${m710_avar}]];
    var  m710_nagruzka = [[${m710_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы М710-->
<script src="/js/month/robots/data_m710_month.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/robot.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">РТК12С</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="rtk12c(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(1320, screen.availHeight)+',width='+Math.min(1200, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_rtk12c" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days4" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container4" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!-- html-->

</div> <!--РТК12С html-->
<script th:inline="javascript">
    var rtk12c_rabota_day = [[${rtk12c_rabota_day}]];
    var rtk12c_pause_day = [[${rtk12c_pause_day}]];
    var rtk12c_off_day = [[${rtk12c_off_day}]];
    var rtk12c_avar_day = [[${rtk12c_avar_day}]];
    var rtk12c_nagruzka_day = [[${rtk12c_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы РТК12С-->
<script th:inline="javascript">
    var rtk12c_work = [[${rtk12c_work}]];
    var rtk12c_pass = [[${rtk12c_pass}]];
    var rtk12c_fail = [[${rtk12c_fail}]];
    var rtk12c_avar = [[${rtk12c_avar}]];
    var  rtk12c_nagruzka = [[${rtk12c_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы РТК12С-->
<script src="/js/month/robots/data_rtk12c_month.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/robot_p250.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">p250</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="p250(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(895, screen.availHeight)+',width='+Math.min(1020, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_p250" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days5" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container5" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!-- html-->

</div> <!--P250 html-->
<script th:inline="javascript">
    var p250_rabota_day = [[${p250_rabota_day}]];
    var p250_pause_day = [[${p250_pause_day}]];
    var p250_off_day = [[${p250_off_day}]];
    var p250_avar_day = [[${p250_avar_day}]];
    var p250_nagruzka_day = [[${p250_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы p250-->
<script th:inline="javascript">
    var p250_work = [[${p250_work}]];
    var p250_pass = [[${p250_pass}]];
    var p250_fail = [[${p250_fail}]];
    var p250_avar = [[${p250_avar}]];
    var  p250_nagruzka = [[${p250_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы p250-->
<script src="/js/month/robots/data_p250_month.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/robot.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">КРОТ</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="krot(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(895, screen.availHeight)+',width='+Math.min(1020, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_krot" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days_krot" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container_krot" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--Кrot html-->

</div> <!--krot html-->
<script th:inline="javascript">
    var krot_rabota_day = [[${krot_rabota_day}]];
    var krot_pause_day = [[${krot_pause_day}]];
    var krot_off_day = [[${krot_off_day}]];
    var krot_avar_day = [[${krot_avar_day}]];
    var krot_nagruzka_day = [[${krot_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы krot-->
<script th:inline="javascript">
    var krot_work = [[${krot_work}]];
    var krot_pass = [[${krot_pass}]];
    var krot_fail = [[${krot_fail}]];
    var krot_avar = [[${krot_avar}]];
    var  krot_nagruzka = [[${krot_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы krot-->
<script src="/js/month/robots/data_krot_month.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/robot.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">ПРАНС</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="prans(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(895, screen.availHeight)+',width='+Math.min(1020, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_prans" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days_prans" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container_prans" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>
</div> <!-- Prans html-->
<script th:inline="javascript">
    var prans_rabota_day = [[${prans_rabota_day}]];
    var prans_pause_day = [[${prans_pause_day}]];
    var prans_off_day = [[${prans_off_day}]];
    var prans_avar_day = [[${prans_avar_day}]];
    var prans_nagruzka_day = [[${prans_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы prans-->
<script th:inline="javascript">
    var prans_work = [[${prans_work}]];
    var prans_pass = [[${prans_pass}]];
    var prans_fail = [[${prans_fail}]];
    var prans_avar = [[${prans_avar}]];
    var  prans_nagruzka = [[${prans_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы prans-->
<script src="/js/month/robots/data_prans_month.js"></script>

<script th:inline="javascript">
    var role_status = [[${user_role}]];

    if(role_status === "ROLE_ADMIN")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Админ";
        document.getElementById("admin").style.display = "inline";

    }
    else if (role_status === "ROLE_USER")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Пользователь"
        document.getElementById("admin").style.display = "none";
    }
</script>
<!--Скрипт отображения в header  кнопки администрирование-->

<script>
    var mar_top = localStorage.getItem('mar_top');
    var mar_left = localStorage.getItem('mar_left');
    var bground = localStorage.getItem('bground');
    var place_img = localStorage.getItem('place_img');
    var size  = localStorage.getItem('size');
    var bwidth = localStorage.getItem('bwidth');
</script>
<script src="/js/mesto.js"></script>
<!--Скрипт с вызовом функций для изменения места-->

<script src="/js/dark_theme.js"></script>
<script>

    var dark_theme_state = 0; <!--    переменная состояния темы страницы-->

    //Если значение ключа не пустое присваеваем переменным последнее сохраненное значение
    if(localStorage['dark_theme_state'] != null) {
        dark_theme_state = parseInt(window.localStorage['dark_theme_state']);
    }
    // Условия для смены цвета вне нажатия на кнопку


    dark_theme(); // Вызов функции
    // Смена цвета по кнопке
    $("#dark_button").on("click", function() {
        dark_theme_state++; // увеличиваем счетчик
        if(dark_theme_state > 1) // если он больше 1, меняем на ноль
        {
            dark_theme_state = 0;
        }
        window.localStorage['dark_theme_state'] = dark_theme_state; // сохраняем переменную в локальном хранилище

        // Условия для смены цвета после нажатия на кнопку
        dark_theme();
    });
</script>
<!--Скрипт темной темы-->

<script src="/js/dropdown_menu.js"></script>
<script>
    click_avatar();
</script> <!-- Скрипт вызова функции для выпадающего меню -->
</body>
</html>