<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Мех.уч.I пл.</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" href="css/styles_header.css"/>
    <link rel="stylesheet" type="text/css" href="css/menu_buttons.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles_stanki.css"/>


    <!-- Optional theme -->

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css" />

    <script src="js/highcharts.js"></script>
    <script src="js/exporting.js"></script>
    <script src="js/export-data.js"></script>
    <script src="js/accessibility.js"></script>
    <script src="js/xrange.js"></script>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap-3.3.0.min.js"></script>

    <!--Календарь -->
    <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
    <!--Календарь Русский язык-->
    <script type="text/javascript" src="/js/bootstrap-datepicker.ru.min.js"></script>

    <style>
        .preloader {
            /*фиксированное позиционирование*/
            position: fixed;
            /* координаты положения */
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            /* фоновый цвет элемента */
            /*background: #e0e0e0;*/
            /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
            z-index: 1001;
        }

        .preloader__row {
            position: relative;
            top: 50%;
            left: 50%;
            width: 70px;
            height: 70px;
            margin-top: -35px;
            margin-left: -35px;
            text-align: center;
            animation: preloader-rotate 2s infinite linear;
        }

        .preloader__item {
            position: absolute;
            display: inline-block;
            top: 0;
            background-color: #337ab7;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            animation: preloader-bounce 2s infinite ease-in-out;
        }

        .preloader__item:last-child {
            top: auto;
            bottom: 0;
            animation-delay: -1s;
        }

        @keyframes preloader-rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes preloader-bounce {

            0%,
            100% {
                transform: scale(0);
            }

            50% {
                transform: scale(1);
            }
        }

        .loaded_hiding .preloader {
            transition: 0.3s opacity;
            opacity: 0;
        }

        .loaded .preloader {
            display: none;
        }
    </style>
    <script >
        $(function () {
            $('#datepicker').datepicker({
                format: "yyyy-mm",
                language: 'ru',
                viewMode: "months",
                minViewMode: "months",
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button"
            });
            <!--$("#datepicker").datepicker("update", new Date());  Задаем текущее время-->



            $('#button_obnovit').on("click", function() {
                var datas = $('#datepicker').data().datepicker.viewDate;

                var mes = datas.getMonth()+1;
                var year = datas.getFullYear();

                name_data = mes+"-" + year;
                <!--console.log(name_data);-->
            });


        });

    </script>   <!--Календарь js-->
    <script>
        window.onload = function () {
            document.body.classList.add('loaded_hiding');
            window.setTimeout(function () {
                document.body.classList.add('loaded');
                document.body.classList.remove('loaded_hiding');
            }, 500);
        }
    </script>
</head>
<header>
    <div style="display: flex; width: 100vw; justify-content: space-between; flex-wrap: nowrap; width: 100%;">
        <a href="home" style="display: flex; align-items: flex-start;" ><img src="images/logo_black.png" class="icon-logo"/></a>
        <ul id="menu_ul">
            <li id="menu_li"><a id="menu_a" href="displayStankiMonth">Мех.уч.2 пл.</a></li>
            <li id="menu_li1"><a id="menu_a1" href="kim_month">ОТК</a></li>
            <li id="menu_li2"><a id="menu_a2" href="navigators_month">Резка</a></li>
            <li id="menu_li3"><a id="menu_a3" href="stanki_meh_month" class="menu-color">Мех.уч.1 пл.</a><div class="neo-line"></div></li>
            <li id="menu_li4"><a id="menu_a4" href="robots_month">Роботы</a></li>
            <li id="menu_li5"><a id="menu_a5" href="spec_complexes_month">Спец. комплексы</a></li>
            <li id="menu_li6"><a id="menu_a6" href="sclads_month">Склады</a></li>
            <li id="menu_li7"><a id="menu_a7" href="liteyka_month">Литьё</a></li>
            <li id="menu_li8"><a id="menu_a8" href="gibka_month">Гибка</a></li>
        </ul>
        <div style="display: flex; flex-direction: row;">
            <div class="div_login_mail">
                <li th:text="${user_name}"></li>
                <p th:text="${user_mail}"></p>
            </div>
            <div method="post" class="dropdown">
                <input type="image" th:src="@{${image_user}}" alt="Avatar" class="avatar"/>
                <div class="dropdown-content">
                    <p id="role_vision"></p>
                    <p><img th:src="@{${image_user}}" width="100" style="border-radius: 360px; margin-top:0; "/></p>
                    <li th:text="${user_name}"></li>
                    <p th:text="${user_mail}"></p>
                    <div style=" display: block; border-bottom: 1px solid #e8eaed; margin-bottom: 5px; line-height: normal"></div>
                    <button id="admin" onclick="window.location.href = '/adminpanel/userscontrol';">Администрирование</button>
                    <label class="switch">
                        <p>Светлая Темная</p>
                        <span class="slider round"><input type="checkbox" id='dark_button'/><span class="slider_before round_before"></span></span>
                    </label>
                    <form th:action="@{/logout}" method="post">
                        <button class="follow" type="submit">
                            Выход
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="display:flex; justify-content: center;">
        <form>
            <button  formaction="stanki_meh" class="button_color">Суточный отчет</button>
            <button formaction="stanki_meh_month" class="button_color button_color_active">Месячный отчет<div class="neo-line"></div></button>
        </form>
    </div>  <!-- Меню -->
</header>       <!--Шапка html-->
<!-- Загрузка страницы -->
<div class="preloader">
    <div class="preloader__row">
        <div class="preloader__item"></div>
        <div class="preloader__item"></div>
    </div>
</div>
<!-- Загрузка страницы и темная тема-->
<script>
    var dark_theme_state = 0; <!--    переменная состояния темы страницы-->

    if(localStorage['dark_theme_state'] != null) {
        dark_theme_state = parseInt(window.localStorage['dark_theme_state']); // Если она уже локально задана сохраняем
    }

    if (dark_theme_state == 0) {$('.preloader').attr("style", `background: #f2f6f8`);} // присвоение цвета загрузочного меню
    else if (dark_theme_state == 1) {$('.preloader').attr("style", `background: #161821`);} // в двух цветах

    window.onload = function () { // прелоудер
        document.body.classList.add('loaded_hiding');
        window.setTimeout(function () {
            document.body.classList.add('loaded');
            document.body.classList.remove('loaded_hiding');
        }, 500);

        dark_theme(); // Вызов функции
        // Смена цвета по кнопке
        $("#dark_button").on("click", function() {
            dark_theme_state++; // увеличиваем счетчик
            if(dark_theme_state > 1) // если он больше 1, меняем на ноль
            {
                dark_theme_state = 0;
            }
            window.localStorage['dark_theme_state'] = dark_theme_state; // сохраняем переменную в локальном хранилище
            // Условия для смены цвета после нажатия на кнопку
            dark_theme();
        });
    }
</script>
<script src="/js/dark_theme.js"></script>

<body>
<div class="container">
    <div style="width: 250px; float: left">
        <h2>Выберите месяц:</h2>
    </div>
    <form  action="#" th:action="@{/stanki_meh_month}" th:object="${calendar_month}" method="post" >
        <div class='input-group date' id='datepicker' style="width: 200px; float: left;  margin: 1.7%">
            <input type='text' class="form-control" th:field="*{content_month}"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <div class="form-actions" >
            <button type="submit"
                    class="follow"
                    id="button_obnovit" style="float: left; margin: 1.5%;  font-size: 150%; text-align: center">Обновить
            </button>
        </div>
    </form>

</div>      <!--Календарь html-->

<div style="display: flex; justify-content: space-between">
    <div id="container_sum_zagruzka" style="height: 400px; width: 45%"></div> <!--Общая загрузка html-->
    <div id="container_sum_zagruzka_krug" style="height: 400px; width: 50%"></div>    <!--Суммарная загрузка html-->
</div>  <!--Общая загрузка-->
<script th:inline="javascript">

    var colors = ['#e81e1d', '#000000','#ffea32', '#207210', '#38e817'];

    var work_uvf_1_1 = [[${uvf_1_work}]];
    var work_uvf_1_2 = [[${uvf_2_work}]];
    var work_ntx1000 = [[${ntx1000_2_work}]];
    var work_nlx3000 = [[${nlx3000_work}]];
    var work_gamma2000 = [[${dmg_gamma2000_work}]];
    var work_ctx650 = [[${dmg_ctx650_work}]];
    var work_dmf260 = [[${dmg_dmf260_work}]];
    var work_dmu50_1 = [[${dmg_dmu50_1_work}]];
    var work_dmu50_2 = [[${dmg_dmu50_2_work}]];
    var work_dmc1035 = [[${dmg_dmc1035_work}]];
    var work_ctx310_1 = [[${dmg_ctx310_1_work}]];
    var work_ctx510_1 = [[${dmg_ctx510_1_work}]];

    var pause_uvf_1_1 = [[${uvf_1_pass}]];
    var pause_uvf_1_2 = [[${uvf_2_pass}]];
    var pause_ntx1000 = [[${ntx1000_2_pass}]];
    var pause_nlx3000 = [[${nlx3000_pass}]];
    var pause_gamma2000 = [[${dmg_gamma2000_pass}]];
    var pause_ctx650 = [[${dmg_ctx650_pass}]];
    var pause_dmf260 = [[${dmg_dmf260_pass}]];
    var pause_dmu50_1 = [[${dmg_dmu50_1_pass}]];
    var pause_dmu50_2 = [[${dmg_dmu50_2_pass}]];
    var pause_dmc1035 = [[${dmg_dmc1035_pass}]];
    var pause_ctx310_1 = [[${dmg_ctx310_1_pass}]];
    var pause_ctx510_1 = [[${dmg_ctx510_1_pass}]];

    var off_uvf_1_1 = [[${uvf_1_fail}]];
    var off_uvf_1_2 = [[${uvf_2_fail}]];
    var off_ntx1000 = [[${ntx1000_2_fail}]];
    var off_nlx3000 = [[${nlx3000_fail}]];
    var off_gamma2000 = [[${dmg_gamma2000_fail}]];
    var off_ctx650 = [[${dmg_ctx650_fail}]];
    var off_dmf260 = [[${dmg_dmf260_fail}]];
    var off_dmu50_1 = [[${dmg_dmu50_1_fail}]];
    var off_dmu50_2 = [[${dmg_dmu50_2_fail}]];
    var off_dmc1035 = [[${dmg_dmc1035_fail}]];
    var off_ctx310_1 = [[${dmg_ctx310_1_fail}]];
    var off_ctx510_1 = [[${dmg_ctx510_1_fail}]];

    var avar_uvf_1_1 = [[${uvf_1_avar}]];
    var avar_uvf_1_2 = [[${uvf_2_avar}]];
    var avar_ntx1000 = [[${ntx1000_2_avar}]];
    var avar_nlx3000 = [[${nlx3000_avar}]];
    var avar_gamma2000 = [[${dmg_gamma2000_avar}]];
    var avar_ctx650 = [[${dmg_ctx650_avar}]];
    var avar_dmf260 = [[${dmg_dmf260_avar}]];
    var avar_dmu50_1 = [[${dmg_dmu50_1_avar}]];
    var avar_dmu50_2 = [[${dmg_dmu50_2_avar}]];
    var avar_dmc1035 = [[${dmg_dmc1035_avar}]];
    var avar_ctx310_1 = [[${dmg_ctx310_1_avar}]];
    var avar_ctx510_1 = [[${dmg_ctx510_1_avar}]];


    var nagruzka_uvf_1_1 = [[${uvf_1_nagruzka}]];
    var nagruzka_uvf_1_2 = [[${uvf_2_nagruzka}]];
    var nagruzka_ntx1000 = [[${ntx1000_2_nagruzka}]];
    var nagruzka_nlx3000 = [[${nlx3000_nagruzka}]];
    var nagruzka_gamma2000 = [[${dmg_gamma2000_nagruzka}]];
    var nagruzka_ctx650 = [[${dmg_ctx650_nagruzka}]];
    var nagruzka_dmf260 = [[${dmg_dmf260_nagruzka}]];
    var nagruzka_dmu50_1 = [[${dmg_dmu50_1_nagruzka}]];
    var nagruzka_dmu50_2 = [[${dmg_dmu50_2_nagruzka}]];
    var nagruzka_dmc1035 = [[${dmg_dmc1035_nagruzka}]];
    var nagruzka_ctx310_1 = [[${dmg_ctx310_1_nagruzka}]];
    var nagruzka_ctx510_1 = [[${dmg_ctx510_1_nagruzka}]];

    const timezone = new Date().getTimezoneOffset()

    Highcharts.setOptions({
        lang: {
            loading: 'Загрузка...',
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
            exportButtonTitle: "Экспорт",
            printButtonTitle: "Печать",
            rangeSelectorFrom: "С",
            rangeSelectorTo: "По",
            rangeSelectorZoom: "Период",
            downloadPNG: 'Скачать PNG',
            downloadJPEG: 'Скачать JPEG',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            printChart: 'Напечатать график',
            viewFullscreen: 'На весь экран'
        },
        plotOptions: {
            xrange: {
                grouping: false
            }
        },
        global: {
            timezoneOffset: timezone
        }
    });

    Highcharts.chart('container_sum_zagruzka', {
        chart: {
            type: 'column'
        },
        colors: colors,
        title: {
            text: 'Общая загрузка оборудования'
        },
        xAxis: {
            labels: {
                style: {
                    fontSize: '18px',
                }
            },
            categories: ['УВФ-1 #1', 'УВФ-1 #2', 'NTX1000 #2', 'NLX3000', 'GAMMA2000', 'CTX650', 'DMF260', 'DMU50 #1', 'DMU50 #2', 'DMC1035', 'CTX310 #1', 'CTX510 #1']
        },
        credits: {
            enabled: false
        },
        yAxis: {
            min: 0,
            title: {
                text: '%'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: {point.percentage:.1f}%<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
        series: [{
            name: 'Авария',
            data: [avar_uvf_1_1, avar_uvf_1_2, avar_ntx1000, avar_nlx3000, avar_gamma2000, avar_ctx650, avar_dmf260, avar_dmu50_1, avar_dmu50_2, avar_dmc1035, avar_ctx310_1, avar_ctx510_1]
        }, {
            name: 'Выключен',
            data: [off_uvf_1_1, off_uvf_1_2, off_ntx1000, off_nlx3000, off_gamma2000, off_ctx650, off_dmf260, off_dmu50_1, off_dmu50_2, off_dmc1035, off_ctx310_1, off_ctx510_1]
        }, {
            name: 'Ожидание',
            data: [pause_uvf_1_1, pause_uvf_1_2, pause_ntx1000, pause_nlx3000, pause_gamma2000, pause_ctx650, pause_dmf260, pause_dmu50_1, pause_dmu50_2, pause_dmc1035, pause_ctx310_1, pause_ctx510_1]
        }, {
            name: 'Под нагрузкой',
            data: [nagruzka_uvf_1_1, nagruzka_uvf_1_2, nagruzka_ntx1000, nagruzka_nlx3000, nagruzka_gamma2000, nagruzka_ctx650, nagruzka_dmf260, nagruzka_dmu50_1, nagruzka_dmu50_2, nagruzka_dmc1035, nagruzka_ctx310_1, nagruzka_ctx510_1]
        },{
            name: 'Работа',
            data: [work_uvf_1_1, work_uvf_1_2, work_ntx1000, work_nlx3000, work_gamma2000, work_ctx650, work_dmf260, work_dmu50_1, work_dmu50_2, work_dmc1035, work_ctx310_1, work_ctx510_1 ]
        }]
    });

</script>   <!--js Общая загрузка-->
<script th:inline="javascript">
    var colors = ['#38e817', '#ffea32', '#000000', '#e81e1d','#207210'];
    var sum_rabota = [[${uvf_1_work}]] + [[${uvf_2_work}]] + [[${ntx1000_2_work}]] + [[${nlx3000_work}]] + [[${dmg_gamma2000_work}]] + [[${dmg_ctx650_work}]] + [[${dmg_dmf260_work}]] + [[${dmg_dmu50_1_work}]] + [[${dmg_dmu50_2_work}]] + [[${dmg_dmc1035_work}]] + [[${dmg_ctx310_1_work}]] + [[${dmg_ctx510_1_work}]]
    var sum_pause = [[${uvf_1_pass}]] + [[${uvf_2_pass}]] + [[${ntx1000_2_pass}]] + [[${nlx3000_pass}]] + [[${dmg_gamma2000_pass}]] + [[${dmg_ctx650_pass}]] + [[${dmg_dmf260_pass}]] + [[${dmg_dmu50_1_pass}]] + [[${dmg_dmu50_2_pass}]] + [[${dmg_dmc1035_pass}]] + [[${dmg_ctx310_1_pass}]] + [[${dmg_ctx510_1_pass}]]
    var sum_off = [[${uvf_1_fail}]] + [[${uvf_2_fail}]] + [[${ntx1000_2_fail}]] + [[${nlx3000_fail}]] + [[${dmg_gamma2000_fail}]] + [[${dmg_ctx650_fail}]] + [[${dmg_dmf260_fail}]] + [[${dmg_dmu50_1_fail}]] + [[${dmg_dmu50_2_fail}]] + [[${dmg_dmc1035_fail}]] + [[${dmg_ctx310_1_fail}]] + [[${dmg_ctx510_1_fail}]]
    var sum_avar = [[${uvf_1_avar}]] + [[${uvf_2_avar}]] + [[${ntx1000_2_avar}]] + [[${nlx3000_avar}]] + [[${dmg_gamma2000_avar}]] + [[${dmg_ctx650_avar}]] + [[${dmg_dmf260_avar}]] + [[${dmg_dmu50_1_avar}]] + [[${dmg_dmu50_2_avar}]] + [[${dmg_dmc1035_avar}]] + [[${dmg_ctx310_1_avar}]] + [[${dmg_ctx510_1_avar}]]
    var sum_nagruzka = [[${uvf_1_nagruzka}]] + [[${uvf_2_nagruzka}]] + [[${ntx1000_2_nagruzka}]] + [[${nlx3000_nagruzka}]] + [[${dmg_gamma2000_nagruzka}]] + [[${dmg_ctx650_nagruzka}]] + [[${dmg_dmf260_nagruzka}]] + [[${dmg_dmu50_1_nagruzka}]] + [[${dmg_dmu50_2_nagruzka}]] + [[${dmg_dmc1035_nagruzka}]] + [[${dmg_ctx310_1_nagruzka}]] + [[${dmg_ctx510_1_nagruzka}]]

    Highcharts.chart('container_sum_zagruzka_krug', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },

        title: {
            text: 'Суммарная загрузка оборудования'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },

        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        colors:colors,
        credits: {
            enabled: false
        },
        series : [ {
            type : 'pie',
            name : 'Показатель',
            data : [ [ 'По программе', sum_rabota ], [ 'Включен', sum_pause ],
                [ 'Выключен', sum_off ],  [ 'В аварии', sum_avar],  [ 'Под нагрузкой', sum_nagruzka]   ]
        }]
    });
</script>   <!--Общая js круговая диагрмма загрузки оборудования-->

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/uvf_1_2.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">УВФ-1 #1</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="uvf_1(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_uvf_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days1" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>
</div> <!-- УВФ 1 html-->
<script th:inline="javascript">
    var uvf_1_rabota_day = [[${uvf_1_rabota_day}]];
    var uvf_1_pause_day = [[${uvf_1_pause_day}]];
    var uvf_1_off_day = [[${uvf_1_off_day}]];
    var uvf_1_avar_day = [[${uvf_1_avar_day}]];
    var uvf_1_nagruzka_day = [[${uvf_1_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы УВФ 1-->
<script th:inline="javascript">
    var uvf_1_work = [[${uvf_1_work}]];
    var uvf_1_pass = [[${uvf_1_pass}]];
    var uvf_1_fail = [[${uvf_1_fail}]];
    var uvf_1_avar = [[${uvf_1_avar}]];
    var  uvf_1_nagruzka = [[${uvf_1_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы УВФ 1-->
<script src="/js/month/stanki_meh/data_uvf_1_month.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/uvf_1_2.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">УВФ-1 #2</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="uvf_2(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_uvf_2" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days2" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container2" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>

</div> <!-- УВФ 2 html-->
<script th:inline="javascript">
    var uvf_2_rabota_day = [[${uvf_2_rabota_day}]];
    var uvf_2_pause_day = [[${uvf_2_pause_day}]];
    var uvf_2_off_day = [[${uvf_2_off_day}]];
    var uvf_2_avar_day = [[${uvf_2_avar_day}]];
    var uvf_2_nagruzka_day = [[${uvf_2_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы УВФ 1-->
<script th:inline="javascript">
    var uvf_2_work = [[${uvf_2_work}]];
    var uvf_2_pass = [[${uvf_2_pass}]];
    var uvf_2_fail = [[${uvf_2_fail}]];
    var uvf_2_avar = [[${uvf_2_avar}]];
    var  uvf_2_nagruzka = [[${uvf_2_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы УВФ 1-->
<script src="/js/month/stanki_meh/data_uvf_2_month.js"></script>

<div style="border: 1px solid #333;">   <!--NTX1000 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/ntx1000.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">NTX1000 #2</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="ntx1000_2 (); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_ntx1000_2" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days3" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container3" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>

</div> <!--NTX1000 html-->
<script th:inline="javascript">
    var ntx1000_2_rabota_day = [[${ntx1000_2_rabota_day}]];
    var ntx1000_2_pause_day = [[${ntx1000_2_pause_day}]];
    var ntx1000_2_off_day = [[${ntx1000_2_off_day}]];
    var ntx1000_2_avar_day = [[${ntx1000_2_avar_day}]];
    var ntx1000_2_nagruzka_day = [[${ntx1000_2_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы NTX1000-->
<script th:inline="javascript">
    var ntx1000_2_work = [[${ntx1000_2_work}]];
    var ntx1000_2_pass = [[${ntx1000_2_pass}]];
    var ntx1000_2_fail = [[${ntx1000_2_fail}]];
    var ntx1000_2_avar = [[${ntx1000_2_avar}]];
    var  ntx1000_2_nagruzka = [[${ntx1000_2_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы NTX1000-->
<script src="/js/month/stanki_meh/data_ntx1000_2_month.js"></script>

<div style="border: 1px solid #333;">   <!--nlx3000 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/NLX3000.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">NLX3000</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="nlx3000(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_nlx3000" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days4" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container4" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>

</div> <!--nlx3000 html-->
<script th:inline="javascript">
    var nlx3000_rabota_day = [[${nlx3000_rabota_day}]];
    var nlx3000_pause_day = [[${nlx3000_pause_day}]];
    var nlx3000_off_day = [[${nlx3000_off_day}]];
    var nlx3000_avar_day = [[${nlx3000_avar_day}]];
    var nlx3000_nagruzka_day = [[${nlx3000_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы NLX3000-->
<script th:inline="javascript">
    var nlx3000_work = [[${nlx3000_work}]];
    var nlx3000_pass = [[${nlx3000_pass}]];
    var nlx3000_fail = [[${nlx3000_fail}]];
    var nlx3000_avar = [[${nlx3000_avar}]];
    var  nlx3000_nagruzka = [[${nlx3000_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы NLX3000-->
<script src="/js/month/stanki_meh/data_nlx3000_month.js"></script>

<div style="border: 1px solid #333;">   <!--dmg_gamma2000 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/gamma2000.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">GAMMA2000</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="dmg_gamma2000(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_gamma2000" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                        <a style="text-decoration: none; float: left" class="icon_error" href="stanki/alarm/1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(1000, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_error'>Ошибки</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days5" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container5" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>
</div> <!--gamma2000 html-->
<script th:inline="javascript">
    var dmg_gamma2000_rabota_day = [[${dmg_gamma2000_rabota_day}]];
    var dmg_gamma2000_pause_day = [[${dmg_gamma2000_pause_day}]];
    var dmg_gamma2000_off_day = [[${dmg_gamma2000_off_day}]];
    var dmg_gamma2000_avar_day = [[${dmg_gamma2000_avar_day}]];
    var dmg_gamma2000_nagruzka_day = [[${dmg_gamma2000_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы dmg_gamma2000-->
<script th:inline="javascript">
    var dmg_gamma2000_work = [[${dmg_gamma2000_work}]];
    var dmg_gamma2000_pass = [[${dmg_gamma2000_pass}]];
    var dmg_gamma2000_fail = [[${dmg_gamma2000_fail}]];
    var dmg_gamma2000_avar = [[${dmg_gamma2000_avar}]];
    var  dmg_gamma2000_nagruzka = [[${dmg_gamma2000_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы dmg_gamma2000-->
<script src="/js/month/stanki_meh/data_dmg_gamma2000_month.js"></script>

<div style="border: 1px solid #333;">   <!--dmg_ctx650 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_ctx650.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">CTX650</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="dmg_ctx650(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_ctx650" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days6" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container6" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>

</div> <!--CTX650 html-->
<script th:inline="javascript">
    var dmg_ctx650_rabota_day = [[${dmg_ctx650_rabota_day}]];
    var dmg_ctx650_pause_day = [[${dmg_ctx650_pause_day}]];
    var dmg_ctx650_off_day = [[${dmg_ctx650_off_day}]];
    var dmg_ctx650_avar_day = [[${dmg_ctx650_avar_day}]];
    var dmg_ctx650_nagruzka_day = [[${dmg_ctx650_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы dmg_ctx650-->
<script th:inline="javascript">
    var dmg_ctx650_work = [[${dmg_ctx650_work}]];
    var dmg_ctx650_pass = [[${dmg_ctx650_pass}]];
    var dmg_ctx650_fail = [[${dmg_ctx650_fail}]];
    var dmg_ctx650_avar = [[${dmg_ctx650_avar}]];
    var  dmg_ctx650_nagruzka = [[${dmg_ctx650_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы dmg_ctx650-->
<script src="/js/month/stanki_meh/data_dmg_ctx650_month.js"></script>

<div style="border: 1px solid #333;">   <!--dmg_dmf260 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_dmf260.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">DMF260</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="dmg_dmf260(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_dmf260" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days7" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container7" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>

</div> <!--dmf260 html-->
<script th:inline="javascript">
    var dmg_dmf260_rabota_day = [[${dmg_dmf260_rabota_day}]];
    var dmg_dmf260_pause_day = [[${dmg_dmf260_pause_day}]];
    var dmg_dmf260_off_day = [[${dmg_dmf260_off_day}]];
    var dmg_dmf260_avar_day = [[${dmg_dmf260_avar_day}]];
    var dmg_dmf260_nagruzka_day = [[${dmg_dmf260_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы dmg_dmf260-->
<script th:inline="javascript">
    var dmg_dmf260_work = [[${dmg_dmf260_work}]];
    var dmg_dmf260_pass = [[${dmg_dmf260_pass}]];
    var dmg_dmf260_fail = [[${dmg_dmf260_fail}]];
    var dmg_dmf260_avar = [[${dmg_dmf260_avar}]];
    var  dmg_dmf260_nagruzka = [[${dmg_dmf260_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы dmg_dmf260-->
<script src="/js/month/stanki_meh/data_dmg_dmf260_month.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_dmu50.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">DMU50 #1</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="dmg_dmu50_1(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_dmu50_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days8" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container8" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>
</div> <!-- DMU50 #1 html-->
<script th:inline="javascript">
    var dmg_dmu50_1_rabota_day = [[${dmg_dmu50_1_rabota_day}]];
    var dmg_dmu50_1_pause_day = [[${dmg_dmu50_1_pause_day}]];
    var dmg_dmu50_1_off_day = [[${dmg_dmu50_1_off_day}]];
    var dmg_dmu50_1_avar_day = [[${dmg_dmu50_1_avar_day}]];
    var dmg_dmu50_1_nagruzka_day = [[${dmg_dmu50_1_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы dmg_dmu50_1-->
<script th:inline="javascript">
    var dmg_dmu50_1_work = [[${dmg_dmu50_1_work}]];
    var dmg_dmu50_1_pass = [[${dmg_dmu50_1_pass}]];
    var dmg_dmu50_1_fail = [[${dmg_dmu50_1_fail}]];
    var dmg_dmu50_1_avar = [[${dmg_dmu50_1_avar}]];
    var  dmg_dmu50_1_nagruzka = [[${dmg_dmu50_1_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы dmg_dmu50_1-->
<script src="/js/month/stanki_meh/data_dmg_dmu50_1_month.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_dmu50.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">DMU50 #2</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="dmg_dmu50_2(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_dmu50_2" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days9" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container9" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>

</div> <!-- DMU50 #2 html-->
<script th:inline="javascript">
    var dmg_dmu50_2_rabota_day = [[${dmg_dmu50_2_rabota_day}]];
    var dmg_dmu50_2_pause_day = [[${dmg_dmu50_2_pause_day}]];
    var dmg_dmu50_2_off_day = [[${dmg_dmu50_2_off_day}]];
    var dmg_dmu50_2_avar_day = [[${dmg_dmu50_2_avar_day}]];
    var dmg_dmu50_2_nagruzka_day = [[${dmg_dmu50_2_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы dmg_dmu50_2-->
<script th:inline="javascript">
    var dmg_dmu50_2_work = [[${dmg_dmu50_2_work}]];
    var dmg_dmu50_2_pass = [[${dmg_dmu50_2_pass}]];
    var dmg_dmu50_2_fail = [[${dmg_dmu50_2_fail}]];
    var dmg_dmu50_2_avar = [[${dmg_dmu50_2_avar}]];
    var  dmg_dmu50_2_nagruzka = [[${dmg_dmu50_2_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы dmg_dmu50_2-->
<script src="/js/month/stanki_meh/data_dmg_dmu50_2_month.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_dmc1035.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">DMC1035</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="dmg_dmc1035(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_dmc1035" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days10" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container10" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>

</div> <!-- DMC1035 #2 html-->
<script th:inline="javascript">
    var dmg_dmc1035_rabota_day = [[${dmg_dmc1035_rabota_day}]];
    var dmg_dmc1035_pause_day = [[${dmg_dmc1035_pause_day}]];
    var dmg_dmc1035_off_day = [[${dmg_dmc1035_off_day}]];
    var dmg_dmc1035_avar_day = [[${dmg_dmc1035_avar_day}]];
    var dmg_dmc1035_nagruzka_day = [[${dmg_dmc1035_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы dmg_dmc1035-->
<script th:inline="javascript">
    var dmg_dmc1035_work = [[${dmg_dmc1035_work}]];
    var dmg_dmc1035_pass = [[${dmg_dmc1035_pass}]];
    var dmg_dmc1035_fail = [[${dmg_dmc1035_fail}]];
    var dmg_dmc1035_avar = [[${dmg_dmc1035_avar}]];
    var  dmg_dmc1035_nagruzka = [[${dmg_dmc1035_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы dmg_dmc1035-->
<script src="/js/month/stanki_meh/data_dmg_dmc1035_month.js"></script>

<div style="border: 1px solid #333;">   <!--dmg_ctx310_1 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_ctx310.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">CTX310 #1</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="dmg_ctx310_1(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_ctx310_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days11" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container11" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>

</div> <!--ctx310_1 html-->
<script th:inline="javascript">
    var dmg_ctx310_1_rabota_day = [[${dmg_ctx310_1_rabota_day}]];
    var dmg_ctx310_1_pause_day = [[${dmg_ctx310_1_pause_day}]];
    var dmg_ctx310_1_off_day = [[${dmg_ctx310_1_off_day}]];
    var dmg_ctx310_1_avar_day = [[${dmg_ctx310_1_avar_day}]];
    var dmg_ctx310_1_nagruzka_day = [[${dmg_ctx310_1_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы dmg_ctx310_1-->
<script th:inline="javascript">
    var dmg_ctx310_1_work = [[${dmg_ctx310_1_work}]];
    var dmg_ctx310_1_pass = [[${dmg_ctx310_1_pass}]];
    var dmg_ctx310_1_fail = [[${dmg_ctx310_1_fail}]];
    var dmg_ctx310_1_avar = [[${dmg_ctx310_1_avar}]];
    var  dmg_ctx310_1_nagruzka = [[${dmg_ctx310_1_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы dmg_ctx310_1-->
<script src="/js/month/stanki_meh/data_dmg_ctx310_1_month.js"></script>

<div style="border: 1px solid #333;">   <!--dmg_ctx510_1 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_ctx510.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">CTX510 #1</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="dmg_ctx510_1(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_ctx510_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_days12" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container12" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>

</div> <!--ctx510_1 html-->
<script th:inline="javascript">
    var dmg_ctx510_1_rabota_day = [[${dmg_ctx510_1_rabota_day}]];
    var dmg_ctx510_1_pause_day = [[${dmg_ctx510_1_pause_day}]];
    var dmg_ctx510_1_off_day = [[${dmg_ctx510_1_off_day}]];
    var dmg_ctx510_1_avar_day = [[${dmg_ctx510_1_avar_day}]];
    var dmg_ctx510_1_nagruzka_day = [[${dmg_ctx510_1_nagruzka_day}]];
</script>   <!--Переменные для линейной диаграммы dmg_ctx510_2-->
<script th:inline="javascript">
    var dmg_ctx510_1_work = [[${dmg_ctx510_1_work}]];
    var dmg_ctx510_1_pass = [[${dmg_ctx510_1_pass}]];
    var dmg_ctx510_1_fail = [[${dmg_ctx510_1_fail}]];
    var dmg_ctx510_1_avar = [[${dmg_ctx510_1_avar}]];
    var  dmg_ctx510_1_nagruzka = [[${dmg_ctx510_1_nagruzka}]];
</script>   <!--Переменные для круговой диаграммы dmg_ctx510_2-->
<script src="/js/month/stanki_meh/data_dmg_ctx510_1_month.js"></script>

<script th:inline="javascript">
    var role_status = [[${user_role}]];

    if(role_status === "ROLE_ADMIN")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Админ";
        document.getElementById("admin").style.display = "inline";

    }
    else if (role_status === "ROLE_USER")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Пользователь"
        document.getElementById("admin").style.display = "none";
    }
</script>
<!--Скрипт отображения в header  кнопки администрирование-->

<script>
    var mar_top = localStorage.getItem('mar_top');
    var mar_left = localStorage.getItem('mar_left');
    var bground = localStorage.getItem('bground');
    var place_img = localStorage.getItem('place_img');
    var size  = localStorage.getItem('size');
    var bwidth = localStorage.getItem('bwidth');
</script>
<script src="/js/mesto.js"></script>
<!--Скрипт с вызовом функций для изменения места-->

<script src="/js/dropdown_menu.js"></script>
<script>
    click_avatar();
</script> <!-- Скрипт вызова функции для выпадающего меню -->
</body>
</html>