<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Мех.уч.I пл.</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" href="css/styles_stanki.css"/>
    <link rel="stylesheet" type="text/css" href="css/menu_buttons.css"/> <!-- Меню -->
    <link rel="stylesheet" type="text/css" href="css/styles_header.css"/>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>

    <style>
        .preloader {
            /*фиксированное позиционирование*/
            position: fixed;
            /* координаты положения */
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            /* фоновый цвет элемента */
            background: #e0e0e0;
            /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
            z-index: 1001;
        }

        .preloader__row {
            position: relative;
            top: 50%;
            left: 50%;
            width: 70px;
            height: 70px;
            margin-top: -35px;
            margin-left: -35px;
            text-align: center;
            animation: preloader-rotate 2s infinite linear;
        }

        .preloader__item {
            position: absolute;
            display: inline-block;
            top: 0;
            background-color: #337ab7;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            animation: preloader-bounce 2s infinite ease-in-out;
        }

        .preloader__item:last-child {
            top: auto;
            bottom: 0;
            animation-delay: -1s;
        }

        @keyframes preloader-rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes preloader-bounce {

            0%,
            100% {
                transform: scale(0);
            }

            50% {
                transform: scale(1);
            }
        }

        .loaded_hiding .preloader {
            transition: 0.3s opacity;
            opacity: 0;
        }

        .loaded .preloader {
            display: none;
        }
    </style>

    <script src="js/highcharts.js"></script>
    <script src="js/exporting.js"></script>
    <script src="js/export-data.js"></script>
    <script src="js/accessibility.js"></script>
    <script src="js/xrange.js"></script>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap-3.3.0.min.js"></script>

    <script>
        $(function () {
            $('#datepicker').datepicker({
                format: "dd/mm/yyyy",
                language: 'ru',
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button"
            });
            <!--$("#datepicker").datepicker("update", new Date());  Задаем текущее время-->


            $('#button_obnovit').on("click", function () {
                var datas = $('#datepicker').data().datepicker.viewDate;
                var day = datas.getDate();
                var mes = datas.getMonth() + 1;
                var year = datas.getFullYear();

                name_data = year + "-" + mes + "-" + day;
                <!--console.log(name_data);-->
            });


        });

    </script>   <!--Календарь js-->

    <!--Календарь -->
    <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
    <!--Календарь Русский язык-->
    <script type="text/javascript" src="/js/bootstrap-datepicker.ru.min.js"></script>


    <!-- Загрузка страницы -->
    <script>
        window.onload = function () {
            document.body.classList.add('loaded_hiding');
            window.setTimeout(function () {
                document.body.classList.add('loaded');
                document.body.classList.remove('loaded_hiding');
            }, 500);
        }
    </script>

</head>

<header>
    <ul class="hr">
        <a href="home" ><img style="margin: 0.1%" src="images/logo_black.png" class="icon-logo"/> </a>
        <div method="post" class="dropdown" style="float: right">
            <input type="image" th:src="@{${image_user}}" alt="Avatar" class="avatar" style="border-radius: 360px; "/>
            <div class="dropdown-content" style="float: right; text-align: center; background-color: whitesmoke">
                <p id="role_vision"></p>
                <p><img th:src="@{${image_user}}" width="100" style="border-radius: 360px; margin-top:0; "/></p>
                <li style="font-weight: 400; font-size: 18px" th:text="${user_name}"></li>
                <p th:text="${user_mail}"></p>
                <div style=" display: block; border-bottom: 1px solid #e8eaed; margin-bottom: 5px; line-height: normal"></div>
                <button id="admin" onclick="window.location.href = '/adminpanel/userscontrol';">Администрирование</button>
                <form th:action="@{/logout}" method="post">
                    <button class="follow" type="submit">
                        Выход
                    </button>
                </form>
            </div>
        </div>
        <li style="float: right; color: #ffffff; font-size: 120%; margin: 0.3%; text-align: center"
            th:text="'Добро пожаловать, '  + ${user_name} + '!   '"/>
    </ul>       <!--Шапка html-->
</header>       <!--Шапка html-->

<div>
    <ul id="menu_ul">
        <li id="menu_li"><a id="menu_a" href="displayStanki">Мех.уч.II пл.</a></li>
        <li id="menu_li1"><a id="menu_a1" href="kim">ОТК</a></li>
        <li id="menu_li2"><a id="menu_a2" href="navigators">Резка</a></li>
        <li id="menu_li3"><a id="menu_a3" href="stanki_meh" class="menu-color">Мех.уч.I пл.</a></li>
        <li id="menu_li4"><a id="menu_a4" href="robots">Роботы</a></li>
        <li id="menu_li5"><a id="menu_a5" href="spec_complexes">Спец. комплексы</a></li>
        <li id="menu_li6"><a id="menu_a6" href="sclads">Склады</a></li>
        <li id="menu_li7"><a id="menu_a7" href="liteyka">Литьё</a></li>
        <li id="menu_li8"><a id="menu_a8" href="gibka">Гибка</a></li>
    </ul>
</div>  <!-- Меню -->

<!-- Загрузка страницы -->
<div class="preloader">
    <div class="preloader__row">
        <div class="preloader__item"></div>
        <div class="preloader__item"></div>
    </div>
</div>

<body>
<!--Шапка html-->

<div style="clear: both">
    <form>
        <button formaction="stanki_meh" class="btn_change" style="width:40%; background-size: 100% 100%; color: #FFFFFF; ">Суточный отчет</button>
        <button formaction="stanki_meh_month" class="btn_change" style="width:40%">Месячный отчет</button>
    </form>
</div>  <!--Кнопки суточный и месячный отчеты html-->


<div class="container">
    <div style="width: 220px; float: left">
        <h2>Выберите дату:</h2>
    </div>

    <form  action="#" th:action="@{/stanki_meh}" th:object="${calendar_date}" method="post" >

        <div class='input-group date' id='datepicker' style="width: 200px; float: left;  margin: 1.7%">
            <input type='text' class="form-control" th:field="*{content_date}"/>
            <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
        </div>

        <div class="form-actions" >
            <button type="submit"
                    class="follow"
                    id="button_obnovit" style="float: left; margin: 1.5%;  font-size: 150%; text-align: center">Обновить
            </button>
        </div>
    </form>

</div>      <!--Календарь html-->

<script >
    $(function () {
        $('#datepicker').datepicker({
            format: "dd/mm/yyyy",
            language: 'ru',
            autoclose: true,
            todayHighlight: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            orientation: "button"
        });
        <!--$("#datepicker").datepicker("update", new Date());  Задаем текущее время-->



        $('#button_obnovit').on("click", function() {
            var datas = $('#datepicker').data().datepicker.viewDate;
            var day = datas.getDate();
            var mes = datas.getMonth()+1;
            var year = datas.getFullYear();

            name_data = year+"-" +mes+"-" +day;
            <!--console.log(name_data);-->
        });


    });

</script>   <!--Календарь js-->

<div style="display: flex; justify-content: space-between">

    <div id="container_sum_zagruzka" style="min-height: 400px; width: 45%"></div>
    <!--Общая загрузка html-->

    <div id="container_kol_operations" style="height: 400px; width: 50%"></div>
    <!--Количество операций html-->
</div>  <!--Общая загрузка и количество операций html-->
<script th:inline="javascript">

    var colors = ['#38e817', '#207210', '#ffea32', '#e81e1d', '#000000'];

    var work_uvf_1_1 = [[${work}]];
    var work_uvf_1_2 = [[${work_2}]];
    var work_ntx1000 = [[${work_3}]];
    var work_nlx3000 = [[${work_nlx3000}]];
    var work_gamma2000 = [[${work_dmg_gamma2000}]];
    var work_ctx650 = [[${work_dmg_ctx650}]];
    var work_dmf260 = [[${work_dmg_dmf260}]];
    var work_dmu50_1 = [[${work_dmg_dmu50_1}]];
    var work_dmu50_2 = [[${work_dmg_dmu50_2}]];
    var work_dmc1035 = [[${work_dmg_dmc1035}]];
    var work_ctx310_1 = [[${work_dmg_ctx310_1}]];
    var work_ctx510_1 = [[${work_dmg_ctx510_1}]];

    var pause_uvf_1_1 = [[${pass}]];
    var pause_uvf_1_2 = [[${pass_2}]];
    var pause_ntx1000 = [[${pass_3}]];
    var pause_nlx3000 = [[${pass_nlx3000}]];
    var pause_gamma2000 = [[${pass_dmg_gamma2000}]];
    var pause_ctx650 = [[${pass_dmg_ctx650}]];
    var pause_dmf260 = [[${pass_dmg_dmf260}]];
    var pause_dmu50_1 = [[${pass_dmg_dmu50_1}]];
    var pause_dmu50_2 = [[${pass_dmg_dmu50_2}]];
    var pause_dmc1035 = [[${pass_dmg_dmc1035}]];
    var pause_ctx310_1 = [[${pass_dmg_ctx310_1}]];
    var pause_ctx510_1 = [[${pass_dmg_ctx510_1}]];

    var off_uvf_1_1 = [[${fail}]];
    var off_uvf_1_2 = [[${fail_2}]];
    var off_ntx1000 = [[${fail_3}]];
    var off_nlx3000 = [[${fail_nlx3000}]];
    var off_gamma2000 = [[${fail_dmg_gamma2000}]];
    var off_ctx650 = [[${fail_dmg_ctx650}]];
    var off_dmf260 = [[${fail_dmg_dmf260}]];
    var off_dmu50_1 = [[${fail_dmg_dmu50_1}]];
    var off_dmu50_2 = [[${fail_dmg_dmu50_2}]];
    var off_dmc1035 = [[${fail_dmg_dmc1035}]];
    var off_ctx310_1 = [[${fail_dmg_ctx310_1}]];
    var off_ctx510_1 = [[${fail_dmg_ctx510_1}]];

    var avar_uvf_1_1 = [[${avar}]];
    var avar_uvf_1_2 = [[${avar_2__2}]];
    var avar_ntx1000 = [[${avar_3}]];
    var avar_nlx3000 = [[${avar_nlx3000}]];
    var avar_gamma2000 = [[${avar_dmg_gamma2000}]];
    var avar_ctx650 = [[${avar_dmg_ctx650}]];
    var avar_dmf260 = [[${avar_dmg_dmf260}]];
    var avar_dmu50_1 = [[${avar_dmg_dmu50_1}]];
    var avar_dmu50_2 = [[${avar_dmg_dmu50_2}]];
    var avar_dmc1035 = [[${avar_dmg_dmc1035}]];
    var avar_ctx310_1 = [[${avar_dmg_ctx310_1}]];
    var avar_ctx510_1 = [[${avar_dmg_ctx510_1}]];



    var nagruzka_uvf_1_1 = [[${nagruzka}]];
    var nagruzka_uvf_1_2 = [[${nagruzka_2__2}]];
    var nagruzka_ntx1000 = [[${nagruzka_3}]];
    var nagruzka_nlx3000 = [[${nagruzka_nlx3000}]];
    var nagruzka_gamma2000 = [[${nagruzka_dmg_gamma2000}]];
    var nagruzka_ctx650 = [[${nagruzka_dmg_ctx650}]];
    var nagruzka_dmf260 = [[${nagruzka_dmg_dmf260}]];
    var nagruzka_dmu50_1 = [[${nagruzka_dmg_dmu50_1}]];
    var nagruzka_dmu50_2 = [[${nagruzka_dmg_dmu50_2}]];
    var nagruzka_dmc1035 = [[${nagruzka_dmg_dmc1035}]];
    var nagruzka_ctx310_1 = [[${nagruzka_dmg_ctx310_1}]];
    var nagruzka_ctx510_1 = [[${nagruzka_dmg_ctx510_1}]];

    Highcharts.setOptions({
        lang: {
            loading: 'Загрузка...',
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
            exportButtonTitle: "Экспорт",
            printButtonTitle: "Печать",
            rangeSelectorFrom: "С",
            rangeSelectorTo: "По",
            rangeSelectorZoom: "Период",
            downloadPNG: 'Скачать PNG',
            downloadJPEG: 'Скачать JPEG',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            printChart: 'Напечатать график',
            viewFullscreen: 'На весь экран'
        },
        global: {
            timezoneOffset: new Date().getTimezoneOffset()
        }
    });

    Highcharts.chart('container_sum_zagruzka', {
        chart: {
            type: 'column'
        },
        colors: colors,
        title: {
            text: 'Общая загрузка оборудования'
        },
        xAxis: {
            labels: {
                style: {
                    fontSize: '18px',
                }
            },
            categories: ['УВФ-1 #1', 'УВФ-1 #2', 'NTX1000 #2', 'NLX3000', 'GAMMA2000', 'CTX650', 'DMF260', 'DMU50 #1', 'DMU50 #2', 'DMC1035', 'CTX310 #1', 'CTX510 #1']
        },
        credits: {
            enabled: false
        },
        yAxis: {
            min: 0,
            title: {
                text: '%'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: {point.percentage:.1f}%<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
        series: [{
            name: 'Авария',
            data: [avar_uvf_1_1, avar_uvf_1_2, avar_ntx1000, avar_nlx3000, avar_gamma2000, avar_ctx650, avar_dmf260, avar_dmu50_1, avar_dmu50_2, avar_dmc1035, avar_ctx310_1, avar_ctx510_1]
        }, {
            name: 'Выключен',
            data: [off_uvf_1_1, off_uvf_1_2, off_ntx1000, off_nlx3000, off_gamma2000, off_ctx650, off_dmf260, off_dmu50_1, off_dmu50_2, off_dmc1035, off_ctx310_1, off_ctx510_1]
        }, {
            name: 'Ожидание',
            data: [pause_uvf_1_1, pause_uvf_1_2, pause_ntx1000, pause_nlx3000, pause_gamma2000, pause_ctx650, pause_dmf260, pause_dmu50_1, pause_dmu50_2, pause_dmc1035, pause_ctx310_1, pause_ctx510_1]
        }, {
            name: 'Под нагрузкой',
            data: [nagruzka_uvf_1_1, nagruzka_uvf_1_2, nagruzka_ntx1000, nagruzka_nlx3000, nagruzka_gamma2000, nagruzka_ctx650, nagruzka_dmf260, nagruzka_dmu50_1, nagruzka_dmu50_2, nagruzka_dmc1035, nagruzka_ctx310_1, nagruzka_ctx510_1]
        }, {
            name: 'Работа',
            data: [work_uvf_1_1, work_uvf_1_2, work_ntx1000, work_nlx3000, work_gamma2000, work_ctx650, work_dmf260, work_dmu50_1, work_dmu50_2, work_dmc1035, work_ctx310_1, work_ctx510_1 ]
        }]
    });

</script>   <!--js Общая загрузка-->
<script th:inline="javascript">

    var uvf_1_1_kol_op = [[${uvf_1_1_kol_op}]];
    var uvf_1_2_kol_op = [[${uvf_1_2_kol_op}]];
    var ntx1000_kol_op = [[${ntx1000_kol_op}]];
    var nlx3000_kol_op = [[${nlx3000_kol_op}]];
    var gamma2000_kol_op = [[${gamma2000_kol_op}]];
    var ctx650_kol_op = [[${ctx650_kol_op}]];
    var dmf260_kol_op = [[${dmf260_kol_op}]];
    var dmu50_1_kol_op = [[${dmu50_1_kol_op}]];
    var dmu50_2_kol_op = [[${dmu50_2_kol_op}]];
    var dmc1035_kol_op = [[${dmc1035_kol_op}]];
    var ctx310_1_kol_op = [[${ctx310_1_kol_op}]];
    var ctx510_1_kol_op = [[${ctx510_1_kol_op}]];

    var kol_long_operations_uvf_1_1 = [[${kol_long_operations_uvf_1_1}]];
    var kol_long_operations_uvf_1_2 = [[${kol_long_operations_uvf_1_2}]];
    var kol_long_operations_ntx1000 = [[${kol_long_operations_ntx1000}]];
    var kol_long_operations_nlx3000 = [[${kol_long_operations_nlx3000}]];
    var kol_long_operations_gamma2000 = [[${kol_long_operations_gamma2000}]];
    var kol_long_operations_ctx650 = [[${kol_long_operations_ctx650}]];
    var kol_long_operations_dmf260 = [[${kol_long_operations_dmf260}]];
    var kol_long_operations_dmu50_1 = [[${kol_long_operations_dmu50_1}]];
    var kol_long_operations_dmu50_2 = [[${kol_long_operations_dmu50_2}]];
    var kol_long_operations_dmc1035 = [[${kol_long_operations_dmc1035}]];
    var kol_long_operations_ctx310_1 = [[${kol_long_operations_ctx310_1}]];
    var kol_long_operations_ctx510_1 = [[${kol_long_operations_ctx510_1}]];

    Highcharts.setOptions({
        lang: {
            loading: 'Загрузка...',
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
            exportButtonTitle: "Экспорт",
            printButtonTitle: "Печать",
            rangeSelectorFrom: "С",
            rangeSelectorTo: "По",
            rangeSelectorZoom: "Период",
            downloadPNG: 'Скачать PNG',
            downloadJPEG: 'Скачать JPEG',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            printChart: 'Напечатать график',
            viewFullscreen: 'На весь экран'
        },
        global: {
            timezoneOffset: new Date().getTimezoneOffset()
        }
    });

    Highcharts.chart('container_kol_operations', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Количество операций'
        },
        xAxis: {
            labels: {
                style: {
                    fontSize: '18px',
                }
            },
            categories: ['УВФ-1', 'УВФ-2', 'NTX1000 #2', 'NLX3000', 'GAMMA2000', 'CTX650', 'DMF260', 'DMU50-1', 'DMU50-2', 'DMC1035', 'CTX310 #1','CTX510 #1'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Количество',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' операций'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor:
                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Общее количество операций',
            data: [uvf_1_1_kol_op, uvf_1_2_kol_op, ntx1000_kol_op, nlx3000_kol_op, gamma2000_kol_op, ctx650_kol_op, dmf260_kol_op, dmu50_1_kol_op, dmu50_2_kol_op, dmc1035_kol_op, ctx310_1_kol_op, ctx510_1_kol_op]
        }, {
            name: 'Количество операций более 3 минут',
            data: [kol_long_operations_uvf_1_1, kol_long_operations_uvf_1_2, kol_long_operations_ntx1000, kol_long_operations_nlx3000, kol_long_operations_gamma2000, kol_long_operations_ctx650, kol_long_operations_dmf260, kol_long_operations_dmu50_1, kol_long_operations_dmu50_2, kol_long_operations_dmc1035, kol_long_operations_ctx310_1, kol_long_operations_ctx510_1]
        }]
    });
</script>   <!--js количество операций-->

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/uvf_1_2.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">УВФ-1 #1</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="uvf_1(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_uvf_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--УВФ-1 html-->
</div> <!--УВФ-1 html-->
<script th:inline="javascript">
    var uvf_1_1_array_rabota = [[${uvf_1_1_array_rabota}]];
    var uvf_1_1_array_pause = [[${uvf_1_1_array_pause}]];
    var uvf_1_1_array_off = [[${uvf_1_1_array_off}]];
    var uvf_1_1_array_programname = [[${uvf_1_1_array_programname}]];
    var uvf_1_1_array_nagruzka = [[${uvf_1_1_array_nagruzka}]];
    var uvf_1_1_array_avar = [[${uvf_1_1_array_avar}]];
</script>   <!--УВФ-1 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var uvf_1_1_work = [[${work}]];
    var uvf_1_1_pass = [[${pass}]];
    var uvf_1_1_fail = [[${fail}]];
    var uvf_1_1_nagruzka = [[${nagruzka}]];
    var uvf_1_1_avar = [[${avar}]];
</script>   <!--УВФ-1 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki_meh/data_uvf_1.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/uvf_1_2.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">УВФ-1 #2</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="uvf_2(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_uvf_2" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work_2" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container_2" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--УВФ-2 html-->
</div> <!--УВФ-2 html-->
<script th:inline="javascript">
    var uvf_1_2_array_rabota = [[${uvf_1_2_array_rabota}]];
    var uvf_1_2_array_pause = [[${uvf_1_2_array_pause}]];
    var uvf_1_2_array_off = [[${uvf_1_2_array_off}]];
    var uvf_1_2_array_programname = [[${uvf_1_2_array_programname}]];
    var uvf_1_2_array_nagruzka = [[${uvf_1_2_array_nagruzka}]];
    var uvf_1_2_array_avar = [[${uvf_1_2_array_avar}]];
</script>   <!--УВФ-2 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var uvf_1_2_work = [[${work_2}]];
    var uvf_1_2_pass = [[${pass_2}]];
    var uvf_1_2_fail = [[${fail_2}]];
    var uvf_1_2_nagruzka = [[${nagruzka_2}]];
    var uvf_1_2_avar = [[${avar_2}]];
</script>   <!--УВФ-2 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki_meh/data_uvf_2.js"></script>

<div style="border: 1px solid #333;">   <!--NTX1000 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/ntx1000.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">NTX1000 #2</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="ntx1000_2(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_ntx1000_2" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work3" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container3" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--NTX1000 html-->
</div> <!--NTX1000 html-->
<script th:inline="javascript">
    var ntx1000_array_rabota = [[${ntx1000_array_rabota}]];
    var ntx1000_array_pause = [[${ntx1000_array_pause}]];
    var ntx1000_array_off = [[${ntx1000_array_off}]];
    var ntx1000_array_programname = [[${ntx1000_array_programname}]];
    var ntx1000_array_nagruzka = [[${ntx1000_array_nagruzka}]];
    var ntx1000_array_avar = [[${ntx1000_array_avar}]];
</script>   <!--ntx1000 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var ntx1000_work = [[${work_3}]];
    var ntx1000_pass = [[${pass_3}]];
    var ntx1000_fail = [[${fail_3}]];
    var ntx1000_nagruzka = [[${nagruzka_3}]];
    var ntx1000_avar = [[${avar_3}]];
</script>   <!--ntx1000 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki_meh/data_ntx1000.js"></script>

<div style="border: 1px solid #333;">   <!--NLX3000 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/NLX3000.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">NLX3000</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick=" nlx3000(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_nlx3000" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work4" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container4" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--NLX3000 html-->
</div> <!--NLX3000 html-->
<script th:inline="javascript">
    var nlx3000_array_rabota = [[${nlx3000_array_rabota}]];
    var nlx3000_array_pause = [[${nlx3000_array_pause}]];
    var nlx3000_array_off = [[${nlx3000_array_off}]];
    var nlx3000_array_programname = [[${nlx3000_array_programname}]];
    var nlx3000_array_nagruzka = [[${nlx3000_array_nagruzka}]];
    var nlx3000_array_avar = [[${nlx3000_array_avar}]];
</script>   <!--nlx3000 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var nlx3000_work = [[${work_nlx3000}]];
    var nlx3000_pass = [[${pass_nlx3000}]];
    var nlx3000_fail = [[${fail_nlx3000}]];
    var nlx3000_nagruzka = [[${nagruzka_nlx3000}]];
    var nlx3000_avar = [[${avar_nlx3000}]];
</script>   <!--nlx3000 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki_meh/data_nlx3000.js"></script>

<div style="border: 1px solid #333;">   <!--GAMMA2000 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/gamma2000.png" class="stanok_img" alt="no image"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">GAMMA2000</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="dmg_gamma2000 (); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_gamma2000" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work5" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container5" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--GAMMA2000 html-->
</div> <!--GAMMA2000 html-->
<script th:inline="javascript">
    var dmg_gamma2000_array_rabota = [[${dmg_gamma2000_array_rabota}]];
    var dmg_gamma2000_array_pause = [[${dmg_gamma2000_array_pause}]];
    var dmg_gamma2000_array_off = [[${dmg_gamma2000_array_off}]];
    var dmg_gamma2000_array_programname = [[${dmg_gamma2000_array_programname}]];
    var dmg_gamma2000_array_nagruzka = [[${dmg_gamma2000_array_nagruzka}]];
    var dmg_gamma2000_array_avar = [[${dmg_gamma2000_array_avar}]];
</script>   <!--gamma2000 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var dmg_gamma2000_work = [[${work_dmg_gamma2000}]];
    var dmg_gamma2000_pass = [[${pass_dmg_gamma2000}]];
    var dmg_gamma2000_fail = [[${fail_dmg_gamma2000}]];
    var dmg_gamma2000_nagruzka = [[${nagruzka_dmg_gamma2000}]];
    var dmg_gamma2000_avar = [[${avar_dmg_gamma2000}]];
</script>   <!--gamma2000 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki_meh/data_dmg_gamma2000.js"></script>

<div style="border: 1px solid #333;">   <!--CTX650 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_ctx650.png" class="stanok_img" alt="no image"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">CTX650</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="dmg_ctx650(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_ctx650" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work6" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container6" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--CTX650 html-->
</div> <!--CTX650 html-->
<script th:inline="javascript">
    var dmg_ctx650_array_rabota = [[${dmg_ctx650_array_rabota}]];
    var dmg_ctx650_array_pause = [[${dmg_ctx650_array_pause}]];
    var dmg_ctx650_array_off = [[${dmg_ctx650_array_off}]];
    var dmg_ctx650_array_programname = [[${dmg_ctx650_array_programname}]];
    var dmg_ctx650_array_nagruzka = [[${dmg_ctx650_array_nagruzka}]];
    var dmg_ctx650_array_avar = [[${dmg_ctx650_array_avar}]];
</script>   <!--ctx650 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var dmg_ctx650_work = [[${work_dmg_ctx650}]];
    var dmg_ctx650_pass = [[${pass_dmg_ctx650}]];
    var dmg_ctx650_fail = [[${fail_dmg_ctx650}]];
    var dmg_ctx650_nagruzka = [[${nagruzka_dmg_ctx650}]];
    var dmg_ctx650_avar = [[${avar_dmg_ctx650}]];
</script>   <!--ctx650 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki_meh/data_dmg_ctx650.js"></script>

<div style="border: 1px solid #333;">   <!--dmf260 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_dmf260.png" class="stanok_img" alt="no image"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">DMF260</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="dmg_dmf260(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_dmf260" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work7" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container7" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--dmf260 html-->
</div> <!--dmf260 html-->
<script th:inline="javascript">
    var dmg_dmf260_array_rabota = [[${dmg_dmf260_array_rabota}]];
    var dmg_dmf260_array_pause = [[${dmg_dmf260_array_pause}]];
    var dmg_dmf260_array_off = [[${dmg_dmf260_array_off}]];
    var dmg_dmf260_array_programname = [[${dmg_dmf260_array_programname}]];
    var dmg_dmf260_array_nagruzka = [[${dmg_dmf260_array_nagruzka}]];
    var dmg_dmf260_array_avar = [[${dmg_dmf260_array_avar}]];
</script>   <!--dmf260 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var dmg_dmf260_work = [[${work_dmg_dmf260}]];
    var dmg_dmf260_pass = [[${pass_dmg_dmf260}]];
    var dmg_dmf260_fail = [[${fail_dmg_dmf260}]];
    var dmg_dmf260_nagruzka = [[${nagruzka_dmg_dmf260}]];
    var dmg_dmf260_avar = [[${avar_dmg_dmf260}]];
</script>   <!--dmf260 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki_meh/data_dmg_dmf260.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_dmu50.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">DMU50 #1</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="dmg_dmu50_1 (); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_dmu50_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work8" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container8" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>
</div> <!--DMU50-1 html-->
<script th:inline="javascript">
    var dmg_dmu50_1_array_rabota = [[${dmg_dmu50_1_array_rabota}]];
    var dmg_dmu50_1_array_pause = [[${dmg_dmu50_1_array_pause}]];
    var dmg_dmu50_1_array_off = [[${dmg_dmu50_1_array_off}]];
    var dmg_dmu50_1_array_programname = [[${dmg_dmu50_1_array_programname}]];
    var dmg_dmu50_1_array_nagruzka = [[${dmg_dmu50_1_array_nagruzka}]];
    var dmg_dmu50_1_array_avar = [[${dmg_dmu50_1_array_avar}]];
</script>   <!--dmu50_1 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var dmg_dmu50_1_work = [[${work_dmg_dmu50_1}]];
    var dmg_dmu50_1_pass = [[${pass_dmg_dmu50_1}]];
    var dmg_dmu50_1_fail = [[${fail_dmg_dmu50_1}]];
    var dmg_dmu50_1_nagruzka = [[${nagruzka_dmg_dmu50_1}]];
    var dmg_dmu50_1_avar = [[${avar_dmg_dmu50_1}]];
</script>   <!--dmu50_1 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki_meh/data_dmg_dmu50_1.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_dmu50.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">DMU50 #2</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="dmg_dmu50_2 (); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_dmu50_2" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work9" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container9" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>
</div> <!--DMU50-2 html-->
<script th:inline="javascript">
    var dmg_dmu50_2_array_rabota = [[${dmg_dmu50_2_array_rabota}]];
    var dmg_dmu50_2_array_pause = [[${dmg_dmu50_2_array_pause}]];
    var dmg_dmu50_2_array_off = [[${dmg_dmu50_2_array_off}]];
    var dmg_dmu50_2_array_programname = [[${dmg_dmu50_2_array_programname}]];
    var dmg_dmu50_2_array_nagruzka = [[${dmg_dmu50_2_array_nagruzka}]];
    var dmg_dmu50_2_array_avar = [[${dmg_dmu50_2_array_avar}]];
</script>   <!--dmu50_2 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var dmg_dmu50_2_work = [[${work_dmg_dmu50_2}]];
    var dmg_dmu50_2_pass = [[${pass_dmg_dmu50_2}]];
    var dmg_dmu50_2_fail = [[${fail_dmg_dmu50_2}]];
    var dmg_dmu50_2_nagruzka = [[${nagruzka_dmg_dmu50_2}]];
    var dmg_dmu50_2_avar = [[${avar_dmg_dmu50_2}]];
</script>   <!--dmu50_2 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki_meh/data_dmg_dmu50_2.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_dmc1035.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">DMC1035</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="dmg_dmc1035(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_dmc1035" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work10" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container10" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>
</div> <!--DMC1035 html-->
<script th:inline="javascript">
    var dmg_dmc1035_array_rabota = [[${dmg_dmc1035_array_rabota}]];
    var dmg_dmc1035_array_pause = [[${dmg_dmc1035_array_pause}]];
    var dmg_dmc1035_array_off = [[${dmg_dmc1035_array_off}]];
    var dmg_dmc1035_array_programname = [[${dmg_dmc1035_array_programname}]];
    var dmg_dmc1035_array_nagruzka = [[${dmg_dmc1035_array_nagruzka}]];
    var dmg_dmc1035_array_avar = [[${dmg_dmc1035_array_avar}]];
</script>   <!--dmc1035 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var dmg_dmc1035_work = [[${work_dmg_dmc1035}]];
    var dmg_dmc1035_pass = [[${pass_dmg_dmc1035}]];
    var dmg_dmc1035_fail = [[${fail_dmg_dmc1035}]];
    var dmg_dmc1035_nagruzka = [[${nagruzka_dmg_dmc1035}]];
    var dmg_dmc1035_avar = [[${avar_dmg_dmc1035}]];
</script>   <!--dmc1035 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki_meh/data_dmg_dmc1035.js"></script>

<div style="border: 1px solid #333;">   <!--ctx310_1 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_ctx310.png" class="stanok_img" alt="no image"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">CTX310 #1</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="dmg_ctx310_1 (); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_ctx310_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work11" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container11" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--ctx310_1 html-->
</div> <!--ctx310_1 html-->
<script th:inline="javascript">
    var dmg_ctx310_1_array_rabota = [[${dmg_ctx310_1_array_rabota}]];
    var dmg_ctx310_1_array_pause = [[${dmg_ctx310_1_array_pause}]];
    var dmg_ctx310_1_array_off = [[${dmg_ctx310_1_array_off}]];
    var dmg_ctx310_1_array_programname = [[${dmg_ctx310_1_array_programname}]];
    var dmg_ctx310_1_array_nagruzka = [[${dmg_ctx310_1_array_nagruzka}]];
    var dmg_ctx310_1_array_avar = [[${dmg_ctx310_1_array_avar}]];
</script>   <!--ctx310_1 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var dmg_ctx310_1_work = [[${work_dmg_ctx310_1}]];
    var dmg_ctx310_1_pass = [[${pass_dmg_ctx310_1}]];
    var dmg_ctx310_1_fail = [[${fail_dmg_ctx310_1}]];
    var dmg_ctx310_1_nagruzka = [[${nagruzka_dmg_ctx310_1}]];
    var dmg_ctx310_1_avar = [[${avar_dmg_ctx310_1}]];
</script>   <!--ctx310_1 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki_meh/data_dmg_ctx310_1.js"></script>

<div style="border: 1px solid #333;">   <!--ctx510_1 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_ctx510.png" class="stanok_img" alt="no image"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">CTX510 #1</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto" onclick="dmg_ctx510_1 (); window.open(this.href, '', 'scrollbars=1,height='+Math.min(920, screen.availHeight)+',width='+Math.min(920, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_ctx510_1" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work12" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container12" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--ctx510_1 html-->
</div> <!--ctx510_1 html-->
<script th:inline="javascript">
    var dmg_ctx510_1_array_rabota = [[${dmg_ctx510_1_array_rabota}]];
    var dmg_ctx510_1_array_pause = [[${dmg_ctx510_1_array_pause}]];
    var dmg_ctx510_1_array_off = [[${dmg_ctx510_1_array_off}]];
    var dmg_ctx510_1_array_programname = [[${dmg_ctx510_1_array_programname}]];
    var dmg_ctx510_1_array_nagruzka = [[${dmg_ctx510_1_array_nagruzka}]];
    var dmg_ctx510_1_array_avar = [[${dmg_ctx510_1_array_avar}]];
</script>   <!--ctx510_1 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var dmg_ctx510_1_work = [[${work_dmg_ctx510_1}]];
    var dmg_ctx510_1_pass = [[${pass_dmg_ctx510_1}]];
    var dmg_ctx510_1_fail = [[${fail_dmg_ctx510_1}]];
    var dmg_ctx510_1_nagruzka = [[${nagruzka_dmg_ctx510_1}]];
    var dmg_ctx510_1_avar = [[${avar_dmg_ctx510_1}]];
</script>   <!--ctx510_1 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki_meh/data_dmg_ctx510_1.js"></script>


<script th:inline="javascript">
    var role_status = [[${user_role}]];

    if(role_status === "ROLE_ADMIN")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Админ";
        document.getElementById("admin").style.display = "inline";

    }
    else if (role_status === "ROLE_USER")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Пользователь"
        document.getElementById("admin").style.display = "none";
    }
</script>
<!--Скрипт отображения в header  кнопки администрирование-->

<script>
    var mar_top = localStorage.getItem('mar_top');
    var mar_left = localStorage.getItem('mar_left');
    var bground = localStorage.getItem('bground');
    var place_img = localStorage.getItem('place_img');
    var size  = localStorage.getItem('size');
    var bwidth = localStorage.getItem('bwidth');
</script>
<script src="/js/mesto.js"></script>
<!--Скрипт с вызовом функций для изменения места-->

</body>
</html>