<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Станки</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" href="css/styles_stanki.css"/>
    <link rel="stylesheet" type="text/css" href="css/menu_buttons.css"/> <!-- Меню -->
    <link rel="stylesheet" type="text/css" href="css/styles_header.css"/>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>

    <style>
        .preloader {
            /*фиксированное позиционирование*/
            position: fixed;
            /* координаты положения */
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            /* фоновый цвет элемента */
            background: #e0e0e0;
            /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
            z-index: 1001;
        }

        .preloader__row {
            position: relative;
            top: 50%;
            left: 50%;
            width: 70px;
            height: 70px;
            margin-top: -35px;
            margin-left: -35px;
            text-align: center;
            animation: preloader-rotate 2s infinite linear;
        }

        .preloader__item {
            position: absolute;
            display: inline-block;
            top: 0;
            background-color: #337ab7;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            animation: preloader-bounce 2s infinite ease-in-out;
        }

        .preloader__item:last-child {
            top: auto;
            bottom: 0;
            animation-delay: -1s;
        }

        @keyframes preloader-rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes preloader-bounce {

            0%,
            100% {
                transform: scale(0);
            }

            50% {
                transform: scale(1);
            }
        }

        .loaded_hiding .preloader {
            transition: 0.3s opacity;
            opacity: 0;
        }

        .loaded .preloader {
            display: none;
        }
    </style>

    <script src="js/highcharts.js"></script>
    <script src="js/exporting.js"></script>
    <script src="js/export-data.js"></script>
    <script src="js/accessibility.js"></script>
    <script src="js/xrange.js"></script>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap-3.3.0.min.js"></script>

    <script>
        $(function () {
            $('#datepicker').datepicker({
                format: "dd/mm/yyyy",
                language: 'ru',
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button"
            });
            <!--$("#datepicker").datepicker("update", new Date());  Задаем текущее время-->


            $('#button_obnovit').on("click", function () {
                var datas = $('#datepicker').data().datepicker.viewDate;
                var day = datas.getDate();
                var mes = datas.getMonth() + 1;
                var year = datas.getFullYear();

                name_data = year + "-" + mes + "-" + day;
                <!--console.log(name_data);-->
            });


        });

    </script>   <!--Календарь js-->

    <!--Календарь -->
    <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
    <!--Календарь Русский язык-->
    <script type="text/javascript" src="/js/bootstrap-datepicker.ru.min.js"></script>


    <!-- Загрузка страницы -->
    <script>
        window.onload = function () {
            document.body.classList.add('loaded_hiding');
            window.setTimeout(function () {
                document.body.classList.add('loaded');
                document.body.classList.remove('loaded_hiding');
            }, 500);
        }
    </script>

</head>
<header>
    <ul class="hr">
        <a href="home" ><img style="margin: 0.1%" src="images/logo_black.png" class="icon-logo"/> </a>
        <div method="post" class="dropdown" style="float: right">
            <input type="image" th:src="@{${image_user}}" alt="Avatar" class="avatar" style="border-radius: 360px; "/>
            <div class="dropdown-content" style="float: right; text-align: center; background-color: whitesmoke">
                <p id="role_vision"></p>
                <p><img th:src="@{${image_user}}" width="100" style="border-radius: 360px; margin-top:0; "/></p>
                <li style="font-weight: 400; font-size: 18px" th:text="${user_name}"></li>
                <p th:text="${user_mail}"></p>
                <div style=" display: block; border-bottom: 1px solid #e8eaed; margin-bottom: 5px; line-height: normal"></div>
                <button id="admin" onclick="window.location.href = '/adminpanel/userscontrol';">Администрирование</button>
                <form th:action="@{/logout}" method="post">
                    <button class="follow" type="submit">
                        Выход
                    </button>
                </form>
            </div>
        </div>
        <li style="float: right; color: #ffffff; font-size: 120%; margin: 0.3%; text-align: center"
            th:text="'Добро пожаловать, '  + ${user_name} + '!   '"/>
    </ul>       <!--Шапка html-->
</header>       <!--Шапка html-->

<div>
    <ul id="menu_ul">
        <li id="menu_li"><a id="menu_a" href="displayStanki" class="menu-color">Мех.уч.II пл.</a></li>
        <li id="menu_li1"><a id="menu_a1" href="kim">ОТК</a></li>
        <li id="menu_li2"><a id="menu_a2" href="navigators">Резка</a></li>
        <li id="menu_li3"><a id="menu_a3" href="stanki_meh">Мех.уч.I пл.</a></li>
        <li id="menu_li4"><a id="menu_a4" href="robots">Роботы</a></li>
        <li id="menu_li5"><a id="menu_a5" href="spec_complexes">Спец. комплексы</a></li>
        <li id="menu_li6"><a id="menu_a6" href="sclads">Склады</a></li>
        <li id="menu_li7"><a id="menu_a7" href="liteyka">Литьё</a></li>
        <li id="menu_li8"><a id="menu_a8" href="gibka">Гибка</a></li>
    </ul>
</div>  <!-- Меню -->
<!-- Загрузка страницы -->
<div class="preloader">
    <div class="preloader__row">
        <div class="preloader__item"></div>
        <div class="preloader__item"></div>
    </div>
</div>

<body>
<div style="clear: both">
    <form>
        <button formaction="displayStanki" class="btn_change" style="width:40%; background-size: 100% 100%; color: #FFFFFF;">Суточный отчет</button>
        <button formaction="displayStankiMonth" class="btn_change" style="width:40%">Месячный отчет</button>
    </form>
</div>  <!--Кнопки суточный и месячный отчеты html-->
<div class="container">
    <div style="width: 220px; float: left">
        <h2>Выберите дату:</h2>
    </div>

    <form action="#" th:action="@{/displayStanki}" th:object="${calendar_date}" method="post">

        <div class='input-group date' id='datepicker' style="width: 200px; float: left;  margin: 1.7%">
            <input type='text' class="form-control" th:field="*{content_date}"/>
            <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
        </div>

        <div class="form-actions">
            <button type="submit"
                    class="follow"
                    id="button_obnovit" style="float: left; margin: 1.5%;  font-size: 150%; text-align: center">Обновить
            </button>
        </div>
    </form>

</div>      <!--Календарь html-->


<div style="display: flex; justify-content: space-between">

    <div id="container_sum_zagruzka" style="min-height: 400px; width: 45%"></div>
    <!--Общая загрузка html-->

    <div id="container_kol_operations" style="height: 400px; width: 50%"></div>
    <!--Количество операций html-->
</div>  <!--Общая загрузка и количество операций html-->
<script th:inline="javascript">

    var colors = ['#38e817', '#207210', '#ffea32', '#e81e1d', '#000000', '#5c7ed0'];

    var work_uf5220 = [[${work}]];
    var work_progress = [[${progress_work}]];
    var work_ntx1000 = [[${ntx1000_work}]];
    var work_sk50 = [[${sk50_work}]];
    var work_apec = [[${apec_work}]];
    var work_dmu50_3 = [[${work_dmg_dmu50_3}]];
    var work_dmu50_4 = [[${work_dmg_dmu50_4}]];
    var work_ctx310_2 = [[${work_dmg_ctx310_2}]];
    var work_ctx510_2 = [[${work_dmg_ctx510_2}]];
    var work_ctx510_3 = [[${work_dmg_ctx510_3}]];
    var work_ctx310_3 = [[${work_dmg_ctx310_3}]];

    var pause_uf5220 = [[${pass}]];
    var pause_progress = [[${progress_pass}]];
    var pause_ntx1000 = [[${ntx1000_pass}]];
    var pause_sk50 = [[${sk50_pass}]];
    var pause_apec = [[${apec_pass}]];
    var pause_dmu50_3 = [[${pass_dmg_dmu50_3}]];
    var pause_dmu50_4 = [[${pass_dmg_dmu50_4}]];
    var pause_ctx310_2 = [[${pass_dmg_ctx310_2}]];
    var pause_ctx510_2 = [[${pass_dmg_ctx510_2}]];
    var pause_ctx510_3 = [[${pass_dmg_ctx510_3}]];
    var pause_ctx310_3 = [[${pass_dmg_ctx310_3}]];

    var off_uf5220 = [[${fail}]];
    var off_progress = [[${progress_fail}]];
    var off_ntx1000 = [[${ntx1000_fail}]];
    var off_sk50 = [[${sk50_fail}]];
    var off_apec = [[${apec_fail}]];
    var off_dmu50_3 = [[${fail_dmg_dmu50_3}]];
    var off_dmu50_4 = [[${fail_dmg_dmu50_4}]];
    var off_ctx310_2 = [[${fail_dmg_ctx310_2}]];
    var off_ctx510_2 = [[${fail_dmg_ctx510_2}]];
    var off_ctx510_3 = [[${fail_dmg_ctx510_3}]];
    var off_ctx310_3 = [[${fail_dmg_ctx310_3}]];

    var avar_ntx1000 = [[${ntx1000_avar}]];
    var avar_sk50 = [[${sk50_avar}]];
    var avar_apec = [[${apec_avar}]];
    var avar_dmu50_3 = [[${avar_dmg_dmu50_3}]];
    var avar_dmu50_4 = [[${avar_dmg_dmu50_4}]];
    var avar_ctx310_2 = [[${avar_dmg_ctx310_2}]];
    var avar_ctx510_2 = [[${avar_dmg_ctx510_2}]];
    var avar_ctx510_3 = [[${avar_dmg_ctx510_3}]];
    var avar_ctx310_3 = [[${avar_dmg_ctx310_3}]];

    var nagruzka_ntx1000 = [[${ntx1000_nagruzka}]];
    var nagruzka_sk50 = [[${sk50_nagruzka}]];
    var nagruzka_dmu50_3 = [[${nagruzka_dmg_dmu50_3}]];
    var nagruzka_dmu50_4 = [[${nagruzka_dmg_dmu50_4}]];
    var nagruzka_ctx310_2 = [[${nagruzka_dmg_ctx310_2}]];
    var nagruzka_ctx510_2 = [[${nagruzka_dmg_ctx510_2}]];
    var nagruzka_ctx510_3 = [[${nagruzka_dmg_ctx510_3}]];
    var nagruzka_ctx310_3 = [[${nagruzka_dmg_ctx310_3}]];

    var ruchnoi_apec = [[${apec_ruchnoi}]];

    Highcharts.setOptions({
        lang: {
            loading: 'Загрузка...',
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
            exportButtonTitle: "Экспорт",
            printButtonTitle: "Печать",
            rangeSelectorFrom: "С",
            rangeSelectorTo: "По",
            rangeSelectorZoom: "Период",
            downloadPNG: 'Скачать PNG',
            downloadJPEG: 'Скачать JPEG',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            printChart: 'Напечатать график',
            viewFullscreen: 'На весь экран'
        },
        global: {
            timezoneOffset: new Date().getTimezoneOffset()
        }
    });

    Highcharts.chart('container_sum_zagruzka', {
        chart: {
            type: 'column'
        },
        colors: colors,
        title: {
            text: 'Общая загрузка оборудования'
        },
        xAxis: {
            labels: {
                style: {
                    fontSize: '18px',
                }
            },
            categories: ['УФ5220', 'Прогресс', 'NTX1000', 'SK50', 'APEC', 'DMU50 #3', 'DMU50 #4', 'CTX310 #2', 'CTX510 #2', 'CTX510 #3', 'CTX310 #3']
        },
        credits: {
            enabled: false
        },
        yAxis: {
            min: 0,
            title: {
                text: '%'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: {point.percentage:.1f}%<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
        series: [{
            name: 'Работа',
            data: [work_uf5220, work_progress, work_ntx1000, work_sk50, work_apec, work_dmu50_3, work_dmu50_4, work_ctx310_2, work_ctx510_2, work_ctx510_3, work_ctx310_3]
        }, {
            name: 'Под нагрузкой',
            data: [0, 0, nagruzka_ntx1000,nagruzka_sk50, 0, nagruzka_dmu50_3, nagruzka_dmu50_4, nagruzka_ctx310_2, nagruzka_ctx510_2, nagruzka_ctx510_3, nagruzka_ctx310_3]
        }, {
            name: 'Ожидание',
            data: [pause_uf5220, pause_progress, pause_ntx1000, pause_sk50, pause_apec, pause_dmu50_3, pause_dmu50_4, pause_ctx310_2, pause_ctx510_2, pause_ctx510_3, pause_ctx310_3]
        }, {
            name: 'Авария',
            data: [0, 0, avar_ntx1000, avar_sk50, avar_apec, avar_dmu50_3, avar_dmu50_4, avar_ctx310_2, avar_ctx510_2, avar_ctx510_3, avar_ctx310_3]
        }, {
            name: 'Выключен',
            data: [off_uf5220, off_progress, off_ntx1000, off_sk50, off_apec, off_dmu50_3, off_dmu50_4, off_ctx310_2, off_ctx510_2, off_ctx510_3, off_ctx310_3]
        }, {
            name: 'Ручной',
            data: [0, 0, 0, 0, ruchnoi_apec, 0, 0, 0, 0]
        }]
    });

</script>   <!--js Общая загрузка-->
<script th:inline="javascript">

    var uf5220_kol_op = [[${uf5220_kol_op}]];
    var progress_kol_op = [[${progress_kol_op}]];
    var ntx1000_kol_op = [[${ntx1000_kol_op}]];
    var sk50_kol_op = [[${sk50_kol_op}]];
    var apec_kol_op = [[${apec_kol_op}]];
    var dmu50_3_kol_op = [[${dmu50_3_kol_op}]];
    var dmu50_4_kol_op = [[${dmu50_4_kol_op}]];
    var ctx310_2_kol_op = [[${ctx310_2_kol_op}]];
    var ctx510_2_kol_op = [[${ctx510_2_kol_op}]];
    var ctx510_3_kol_op = [[${ctx510_3_kol_op}]];
    var ctx310_3_kol_op = [[${ctx310_3_kol_op}]];

    var kol_long_operations_uf5220 = [[${kol_long_operations_uf5220}]];
    var kol_long_operations_progress = [[${kol_long_operations_progress}]];
    var kol_long_operations_ntx1000 = [[${kol_long_operations_ntx1000}]];
    var kol_long_operations_sk50 = [[${kol_long_operations_sk50}]];
    var kol_long_operations_apec = [[${kol_long_operations_apec}]];
    var kol_long_operations_dmu50_3 = [[${kol_long_operations_dmu50_3}]];
    var kol_long_operations_dmu50_4 = [[${kol_long_operations_dmu50_4}]];
    var kol_long_operations_ctx310_2 = [[${kol_long_operations_ctx310_2}]];
    var kol_long_operations_ctx510_2 = [[${kol_long_operations_ctx510_2}]];
    var kol_long_operations_ctx510_3 = [[${kol_long_operations_ctx510_3}]];
    var kol_long_operations_ctx310_3 = [[${kol_long_operations_ctx310_3}]];

    Highcharts.setOptions({
        lang: {
            loading: 'Загрузка...',
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
            exportButtonTitle: "Экспорт",
            printButtonTitle: "Печать",
            rangeSelectorFrom: "С",
            rangeSelectorTo: "По",
            rangeSelectorZoom: "Период",
            downloadPNG: 'Скачать PNG',
            downloadJPEG: 'Скачать JPEG',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            printChart: 'Напечатать график',
            viewFullscreen: 'На весь экран'
        },
        global: {
            timezoneOffset: new Date().getTimezoneOffset()
        }
    });

    Highcharts.chart('container_kol_operations', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Количество операций'
        },
        xAxis: {
            labels: {
                style: {
                    fontSize: '18px',
                }
            },
            categories: ['УФ5220', 'Прогресс', 'NTX1000', 'SK50', 'APEC', 'DMU50 #3', 'DMU50 #4', 'CTX310 #2', 'CTX510 #2', 'CTX510 #3', 'CTX310 #3'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Количество',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' операций'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor:
                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Общее количество операций',
            data: [uf5220_kol_op, progress_kol_op, ntx1000_kol_op, sk50_kol_op, apec_kol_op, dmu50_3_kol_op, dmu50_4_kol_op, ctx310_2_kol_op, ctx510_2_kol_op, ctx510_3_kol_op, ctx310_3_kol_op]
        }, {
            name: 'Количество операций более 3 минут',
            data: [kol_long_operations_uf5220, kol_long_operations_progress, kol_long_operations_ntx1000, kol_long_operations_sk50, kol_long_operations_apec, kol_long_operations_dmu50_3, kol_long_operations_dmu50_4, kol_long_operations_ctx310_2, kol_long_operations_ctx510_2, kol_long_operations_ctx510_3, kol_long_operations_ctx310_3]
        }]
    });
</script>   <!--js количество операций-->

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/UVF_5220.png" class="stanok_img"/>
                    <figcaption style="margin: 1.5%; margin-bottom: 15px; font-weight: bold; font-size: 150%; text-align: center">УФ5220
                    </figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" id="id_uf5220"
                           href="mesto/mesto"
                           onclick="uf5220(); window.open(this.href, '', 'scrollbars=1,height='+Math.min(680, screen.availHeight)+',width='+Math.min(1510, screen.availWidth)); return false;">
                            <div class='label_mesto'>Место</div>
                        </a>
                        <a style="text-decoration: none; float: left" class="icon_personal"
                           href="personal/personal_uf5220"
                           onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;">
                            <div class='label_personal'>Персонал</div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="container_work" style="float: left; height: 400px; width: 55%"></div>
            <!--Вставляем линейную гистограмму работы-->
            <div id="container" style="float: left; height: 400px; width: 25%"></div>
            <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--УФ 5220 html-->
    <form method="post" style="margin: 1%;">
        <center>
            <table width="98%">

                <text class="first">Текущие параметры комплекса</text>
                <tr>
                    <th colspan="2" style="padding:5px 35px; text-align:center">Шпиндель</th>
                    <th colspan="2" style="text-align:center">Технология</th>
                    <th colspan="2" style="text-align:center">Координаты</th>
                    <th colspan="2" style="text-align:center">Нагрузки по осям</th>
                </tr>
                <tr>
                    <td class="first">Наименование</td>
                    <td class="first">Значение</td>
                    <td class="first">Наименование</td>
                    <td class="first">Значение</td>
                    <td class="first">Ось</td>
                    <td class="first">Значение</td>
                    <td class="first">Ось</td>
                    <td class="first">Значение</td>
                </tr>
                <tr>
                    <td style="padding:5px 5px;">Номер инструмента</td>
                    <td>
                        <li th:text="${nomer_inst}"></li>
                    </td>
                    <td>Имя УП</td>
                    <td><small th:text="${name_program}"></small></td>
                    <td>X</td>
                    <td>
                        <li th:text="${pos_x}"></li>
                    </td>
                    <td>X</td>
                    <td>
                        <li th:text="${nagr_x}"></li>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 5px;">Корректор подачи</td>
                    <td>
                        <li th:text="${kor_podach}"></li>
                    </td>
                    <td>Номер кадра</td>
                    <td>
                        <li th:text="${nomer_kadr}"></li>
                    </td>
                    <td>Y</td>
                    <td>
                        <li th:text="${pos_y}"></li>
                    </td>
                    <td>Y</td>
                    <td>
                        <li th:text="${nagr_y}"></li>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 5px;">Корректор скорости</td>
                    <td>
                        <li th:text="${kor_speed}"></li>
                    </td>
                    <td>Статус программы</td>
                    <td>
                        <li th:text="${status_work}"></li>
                    </td>
                    <td>Z</td>
                    <td>
                        <li th:text="${pos_z}"></li>
                    </td>
                    <td>Z</td>
                    <td>
                        <li th:text="${nagr_z}"></li>
                    </td>
                </tr>

            </table>
        </center>
    </form><!--Таблица Текущие параметры комплекса УФ 5220-->
</div> <!--УФ 5220 html-->
<script th:inline="javascript">
    var uf5220_array_rabota = [[${uf5220_array_rabota}]];
    var uf5220_array_pause = [[${uf5220_array_pause}]];
    var uf5220_array_off = [[${uf5220_array_off}]];
    var uf5220_array_programname = [[${uf5220_array_programname}]];
</script>   <!--УФ 5220 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var uf5220_work = [[${work}]];
    var uf5220_pass = [[${pass}]];
    var uf5220_fail = [[${fail}]];
    var uf5220_avar = [[${avar}]];
    var uf5220_nagruzka = [[${nagruzka}]];
</script>   <!--УФ 5220 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki/data_uf5220.js"></script>

<div style="border: 1px solid #333;">   <!--Прогресс html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;">
                <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/progress.png" class="stanok_img"/>
                    <figcaption style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">Прогресс
                    </figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto"
                           href="mesto/mesto_progress"
                           onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(680, screen.availHeight)+',width='+Math.min(1510, screen.availWidth)); return false;">
                            <div class='label_mesto'>Место</div>
                        </a>
                        <a style="text-decoration: none; float: left" class="icon_personal"
                           href="personal/personal_progress"
                           onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;">
                            <div class='label_personal'>Персонал</div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="container_work2" style="float: left; height: 400px; width: 55%"></div>
            <!--Вставляем линейную гистограмму работы-->
            <div id="container2" style="float: left; height: 400px; width: 25%"></div>
            <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--Прогресс html-->
    <form method="post" style="margin: 1%;">
        <center>
            <table width="98%">

                <text class="first">Текущие параметры комплекса</text>
                <tr>
                    <th colspan="2" style="padding:5px 35px; text-align:center">Шпиндель</th>
                    <th colspan="2" style="text-align:center">Технология</th>
                    <th colspan="2" style="text-align:center">Координаты</th>
                    <th colspan="2" style="text-align:center">Нагрузки по осям</th>
                </tr>
                <tr>
                    <td class="first">Наименование</td>
                    <td class="first">Значение</td>
                    <td class="first">Наименование</td>
                    <td class="first">Значение</td>
                    <td class="first">Ось</td>
                    <td class="first">Значение</td>
                    <td class="first">Ось</td>
                    <td class="first">Значение</td>
                </tr>
                <tr>
                    <td style="padding:5px 5px;">Номер инструмента</td>
                    <td>
                        <li th:text="${progress_nomer_inst}"></li>
                    </td>
                    <td>Имя УП</td>
                    <td><small th:text="${progress_name_program}"></small></td>
                    <td>X</td>
                    <td>
                        <li th:text="${progress_pos_x}"></li>
                    </td>
                    <td>X</td>
                    <td>
                        <li th:text="${progress_nagr_x}"></li>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 5px;">Корректор подачи</td>
                    <td>
                        <li th:text="${progress_kor_podach}"></li>
                    </td>
                    <td>Номер кадра</td>
                    <td>
                        <li th:text="${progress_nomer_kadr}"></li>
                    </td>
                    <td>Y</td>
                    <td>
                        <li th:text="${progress_pos_y}"></li>
                    </td>
                    <td>Y</td>
                    <td>
                        <li th:text="${progress_nagr_y}"></li>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 5px;">Корректор скорости</td>
                    <td>
                        <li th:text="${progress_kor_speed}"></li>
                    </td>
                    <td>Статус программы</td>
                    <td>
                        <li th:text="${progress_status_work}"></li>
                    </td>
                    <td>Z</td>
                    <td>
                        <li th:text="${progress_pos_z}"></li>
                    </td>
                    <td>Z</td>
                    <td>
                        <li th:text="${progress_nagr_z}"></li>
                    </td>
                </tr>

            </table>
        </center>
    </form><!--Таблица Текущие параметры комплекса УФ 5220-->
</div> <!--Прогресс html-->
<script th:inline="javascript">
    var progress_array_rabota = [[${progress_array_rabota}]];
    var progress_array_pause = [[${progress_array_pause}]];
    var progress_array_off = [[${progress_array_off}]];
    var progress_array_programname = [[${progress_array_programname}]];
</script>   <!--Прогресс js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var progress_work = [[${progress_work}]];
    var progress_pass = [[${progress_pass}]];
    var progress_fail = [[${progress_fail}]];
    var progress_avar = [[${progress_avar}]];
    var progress_nagruzka = [[${progress_nagruzka}]];
</script>   <!--Прогресс круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki/data_progress.js"></script>

<div style="border: 1px solid #333;">   <!--NTX1000 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;">
                <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/ntx1000.png" class="stanok_img"/>
                    <figcaption style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">NTX1000
                    </figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto_ntx1000"
                           onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(680, screen.availHeight)+',width='+Math.min(1510, screen.availWidth)); return false;">
                            <div class='label_mesto'>Место</div>
                        </a>
                        <a style="text-decoration: none; float: left" class="icon_personal"
                           href="personal/personal_ntx1000"
                           onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;">
                            <div class='label_personal'>Персонал</div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="container_work3" style="float: left; height: 400px; width: 55%"></div>
            <!--Вставляем линейную гистограмму работы-->
            <div id="container3" style="float: left; height: 400px; width: 25%"></div>
            <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--NTX1000 html-->
    <form method="post" style="margin: 1%;">
        <center>
            <table width="98%">

                <text class="first">Текущие параметры комплекса</text>
                <tr>
                    <th colspan="2" style="padding:5px 35px; text-align:center">Шпиндель</th>
                    <th colspan="2" style="text-align:center">Технология</th>
                    <th colspan="2" style="text-align:center">Координаты</th>
                    <th colspan="2" style="text-align:center">Нагрузки по осям</th>
                </tr>
                <tr>
                    <td class="first">Наименование</td>
                    <td class="first">Значение</td>
                    <td class="first">Наименование</td>
                    <td class="first">Значение</td>
                    <td class="first">Ось</td>
                    <td class="first">Значение</td>
                    <td class="first">Ось</td>
                    <td class="first">Значение</td>
                </tr>
                <tr>
                    <td style="padding:5px 5px;">Номер инструмента</td>
                    <td>
                        <li th:text="${ntx1000_nomer_inst}"></li>
                    </td>
                    <td>Имя УП</td>
                    <td>
                        <li th:text="${ntx1000_name_program}"></li>
                    </td>
                    <td>X</td>
                    <td>
                        <li th:text="${ntx1000_pos_x}"></li>
                    </td>
                    <td>X</td>
                    <td>
                        <li th:text="${ntx1000_nagr_x}"></li>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 5px;">Корректор подачи</td>
                    <td>
                        <li th:text="${ntx1000_kor_podach}"></li>
                    </td>
                    <td>Номер кадра</td>
                    <td>
                        <li th:text="${ntx1000_nomer_kadr}"></li>
                    </td>
                    <td>Y</td>
                    <td>
                        <li th:text="${ntx1000_pos_y}"></li>
                    </td>
                    <td>Y</td>
                    <td>
                        <li th:text="${ntx1000_nagr_y}"></li>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 5px;">Корректор скорости</td>
                    <td>
                        <li th:text="${ntx1000_kor_speed}"></li>
                    </td>
                    <td>Статус программы</td>
                    <td>
                        <li th:text="${ntx1000_status_work}"></li>
                    </td>
                    <td>Z</td>
                    <td>
                        <li th:text="${ntx1000_pos_z}"></li>
                    </td>
                    <td>Z</td>
                    <td>
                        <li th:text="${ntx1000_nagr_z}"></li>
                    </td>
                </tr>

            </table>
        </center>
    </form><!--Таблица Текущие параметры комплекса УФ 5220-->
</div> <!--NTX1000 html-->
<script th:inline="javascript">
    var ntx1000_array_rabota = [[${ntx1000_array_rabota}]];
    var ntx1000_array_pause = [[${ntx1000_array_pause}]];
    var ntx1000_array_off = [[${ntx1000_array_off}]];
    var ntx1000_array_avar = [[${ntx1000_array_avar}]];
    var ntx1000_array_nagruzka = [[${ntx1000_array_nagruzka}]];
    var ntx1000_array_programname = [[${ntx1000_array_programname}]];
</script>   <!--NTX1000 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var ntx1000_work = [[${ntx1000_work}]];
    var ntx1000_pass = [[${ntx1000_pass}]];
    var ntx1000_fail = [[${ntx1000_fail}]];
    var ntx1000_avar = [[${ntx1000_avar}]];
    var ntx1000_nagruzka = [[${ntx1000_nagruzka}]];
</script>   <!--NTX1000 круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki/data_ntx1000.js"></script>

<div style="border: 1px solid #333;">   <!--sk50 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;">
                <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/sk50.png" class="stanok_img"/>
                    <figcaption style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">SK50
                    </figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto_sk50"
                           onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(680, screen.availHeight)+',width='+Math.min(1510, screen.availWidth)); return false;">
                            <div class='label_mesto'>Место</div>
                        </a>
                        <a style="text-decoration: none; float: left" class="icon_personal"
                           href="personal/personal_sk50"
                           onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;">
                            <div class='label_personal'>Персонал</div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="container_work4" style="float: left; height: 400px; width: 55%"></div>
            <!--Вставляем линейную гистограмму работы-->
            <div id="container4" style="float: left; height: 400px; width: 25%"></div>
            <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--sk50 html-->
</div> <!--sk50 html-->
<script th:inline="javascript">

    var sk50_array_rabota = [[${sk50_array_rabota}]];
    var sk50_array_pause = [[${sk50_array_pause}]];
    var sk50_array_off = [[${sk50_array_off}]];
    var sk50_array_avar = [[${sk50_array_avar}]];
    var sk50_array_nagruzka = [[${sk50_array_nagruzka}]];
    var sk50_array_programname = [[${sk50_array_programname}]];

</script>   <!--sk50 js линейная диагрмма работы оборудования -->
<script th:inline="javascript">
    var sk50_work = [[${sk50_work}]];
    var sk50_pass = [[${sk50_pass}]];
    var sk50_fail = [[${sk50_fail}]];
    var sk50_avar = [[${sk50_avar}]];
    var sk50_nagruzka = [[${sk50_nagruzka}]];
</script>   <!--sk50 круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki/data_sk50.js"></script>

<div style="border: 1px solid #333;">   <!--apec html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;">
                <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/apec.png" class="stanok_img"/>
                    <figcaption style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">APEC
                    </figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto_apec"
                           onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(680, screen.availHeight)+',width='+Math.min(1510, screen.availWidth)); return false;">
                            <div class='label_mesto'>Место</div>
                        </a>
                        <a style="text-decoration: none; float: left" class="icon_personal"
                           href="personal/personal_apec"
                           onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;">
                            <div class='label_personal'>Персонал</div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="container_work5" style="float: left; height: 400px; width: 55%"></div>
            <!--Вставляем линейную гистограмму работы-->
            <div id="container5" style="float: left; height: 400px; width: 25%"></div>
            <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--apec html-->
</div> <!--apec html-->
<script th:inline="javascript">

    var apec_array_rabota = [[${apec_array_rabota}]];
    var apec_array_pause = [[${apec_array_pause}]];
    var apec_array_off = [[${apec_array_off}]];
    var apec_array_avar = [[${apec_array_avar}]];
    var apec_array_ruchnoi = [[${apec_array_ruchnoi}]];
    var apec_array_programname = [[${apec_array_programname}]];

</script>   <!--apec js линейная диагрмма работы оборудования -->
<script th:inline="javascript">
    var apec_work = [[${apec_work}]];
    var apec_pass = [[${apec_pass}]];
    var apec_fail = [[${apec_fail}]];
    var apec_avar = [[${apec_avar}]];
    var apec_ruchnoi = [[${apec_ruchnoi}]];
</script>   <!--apec круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki/data_apec.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_dmu50.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">DMU50 #3</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto_dmg_dmu50_3" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(680, screen.availHeight)+',width='+Math.min(1510, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_dmu50_3" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work6" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container6" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>
</div> <!--DMU50-3 html-->
<script th:inline="javascript">
    var dmg_dmu50_3_array_rabota = [[${dmg_dmu50_3_array_rabota}]];
    var dmg_dmu50_3_array_pause = [[${dmg_dmu50_3_array_pause}]];
    var dmg_dmu50_3_array_off = [[${dmg_dmu50_3_array_off}]];
    var dmg_dmu50_3_array_programname = [[${dmg_dmu50_3_array_programname}]];
    var dmg_dmu50_3_array_nagruzka = [[${dmg_dmu50_3_array_nagruzka}]];
    var dmg_dmu50_3_array_avar = [[${dmg_dmu50_3_array_avar}]];
</script>   <!--dmu50_3 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var dmg_dmu50_3_work = [[${work_dmg_dmu50_3}]];
    var dmg_dmu50_3_pass = [[${pass_dmg_dmu50_3}]];
    var dmg_dmu50_3_fail = [[${fail_dmg_dmu50_3}]];
    var dmg_dmu50_3_nagruzka = [[${nagruzka_dmg_dmu50_3}]];
    var dmg_dmu50_3_avar = [[${avar_dmg_dmu50_3}]];
</script>   <!--dmu50_3 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki/data_dmg_dmu50_3.js"></script>

<div style="border: 1px solid #333;">
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_dmu50.png" class="stanok_img"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">DMU50 #4</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto_dmg_dmu50_4" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(680, screen.availHeight)+',width='+Math.min(1510, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_dmu50_4" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work7" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container7" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>
</div> <!--DMU50-4 html-->
<script th:inline="javascript">
    var dmg_dmu50_4_array_rabota = [[${dmg_dmu50_4_array_rabota}]];
    var dmg_dmu50_4_array_pause = [[${dmg_dmu50_4_array_pause}]];
    var dmg_dmu50_4_array_off = [[${dmg_dmu50_4_array_off}]];
    var dmg_dmu50_4_array_programname = [[${dmg_dmu50_4_array_programname}]];
    var dmg_dmu50_4_array_nagruzka = [[${dmg_dmu50_4_array_nagruzka}]];
    var dmg_dmu50_4_array_avar = [[${dmg_dmu50_4_array_avar}]];
</script>   <!--dmu50_4 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var dmg_dmu50_4_work = [[${work_dmg_dmu50_4}]];
    var dmg_dmu50_4_pass = [[${pass_dmg_dmu50_4}]];
    var dmg_dmu50_4_fail = [[${fail_dmg_dmu50_4}]];
    var dmg_dmu50_4_nagruzka = [[${nagruzka_dmg_dmu50_4}]];
    var dmg_dmu50_4_avar = [[${avar_dmg_dmu50_4}]];
</script>   <!--dmu50_4 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki/data_dmg_dmu50_4.js"></script>

<div style="border: 1px solid #333;">   <!--ctx310_2 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_ctx310.png" class="stanok_img" alt="no image"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">CTX310 #2</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto_dmg_ctx310_2" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(680, screen.availHeight)+',width='+Math.min(1510, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_ctx310_2" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work8" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container8" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--ctx310_2 html-->
</div> <!--ctx310_2 html-->
<script th:inline="javascript">
    var dmg_ctx310_2_array_rabota = [[${dmg_ctx310_2_array_rabota}]];
    var dmg_ctx310_2_array_pause = [[${dmg_ctx310_2_array_pause}]];
    var dmg_ctx310_2_array_off = [[${dmg_ctx310_2_array_off}]];
    var dmg_ctx310_2_array_programname = [[${dmg_ctx310_2_array_programname}]];
    var dmg_ctx310_2_array_nagruzka = [[${dmg_ctx310_2_array_nagruzka}]];
    var dmg_ctx310_2_array_avar = [[${dmg_ctx310_2_array_avar}]];
</script>   <!--ctx310_2 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var dmg_ctx310_2_work = [[${work_dmg_ctx310_2}]];
    var dmg_ctx310_2_pass = [[${pass_dmg_ctx310_2}]];
    var dmg_ctx310_2_fail = [[${fail_dmg_ctx310_2}]];
    var dmg_ctx310_2_nagruzka = [[${nagruzka_dmg_ctx310_2}]];
    var dmg_ctx310_2_avar = [[${avar_dmg_ctx310_2}]];
</script>   <!--ctx310_2 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki/data_dmg_ctx310_2.js"></script>

<div style="border: 1px solid #333;">   <!--ctx510_2 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_ctx510.png" class="stanok_img" alt="no image"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">CTX510 #2</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto_dmg_ctx510_2" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(680, screen.availHeight)+',width='+Math.min(1510, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_ctx510_2" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work9" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container9" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--ctx510_2 html-->
</div> <!--ctx510_2 html-->
<script th:inline="javascript">
    var dmg_ctx510_2_array_rabota = [[${dmg_ctx510_2_array_rabota}]];
    var dmg_ctx510_2_array_pause = [[${dmg_ctx510_2_array_pause}]];
    var dmg_ctx510_2_array_off = [[${dmg_ctx510_2_array_off}]];
    var dmg_ctx510_2_array_programname = [[${dmg_ctx510_2_array_programname}]];
    var dmg_ctx510_2_array_nagruzka = [[${dmg_ctx510_2_array_nagruzka}]];
    var dmg_ctx510_2_array_avar = [[${dmg_ctx510_2_array_avar}]];
</script>   <!--ctx510_2 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var dmg_ctx510_2_work = [[${work_dmg_ctx510_2}]];
    var dmg_ctx510_2_pass = [[${pass_dmg_ctx510_2}]];
    var dmg_ctx510_2_fail = [[${fail_dmg_ctx510_2}]];
    var dmg_ctx510_2_nagruzka = [[${nagruzka_dmg_ctx510_2}]];
    var dmg_ctx510_2_avar = [[${avar_dmg_ctx510_2}]];
</script>   <!--ctx510_2 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki/data_dmg_ctx510_2.js"></script>

<div style="border: 1px solid #333;">   <!--ctx510_3 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_ctx510.png" class="stanok_img" alt="no image"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">CTX510 #3</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto_dmg_ctx510_3" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(680, screen.availHeight)+',width='+Math.min(1510, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_ctx510_3" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work10" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container10" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--ctx510_3 html-->
</div> <!--ctx510_3 html-->
<script th:inline="javascript">
    var dmg_ctx510_3_array_rabota = [[${dmg_ctx510_3_array_rabota}]];
    var dmg_ctx510_3_array_pause = [[${dmg_ctx510_3_array_pause}]];
    var dmg_ctx510_3_array_off = [[${dmg_ctx510_3_array_off}]];
    var dmg_ctx510_3_array_programname = [[${dmg_ctx510_3_array_programname}]];
    var dmg_ctx510_3_array_nagruzka = [[${dmg_ctx510_3_array_nagruzka}]];
    var dmg_ctx510_3_array_avar = [[${dmg_ctx510_3_array_avar}]];
</script>   <!--ctx510_3 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var dmg_ctx510_3_work = [[${work_dmg_ctx510_3}]];
    var dmg_ctx510_3_pass = [[${pass_dmg_ctx510_3}]];
    var dmg_ctx510_3_fail = [[${fail_dmg_ctx510_3}]];
    var dmg_ctx510_3_nagruzka = [[${nagruzka_dmg_ctx510_3}]];
    var dmg_ctx510_3_avar = [[${avar_dmg_ctx510_3}]];
</script>   <!--ctx510_3 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki/data_dmg_ctx510_3.js"></script>

<div style="border: 1px solid #333;">   <!--ctx310_3 html-->
    <div style="overflow: hidden;">
        <div style="width: 100%;   margin: 2%;">
            <div class="img" style="float: left;"> <!--Вставляем изображение станка 1-->
                <div class="parent_image">
                    <img src="images/dmg_ctx310.png" class="stanok_img" alt="no image"/>
                    <figcaption  style="margin: 1.5%; font-weight: bold; font-size: 150%; text-align: center">CTX310 #3</figcaption>
                    <div>
                        <a style="text-decoration: none; float: left" class="icon_mesto" href="mesto/mesto_dmg_ctx310_3" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(680, screen.availHeight)+',width='+Math.min(1510, screen.availWidth)); return false;"><div class='label_mesto'>Место</div></a>
                        <a style="text-decoration: none; float: left" class="icon_personal" href="personal/personal_dmg_ctx310_3" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(900, screen.availHeight)+',width='+Math.min(1600, screen.availWidth)); return false;"><div class='label_personal'>Персонал</div></a>
                    </div>
                </div>
            </div>
            <div id="container_work11" style="float: left; height: 400px; width: 55%"></div> <!--Вставляем линейную гистограмму работы-->
            <div id="container11" style="float: left; height: 400px; width: 25%"></div> <!--Вставляем круговую диаграмму загрузки-->
        </div>
    </div>  <!--ctx310_3 html-->
</div> <!--ctx310_3 html-->
<script th:inline="javascript">
    var dmg_ctx310_3_array_rabota = [[${dmg_ctx310_3_array_rabota}]];
    var dmg_ctx310_3_array_pause = [[${dmg_ctx310_3_array_pause}]];
    var dmg_ctx310_3_array_off = [[${dmg_ctx310_3_array_off}]];
    var dmg_ctx310_3_array_programname = [[${dmg_ctx310_3_array_programname}]];
    var dmg_ctx310_3_array_nagruzka = [[${dmg_ctx310_3_array_nagruzka}]];
    var dmg_ctx310_3_array_avar = [[${dmg_ctx310_3_array_avar}]];
</script>   <!--ctx310_3 js линейная диагрмма работы оборудования-->
<script th:inline="javascript">
    var dmg_ctx310_3_work = [[${work_dmg_ctx310_3}]];
    var dmg_ctx310_3_pass = [[${pass_dmg_ctx310_3}]];
    var dmg_ctx310_3_fail = [[${fail_dmg_ctx310_3}]];
    var dmg_ctx310_3_nagruzka = [[${nagruzka_dmg_ctx310_3}]];
    var dmg_ctx310_3_avar = [[${avar_dmg_ctx310_3}]];
</script>   <!--ctx310_3 js круговая диагрмма загрузки оборудования-->
<script src="/js/sutki/stanki/data_dmg_ctx310_3.js"></script>

<script th:inline="javascript">
    var role_status = [[${user_role}]];

    if(role_status === "ROLE_ADMIN")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Админ";
        document.getElementById("admin").style.display = "inline";

    }
    else if (role_status === "ROLE_USER")
    {
        document.getElementById("role_vision").innerHTML = "Роль: Пользователь"
        document.getElementById("admin").style.display = "none";
    }
</script>
<!--Скрипт отображения в header  кнопки администрирование-->

<script src="/js/mesto.js"></script>
<script>
    $( "#id_uf5220" ).click(function() {
    alert("Нажал?");
    });

</script>

</body>
</html>
